src/NODE-RED/ILHA-PLAZA/AL1/bkp-node-red-central-81a60176-222c-4bb9-88f5-bc2b47802d82-2026-04-17-10-03.json
[
  { "id": "87b3fa43.bc6a48", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" },
  { "id": "b5c717d3.0bf2c8", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" },
  { "id": "9b11e26e.b4397", "type": "tab", "label": "Flow 2", "disabled": false, "info": "" },
  { "id": "8376c2ba.56fde", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "169bd4f5.e27763", "type": "tab", "label": "database", "disabled": false, "info": "" },
  { "id": "d3edd00.c15333", "type": "tab", "label": "check instant", "disabled": false, "info": "" },
  { "id": "38f5a85f.f49c38", "type": "tab", "label": "Frontend", "disabled": false, "info": "" },
  {
    "id": "4a30ef3d.4a4b18",
    "type": "group",
    "z": "9b11e26e.b4397",
    "name": "Central Monitor",
    "style": { "label": true },
    "nodes": [
      "8fa8f284.e80128",
      "25b21fc1.2f0f08",
      "b8c01e25.fc8ca8",
      "9dd600b1.9a18a8",
      "f9b3e3bc.31e4a8",
      "65ca1603.f9c3e8",
      "c802d4a9.2edb88"
    ],
    "x": 74,
    "y": 159
  },
  {
    "id": "71d86576.ff61fc",
    "type": "group",
    "z": "9b11e26e.b4397",
    "name": "Missing Hidrometers",
    "style": { "label": true },
    "nodes": [
      "7ed0c6d3.cde378",
      "2f177441.108984",
      "69a76071.584cb",
      "93d3adab.3362",
      "be3c5488.d38c4",
      "978b2575.3209f",
      "df936fec.688268",
      "bd676beb.40a328"
    ],
    "x": 74,
    "y": 359
  },
  {
    "id": "d8fac374.44f188",
    "type": "group",
    "z": "9b11e26e.b4397",
    "name": "Missing Energy",
    "style": { "label": true },
    "nodes": [
      "14faa8e3.b96a5f",
      "a73f38d6.d72b5",
      "d2ad96c2.fe10e",
      "788ff61a.c235e8",
      "3d1ac32f.34d32c",
      "ba16e7ff.4dc93",
      "78ca301.f9fc4d",
      "f2d5369e.ab842"
    ],
    "x": 74,
    "y": 579
  },
  {
    "id": "63d6a66b.6c626",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "check",
    "style": { "label": true },
    "nodes": [
      "1e84f06a.bfbf6",
      "d5356e63.3e22c",
      "2709d2e3.a89996",
      "23ab0065.77d6f",
      "68f15bd9.37ae4c",
      "f7d279b7.2faa",
      "4d498e85.ff62a8",
      "a12e1d7a.2853c8",
      "e9882b55.4de4a8"
    ],
    "x": 34,
    "y": 879,
    "w": 912,
    "h": 202
  },
  {
    "id": "eca7fb48.d6b0b",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "Check",
    "style": { "label": true },
    "nodes": ["68782b40.5c8584", "a2af9346.dcf83"],
    "x": 1634,
    "y": 139,
    "w": 472,
    "h": 82
  },
  {
    "id": "6481bb38.c36cbc",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "8b7586ea.f602",
      "1d4cb275.ed1d7e",
      "d9036cf2.7efac8",
      "945085d3.1f7958",
      "91fbed71.cf92b8",
      "3436798b.a5c7de",
      "8a672dee.ff6e48",
      "337746be.5c726a",
      "cccde8c3.c2f98",
      "36e73e84.c4a402",
      "fb27b83a.283b78",
      "fef55596.731ed",
      "647a0d3b.232a6c",
      "89f8c0a9.5e3f78",
      "4a3e223f.353b1c",
      "fd2a786d.48e77",
      "1ef9ad18.4b8473",
      "15060a16.e53536",
      "13d2fa2d.76f7de",
      "ba2a627.10ce02",
      "efebcdf0.58501",
      "dc8f0a0f.a80a",
      "30a3d688.ce5ca2",
      "641e6420.f6e61c"
    ],
    "x": 34,
    "y": 339,
    "w": 1362,
    "h": 522
  },
  {
    "id": "abd84698.6dbc58",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "CENTRAL_UUID",
    "style": { "label": true },
    "nodes": ["ce0e553b.8a3c2", "77bd15ed.258a94"],
    "x": 1634,
    "y": 39,
    "w": 472,
    "h": 82
  },
  {
    "id": "df8d3d0f.ce8e78",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "Thingsboard",
    "style": { "label": true },
    "nodes": [
      "3a6936a0.4c80aa",
      "a6a92948.572a48",
      "a7bdc5a7.539fe8",
      "ab87a549.6ce6f",
      "e72f7ac6.ed9e6",
      "625fa052.2df82"
    ],
    "x": 1454,
    "y": 359,
    "w": 592,
    "h": 142
  },
  {
    "id": "e125af85.0cb3c",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "b34bf33e.27054",
      "f3ecce91.3bfac8",
      "ead0e2bc.74df18",
      "7a89b507.3c2d24",
      "53336e3.de8b21",
      "d68c70a.702259",
      "d80840c.882fbc",
      "b090255d.5fa0e8",
      "63a2f979.364fd8",
      "bbb2144e.83623",
      "1be4a16a.39b647",
      "1991b30e.255a2d",
      "33f1c76d.92902",
      "1b81d7fe.68e128",
      "6f6b8d10.49aee4",
      "a00d0ba7.caf1f",
      "f91903ef.180208"
    ],
    "x": 34,
    "y": 30,
    "w": 1582,
    "h": 271
  },
  {
    "id": "62221acb.4de854",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["e66b0ede.47524", "a10d7c28.b34de", "36e8f108.3b151e", "ef4c92d2.f602a"],
    "x": 1454,
    "y": 539,
    "w": 362,
    "h": 222
  },
  {
    "id": "3cdd2d07.c8700a",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": [
      "6ede20c1.ed271",
      "d432aac3.3f1538",
      "47827ecb.13c6e",
      "82c3fadf.a1fbd",
      "b8cdc4f1.3e9078",
      "80db2c85.e41758"
    ],
    "x": 1454,
    "y": 779,
    "w": 612,
    "h": 242
  },
  {
    "id": "57d0ecf6.4ddc84",
    "type": "group",
    "z": "87b3fa43.bc6a48",
    "name": "Get kwh last 15 minutes",
    "style": { "label": true },
    "nodes": [
      "5bc8710c.ec3778",
      "ff51c217.2d3668",
      "de07f2c.7c1fb9",
      "ec40ebcc.b0763",
      "2e769f2f.a56258",
      "fad46950.be3c4",
      "2939ab33.8f443c",
      "d4f0b64f.05eaa",
      "413d5aab.caf6ec",
      "8b188fbf.dd3c68",
      "6ed44342.a01ce4"
    ],
    "x": 54,
    "y": 1139,
    "w": 1062,
    "h": 122
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "8mlzib2mhoakcuheuugx",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "c3259202.9eb35",
    "type": "postgreSQLConfig",
    "z": "b5c717d3.0bf2c8",
    "name": "Myio",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "b5c717d3.0bf2c8",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "fe0bbd9.5bb3e4",
    "type": "postgreSQLConfig",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "teta",
    "passwordFieldType": "str"
  },
  {
    "id": "bc2be450.1f54a8",
    "type": "postgreSQLConfig",
    "z": "b5c717d3.0bf2c8",
    "name": "Myio",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "64762a0a.e00a24",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "hubot",
    "passwordFieldType": "str"
  },
  {
    "id": "6eac0185.312bb",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "hubot",
    "passwordFieldType": "str"
  },
  {
    "id": "a548b712.1c91b",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "bf13fbc6.ba4de8",
    "type": "mqtt-broker",
    "name": "Ingestion Myio",
    "broker": "ingestion.myio-bas.com",
    "port": 1883,
    "clientid": "",
    "usetls": false,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "b7242f71.79e57",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "b92bb417.fe4f58",
    "type": "mqtt-broker",
    "z": "",
    "name": "Production Ingestion",
    "broker": "data.myio-bas.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "28c1d0f4.05db58",
    "type": "mqtt-broker",
    "z": "",
    "name": "Staging Ingestion",
    "broker": "staging.ingestion.myio-bas.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "ddd079fd.2a9b7",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "80adf201.a60138",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0460c3",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": { "default": "#097479", "value": "#097479", "edited": true },
        "page-titlebar-backgroundColor": { "value": "#097479", "edited": false },
        "page-backgroundColor": { "value": "#111111", "edited": false },
        "page-sidebar-backgroundColor": { "value": "#000000", "edited": false },
        "group-textColor": { "value": "#0eb8c0", "edited": false },
        "group-borderColor": { "value": "#555555", "edited": false },
        "group-backgroundColor": { "value": "#333333", "edited": false },
        "widget-textColor": { "value": "#eeeeee", "edited": false },
        "widget-backgroundColor": { "value": "#097479", "edited": false },
        "widget-borderColor": { "value": "#333333", "edited": false },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": { "primary": "indigo", "accents": "blue", "warn": "red", "background": "grey" }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 }
    }
  },
  {
    "id": "92f19df1.5a5a48",
    "type": "ui_tab",
    "z": "",
    "name": "3F",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "60bc85e8.a1ed04",
    "type": "ui_group",
    "z": "",
    "name": "Group 1",
    "tab": "92f19df1.5a5a48",
    "order": 1,
    "disp": false,
    "width": 6,
    "collapse": false
  },
  {
    "id": "66c653a7.6f7c54",
    "type": "postgreSQLConfig",
    "z": "87b3fa43.bc6a48",
    "name": "Myio",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "ff30c440.bda43",
    "type": "postgreSQLConfig",
    "z": "87b3fa43.bc6a48",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "5cae6e79.1af5a",
    "type": "postgreSQLConfig",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "teta",
    "passwordFieldType": "str"
  },
  {
    "id": "934d4fac.0c6368",
    "type": "postgreSQLConfig",
    "z": "87b3fa43.bc6a48",
    "name": "Myio",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "59b2b505.b1857c",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 2860,
    "wires": [["d52a26d6.a8a548"]]
  },
  {
    "id": "d52a26d6.a8a548",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "rules": [
      { "t": "set", "p": "lastSuccessfulRun", "pt": "flow", "to": "2024-09-01T09:00:00.000Z", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 2860,
    "wires": [[]]
  },
  {
    "id": "8fa8f284.e80128",
    "type": "inject",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "",
    "props": [
      {
        "p": "url",
        "v": "http://healthchecks.myio-bas.com/ping/544055ed-4bae-43c2-b990-f6c1baafde12",
        "vt": "str"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "20",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 220,
    "wires": [["c802d4a9.2edb88"]]
  },
  {
    "id": "25b21fc1.2f0f08",
    "type": "http request",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 390,
    "y": 220,
    "wires": [["b8c01e25.fc8ca8"]]
  },
  {
    "id": "b8c01e25.fc8ca8",
    "type": "switch",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "OK", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 540,
    "y": 220,
    "wires": [["9dd600b1.9a18a8"], ["f9b3e3bc.31e4a8", "65ca1603.f9c3e8"]]
  },
  {
    "id": "9dd600b1.9a18a8",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "Healthcheck sent.",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 200,
    "wires": []
  },
  {
    "id": "f9b3e3bc.31e4a8",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "Healthcheck failed.",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 240,
    "wires": []
  },
  {
    "id": "65ca1603.f9c3e8",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "",
    "func": "let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 690,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "c802d4a9.2edb88",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "4a30ef3d.4a4b18",
    "name": "",
    "func": "const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n/*\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n*/\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 275,
    "y": 220,
    "wires": [["25b21fc1.2f0f08"]],
    "l": false
  },
  {
    "id": "466b9b1a.f8a3ec",
    "type": "mqtt in",
    "z": "8376c2ba.56fde",
    "name": "",
    "topic": "gateway/81a60176-222c-4bb9-88f5-bc2b47802d82/fetch",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "bf13fbc6.ba4de8",
    "x": 250,
    "y": 220,
    "wires": [["41f48036.b79b98", "fc3e9e63.b5e2a8"]]
  },
  {
    "id": "facb6b8a.719fb8",
    "type": "postgresql",
    "z": "8376c2ba.56fde",
    "name": "",
    "query": "SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\n  AND s.type = 'three_phase_sensor'\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 790,
    "y": 180,
    "wires": [["408770a1.75397"]]
  },
  {
    "id": "3380395a.1ae4a6",
    "type": "function",
    "z": "8376c2ba.56fde",
    "name": "function 11",
    "func": "const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2025-02-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 635,
    "y": 200,
    "wires": [["facb6b8a.719fb8"], ["8735dc89.8a2908"]],
    "l": false
  },
  {
    "id": "8735dc89.8a2908",
    "type": "mqtt out",
    "z": "8376c2ba.56fde",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "bf13fbc6.ba4de8",
    "x": 1010,
    "y": 220,
    "wires": []
  },
  {
    "id": "bb72680e.ac3a88",
    "type": "postgresql",
    "z": "8376c2ba.56fde",
    "name": "",
    "query": "WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 790,
    "y": 240,
    "wires": [["8735dc89.8a2908"]]
  },
  {
    "id": "30b03c1a.be7ce4",
    "type": "function",
    "z": "8376c2ba.56fde",
    "name": "function 10",
    "func": "const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 635,
    "y": 240,
    "wires": [["bb72680e.ac3a88"]],
    "l": false
  },
  {
    "id": "408770a1.75397",
    "type": "function",
    "z": "8376c2ba.56fde",
    "name": "Send gap: true if empty response",
    "func": "// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 915,
    "y": 180,
    "wires": [["8735dc89.8a2908"]],
    "l": false
  },
  {
    "id": "d71b0d8e.6d89c",
    "type": "inject",
    "z": "8376c2ba.56fde",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 130,
    "y": 120,
    "wires": [["8c136814.48e028"]]
  },
  {
    "id": "8c136814.48e028",
    "type": "debug",
    "z": "8376c2ba.56fde",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 265,
    "y": 120,
    "wires": [],
    "l": false
  },
  {
    "id": "41f48036.b79b98",
    "type": "json",
    "z": "8376c2ba.56fde",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 200,
    "wires": [["3380395a.1ae4a6"]]
  },
  {
    "id": "fc3e9e63.b5e2a8",
    "type": "json",
    "z": "8376c2ba.56fde",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 240,
    "wires": [["30b03c1a.be7ce4"]]
  },
  {
    "id": "829dd6fe.f0c1e",
    "type": "function",
    "z": "8376c2ba.56fde",
    "name": "Send status",
    "func": "// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 550,
    "y": 320,
    "wires": [["3b4af2fe.44992e"]]
  },
  {
    "id": "c768f4dc.2f08c8",
    "type": "inject",
    "z": "8376c2ba.56fde",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 320,
    "wires": [["9b13a2ce.c8a248"]]
  },
  {
    "id": "3b4af2fe.44992e",
    "type": "mqtt out",
    "z": "8376c2ba.56fde",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "bf13fbc6.ba4de8",
    "x": 730,
    "y": 320,
    "wires": []
  },
  {
    "id": "9b13a2ce.c8a248",
    "type": "postgresql",
    "z": "8376c2ba.56fde",
    "name": "",
    "query": "SELECT id FROM slaves;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 310,
    "y": 320,
    "wires": [["c955d2d2.505"]]
  },
  {
    "id": "c955d2d2.505",
    "type": "function",
    "z": "8376c2ba.56fde",
    "name": "Set slaves",
    "func": "msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 435,
    "y": 320,
    "wires": [["829dd6fe.f0c1e"]],
    "l": false
  },
  {
    "id": "15e6a44c.048c94",
    "type": "comment",
    "z": "8376c2ba.56fde",
    "name": "1. Get the central UUID here",
    "info": "It will appear on the logs",
    "x": 160,
    "y": 80,
    "wires": []
  },
  {
    "id": "f7db6b0c.2fe828",
    "type": "comment",
    "z": "8376c2ba.56fde",
    "name": "2. Change the topic to use the central UUID",
    "info": "It will appear on the logs",
    "x": 210,
    "y": 180,
    "wires": []
  },
  {
    "id": "2cc005f7.430d52",
    "type": "comment",
    "z": "8376c2ba.56fde",
    "name": "3. Nothing to do here, just leave it as it is.",
    "info": "## This will register the gateway in\n\nhttps://ingestion.myio-bas.com",
    "x": 200,
    "y": 280,
    "wires": []
  },
  {
    "id": "acb6b578.ee033",
    "type": "comment",
    "z": "8376c2ba.56fde",
    "name": "4. Accept the gateway",
    "info": "Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway",
    "x": 140,
    "y": 400,
    "wires": []
  },
  {
    "id": "7ed0c6d3.cde378",
    "type": "inject",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "43200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 400,
    "wires": [["2f177441.108984"]]
  },
  {
    "id": "2f177441.108984",
    "type": "postgresql",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "query": "SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 420,
    "y": 400,
    "wires": [["69a76071.584cb", "93d3adab.3362", "df936fec.688268"]]
  },
  {
    "id": "69a76071.584cb",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 400,
    "wires": []
  },
  {
    "id": "93d3adab.3362",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "func": "// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 640,
    "y": 440,
    "wires": [["be3c5488.d38c4", "978b2575.3209f"]]
  },
  {
    "id": "be3c5488.d38c4",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 440,
    "wires": []
  },
  {
    "id": "978b2575.3209f",
    "type": "change",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "rules": [
      { "t": "set", "p": "monitoringIssues", "pt": "flow", "to": "hasIssues", "tot": "msg" },
      { "t": "set", "p": "issueText", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 480,
    "wires": [[]]
  },
  {
    "id": "df936fec.688268",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "func": "msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 595,
    "y": 520,
    "wires": [["bd676beb.40a328"]],
    "l": false
  },
  {
    "id": "bd676beb.40a328",
    "type": "mqtt out",
    "z": "9b11e26e.b4397",
    "g": "71d86576.ff61fc",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 790,
    "y": 520,
    "wires": []
  },
  {
    "id": "14faa8e3.b96a5f",
    "type": "postgresql",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "query": "SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 390,
    "y": 620,
    "wires": [["d2ad96c2.fe10e", "78ca301.f9fc4d"]]
  },
  {
    "id": "a73f38d6.d72b5",
    "type": "inject",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "43200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 620,
    "wires": [["14faa8e3.b96a5f"]]
  },
  {
    "id": "d2ad96c2.fe10e",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "func": "// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 560,
    "y": 620,
    "wires": [["788ff61a.c235e8", "3d1ac32f.34d32c"]]
  },
  {
    "id": "788ff61a.c235e8",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 620,
    "wires": []
  },
  {
    "id": "3d1ac32f.34d32c",
    "type": "change",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "rules": [
      { "t": "set", "p": "monitoringIssues", "pt": "flow", "to": "hasIssues", "tot": "msg" },
      { "t": "set", "p": "energyIssuesText", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 780,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "ba16e7ff.4dc93",
    "type": "mqtt out",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 810,
    "y": 700,
    "wires": []
  },
  {
    "id": "78ca301.f9fc4d",
    "type": "function",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "func": "msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 655,
    "y": 700,
    "wires": [["ba16e7ff.4dc93", "f2d5369e.ab842"]],
    "l": false
  },
  {
    "id": "f2d5369e.ab842",
    "type": "debug",
    "z": "9b11e26e.b4397",
    "g": "d8fac374.44f188",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 740,
    "wires": []
  },
  {
    "id": "2e6716e.0de6a6a",
    "type": "myio-emitter",
    "z": "b5c717d3.0bf2c8",
    "x": 110,
    "y": 3040,
    "wires": [
      ["d5bfb13d.e57b4"],
      ["d5bfb13d.e57b4"],
      ["d5bfb13d.e57b4"],
      [],
      ["d5bfb13d.e57b4"],
      ["d5bfb13d.e57b4"],
      [],
      [],
      [],
      ["d5bfb13d.e57b4"],
      ["d5bfb13d.e57b4"],
      []
    ]
  },
  {
    "id": "d5bfb13d.e57b4",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "func": "let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 300,
    "y": 3040,
    "wires": [["f8ad145f.f0d21"]]
  },
  {
    "id": "f8ad145f.f0d21",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "name": "cabelo curto",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 3040,
    "wires": []
  },
  {
    "id": "513b86f9.012ed",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "name": "function 30",
    "func": "let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 415,
    "y": 3280,
    "wires": [[]],
    "l": false
  },
  {
    "id": "b544a239.ef83e",
    "type": "mqtt out",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 590,
    "y": 3240,
    "wires": []
  },
  {
    "id": "79df673b.c68468",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5400",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 3200,
    "wires": [["c0fc737c.1d4ab"]]
  },
  {
    "id": "eb6ace4f.f76f68",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "name": "function 30",
    "func": "\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 355,
    "y": 3200,
    "wires": [["b544a239.ef83e", "9679a00a.020698", "513b86f9.012ed"]],
    "l": false
  },
  {
    "id": "9679a00a.020698",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "name": "Pudim de geleia",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 3180,
    "wires": []
  },
  {
    "id": "c0fc737c.1d4ab",
    "type": "http request",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 275,
    "y": 3200,
    "wires": [["eb6ace4f.f76f68"]],
    "l": false
  },
  {
    "id": "a3aea533.d47358",
    "type": "data-fetcher",
    "z": "8376c2ba.56fde",
    "name": "",
    "mqtt": "ddd079fd.2a9b7",
    "uuidOverride": "",
    "x": 130,
    "y": 580,
    "wires": []
  },
  {
    "id": "4ce602ec.0f0334",
    "type": "inject",
    "z": "169bd4f5.e27763",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"key\":\"3f\"}",
    "payloadType": "json",
    "x": 210,
    "y": 100,
    "wires": [["ccacb036.e2b32", "4f637338.aa1534"]]
  },
  {
    "id": "ccacb036.e2b32",
    "type": "persist-out",
    "z": "169bd4f5.e27763",
    "x": 435,
    "y": 100,
    "wires": [["a0f58a6e.acfe98"]],
    "l": false
  },
  {
    "id": "a0f58a6e.acfe98",
    "type": "trigger",
    "z": "169bd4f5.e27763",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 640,
    "y": 100,
    "wires": [["b9aede5c.576f58"]]
  },
  {
    "id": "4f637338.aa1534",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 60,
    "wires": [["a0f58a6e.acfe98"]]
  },
  {
    "id": "8adbfa15.6b539",
    "type": "inject",
    "z": "169bd4f5.e27763",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"key\":\"sw_hidr\"}",
    "payloadType": "json",
    "x": 190,
    "y": 180,
    "wires": [["26a838d3.011198"]]
  },
  {
    "id": "a67df81f.31e5c",
    "type": "persist-out",
    "z": "169bd4f5.e27763",
    "x": 455,
    "y": 180,
    "wires": [["8ea8d144.8ee198"]],
    "l": false
  },
  {
    "id": "8ea8d144.8ee198",
    "type": "trigger",
    "z": "169bd4f5.e27763",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 640,
    "y": 180,
    "wires": [["9c2d94c8.9987a8"]]
  },
  {
    "id": "8acfe174.a52ed8",
    "type": "persist-in",
    "z": "169bd4f5.e27763",
    "x": 1335,
    "y": 180,
    "wires": [],
    "l": false
  },
  {
    "id": "26a838d3.011198",
    "type": "delay",
    "z": "169bd4f5.e27763",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 315,
    "y": 180,
    "wires": [["a67df81f.31e5c", "75c6626d.5bedf4"]],
    "l": false
  },
  {
    "id": "af8da64a.58d68",
    "type": "postgresql",
    "z": "169bd4f5.e27763",
    "name": "Get 3F",
    "query": "SELECT id, addr_low, addr_high, name FROM slaves\nWHERE type = 'three_phase_sensor'",
    "postgreSQLConfig": "a548b712.1c91b",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 930,
    "y": 100,
    "wires": [["2db3b266.c96ac6"]]
  },
  {
    "id": "d661157a.eb4cf8",
    "type": "debug",
    "z": "169bd4f5.e27763",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1215,
    "y": 100,
    "wires": [],
    "l": false
  },
  {
    "id": "2db3b266.c96ac6",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\": \"3f\",\t    \"value\":\t    $merge([\t    $reduce([payload], function($acc,$v){\t        [$acc,\t        {\t            \"id_\"&($v.id):\t            $merge([$v, {\"pot\":[], \"show\":true}])\t        }]\t    },[]),\t    aux\t    ])\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 100,
    "wires": [["d661157a.eb4cf8", "8acfe174.a52ed8"]]
  },
  {
    "id": "c41fa3f5.d85748",
    "type": "postgresql",
    "z": "169bd4f5.e27763",
    "name": "Get SW",
    "query": "SELECT id, addr_low, addr_high, name FROM slaves\nWHERE type = 'outlet'",
    "postgreSQLConfig": "a548b712.1c91b",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 940,
    "y": 180,
    "wires": [["abd28afc.c006d8"]]
  },
  {
    "id": "abd28afc.c006d8",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\": \"sw_hidr\",\t    \"value\":\t    $merge(\t    [\t    \t    $reduce([payload], function($acc,$v){\t        [$acc,\t        {\t            \"id_\"&($v.id):\t            $merge([$v, {\"ch0\":0, \"started\":false ,\"show\":true}])\t        }]\t    },[]),\t    aux\t    ])\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 180,
    "wires": [["8acfe174.a52ed8", "ea1b1d1b.c63d6"]]
  },
  {
    "id": "a7580d5e.77255",
    "type": "inject",
    "z": "169bd4f5.e27763",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"key\":\"sw_temp\"}",
    "payloadType": "json",
    "x": 190,
    "y": 260,
    "wires": [["3981ab8f.25bf74"]]
  },
  {
    "id": "ceec314.46f43d",
    "type": "persist-out",
    "z": "169bd4f5.e27763",
    "x": 455,
    "y": 260,
    "wires": [["6f2ce989.c5b75"]],
    "l": false
  },
  {
    "id": "6f2ce989.c5b75",
    "type": "trigger",
    "z": "169bd4f5.e27763",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "3",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 640,
    "y": 260,
    "wires": [["360116cc.db7542"]]
  },
  {
    "id": "3981ab8f.25bf74",
    "type": "delay",
    "z": "169bd4f5.e27763",
    "name": "",
    "pauseType": "delay",
    "timeout": "20",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 315,
    "y": 260,
    "wires": [["ceec314.46f43d", "b5b911e2.10a14"]],
    "l": false
  },
  {
    "id": "20eb0522.5cd2c2",
    "type": "postgresql",
    "z": "169bd4f5.e27763",
    "name": "Get SW",
    "query": "SELECT id, addr_low, addr_high, name FROM slaves\nWHERE type = 'outlet'",
    "postgreSQLConfig": "a548b712.1c91b",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 940,
    "y": 260,
    "wires": [["ca7af0c6.c0977"]]
  },
  {
    "id": "ca7af0c6.c0977",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\": \"sw_temp\",\t    \"value\":\t    $merge([\t    $reduce([payload], function($acc,$v){\t        [$acc,\t        {\t            \"id_\"&($v.id):\t            $merge([$v, {\"temp\":[] ,\"show\":true}])\t        }]\t    },[]),\t    aux\t    ])\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 260,
    "wires": [["8acfe174.a52ed8", "2dd3e60e.cf55ea"]]
  },
  {
    "id": "ea1b1d1b.c63d6",
    "type": "debug",
    "z": "169bd4f5.e27763",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1175,
    "y": 160,
    "wires": [],
    "l": false
  },
  {
    "id": "2dd3e60e.cf55ea",
    "type": "debug",
    "z": "169bd4f5.e27763",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1215,
    "y": 260,
    "wires": [],
    "l": false
  },
  {
    "id": "99b02010.062308",
    "type": "ui_list",
    "z": "38f5a85f.f49c38",
    "group": "60bc85e8.a1ed04",
    "name": "",
    "order": 8,
    "width": 6,
    "height": 7,
    "lineType": "two",
    "actionType": "check",
    "allowHTML": true,
    "outputs": 1,
    "topic": "",
    "x": 1070,
    "y": 180,
    "wires": [["6df9f00c.a9956", "1f44d4e3.bc09cb"]]
  },
  {
    "id": "7e67d17.3005ab",
    "type": "ui_text_input",
    "z": "38f5a85f.f49c38",
    "name": "",
    "label": "",
    "tooltip": "Search",
    "group": "60bc85e8.a1ed04",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "mode": "text",
    "delay": 300,
    "topic": "",
    "x": 600,
    "y": 140,
    "wires": [["54762aa.610ad54", "213ac562.b895ba"]]
  },
  {
    "id": "54762aa.610ad54",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 715,
    "y": 120,
    "wires": [],
    "l": false
  },
  {
    "id": "f31fc149.c15738",
    "type": "ui_button",
    "z": "38f5a85f.f49c38",
    "name": "",
    "group": "60bc85e8.a1ed04",
    "order": 1,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "3F",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"key\":\"3f\"}",
    "payloadType": "json",
    "topic": "",
    "x": 190,
    "y": 220,
    "wires": [["263beaf9.7fe96e", "816410bf.cbde4"]]
  },
  {
    "id": "7282a813.14f718",
    "type": "ui_button",
    "z": "38f5a85f.f49c38",
    "name": "",
    "group": "60bc85e8.a1ed04",
    "order": 2,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "Hidr",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"key\":\"sw_hidr\"}",
    "payloadType": "json",
    "topic": "",
    "x": 190,
    "y": 260,
    "wires": [["263beaf9.7fe96e", "816410bf.cbde4"]]
  },
  {
    "id": "71b3d23e.5a4bbc",
    "type": "ui_button",
    "z": "38f5a85f.f49c38",
    "name": "",
    "group": "60bc85e8.a1ed04",
    "order": 3,
    "width": 2,
    "height": 1,
    "passthru": false,
    "label": "Temp",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"key\":\"sw_temp\"}",
    "payloadType": "json",
    "topic": "",
    "x": 190,
    "y": 300,
    "wires": [["263beaf9.7fe96e", "816410bf.cbde4"]]
  },
  {
    "id": "263beaf9.7fe96e",
    "type": "persist-out",
    "z": "38f5a85f.f49c38",
    "x": 385,
    "y": 180,
    "wires": [["9dfcef72.55df48", "d7d27c75.03ac8"]],
    "l": false
  },
  {
    "id": "9dfcef72.55df48",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 455,
    "y": 160,
    "wires": [],
    "l": false
  },
  {
    "id": "d7d27c75.03ac8",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var, set flow",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$each(payload, function($v,$k){\t    {\t        \"title\": $v.name,\t        \"isChecked\": $v.show,\t        \"raw\":$v\t    }\t})]",
        "tot": "jsonata"
      },
      { "t": "set", "p": "current", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 180,
    "wires": [["99b02010.062308", "8c81ce1f.e274d"]]
  },
  {
    "id": "8c81ce1f.e274d",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 715,
    "y": 160,
    "wires": [],
    "l": false
  },
  {
    "id": "213ac562.b895ba",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "filter",
    "rules": [
      { "t": "set", "p": "aux", "pt": "msg", "to": "current", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$filter(aux, function($v){\t    $contains($lowercase($v.title), $lowercase(payload))\t})]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 900,
    "y": 140,
    "wires": [["99b02010.062308", "589dcb85.19b74c"]]
  },
  {
    "id": "589dcb85.19b74c",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1035,
    "y": 140,
    "wires": [],
    "l": false
  },
  {
    "id": "6df9f00c.a9956",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1195,
    "y": 180,
    "wires": [],
    "l": false
  },
  {
    "id": "c9089814.370178",
    "type": "ui_text",
    "z": "38f5a85f.f49c38",
    "group": "60bc85e8.a1ed04",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Selecionado:",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 650,
    "y": 320,
    "wires": []
  },
  {
    "id": "816410bf.cbde4",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var, set flow",
    "rules": [
      { "t": "set", "p": "selected", "pt": "flow", "to": "payload.key", "tot": "msg" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$contains(payload.key, \"hidr\")?\t    \"Hidrômetro\"\t:\t    $contains(payload.key, \"3f\")?\t        \"3F\"\t    :\t        \"Temperatura\"",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 320,
    "wires": [["c9089814.370178"]]
  },
  {
    "id": "7b1c5aa9.35634c",
    "type": "ui_button",
    "z": "38f5a85f.f49c38",
    "name": "",
    "group": "60bc85e8.a1ed04",
    "order": 7,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Check all",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Clique novamente em até 3s para confirmar",
    "payloadType": "str",
    "topic": "Marcar tudo",
    "x": 210,
    "y": 440,
    "wires": [["f5e2c307.addf6", "d8cec84a.a0b25"]]
  },
  {
    "id": "e9f6607c.3fbce",
    "type": "ui_button",
    "z": "38f5a85f.f49c38",
    "name": "",
    "group": "60bc85e8.a1ed04",
    "order": 6,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "Uncheck all",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Clique novamente em até 3s para confirmar",
    "payloadType": "str",
    "topic": "Desmarcar tudo",
    "x": 210,
    "y": 520,
    "wires": [["a3b945c4.c6481", "afd865da.8c9538"]]
  },
  { "id": "8a068ce4.a33428", "type": "persist-in", "z": "38f5a85f.f49c38", "x": 720, "y": 260, "wires": [] },
  {
    "id": "883e44db.c63f38",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 595,
    "y": 280,
    "wires": [],
    "l": false
  },
  {
    "id": "1f44d4e3.bc09cb",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var, set flow",
    "rules": [
      { "t": "set", "p": "aux", "pt": "msg", "to": "selected", "tot": "flow" },
      { "t": "set", "p": "teste", "pt": "msg", "to": "current", "tot": "flow" },
      {
        "t": "set",
        "p": "current",
        "pt": "msg",
        "to": "(\t    $current:=teste;\t    \t    $map($current, function($v){\t        $v.raw.id = payload.raw.id ?\t            $merge([$v,payload,{\"raw\":$merge([$v.raw,{\"show\":payload.isChecked}]) }])\t        :\t            $v\t    }) \t)",
        "tot": "jsonata"
      },
      { "t": "set", "p": "current", "pt": "flow", "to": "current", "tot": "msg" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\": aux,\t    \"value\": \t    $map(current, function($v){\t    {\t        \"id_\"&($v.raw.id):$v.raw\t    }\t    })~>$merge()\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 260,
    "wires": [["883e44db.c63f38", "8a068ce4.a33428"]]
  },
  {
    "id": "d8cec84a.a0b25",
    "type": "join",
    "z": "38f5a85f.f49c38",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "3",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 375,
    "y": 440,
    "wires": [["11e59e32.8e91ba"]],
    "l": false
  },
  {
    "id": "f5e2c307.addf6",
    "type": "ui_toast",
    "z": "38f5a85f.f49c38",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 335,
    "y": 420,
    "wires": [],
    "l": false
  },
  {
    "id": "11e59e32.8e91ba",
    "type": "switch",
    "z": "38f5a85f.f49c38",
    "name": "",
    "property": "$count(payload)",
    "propertyType": "jsonata",
    "rules": [{ "t": "gte", "v": "2", "vt": "num" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 435,
    "y": 440,
    "wires": [["886fa027.8eb858", "99a7ca8c.acc218"]],
    "l": false
  },
  {
    "id": "886fa027.8eb858",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 420,
    "wires": [],
    "l": false
  },
  {
    "id": "c39b0ba2.c3863",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var",
    "rules": [
      { "t": "set", "p": "current", "pt": "msg", "to": "current", "tot": "flow" },
      { "t": "set", "p": "selected", "pt": "msg", "to": "selected", "tot": "flow" },
      {
        "t": "set",
        "p": "aux",
        "pt": "msg",
        "to": "$map(current, function($v){\t    $merge([$v,{\"isChecked\":true},{\"raw\":$merge([$v.raw,{\"show\":true}]) }])\t})",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 440,
    "wires": [["17783ce4.65e60b"]]
  },
  {
    "id": "1c1f9a1c.97f0de",
    "type": "ui_toast",
    "z": "38f5a85f.f49c38",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 735,
    "y": 420,
    "wires": [],
    "l": false
  },
  {
    "id": "99a7ca8c.acc218",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set legenda",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "Comando enviado", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 610,
    "y": 440,
    "wires": [["1c1f9a1c.97f0de", "c39b0ba2.c3863"]]
  },
  {
    "id": "17783ce4.65e60b",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var, set flow",
    "rules": [
      { "t": "set", "p": "current", "pt": "flow", "to": "aux", "tot": "msg" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\": selected,\t    \"value\": \t    $map(aux, function($v){\t    {\t        $v.raw.addr_low&\"_\"&($v.raw.addr_high%2):$v.raw\t    }\t    })~>$merge()\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1000,
    "y": 480,
    "wires": [["efd91316.db3578", "3e53fa1d.4bbb7e", "637aacb4.5619a4"]]
  },
  {
    "id": "afd865da.8c9538",
    "type": "join",
    "z": "38f5a85f.f49c38",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "3",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 375,
    "y": 520,
    "wires": [["a8de7949.d5e02"]],
    "l": false
  },
  {
    "id": "a3b945c4.c6481",
    "type": "ui_toast",
    "z": "38f5a85f.f49c38",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 335,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "a8de7949.d5e02",
    "type": "switch",
    "z": "38f5a85f.f49c38",
    "name": "",
    "property": "$count(payload)",
    "propertyType": "jsonata",
    "rules": [{ "t": "gte", "v": "2", "vt": "num" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 435,
    "y": 520,
    "wires": [["7266ecf2.9144dc", "f5e9555e.c69198"]],
    "l": false
  },
  {
    "id": "7266ecf2.9144dc",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "4fba112a.b6199",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set var",
    "rules": [
      { "t": "set", "p": "current", "pt": "msg", "to": "current", "tot": "flow" },
      { "t": "set", "p": "selected", "pt": "msg", "to": "selected", "tot": "flow" },
      {
        "t": "set",
        "p": "aux",
        "pt": "msg",
        "to": "$map(current, function($v){\t    $merge([$v,{\"isChecked\":false},{\"raw\":$merge([$v.raw,{\"show\":false}]) }])\t})",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 520,
    "wires": [["17783ce4.65e60b"]]
  },
  {
    "id": "150d5452.8e6194",
    "type": "ui_toast",
    "z": "38f5a85f.f49c38",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 735,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "f5e9555e.c69198",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "set legenda",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "Comando enviado", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 610,
    "y": 520,
    "wires": [["150d5452.8e6194", "4fba112a.b6199"]]
  },
  { "id": "efd91316.db3578", "type": "persist-in", "z": "38f5a85f.f49c38", "x": 1220, "y": 480, "wires": [] },
  {
    "id": "fa298fa6.34a968",
    "type": "link out",
    "z": "38f5a85f.f49c38",
    "name": "refresh list in",
    "links": ["c4398662.091628"],
    "x": 1275,
    "y": 440,
    "wires": []
  },
  {
    "id": "3e53fa1d.4bbb7e",
    "type": "change",
    "z": "38f5a85f.f49c38",
    "name": "blank",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1190,
    "y": 440,
    "wires": [["fa298fa6.34a968"]]
  },
  {
    "id": "c4398662.091628",
    "type": "link in",
    "z": "38f5a85f.f49c38",
    "name": "refresh list out",
    "links": ["fa298fa6.34a968"],
    "x": 795,
    "y": 120,
    "wires": [["213ac562.b895ba"]]
  },
  {
    "id": "637aacb4.5619a4",
    "type": "debug",
    "z": "38f5a85f.f49c38",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1155,
    "y": 520,
    "wires": [],
    "l": false
  },
  {
    "id": "9d153918.522598",
    "type": "myio-emitter",
    "z": "d3edd00.c15333",
    "x": 260,
    "y": 300,
    "wires": [
      ["94ae7b9f.e0885"],
      ["ce727005.998cf"],
      [],
      [],
      [],
      ["4a7e5ade.fe762c"],
      ["b47e61c2.d8a0d"],
      ["b47e61c2.d8a0d"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "b47e61c2.d8a0d",
    "type": "join",
    "z": "d3edd00.c15333",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 415,
    "y": 320,
    "wires": [["e6171296.ac69c8"]],
    "l": false
  },
  {
    "id": "5f847525.d123ec",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 655,
    "y": 300,
    "wires": [],
    "l": false
  },
  {
    "id": "e6171296.ac69c8",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "gather info",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].id = payload[1].id ?\t    {\t        $string(payload[0].id):\t        $reduce(payload, function($acc,$v){\t            [$acc,\t            $contains($v.message_type,'current') ?\t                {\t                    \"current\": [$v.a,$v.b,$v.c],\t                    \"zeradoc\": $v.a = 0 or $v.b = 0 or $v.c = 0\t                }\t            :\t                $contains($v.message_type,'voltage') ?\t                {\t                    \"voltage\": [$v.voltage.a,$v.voltage.b,$v.voltage.c],\t                    \"zeradov\": $v.voltage.a = 0 or $v.voltage.b = 0 or $v.voltage.c = 0\t                }\t            ]\t            \t        },[{\"time\":$millis()\t        }])~>$merge()\t    }",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 320,
    "wires": [["5f847525.d123ec", "b720c713.0cdd78"]]
  },
  {
    "id": "b720c713.0cdd78",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set flow",
    "rules": [
      { "t": "set", "p": "aux", "pt": "msg", "to": "3fvalues", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$type(aux) = \"object\" ?\t    (\t        $lookup(payload,$keys(payload)).time - \t        (\t            $auxt:=$lookup(aux,$keys(payload)).time;\t                $type($auxt) = 'number' ?\t                    $auxt\t                :\t                    0\t        )\t    ) > 60000?    \t        $merge([ aux,\t        $each(payload, function($v,$k){ \t        {\t            $k:\t            $merge([\t                $v,\t                { \t                \"zeradocount\": \t                    (\t                        $aux2:=$lookup(payload,$keys(payload));\t                        $aux:=$lookup(aux, $keys(payload)).zeradocount;\t                        $aux2.zeradoc or $aux2.zeradov ?\t                             $aux > 0?\t                                    ($aux+1)%1000\t                                :\t                                    1\t                        :\t                            0\t                    )\t                }\t            ])\t        }\t        })])\t    :\t        aux\t:\t    $each(payload, function($v,$k){ \t        {\t            $k:\t            $merge([\t                $v,\t                { \t                \"zeradocount\": \t                    (\t                        payload.zeradoc or payload.zeradov ?\t                            1\t                        :\t                            0\t                    )\t                }\t            ])\t        }\t        })\t            ",
        "tot": "jsonata"
      },
      { "t": "set", "p": "3fvalues", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 320,
    "wires": [["215aae9d.8f9952"]]
  },
  {
    "id": "215aae9d.8f9952",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 855,
    "y": 320,
    "wires": [],
    "l": false
  },
  {
    "id": "94ae7b9f.e0885",
    "type": "switch",
    "z": "d3edd00.c15333",
    "name": "2 channels ?",
    "property": "$count(payload.channels)",
    "propertyType": "jsonata",
    "rules": [{ "t": "eq", "v": "2", "vt": "num" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 200,
    "wires": [["7b69e247.7a80b4"]]
  },
  {
    "id": "7b69e247.7a80b4",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "gather info",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    $string(payload.id):\t        payload.channels[0].value = 0 ?\t            $millis()\t        :\t            false\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 650,
    "y": 200,
    "wires": [["ec1deed0.1951c8"]]
  },
  {
    "id": "ec1deed0.1951c8",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set flow",
    "rules": [
      { "t": "set", "p": "aux", "pt": "msg", "to": "chvalues", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$type(aux) = \"object\" ?\t    $merge([\t    aux,\t    (\t        $aux:=$lookup(aux, $keys(payload));\t        $aux2:=$lookup(payload, $keys(payload));\t        {\t        $keys(payload):\t            $aux2 = false?\t                {\"started\":false,\"value\":0}\t            :\t                $type($aux) = \"object\"?\t                    $type($aux.started) = \"number\" ?\t                        {\t                            \"started\": $aux.started,\t                            \"value\": $aux2 - $aux.started\t                        }\t                    :\t                        {\t                            \"started\": $aux2,\t                            \"value\": 0\t                        }\t                :\t                    {\t                        \"started\": $millis(),\t                        \"value\": 0\t                    }\t        }\t    )\t    \t    ])\t:\t    $each(payload, function($v,$k){\t        {\t            $k: {\t                \"value\": 0,\t                \"started\": $v\t            }\t        }\t    })",
        "tot": "jsonata"
      },
      { "t": "set", "p": "chvalues", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 800,
    "y": 200,
    "wires": [["8e361ea6.5e2a68"]]
  },
  {
    "id": "8e361ea6.5e2a68",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 895,
    "y": 200,
    "wires": [],
    "l": false
  },
  {
    "id": "42ae6d6c.95fb74",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 735,
    "y": 260,
    "wires": [],
    "l": false
  },
  {
    "id": "ce727005.998cf",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "gather info",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    $string(payload.id): payload.temperature < 5 or payload.temperature > 45\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 240,
    "wires": [["4c683f1f.ba782"]]
  },
  {
    "id": "4a7e5ade.fe762c",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "gather info",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    $string(payload.id):payload.value < 5 or payload.value > 45\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 280,
    "wires": [["4c683f1f.ba782"]]
  },
  {
    "id": "4c683f1f.ba782",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set flow",
    "rules": [
      { "t": "set", "p": "aux", "pt": "msg", "to": "tempvalues", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$type(aux) = \"object\" ?\t    $merge([\t    aux,\t    (\t        $aux:=$lookup(aux, $keys(payload));\t        $aux2:=$lookup(payload, $keys(payload));\t        {\t        $keys(payload):\t            $aux2 = false?\t                {\"started\":false,\"value\":0}\t            :\t                $type($aux) = \"object\"?\t                    $type($aux.started) = \"number\" ?\t                        {\t                            \"started\": $aux.started,\t                            \"value\": $aux2 - $aux.started\t                        }\t                    :\t                        {\t                            \"started\": $aux2,\t                            \"value\": 0\t                        }\t                :\t                    {\t                        \"started\": $millis(),\t                        \"value\": 0\t                    }\t        }\t    )\t    \t    ])\t:\t    $each(payload, function($v,$k){\t        {\t            $k: {\t                \"value\": 0,\t                \"started\": $v\t            }\t        }\t    })",
        "tot": "jsonata"
      },
      { "t": "set", "p": "tempvalues", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 260,
    "wires": [["42ae6d6c.95fb74"]]
  },
  {
    "id": "75c6626d.5bedf4",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 140,
    "wires": [["8ea8d144.8ee198"]]
  },
  {
    "id": "b5b911e2.10a14",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "set var",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 450,
    "y": 220,
    "wires": [["6f2ce989.c5b75"]]
  },
  {
    "id": "b9aede5c.576f58",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "save payload",
    "rules": [{ "t": "set", "p": "aux", "pt": "msg", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 100,
    "wires": [["af8da64a.58d68"]]
  },
  {
    "id": "9c2d94c8.9987a8",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "save payload",
    "rules": [{ "t": "set", "p": "aux", "pt": "msg", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 180,
    "wires": [["c41fa3f5.d85748"]]
  },
  {
    "id": "360116cc.db7542",
    "type": "change",
    "z": "169bd4f5.e27763",
    "name": "save payload",
    "rules": [{ "t": "set", "p": "aux", "pt": "msg", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 260,
    "wires": [["20eb0522.5cd2c2"]]
  },
  {
    "id": "df74db6f.8c5e48",
    "type": "inject",
    "z": "d3edd00.c15333",
    "name": "check routine",
    "props": [
      { "p": "f3", "v": "3fvalues", "vt": "flow" },
      { "p": "ch", "v": "chvalues", "vt": "flow" },
      { "p": "temp", "v": "tempvalues", "vt": "flow" }
    ],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 220,
    "y": 500,
    "wires": [["6965b2e2.0ee4e4"]]
  },
  {
    "id": "6965b2e2.0ee4e4",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "check error",
    "rules": [
      {
        "t": "set",
        "p": "error3f",
        "pt": "msg",
        "to": "[$each(f3, function($v,$k){\t    $v.zeradocount > 3?\t        {$k:\t        {\t            \"current\": $v.current,\t            \"voltage\": $v.voltage,\t            \"zeradocount\": $v.zeradocount,\t            \"id\": $k\t        }\t        }\t})]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "errorhidr",
        "pt": "msg",
        "to": "[$each(ch, function($v,$k){\t    $v.value > 0 ?\t        $k\t})]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "errortemp",
        "pt": "msg",
        "to": "[$each(temp, function($v,$k){\t    $v.value > 0 ?\t        $k\t})]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 500,
    "wires": [["e5b23c19.c2b598"]]
  },
  {
    "id": "e5b23c19.c2b598",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set var 3f",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{\"key\":\"3f\"}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 500,
    "wires": [["772551be.85259"]]
  },
  {
    "id": "772551be.85259",
    "type": "persist-out",
    "z": "d3edd00.c15333",
    "x": 635,
    "y": 500,
    "wires": [["45ff8b52.a94fe4"]],
    "l": false
  },
  {
    "id": "45ff8b52.a94fe4",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "filter checked",
    "rules": [
      {
        "t": "set",
        "p": "error3f",
        "pt": "msg",
        "to": "$reduce(error3f, function($acc,$v){\t    $lookup(payload, \"id_\"&$keys($v)).show?\t        [$acc,\t        $each($v,function($va,$k){\t        {\t            $k:$merge([$va,{\"name\":$lookup(payload, \"id_\"&$keys($v)).name}])\t        }\t        })]\t    :\t        $acc\t},[])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 500,
    "wires": [["211fb7e.a0fd148"]]
  },
  {
    "id": "6eb91254.02f31c",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 935,
    "y": 600,
    "wires": [],
    "l": false
  },
  {
    "id": "211fb7e.a0fd148",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set var hidr",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{\"key\":\"sw_hidr\"}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 560,
    "wires": [["f8f4239c.38e15"]]
  },
  {
    "id": "f8f4239c.38e15",
    "type": "persist-out",
    "z": "d3edd00.c15333",
    "x": 635,
    "y": 560,
    "wires": [["e8e44d3f.b891f8"]],
    "l": false
  },
  {
    "id": "e8e44d3f.b891f8",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "filter checked",
    "rules": [
      {
        "t": "set",
        "p": "errorhidr",
        "pt": "msg",
        "to": "$reduce(errorhidr, function($acc,$v){\t    (\t    $aux:=$lookup(payload, \"id_\"&($v));\t    $aux.show?\t        [$acc,\t        {\t            $string($aux.id): {\t                \"name\": $aux.name\t            }\t        }\t        ]\t    :\t        $acc\t    )\t},[])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 560,
    "wires": [["25e909a1.bee516"]]
  },
  {
    "id": "25e909a1.bee516",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set var temp",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{\"key\":\"sw_temp\"}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 620,
    "wires": [["ec33659e.4e95b"]]
  },
  {
    "id": "ec33659e.4e95b",
    "type": "persist-out",
    "z": "d3edd00.c15333",
    "x": 635,
    "y": 620,
    "wires": [["31251df2.cd0512"]],
    "l": false
  },
  {
    "id": "31251df2.cd0512",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "filter checked",
    "rules": [
      {
        "t": "set",
        "p": "errortemp",
        "pt": "msg",
        "to": "$reduce(errortemp, function($acc,$v){\t    (\t    $aux:=$lookup(payload, \"id_\"&($v));\t    $aux.show?\t        [$acc,\t        {\t            $string($aux.id): {\t                \"name\": $aux.name\t            }\t        }\t        ]\t    :\t        $acc\t    )\t},[])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 810,
    "y": 620,
    "wires": [["6eb91254.02f31c", "581fb134.aa0208"]]
  },
  {
    "id": "78a6db6c.1fc51c",
    "type": "switch",
    "z": "d3edd00.c15333",
    "name": "changes ? ",
    "property": "$flowContext('erro') = erro",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 680,
    "wires": [[], ["47fbeedc.3a6b08"]]
  },
  {
    "id": "581fb134.aa0208",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "erro",
        "pt": "msg",
        "to": "{\t    \"f3\": $keys($merge(error3f)),\t    \"ch\": $keys($merge(errorhidr)),\t    \"temp\": $keys($merge(errortemp))\t}\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 680,
    "wires": [["78a6db6c.1fc51c"]]
  },
  {
    "id": "47fbeedc.3a6b08",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "set flow",
    "rules": [{ "t": "set", "p": "erro", "pt": "flow", "to": "erro", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 700,
    "wires": [["73d310c3.b6733", "84a592d6.ff9a58"]]
  },
  {
    "id": "84a592d6.ff9a58",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "send notific",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"to\": \"bruno@myio.com.br\",\t    \"title\": \"Check\",\t    \"template\": \t    \"Erro de 3f: \" &\t    $reduce(error3f, function($acc,$v){\t    (\t        $aux:=$lookup($v,$keys($v));\t        $acc & $aux.name &\" -> Volt \"&$aux.voltage&\" | Curr \"&$map($aux.current, function($v){$round($v/1000,2)}) &\" | \"&$aux.zeradocount&\" Leituras com erro<br>\"\t    )\t    },\"<br>\") &\t    \"<br>Erro de Hidr (canal 0 desligado):\" &\t    $reduce(errorhidr, function($acc,$v){\t    (\t        $aux:=$lookup($v,$keys($v));\t        $acc & $aux.name &\"<br>\"\t    )\t    },\"<br>\") &\t    \"<br>Erro de Temp (< 5°C ou > 45°C ):\" &\t    $reduce(errortemp, function($acc,$v){\t    (\t        $aux:=$lookup($v,$keys($v));\t        $acc & $aux.name &\"<br>\"\t    )\t    },\"<br>\")\t        \t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1070,
    "y": 700,
    "wires": [["f47ded0f.ab8ea8"]]
  },
  {
    "id": "73d310c3.b6733",
    "type": "debug",
    "z": "d3edd00.c15333",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 935,
    "y": 680,
    "wires": [],
    "l": false
  },
  { "id": "f47ded0f.ab8ea8", "type": "send-email", "z": "d3edd00.c15333", "x": 1230, "y": 700, "wires": [] },
  {
    "id": "97662b27.e629c8",
    "type": "inject",
    "z": "d3edd00.c15333",
    "name": "check routine",
    "props": [{ "p": "payload" }],
    "repeat": "86400",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 260,
    "y": 780,
    "wires": [["e6a256cb.31d128"]]
  },
  {
    "id": "e6a256cb.31d128",
    "type": "change",
    "z": "d3edd00.c15333",
    "name": "delete flow",
    "rules": [{ "t": "delete", "p": "erro", "pt": "flow" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 430,
    "y": 780,
    "wires": [[]]
  },
  {
    "id": "be46e052.195438",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 2860,
    "wires": [["b8d165e8.21f5c"]]
  },
  {
    "id": "b8d165e8.21f5c",
    "type": "change",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "rules": [
      { "t": "set", "p": "lastSuccessfulRun", "pt": "flow", "to": "2024-09-01T09:00:00.000Z", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 2860,
    "wires": [[]]
  },
  {
    "id": "1e84f06a.bfbf6",
    "type": "http in",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "url": "/Check",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 980,
    "wires": [["68f15bd9.37ae4c"]]
  },
  {
    "id": "d5356e63.3e22c",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 675,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "2709d2e3.a89996",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "Format name",
    "func": "const pattern = /\\s\\([^()]+\\)$/;\nconst deviceName = msg.payload.device;\nconst newDeviceName = deviceName.replace(pattern, '');\n\nmsg.payload = {\n    device: newDeviceName,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 355,
    "y": 980,
    "wires": [["23ab0065.77d6f", "a12e1d7a.2853c8"]],
    "l": false
  },
  {
    "id": "23ab0065.77d6f",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "get slaveId",
    "func": "const payload = msg.payload;\nconst devices = flow.get('devices') || {};\nconst device = devices[payload.device];\nconst slaveId = device.slaveId;\n\n return {\n        payload: {\n            id: slaveId,\n        }\n    }\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 470,
    "y": 980,
    "wires": [["d5356e63.3e22c", "4d498e85.ff62a8"]]
  },
  {
    "id": "68f15bd9.37ae4c",
    "type": "change",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "rules": [{ "t": "set", "p": "type", "pt": "msg", "to": "http", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 295,
    "y": 980,
    "wires": [["2709d2e3.a89996"]],
    "l": false
  },
  {
    "id": "f7d279b7.2faa",
    "type": "http response",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 860,
    "y": 1040,
    "wires": []
  },
  {
    "id": "4d498e85.ff62a8",
    "type": "change",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "\"\"", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 1040,
    "wires": [["f7d279b7.2faa"]]
  },
  {
    "id": "a12e1d7a.2853c8",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 435,
    "y": 920,
    "wires": [],
    "l": false
  },
  {
    "id": "e9882b55.4de4a8",
    "type": "send-check",
    "z": "87b3fa43.bc6a48",
    "g": "63d6a66b.6c626",
    "x": 710,
    "y": 980,
    "wires": []
  },
  {
    "id": "68782b40.5c8584",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "eca7fb48.d6b0b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"slave\": { \"id\": 90} }",
    "payloadType": "json",
    "x": 1770,
    "y": 180,
    "wires": [["a2af9346.dcf83"]]
  },
  {
    "id": "a2af9346.dcf83",
    "type": "send-check",
    "z": "87b3fa43.bc6a48",
    "g": "eca7fb48.d6b0b",
    "x": 2010,
    "y": 180,
    "wires": []
  },
  {
    "id": "8b7586ea.f602",
    "type": "myio-emitter",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "x": 110,
    "y": 640,
    "wires": [
      ["1d4cb275.ed1d7e"],
      [],
      ["945085d3.1f7958"],
      [],
      [],
      [],
      ["91fbed71.cf92b8"],
      ["3436798b.a5c7de"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "1d4cb275.ed1d7e",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 420,
    "wires": [["89f8c0a9.5e3f78"]]
  },
  {
    "id": "d9036cf2.7efac8",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 500,
    "wires": [["4a3e223f.353b1c"]]
  },
  {
    "id": "945085d3.1f7958",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 580,
    "wires": [["fd2a786d.48e77"]]
  },
  {
    "id": "91fbed71.cf92b8",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 660,
    "wires": [["1ef9ad18.4b8473"]]
  },
  {
    "id": "3436798b.a5c7de",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 740,
    "wires": [["15060a16.e53536"]]
  },
  {
    "id": "8a672dee.ff6e48",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 820,
    "wires": [["13d2fa2d.76f7de"]]
  },
  {
    "id": "337746be.5c726a",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 410,
    "y": 380,
    "wires": []
  },
  {
    "id": "cccde8c3.c2f98",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Temperatura",
    "info": "",
    "x": 370,
    "y": 460,
    "wires": []
  },
  {
    "id": "36e73e84.c4a402",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Potencia",
    "info": "",
    "x": 360,
    "y": 540,
    "wires": []
  },
  {
    "id": "fb27b83a.283b78",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Corrente",
    "info": "",
    "x": 362.89581298828125,
    "y": 621.2222290039062,
    "wires": []
  },
  {
    "id": "fef55596.731ed",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Voltagem",
    "info": "",
    "x": 360,
    "y": 700,
    "wires": []
  },
  {
    "id": "647a0d3b.232a6c",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Humidade",
    "info": "",
    "x": 360,
    "y": 780,
    "wires": []
  },
  {
    "id": "89f8c0a9.5e3f78",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 730,
    "y": 420,
    "wires": [["dc8f0a0f.a80a"]]
  },
  {
    "id": "4a3e223f.353b1c",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 780,
    "y": 500,
    "wires": [["dc8f0a0f.a80a"]]
  },
  {
    "id": "fd2a786d.48e77",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      consumption: lastReading.value * getMultiplier(name),\n      a: lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n      b: lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n      c: lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 790,
    "y": 580,
    "wires": [["ba2a627.10ce02"]]
  },
  {
    "id": "1ef9ad18.4b8473",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      total_current: lastReading.total_current * getMultiplier(name),\n      current_a: lastReading.a * getMultiplier(name),\n      current_b: lastReading.b * getMultiplier(name),\n      current_c: lastReading.c * getMultiplier(name),\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 660,
    "wires": [["efebcdf0.58501"]]
  },
  {
    "id": "15060a16.e53536",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n  a = voltage.a;\n  b = voltage.b;\n  c = voltage.c;\n}\nif (fp) {\n  fpA = fp.a;\n  fpB = fp.b;\n  fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      fp_a: fpA,\n      fp_b: fpB,\n      fp_c: fpC,\n      voltage_a: a ? a * multiplier : null,\n      voltage_b: b ? b * multiplier : null,\n      voltage_c: c ? c * multiplier : null,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 740,
    "wires": [["30a3d688.ce5ca2"]]
  },
  {
    "id": "13d2fa2d.76f7de",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "Format humidity",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 820,
    "wires": [["30a3d688.ce5ca2"]]
  },
  {
    "id": "ba2a627.10ce02",
    "type": "split",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1155,
    "y": 600,
    "wires": [["641e6420.f6e61c", "dc8f0a0f.a80a"]],
    "l": false
  },
  {
    "id": "efebcdf0.58501",
    "type": "split",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1275,
    "y": 660,
    "wires": [["dc8f0a0f.a80a"]],
    "l": false
  },
  {
    "id": "dc8f0a0f.a80a",
    "type": "link out",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "",
    "links": ["2104a251.44990e", "a7bdc5a7.539fe8"],
    "x": 1355,
    "y": 480,
    "wires": []
  },
  {
    "id": "30a3d688.ce5ca2",
    "type": "link out",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "",
    "links": ["2104a251.44990e", "a7bdc5a7.539fe8"],
    "x": 1195,
    "y": 760,
    "wires": []
  },
  {
    "id": "641e6420.f6e61c",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "6481bb38.c36cbc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1235,
    "y": 600,
    "wires": [],
    "l": false
  },
  {
    "id": "ce0e553b.8a3c2",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "abd84698.6dbc58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1750,
    "y": 80,
    "wires": [["77bd15ed.258a94"]]
  },
  {
    "id": "77bd15ed.258a94",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "abd84698.6dbc58",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1990,
    "y": 80,
    "wires": []
  },
  {
    "id": "3a6936a0.4c80aa",
    "type": "mqtt out",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1920,
    "y": 400,
    "wires": []
  },
  {
    "id": "a6a92948.572a48",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1563,
    "y": 400,
    "wires": [["ab87a549.6ce6f"]],
    "l": false
  },
  {
    "id": "a7bdc5a7.539fe8",
    "type": "link in",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "",
    "links": [
      "6a8d76a0.316138",
      "fc544c8d.06834",
      "4c51ea40.64a4e4",
      "bca8fcee.f61da",
      "27b46fbd.c51ed",
      "30a3d688.ce5ca2",
      "dc8f0a0f.a80a",
      "53a6ab82.0071c4",
      "ce0ec6b0.e7f42",
      "64e40828.4beee8",
      "ef4c92d2.f602a",
      "413d5aab.caf6ec"
    ],
    "x": 1495,
    "y": 400,
    "wires": [["a6a92948.572a48"]]
  },
  {
    "id": "ab87a549.6ce6f",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "Delayed Queue",
    "func": "const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1700,
    "y": 400,
    "wires": [["3a6936a0.4c80aa", "625fa052.2df82"]]
  },
  {
    "id": "e72f7ac6.ed9e6",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "FLUSH",
    "payloadType": "str",
    "x": 1560,
    "y": 460,
    "wires": [["ab87a549.6ce6f"]]
  },
  {
    "id": "625fa052.2df82",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "df8d3d0f.ce8e78",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1890,
    "y": 460,
    "wires": []
  },
  {
    "id": "b34bf33e.27054",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 160,
    "wires": [["f3ecce91.3bfac8"]]
  },
  {
    "id": "f3ecce91.3bfac8",
    "type": "get-data",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "selectedOption": "slaves",
    "x": 340,
    "y": 160,
    "wires": [["ead0e2bc.74df18", "63a2f979.364fd8", "33f1c76d.92902"]]
  },
  {
    "id": "ead0e2bc.74df18",
    "type": "split",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 495,
    "y": 160,
    "wires": [["7a89b507.3c2d24"]],
    "l": false
  },
  {
    "id": "7a89b507.3c2d24",
    "type": "switch",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 575,
    "y": 160,
    "wires": [["6f6b8d10.49aee4"], ["a00d0ba7.caf1f"], ["f91903ef.180208"]],
    "l": false
  },
  {
    "id": "53336e3.de8b21",
    "type": "join",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "0.3",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1210,
    "y": 160,
    "wires": [["d68c70a.702259"]]
  },
  {
    "id": "d68c70a.702259",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Merge into a single obj",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1400,
    "y": 160,
    "wires": [["d80840c.882fbc", "1991b30e.255a2d"]]
  },
  {
    "id": "d80840c.882fbc",
    "type": "change",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1555,
    "y": 160,
    "wires": [[]],
    "l": false
  },
  {
    "id": "b090255d.5fa0e8",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1095,
    "y": 160,
    "wires": [["53336e3.de8b21", "1b81d7fe.68e128"]],
    "l": false
  },
  {
    "id": "63a2f979.364fd8",
    "type": "change",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 495,
    "y": 120,
    "wires": [[]],
    "l": false
  },
  {
    "id": "bbb2144e.83623",
    "type": "mqtt out",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1360,
    "y": 260,
    "wires": []
  },
  {
    "id": "1be4a16a.39b647",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Save uniqueId to device attributes",
    "info": "",
    "x": 1320,
    "y": 220,
    "wires": []
  },
  {
    "id": "1991b30e.255a2d",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1555,
    "y": 111,
    "wires": [],
    "l": false
  },
  {
    "id": "33f1c76d.92902",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 475,
    "y": 71,
    "wires": [],
    "l": false
  },
  {
    "id": "1b81d7fe.68e128",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1155,
    "y": 260,
    "wires": [["bbb2144e.83623"]],
    "l": false
  },
  {
    "id": "6f6b8d10.49aee4",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 120,
    "wires": [["b090255d.5fa0e8"]]
  },
  {
    "id": "a00d0ba7.caf1f",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 160,
    "wires": [["b090255d.5fa0e8"]]
  },
  {
    "id": "f91903ef.180208",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "e125af85.0cb3c",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 200,
    "wires": [["b090255d.5fa0e8"]]
  },
  {
    "id": "e9873edf.44ceb",
    "type": "myio-emitter",
    "z": "87b3fa43.bc6a48",
    "x": 110,
    "y": 3040,
    "wires": [
      ["d7ed9c4f.25e078"],
      ["d7ed9c4f.25e078"],
      ["d7ed9c4f.25e078"],
      [],
      ["d7ed9c4f.25e078"],
      ["d7ed9c4f.25e078"],
      [],
      [],
      [],
      ["d7ed9c4f.25e078"],
      ["d7ed9c4f.25e078"],
      []
    ]
  },
  {
    "id": "d7ed9c4f.25e078",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "func": "let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 300,
    "y": 3040,
    "wires": [["a2212343.6d587"]]
  },
  {
    "id": "a2212343.6d587",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "name": "cabelo curto",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 3040,
    "wires": []
  },
  {
    "id": "98a1e0ee.2de8a",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "name": "function 30",
    "func": "let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 415,
    "y": 3280,
    "wires": [[]],
    "l": false
  },
  {
    "id": "e5c9e30.a9f9f2",
    "type": "mqtt out",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 590,
    "y": 3240,
    "wires": []
  },
  {
    "id": "b91da37a.f09d",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5400",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 3200,
    "wires": [["8cc4daf0.d20488"]]
  },
  {
    "id": "5981c36.c89b0bc",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "name": "function 30",
    "func": "\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 355,
    "y": 3200,
    "wires": [["e5c9e30.a9f9f2", "2a8bba3c.f43f2e", "98a1e0ee.2de8a"]],
    "l": false
  },
  {
    "id": "2a8bba3c.f43f2e",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "name": "Pudim de geleia",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 3180,
    "wires": []
  },
  {
    "id": "8cc4daf0.d20488",
    "type": "http request",
    "z": "87b3fa43.bc6a48",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 275,
    "y": 3200,
    "wires": [["5981c36.c89b0bc"]],
    "l": false
  },
  {
    "id": "e66b0ede.47524",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "62221acb.4de854",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1570,
    "y": 580,
    "wires": [["a10d7c28.b34de"]]
  },
  {
    "id": "a10d7c28.b34de",
    "type": "http request",
    "z": "87b3fa43.bc6a48",
    "g": "62221acb.4de854",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1610,
    "y": 640,
    "wires": [["36e8f108.3b151e"]]
  },
  {
    "id": "36e8f108.3b151e",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "62221acb.4de854",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(devices[device].name);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1620,
    "y": 720,
    "wires": [["ef4c92d2.f602a"]]
  },
  {
    "id": "ef4c92d2.f602a",
    "type": "link out",
    "z": "87b3fa43.bc6a48",
    "g": "62221acb.4de854",
    "name": "link out 3",
    "links": ["d4827748.23c", "65168341.77ec9c", "89d19f2a.22028", "a7bdc5a7.539fe8"],
    "x": 1775,
    "y": 620,
    "wires": []
  },
  {
    "id": "6ede20c1.ed271",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" },
      { "p": "paylod", "v": "CENTRAL_UUID", "vt": "env" }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1590,
    "y": 880,
    "wires": [["d432aac3.3f1538"]]
  },
  {
    "id": "d432aac3.3f1538",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "",
    "func": "const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (\n    (upper.includes('MOTR') && !upper.includes('CHILLER')) ||\n    upper.includes('MOTOR') ||\n    upper.includes('RECALQUE')\n  )\n    return 'MOTOR';\n\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n\n  if (upper.includes('3F ')) {\n    if (upper.includes('CHILLER')) {\n      return 'CHILLER';\n    } else if (upper.includes('FANCOIL')) {\n      return 'FANCOIL';\n    } else if (upper.includes('TRAFO')) {\n      return 'ENTRADA';\n    } else if (upper.includes('ENTRADA')) {\n      return 'ENTRADA';\n    } else if (upper.includes('CAG')) {\n      return 'BOMBA_CAG';\n    } else {\n      return '3F_MEDIDOR';\n    }\n  }\n\n  // WATER\n  if (upper.includes('HIDR') || upper.includes('BANHEIRO')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(cleanName),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1560,
    "y": 980,
    "wires": [["82c3fadf.a1fbd", "80db2c85.e41758"]]
  },
  {
    "id": "47827ecb.13c6e",
    "type": "mqtt out",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1940,
    "y": 860,
    "wires": []
  },
  {
    "id": "82c3fadf.a1fbd",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1940,
    "y": 980,
    "wires": []
  },
  {
    "id": "b8cdc4f1.3e9078",
    "type": "comment",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1670,
    "y": 820,
    "wires": []
  },
  {
    "id": "80db2c85.e41758",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "3cdd2d07.c8700a",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1755,
    "y": 920,
    "wires": [["47827ecb.13c6e"]],
    "l": false
  },
  {
    "id": "5bc8710c.ec3778",
    "type": "inject",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "1800",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 1180,
    "wires": [["de07f2c.7c1fb9", "8b188fbf.dd3c68"]]
  },
  {
    "id": "ff51c217.2d3668",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 695,
    "y": 1220,
    "wires": [],
    "l": false
  },
  {
    "id": "de07f2c.7c1fb9",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "func": "function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .map(device => device.slaveId);\n\nif (energySensors.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 1180,
    "wires": [["ec40ebcc.b0763", "6ed44342.a01ce4"]]
  },
  {
    "id": "ec40ebcc.b0763",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 455,
    "y": 1220,
    "wires": [],
    "l": false
  },
  {
    "id": "2e769f2f.a56258",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Parse device name to extract multiplier from format: \"Hidr. <Name> x<multiplier> <initial>\"\n// e.g. \"Hidr. Teta_tetinha x100 2810m3\" → { actualName: \"Hidr. Teta_tetinha\", multiplier: 100 }\nfunction parseMultiplier(deviceName) {\n  const match = deviceName.match(/^(.*?)\\s*x(\\d+\\.?\\d*)[AV]?\\s*/i);\n  if (match) {\n    return { multiplier: parseFloat(match[2]) };\n  }\n  return { multiplier: 1 };\n}\n\nconst readings = Array.isArray(msg.payload) ? msg.payload : [];\n\n// 1) AGRUPA DO JEITO ORIGINAL (chave = device.name), aplicando o multiplier\nconst originalMap = readings.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  const { multiplier } = parseMultiplier(device.name);\n  const valueToAdd = reading.value * multiplier;\n\n  if (!(device.name in acc)) {\n    acc[device.name] = [];\n  }\n\n  acc[device.name].push({\n    ts: new Date(reading.timestamp).getTime(),\n    values: { pulses: valueToAdd },\n  });\n\n  return acc;\n}, {});\n\n// 2) CRIA UMA CÓPIA COM NOMES \"LIMPOS\" (pode fundir chaves que virem iguais)\nconst normalizedMap = Object.entries(originalMap).reduce((out, [rawName, arr]) => {\n  const cleanName = getNameWithoutMultipliers(rawName);\n  if (!out[cleanName]) out[cleanName] = [];\n  out[cleanName].push(...arr);\n  return out;\n}, {});\n\nmsg.payload = normalizedMap;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 740,
    "y": 1180,
    "wires": [["fad46950.be3c4", "2939ab33.8f443c"]]
  },
  {
    "id": "fad46950.be3c4",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 895,
    "y": 1220,
    "wires": [],
    "l": false
  },
  {
    "id": "2939ab33.8f443c",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "Queue",
    "func": "const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 930,
    "y": 1180,
    "wires": [["d4f0b64f.05eaa", "413d5aab.caf6ec"]]
  },
  {
    "id": "d4f0b64f.05eaa",
    "type": "debug",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1055,
    "y": 1220,
    "wires": [],
    "l": false
  },
  {
    "id": "413d5aab.caf6ec",
    "type": "link out",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "links": ["2f1d74fd.9c97fc", "a7bdc5a7.539fe8"],
    "x": 1055,
    "y": 1180,
    "wires": []
  },
  {
    "id": "8b188fbf.dd3c68",
    "type": "function",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 1220,
    "wires": [[]]
  },
  {
    "id": "6ed44342.a01ce4",
    "type": "postgresql",
    "z": "87b3fa43.bc6a48",
    "g": "57d0ecf6.4ddc84",
    "name": "Get last 15 minutes",
    "query": "SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;",
    "postgreSQLConfig": "5cae6e79.1af5a",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 530,
    "y": 1180,
    "wires": [["ff51c217.2d3668", "2e769f2f.a56258"]]
  }
]
