src/NODE-RED/WEST-PLAZA/bkp-node-red-central-1982b47d-2e82-40df-94cc-f89ae12cba58-2026-04-17-12-06.json
[
  { "id": "7dd864f5.7e00ec", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "2cadcd04.de1ff2", "type": "tab", "label": "Thingsboard", "disabled": false, "info": "" },
  {
    "id": "6aa2d64c.7c2d58",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "9d296fb6.8302b",
      "ea3c563b.84ebe8",
      "bb638599.31abb8",
      "dbf10ba.b4181f8",
      "b0d36d.d7896c9",
      "958abd31.7566",
      "2129af69.05ed6",
      "ad1d0e33.cf6f5",
      "5d952e9b.da68e",
      "12c16f62.71ddb1",
      "5820ee2f.90f"
    ],
    "x": 14,
    "y": 39
  },
  {
    "id": "c4ae64eb.f82c88",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "send check",
    "style": { "label": true },
    "nodes": ["563c0479.f8ecbc", "fafbec1c.7beb5"],
    "x": 1214,
    "y": 239
  },
  {
    "id": "d2b99440.ec2208",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "Get pulses every 10 min",
    "style": { "label": true },
    "nodes": [
      "726d4de7.d31814",
      "3b6fb47.c12e2cc",
      "64aa322b.7ece94",
      "2ed30c94.7119c4",
      "8b839384.698c88",
      "3f2ce735.b9287",
      "e43891c2.3de768",
      "d2068248.85afa"
    ],
    "x": 34,
    "y": 910
  },
  {
    "id": "90dbb6be.df082",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "96bf1dba.adda98",
      "37b33264.7781ae",
      "3e08db3e.cb3ffc",
      "89c4ab01.74c87",
      "d966e2dd.7c2b68",
      "2c2c1cf9.f0ce64",
      "dd211f2.2358de",
      "5244cae8.236954",
      "94c59d97.120d18",
      "bcc0fcf4.c6d0c",
      "6a989885.d142f8",
      "8b8968bc.17469",
      "ac81029b.748318",
      "c30cdfc8.463fa8",
      "4641fc54.51ebec",
      "1895253c.97f303",
      "f14ac15f.4b23f",
      "e3431615.55ca28",
      "73a650c3.eb7718",
      "ca6ae2b5.556d38"
    ],
    "x": 14,
    "y": 239
  },
  {
    "id": "5e29defc.123368",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": ["457eff7.9a8848", "9fcab38b.c994c", "c3380aef.97848", "660f931d.6a918c", "7bf12bbe.11d06c"],
    "x": 1214,
    "y": 339
  },
  {
    "id": "b7bab354.d04f78",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["47027517.4c1574", "2779bdb0.5a8d82", "71bda424.1afbb4", "a589e5e6.f6244"],
    "x": 1214,
    "y": 599
  },
  {
    "id": "be0e1e19.dccf9",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.data.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard PE",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "54glzvemv14m41xm3l40",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "450c37d5.ec80e8",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "92e245bb.e5ee7",
    "type": "data-fetcher",
    "z": "7dd864f5.7e00ec",
    "name": "",
    "mqtt": "be0e1e19.dccf9",
    "uuidOverride": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "9d296fb6.8302b",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 140,
    "wires": [["ea3c563b.84ebe8"]]
  },
  {
    "id": "ea3c563b.84ebe8",
    "type": "get-data",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "selectedOption": "slaves",
    "x": 300,
    "y": 140,
    "wires": [["bb638599.31abb8", "958abd31.7566"]]
  },
  {
    "id": "bb638599.31abb8",
    "type": "split",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 470,
    "y": 140,
    "wires": [["dbf10ba.b4181f8"]]
  },
  {
    "id": "dbf10ba.b4181f8",
    "type": "switch",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 630,
    "y": 140,
    "wires": [["b0d36d.d7896c9"], ["2129af69.05ed6"], ["ad1d0e33.cf6f5"]]
  },
  {
    "id": "b0d36d.d7896c9",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 970,
    "y": 100,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "958abd31.7566",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "2129af69.05ed6",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 930,
    "y": 140,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "ad1d0e33.cf6f5",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 970,
    "y": 180,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "5d952e9b.da68e",
    "type": "join",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "mode": "auto",
    "build": "string",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1210,
    "y": 140,
    "wires": [["12c16f62.71ddb1"]]
  },
  {
    "id": "12c16f62.71ddb1",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Merge",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1350,
    "y": 140,
    "wires": [["5820ee2f.90f"]]
  },
  {
    "id": "5820ee2f.90f",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1540,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "19ba1aeb.9b303d",
    "type": "http in",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "url": "/check_device/:deviceName",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 740,
    "wires": [["a91e478b.3710c"]]
  },
  {
    "id": "a91e478b.3710c",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "name": "Find device from name",
    "func": "const flowDevices = flow.get('devices') || {};\nconst deviceName = msg.req.params.deviceName;\n\nconst foundDevice = flowDevices[deviceName];\n\nif (!flowDevices[deviceName]) {\n    node.warn('DEVICE NOT FOUND' + deviceName);\n    return null;\n}\n\nmsg.payload = {\n    slave: {\n        id: foundDevice.slaveId\n    }\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 480,
    "y": 740,
    "wires": [["fb300d20.409778", "668f1475.5d2724", "8ff50adb.47f21", "6fd6f1ba.b94d8", "fd2a749b.d6bed8"]]
  },
  { "id": "668f1475.5d2724", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 890, "y": 820, "wires": [] },
  {
    "id": "2df85a9c.5f2806",
    "type": "http response",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 860,
    "y": 860,
    "wires": []
  },
  {
    "id": "fb300d20.409778",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{ \"status\": \"ok\" }", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 780,
    "wires": [["2df85a9c.5f2806"]]
  },
  {
    "id": "8ff50adb.47f21",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 860,
    "wires": []
  },
  {
    "id": "6fd6f1ba.b94d8",
    "type": "delay",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 890,
    "y": 780,
    "wires": [["3a2f6030.e62948"]]
  },
  {
    "id": "fd2a749b.d6bed8",
    "type": "delay",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 920,
    "y": 740,
    "wires": [["a08a5b5e.2b9928"]]
  },
  { "id": "3a2f6030.e62948", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 1050, "y": 780, "wires": [] },
  { "id": "a08a5b5e.2b9928", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 1070, "y": 740, "wires": [] },
  {
    "id": "563c0479.f8ecbc",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1330,
    "y": 280,
    "wires": [["fafbec1c.7beb5"]]
  },
  {
    "id": "fafbec1c.7beb5",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1475,
    "y": 280,
    "wires": [],
    "l": false
  },
  {
    "id": "726d4de7.d31814",
    "type": "postgresql",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};",
    "postgreSQLConfig": "450c37d5.ec80e8",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 570,
    "y": 1000,
    "wires": [["8b839384.698c88", "3f2ce735.b9287"]]
  },
  {
    "id": "3b6fb47.c12e2cc",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1000,
    "wires": [["d2068248.85afa"]]
  },
  {
    "id": "64aa322b.7ece94",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 370,
    "y": 1000,
    "wires": [["726d4de7.d31814", "2ed30c94.7119c4"]]
  },
  {
    "id": "2ed30c94.7119c4",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 960,
    "wires": []
  },
  {
    "id": "8b839384.698c88",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "Map devices",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId, channel) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId\n            && device.channelId === channel) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id, reading.channel);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    acc[device.name].push({\n        ts: new Date(reading.timestamp).getTime(),\n        values: {\n            pulses: reading.value,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 790,
    "y": 1000,
    "wires": [["e43891c2.3de768"]]
  },
  {
    "id": "3f2ce735.b9287",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 960,
    "wires": []
  },
  {
    "id": "e43891c2.3de768",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 997,
    "y": 951,
    "wires": []
  },
  {
    "id": "d2068248.85afa",
    "type": "postgresql",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '5 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 270,
    "y": 960,
    "wires": [["64aa322b.7ece94"]]
  },
  {
    "id": "96bf1dba.adda98",
    "type": "myio-emitter",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "x": 90,
    "y": 540,
    "wires": [
      ["37b33264.7781ae"],
      ["3e08db3e.cb3ffc"],
      ["89c4ab01.74c87"],
      [],
      [],
      ["3e08db3e.cb3ffc"],
      ["d966e2dd.7c2b68"],
      ["2c2c1cf9.f0ce64"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "37b33264.7781ae",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 320,
    "wires": [["8b8968bc.17469"]],
    "l": false
  },
  {
    "id": "3e08db3e.cb3ffc",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 400,
    "wires": [["ac81029b.748318"]],
    "l": false
  },
  {
    "id": "89c4ab01.74c87",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 480,
    "wires": [["e3431615.55ca28"]],
    "l": false
  },
  {
    "id": "d966e2dd.7c2b68",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 560,
    "wires": [["4641fc54.51ebec"]],
    "l": false
  },
  {
    "id": "2c2c1cf9.f0ce64",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 640,
    "wires": [["1895253c.97f303"]],
    "l": false
  },
  {
    "id": "dd211f2.2358de",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 350,
    "y": 280,
    "wires": []
  },
  {
    "id": "5244cae8.236954",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Temperatura",
    "info": "",
    "x": 310,
    "y": 360,
    "wires": []
  },
  {
    "id": "94c59d97.120d18",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Potencia",
    "info": "",
    "x": 300,
    "y": 440,
    "wires": []
  },
  {
    "id": "bcc0fcf4.c6d0c",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Corrente",
    "info": "",
    "x": 300,
    "y": 520,
    "wires": []
  },
  {
    "id": "6a989885.d142f8",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Voltagem",
    "info": "",
    "x": 300,
    "y": 600,
    "wires": []
  },
  {
    "id": "8b8968bc.17469",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 590,
    "y": 320,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "ac81029b.748318",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 640,
    "y": 400,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "c30cdfc8.463fa8",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 650,
    "y": 500,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "4641fc54.51ebec",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 630,
    "y": 560,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "1895253c.97f303",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 630,
    "y": 640,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "f14ac15f.4b23f",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform consumption reading to nivel de agua",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nlet [_ignore, deviceName, offset, height, multiplier] = slave.name.split(' ');\n\n\noffset = parseInt(offset, 10);\nmultiplier = parseFloat(multiplier.replace(/x/i, ''));\nheight = parseInt(height);\n\n\nconst waterLevel = (msg.payload.value - offset) * multiplier;\nconst percentage = parseFloat((waterLevel / height).toFixed(2));\n\nmsg.payload = {\n    [deviceName]: [{\n        water_level: waterLevel,\n        water_percentage: percentage,\n    }]\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 640,
    "y": 460,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "e3431615.55ca28",
    "type": "switch",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "SCD?",
    "property": "slave.name",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "SCD", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 480,
    "wires": [["f14ac15f.4b23f"], ["c30cdfc8.463fa8"]]
  },
  {
    "id": "73a650c3.eb7718",
    "type": "mqtt out",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1060,
    "y": 460,
    "wires": []
  },
  {
    "id": "ca6ae2b5.556d38",
    "type": "link in",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "",
    "links": ["d6f1caba8309f5de", "a589e5e6.f6244"],
    "x": 1025,
    "y": 620,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "457eff7.9a8848",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1350,
    "y": 440,
    "wires": [["9fcab38b.c994c"]]
  },
  {
    "id": "9fcab38b.c994c",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "func": "const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '').toUpperCase().normalize('NFD').replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (upper.includes('ENTRADA') || upper.includes('SUBESTACAO') || upper.includes('SUBESTACAO') || upper.includes('SUBEST')) return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (upper.includes('CAIXA DAGUA') || upper.includes('CX DAGUA') || upper.includes('CXDAGUA') || upper.includes('SCD'))\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key];\n    \n    if (devices[key].slaveId && devices[key].name) {\n        const cleanName = getNameWithoutMultipliers(device.name);    \n    \n        newDeviceList[cleanName] = {\n            deviceType: handleDeviceType(key),\n            centralId: centralId,\n            slaveId: devices[key].slaveId\n        };\n    }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1320,
    "y": 540,
    "wires": [["c3380aef.97848"]]
  },
  {
    "id": "c3380aef.97848",
    "type": "mqtt out",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1700,
    "y": 420,
    "wires": []
  },
  {
    "id": "660f931d.6a918c",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1700,
    "y": 540,
    "wires": []
  },
  {
    "id": "7bf12bbe.11d06c",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1430,
    "y": 380,
    "wires": []
  },
  {
    "id": "47027517.4c1574",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1330,
    "y": 640,
    "wires": [["2779bdb0.5a8d82"]]
  },
  {
    "id": "2779bdb0.5a8d82",
    "type": "http request",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1370,
    "y": 700,
    "wires": [["71bda424.1afbb4"]]
  },
  {
    "id": "71bda424.1afbb4",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1380,
    "y": 780,
    "wires": [["a589e5e6.f6244"]]
  },
  {
    "id": "a589e5e6.f6244",
    "type": "link out",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "link out 3",
    "links": ["ca6ae2b5.556d38"],
    "x": 1535,
    "y": 680,
    "wires": []
  }
]
