src/NODE-RED/WEST-PLAZA/node-red-central-1982b47d-2e82-40df-94cc-f89ae12cba58-2026-04-17-12-25.json
[
  { "id": "7dd864f5.7e00ec", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "2cadcd04.de1ff2", "type": "tab", "label": "Thingsboard", "disabled": false, "info": "" },
  { "id": "de609e9a.9f8828", "type": "tab", "label": "Notifics", "disabled": false, "info": "" },
  { "id": "1743976c.0baf21", "type": "tab", "label": "Check Offline", "disabled": false, "info": "" },
  { "id": "7faf43de.b3ec9c", "type": "tab", "label": "Check last day data", "disabled": false, "info": "" },
  {
    "id": "6aa2d64c.7c2d58",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "9d296fb6.8302b",
      "ea3c563b.84ebe8",
      "bb638599.31abb8",
      "dbf10ba.b4181f8",
      "b0d36d.d7896c9",
      "958abd31.7566",
      "2129af69.05ed6",
      "ad1d0e33.cf6f5",
      "5d952e9b.da68e",
      "12c16f62.71ddb1",
      "5820ee2f.90f"
    ],
    "x": 14,
    "y": 39,
    "w": 1652,
    "h": 182
  },
  {
    "id": "c4ae64eb.f82c88",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "send check",
    "style": { "label": true },
    "nodes": ["563c0479.f8ecbc", "fafbec1c.7beb5"],
    "x": 1214,
    "y": 239,
    "w": 322,
    "h": 82
  },
  {
    "id": "d2b99440.ec2208",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "Get pulses every 10 min",
    "style": { "label": true },
    "nodes": [
      "726d4de7.d31814",
      "3b6fb47.c12e2cc",
      "64aa322b.7ece94",
      "2ed30c94.7119c4",
      "8b839384.698c88",
      "3f2ce735.b9287",
      "e43891c2.3de768",
      "d2068248.85afa"
    ],
    "x": 34,
    "y": 910,
    "w": 1079,
    "h": 131
  },
  {
    "id": "90dbb6be.df082",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "96bf1dba.adda98",
      "37b33264.7781ae",
      "3e08db3e.cb3ffc",
      "89c4ab01.74c87",
      "d966e2dd.7c2b68",
      "2c2c1cf9.f0ce64",
      "dd211f2.2358de",
      "5244cae8.236954",
      "94c59d97.120d18",
      "bcc0fcf4.c6d0c",
      "6a989885.d142f8",
      "8b8968bc.17469",
      "ac81029b.748318",
      "c30cdfc8.463fa8",
      "4641fc54.51ebec",
      "1895253c.97f303",
      "f14ac15f.4b23f",
      "e3431615.55ca28",
      "73a650c3.eb7718",
      "ca6ae2b5.556d38"
    ],
    "x": 14,
    "y": 239,
    "w": 1172,
    "h": 442
  },
  {
    "id": "5e29defc.123368",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": ["457eff7.9a8848", "9fcab38b.c994c", "c3380aef.97848", "660f931d.6a918c", "7bf12bbe.11d06c"],
    "x": 1214,
    "y": 339,
    "w": 612,
    "h": 242
  },
  {
    "id": "b7bab354.d04f78",
    "type": "group",
    "z": "2cadcd04.de1ff2",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["47027517.4c1574", "2779bdb0.5a8d82", "71bda424.1afbb4", "a589e5e6.f6244"],
    "x": 1214,
    "y": 599,
    "w": 362,
    "h": 222
  },
  {
    "id": "be0e1e19.dccf9",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.data.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard PE",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "54glzvemv14m41xm3l40",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "450c37d5.ec80e8",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "b7242f71.79e57",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "92e245bb.e5ee7",
    "type": "data-fetcher",
    "z": "7dd864f5.7e00ec",
    "name": "",
    "mqtt": "be0e1e19.dccf9",
    "uuidOverride": "",
    "x": 110,
    "y": 40,
    "wires": []
  },
  {
    "id": "9d296fb6.8302b",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 140,
    "wires": [["ea3c563b.84ebe8"]]
  },
  {
    "id": "ea3c563b.84ebe8",
    "type": "get-data",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "selectedOption": "slaves",
    "x": 300,
    "y": 140,
    "wires": [["bb638599.31abb8", "958abd31.7566"]]
  },
  {
    "id": "bb638599.31abb8",
    "type": "split",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 470,
    "y": 140,
    "wires": [["dbf10ba.b4181f8"]]
  },
  {
    "id": "dbf10ba.b4181f8",
    "type": "switch",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 630,
    "y": 140,
    "wires": [["b0d36d.d7896c9"], ["2129af69.05ed6"], ["ad1d0e33.cf6f5"]]
  },
  {
    "id": "b0d36d.d7896c9",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 970,
    "y": 100,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "958abd31.7566",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "2129af69.05ed6",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 930,
    "y": 140,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "ad1d0e33.cf6f5",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 970,
    "y": 180,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "5d952e9b.da68e",
    "type": "join",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "mode": "auto",
    "build": "string",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1210,
    "y": 140,
    "wires": [["12c16f62.71ddb1"]]
  },
  {
    "id": "12c16f62.71ddb1",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Merge",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1350,
    "y": 140,
    "wires": [["5820ee2f.90f"]]
  },
  {
    "id": "5820ee2f.90f",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "g": "6aa2d64c.7c2d58",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1540,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "19ba1aeb.9b303d",
    "type": "http in",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "url": "/check_device/:deviceName",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 740,
    "wires": [["a91e478b.3710c"]]
  },
  {
    "id": "a91e478b.3710c",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "name": "Find device from name",
    "func": "const flowDevices = flow.get('devices') || {};\nconst deviceName = (msg.req.params.deviceName || '').trim();\n\n// 1. Exact match\nlet foundDevice = flowDevices[deviceName];\nlet matchedKey = deviceName;\n\n// 2. Stored key starts with query (\"3F Trafo CAG 1\" → \"3F Trafo CAG 1 x400 x400A\")\nif (!foundDevice) {\n  matchedKey = Object.keys(flowDevices).find(key =>\n    key.startsWith(deviceName + ' ') || key.startsWith(deviceName + '\\t')\n  );\n  foundDevice = matchedKey ? flowDevices[matchedKey] : undefined;\n}\n\n// 3. Query starts with stored key (\"3F Trafo CAG 1 -8\" → \"3F Trafo CAG 1\")\nif (!foundDevice) {\n  matchedKey = Object.keys(flowDevices).find(key =>\n    deviceName.startsWith(key + ' ') || deviceName.startsWith(key + '\\t')\n  );\n  foundDevice = matchedKey ? flowDevices[matchedKey] : undefined;\n}\n\nif (!foundDevice) {\n  node.warn('DEVICE NOT FOUND: ' + deviceName);\n  return null;\n}\n\nnode.debug('Device lookup: \"' + deviceName + '\" → \"' + matchedKey + '\"');\n\nmsg.payload = {\n  slave: {\n    id: foundDevice.slaveId,\n  },\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 480,
    "y": 740,
    "wires": [["fb300d20.409778", "668f1475.5d2724", "8ff50adb.47f21", "6fd6f1ba.b94d8", "fd2a749b.d6bed8"]]
  },
  { "id": "668f1475.5d2724", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 890, "y": 820, "wires": [] },
  {
    "id": "2df85a9c.5f2806",
    "type": "http response",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 860,
    "y": 860,
    "wires": []
  },
  {
    "id": "fb300d20.409778",
    "type": "change",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{ \"status\": \"ok\" }", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 660,
    "y": 780,
    "wires": [["2df85a9c.5f2806"]]
  },
  {
    "id": "8ff50adb.47f21",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 860,
    "wires": []
  },
  {
    "id": "6fd6f1ba.b94d8",
    "type": "delay",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 890,
    "y": 780,
    "wires": [["3a2f6030.e62948"]]
  },
  {
    "id": "fd2a749b.d6bed8",
    "type": "delay",
    "z": "2cadcd04.de1ff2",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 920,
    "y": 740,
    "wires": [["a08a5b5e.2b9928"]]
  },
  { "id": "3a2f6030.e62948", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 1050, "y": 780, "wires": [] },
  { "id": "a08a5b5e.2b9928", "type": "send-check", "z": "2cadcd04.de1ff2", "x": 1070, "y": 740, "wires": [] },
  {
    "id": "563c0479.f8ecbc",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1330,
    "y": 280,
    "wires": [["fafbec1c.7beb5"]]
  },
  {
    "id": "fafbec1c.7beb5",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1475,
    "y": 280,
    "wires": [],
    "l": false
  },
  {
    "id": "726d4de7.d31814",
    "type": "postgresql",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};",
    "postgreSQLConfig": "450c37d5.ec80e8",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 570,
    "y": 1000,
    "wires": [["8b839384.698c88", "3f2ce735.b9287"]]
  },
  {
    "id": "3b6fb47.c12e2cc",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1000,
    "wires": [["d2068248.85afa"]]
  },
  {
    "id": "64aa322b.7ece94",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 370,
    "y": 1000,
    "wires": [["726d4de7.d31814", "2ed30c94.7119c4"]]
  },
  {
    "id": "2ed30c94.7119c4",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 960,
    "wires": []
  },
  {
    "id": "8b839384.698c88",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "Map devices",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId, channel) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId\n            && device.channelId === channel) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id, reading.channel);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    acc[device.name].push({\n        ts: new Date(reading.timestamp).getTime(),\n        values: {\n            pulses: reading.value,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 790,
    "y": 1000,
    "wires": [["e43891c2.3de768"]]
  },
  {
    "id": "3f2ce735.b9287",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 960,
    "wires": []
  },
  {
    "id": "e43891c2.3de768",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 997,
    "y": 951,
    "wires": []
  },
  {
    "id": "d2068248.85afa",
    "type": "postgresql",
    "z": "2cadcd04.de1ff2",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '5 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 270,
    "y": 960,
    "wires": [["64aa322b.7ece94"]]
  },
  {
    "id": "96bf1dba.adda98",
    "type": "myio-emitter",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "x": 90,
    "y": 540,
    "wires": [
      ["37b33264.7781ae"],
      ["3e08db3e.cb3ffc"],
      ["89c4ab01.74c87"],
      [],
      [],
      ["3e08db3e.cb3ffc"],
      ["d966e2dd.7c2b68"],
      ["2c2c1cf9.f0ce64"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "37b33264.7781ae",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 320,
    "wires": [["8b8968bc.17469"]],
    "l": false
  },
  {
    "id": "3e08db3e.cb3ffc",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 400,
    "wires": [["ac81029b.748318"]],
    "l": false
  },
  {
    "id": "89c4ab01.74c87",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 480,
    "wires": [["e3431615.55ca28"]],
    "l": false
  },
  {
    "id": "d966e2dd.7c2b68",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 560,
    "wires": [["4641fc54.51ebec"]],
    "l": false
  },
  {
    "id": "2c2c1cf9.f0ce64",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 255,
    "y": 640,
    "wires": [["1895253c.97f303"]],
    "l": false
  },
  {
    "id": "dd211f2.2358de",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 350,
    "y": 280,
    "wires": []
  },
  {
    "id": "5244cae8.236954",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Temperatura",
    "info": "",
    "x": 310,
    "y": 360,
    "wires": []
  },
  {
    "id": "94c59d97.120d18",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Potencia",
    "info": "",
    "x": 300,
    "y": 440,
    "wires": []
  },
  {
    "id": "bcc0fcf4.c6d0c",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Corrente",
    "info": "",
    "x": 300,
    "y": 520,
    "wires": []
  },
  {
    "id": "6a989885.d142f8",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Voltagem",
    "info": "",
    "x": 300,
    "y": 600,
    "wires": []
  },
  {
    "id": "8b8968bc.17469",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 590,
    "y": 320,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "ac81029b.748318",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 640,
    "y": 400,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "c30cdfc8.463fa8",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 650,
    "y": 500,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "4641fc54.51ebec",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 630,
    "y": 560,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "1895253c.97f303",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 630,
    "y": 640,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "f14ac15f.4b23f",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "Transform consumption reading to nivel de agua",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nlet [_ignore, deviceName, offset, height, multiplier] = slave.name.split(' ');\n\n\noffset = parseInt(offset, 10);\nmultiplier = parseFloat(multiplier.replace(/x/i, ''));\nheight = parseInt(height);\n\n\nconst waterLevel = (msg.payload.value - offset) * multiplier;\nconst percentage = parseFloat((waterLevel / height).toFixed(2));\n\nmsg.payload = {\n    [deviceName]: [{\n        water_level: waterLevel,\n        water_percentage: percentage,\n    }]\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 640,
    "y": 460,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "e3431615.55ca28",
    "type": "switch",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "SCD?",
    "property": "slave.name",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "SCD", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 480,
    "wires": [["f14ac15f.4b23f"], ["c30cdfc8.463fa8"]]
  },
  {
    "id": "73a650c3.eb7718",
    "type": "mqtt out",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1060,
    "y": 460,
    "wires": []
  },
  {
    "id": "ca6ae2b5.556d38",
    "type": "link in",
    "z": "2cadcd04.de1ff2",
    "g": "90dbb6be.df082",
    "name": "",
    "links": ["d6f1caba8309f5de", "a589e5e6.f6244"],
    "x": 1025,
    "y": 620,
    "wires": [["73a650c3.eb7718"]]
  },
  {
    "id": "457eff7.9a8848",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1350,
    "y": 440,
    "wires": [["9fcab38b.c994c"]]
  },
  {
    "id": "9fcab38b.c994c",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "func": "const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1320,
    "y": 540,
    "wires": [["c3380aef.97848"]]
  },
  {
    "id": "c3380aef.97848",
    "type": "mqtt out",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1700,
    "y": 420,
    "wires": []
  },
  {
    "id": "660f931d.6a918c",
    "type": "debug",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1700,
    "y": 540,
    "wires": []
  },
  {
    "id": "7bf12bbe.11d06c",
    "type": "comment",
    "z": "2cadcd04.de1ff2",
    "g": "5e29defc.123368",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1430,
    "y": 380,
    "wires": []
  },
  {
    "id": "47027517.4c1574",
    "type": "inject",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1330,
    "y": 640,
    "wires": [["2779bdb0.5a8d82"]]
  },
  {
    "id": "2779bdb0.5a8d82",
    "type": "http request",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1370,
    "y": 700,
    "wires": [["71bda424.1afbb4"]]
  },
  {
    "id": "71bda424.1afbb4",
    "type": "function",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1380,
    "y": 780,
    "wires": [["a589e5e6.f6244"]]
  },
  {
    "id": "a589e5e6.f6244",
    "type": "link out",
    "z": "2cadcd04.de1ff2",
    "g": "b7bab354.d04f78",
    "name": "link out 3",
    "links": ["ca6ae2b5.556d38"],
    "x": 1535,
    "y": 680,
    "wires": []
  },
  {
    "id": "c28a1eef.0cae78",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 715,
    "y": 80,
    "wires": [["3be61591.662772", "9fc84a01.a4e7e8"]],
    "l": false
  },
  {
    "id": "879db4b7.51b728",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "Get Bundle",
    "props": [
      { "p": "base_url", "v": "https://gcdr-api.a.myio-bas.com/api/v1", "vt": "str" },
      { "p": "vers", "v": "vers", "vt": "flow" },
      { "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" },
      { "p": "custumer_id", "v": "c9d32590-a6cd-11f0-afe1-175479a33d89", "vt": "str" },
      {
        "p": "headers",
        "v": "{\t   \"X-API-Key\": \"gcdr_2a1d44ae1c63b1709485e6f89b3f25c62b271ef6704be09087cce4650cf2c1ff\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id,\t   \"X-Version-Id\":$type(vers) = \"string\"?\t      vers\t   :\t      \"Undefined\"\t}",
        "vt": "jsonata"
      },
      {
        "p": "url",
        "v": "base_url&\"/customers/\"&custumer_id&\"/alarm-rules/bundle/simple\" ",
        "vt": "jsonata"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [["dce50d11.9625e", "7d4fe643.53065"]]
  },
  {
    "id": "46db82fe.09c4ac",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "Get Status",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 160,
    "wires": [["58bb82f1.9b895c"]]
  },
  {
    "id": "58bb82f1.9b895c",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 245,
    "y": 160,
    "wires": [["cc526969.50cb28"]],
    "l": false
  },
  {
    "id": "cc526969.50cb28",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 184",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 315,
    "y": 140,
    "wires": [],
    "l": false
  },
  {
    "id": "3be61591.662772",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 63",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 775,
    "y": 40,
    "wires": [],
    "l": false
  },
  {
    "id": "3ef0d1a3.7e23f6",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "Start notific",
    "props": [{ "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 120,
    "y": 580,
    "wires": [["1cdebcd4.7b22fb"]]
  },
  {
    "id": "1cdebcd4.7b22fb",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 235,
    "y": 580,
    "wires": [["8079c54d.67cc5", "d516a4f7.e6455", "3f8caf6.f68a7d"]],
    "l": false
  },
  {
    "id": "8079c54d.67cc5",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 199",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 305,
    "y": 540,
    "wires": [],
    "l": false
  },
  {
    "id": "dce50d11.9625e",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 201",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 275,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "7d4fe643.53065",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "flow rules lost ?",
    "property": "rules",
    "propertyType": "flow",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 400,
    "y": 80,
    "wires": [["c28a1eef.0cae78"], ["f34cb6b.b4335c8"]]
  },
  {
    "id": "9fc84a01.a4e7e8",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "equal vers?",
    "property": "payload.versionId = vers",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 830,
    "y": 80,
    "wires": [["5c43ad9.2659c54"], ["10f7a903.29aae7", "4b933d0d.98c8a4"]]
  },
  {
    "id": "e7895b75.f6d9a8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      },
      { "t": "set", "p": "last", "pt": "flow", "to": "", "tot": "date" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1320,
    "y": 1100,
    "wires": [["ed84a412.8c1a08", "49f68a2b.69456c"]]
  },
  {
    "id": "ed84a412.8c1a08",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 203",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1435,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "b96b4a57.668458",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1495,
    "y": 1100,
    "wires": [["a683fd51.8f59a", "b8eb1324.5a525"]],
    "l": false
  },
  {
    "id": "a683fd51.8f59a",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 204",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1555,
    "y": 1080,
    "wires": [],
    "l": false
  },
  {
    "id": "630d7aec.c3276c",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "configure var to request",
    "rules": [
      { "t": "delete", "p": "slaves", "pt": "msg" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t    $today:= $string($number($now('[F1]','-0300'))%7);\t    $pre:=$now('[Y0000]-[M00]-[D00]T','-0300');\t[$each(rules, function($v,$k){\t    $contains($v.metric, 'nerg') and $lookup($v.daysOfWeek, $today)?\t        (\t        $start:=( $toMillis($pre&$v.startAt&\":00.000Z\")  );\t        $end:= ( $toMillis($pre&$v.endAt&\":00.000Z\")  );\t        {\t\t            \"rule\": $k,\t            \"id\":$reduce([$keys($v.slaves)], function ($acc,$va,$i){\t                $i = 0?\t                    $va\t                :\t                    $acc & \", \"&$va\t            },''),\t            \"start\": $start <= $end?\t                    $substringBefore($replace( $fromMillis($start + 10800000), 'T', ' '), '.')\t                :\t                    $substringBefore($replace( $fromMillis($start - 75600000), 'T', ' '), '.')\t                ,\t            \"end\": \t                    $substringBefore($replace( $fromMillis($end + 10800000), 'T', ' '), '.')\t                \t            \t        }\t        )\t})]\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 640,
    "wires": [["57a6bd36.6b9df4", "57374cb5.94a42c"]]
  },
  {
    "id": "57a6bd36.6b9df4",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 205",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1055,
    "y": 640,
    "wires": [],
    "l": false
  },
  {
    "id": "57374cb5.94a42c",
    "type": "split",
    "z": "de609e9a.9f8828",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 410,
    "y": 700,
    "wires": [["a368f98b.2fd6d"]]
  },
  {
    "id": "33c597f5.4d9fe",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 206",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 615,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "fcac3bd3.4bcf28",
    "type": "postgresql",
    "z": "de609e9a.9f8828",
    "name": "Get consumption",
    "query": "SELECT\n    slave_id,\n    avg_value,\n    TO_CHAR(period, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS period\nFROM (\n    SELECT\n        slave_id,\n        AVG(value) AS avg_value,\n        time_bucket('15 minutes', timestamp) AS period\n    FROM consumption_realtime\n    WHERE\n        slave_id IN ({{msg.payload.id}})\n        AND timestamp BETWEEN '{{msg.payload.start}}' AND '{{msg.payload.end}}'\n    GROUP BY\n        slave_id,\n        period\n) bucketed\nORDER BY period DESC",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 750,
    "y": 700,
    "wires": [["38c09f28.13b708", "5db2115d.76f938"]]
  },
  {
    "id": "74311857.d68038",
    "type": "trigger",
    "z": "de609e9a.9f8828",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "300",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 715,
    "y": 640,
    "wires": [["630d7aec.c3276c"]],
    "l": false
  },
  {
    "id": "ec7b04e5.df4c98",
    "type": "delay",
    "z": "de609e9a.9f8828",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 655,
    "y": 640,
    "wires": [["74311857.d68038"]],
    "l": false
  },
  {
    "id": "49f68a2b.69456c",
    "type": "delay",
    "z": "de609e9a.9f8828",
    "name": "",
    "pauseType": "rate",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "25",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1435,
    "y": 1100,
    "wires": [["b96b4a57.668458"]],
    "l": false
  },
  {
    "id": "2cf6b3a1.d9469c",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "check trigger",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t  (\t      $rule := $lookup(rules, current.rule);\t      {\t          current.rule: (\t              $ids := $split(current.id, ',');\t              $grouped := $reduce(payload, function($acc, $va) {\t                  (\t                      $key := $string($va.slave_id);\t                      $prev := $lookup($acc, $key);\t                      $merge([$acc, {$key: $append($prev, $va.avg_value * $rule.keyMulti)}])\t                  )\t              }, {});\t              $map($ids, function($v) {\t                  (\t                      $old:=$lookup($lookup(data, current.rule),$lookup($rule.slaves, $trim($v)).cloud_id);\t                      $id_num := $number($trim($v));\t                      $raw := $lookup($grouped, $string($id_num));\t                      $values := $type($raw) = \"array\" ? $raw : $type($raw) = \"number\" ? [$raw] : [];\t                      (\t                      $value:=$count($values) > 0 ? (\t                                  $rule.aggregation = \"AVG\" ? $average($values) :\t                                  $rule.aggregation = \"MIN\" ? $min($values) :\t                                  $rule.aggregation = \"MAX\" ? $max($values) :\t                                  $rule.aggregation = \"SUM\" ? $sum($values) :\t                                  $rule.aggregation = \"COUNT\" ? $count($values) :\t                                  $values[0]\t                              ) : \"No data\";\t                      \t                        $mytrig:=$type($value)=\"number\"?\t                                    (\t                                      ($rule.operator = \"GT\" and $value > $rule.value) or\t                                      ($rule.operator = \"GTE\" and $value >= $rule.value) or\t                                      ($rule.operator = \"LT\" and $value < $rule.value) or\t                                      ($rule.operator = \"LTE\" and $value <= $rule.value) or\t                                      ($rule.operator = \"EQ\" and $value = $rule.value) or\t                                      ($rule.operator = \"NEQ\" and $value != $rule.value) or\t                                      (\t                                      $valeH:= $type($rule.valueHigh) = \"number\"?\t                                          $rule.valueHigh\t                                          :\t                                          0;\t                                      ($rule.operator = \"BETWEEN\" and ($value >= $rule.value and $value <= $valeH)) or\t                                      ($rule.operator = \"OUTSIDE\" and ($value < $rule.value or $value > $valeH))\t                                      )\t                                    )\t                                    :\t                                    (\t                                        $type($old.triggered) = \"boolean\" ?\t                                        $old.triggered :\t                                        false\t                                    ) ;\t                          {\t                              $lookup($rule.slaves, $trim($v)).cloud_id: {\t                                  \"triggered\": $mytrig,\t                                  \"local_id\": $trim($v),\t                                  \"time\": $old.triggered = $mytrig?\t                                    $old.time :\t                                    $now(),\t                                  \"status\": $lookup(slaves, $trim($v)),\t                                  \"value\": $type($value) = \"number\"?\t                                  $round($value,2) :\t                                  $value\t                              }\t                          }\t                      \t                      )\t                  )\t              }) ~> $merge()\t          )\t      }\t  )\t",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "slaves", "pt": "msg" },
      { "t": "delete", "p": "data", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 700,
    "wires": [["d3389185.892c5", "d311fddf.e901b"]]
  },
  {
    "id": "d311fddf.e901b",
    "type": "join",
    "z": "de609e9a.9f8828",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1315,
    "y": 700,
    "wires": [["c9193f57.5e0d", "9ab68ba8.9bf258"]],
    "l": false
  },
  {
    "id": "38c09f28.13b708",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 885,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "c9193f57.5e0d",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1395,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "10f7a903.29aae7",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1060,
    "y": 140,
    "wires": [["9d317b12.50285"]]
  },
  {
    "id": "8bb00978.d039e8",
    "type": "trigger",
    "z": "de609e9a.9f8828",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "50",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 155,
    "y": 1100,
    "wires": [["372973ac.12d26c"]],
    "l": false
  },
  {
    "id": "904a2027.8baa88",
    "type": "link out",
    "z": "de609e9a.9f8828",
    "name": "post in",
    "links": ["286431ba.1b669e"],
    "x": 1355,
    "y": 580,
    "wires": []
  },
  {
    "id": "286431ba.1b669e",
    "type": "link in",
    "z": "de609e9a.9f8828",
    "name": "link in 7",
    "links": ["904a2027.8baa88"],
    "x": 95,
    "y": 1100,
    "wires": [["8bb00978.d039e8"]]
  },
  {
    "id": "d53890.79e8777",
    "type": "persist-in",
    "z": "de609e9a.9f8828",
    "x": 1435,
    "y": 1140,
    "wires": [],
    "l": false
  },
  {
    "id": "4e5bbb14.8823ec",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "save data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"local_data\",\t    \"value\":$lookup(payload,$keys(payload)).rules\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1320,
    "y": 1140,
    "wires": [["d53890.79e8777"]]
  },
  {
    "id": "f44b32ab.81e8a8",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "check data",
    "props": [{ "p": "payload" }],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "data",
    "payloadType": "flow",
    "x": 130,
    "y": 920,
    "wires": [["d310c856.9be7c8"]]
  },
  {
    "id": "d310c856.9be7c8",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "have data?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 290,
    "y": 920,
    "wires": [[], ["e9599de.518116"]]
  },
  {
    "id": "e9599de.518116",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "restore data",
    "rules": [
      { "t": "set", "p": "payload", "pt": "msg", "to": "{\t    \"key\":\"local_data\"\t}", "tot": "jsonata" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 920,
    "wires": [["b3204fef.7e9ce8"]]
  },
  {
    "id": "892e499b.9a3f5",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 635,
    "y": 900,
    "wires": [],
    "l": false
  },
  {
    "id": "b3204fef.7e9ce8",
    "type": "persist-out",
    "z": "de609e9a.9f8828",
    "x": 575,
    "y": 920,
    "wires": [["892e499b.9a3f5", "61f24290.9dfcec"]],
    "l": false
  },
  {
    "id": "61f24290.9dfcec",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "save restored",
    "rules": [{ "t": "set", "p": "data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "9ab68ba8.9bf258",
    "type": "join",
    "z": "de609e9a.9f8828",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "1",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1305,
    "y": 580,
    "wires": [["904a2027.8baa88"]],
    "l": false
  },
  {
    "id": "372973ac.12d26c",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "have data?",
    "property": "data",
    "propertyType": "flow",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 1100,
    "wires": [["ecfc3050.bf183", "eef62563.e649a"], ["11be510b.d50be7"]]
  },
  {
    "id": "11be510b.d50be7",
    "type": "delay",
    "z": "de609e9a.9f8828",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 385,
    "y": 1120,
    "wires": [["eef62563.e649a"]],
    "l": false
  },
  {
    "id": "4fca7755.432ec",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "diff ?",
    "property": "diff",
    "propertyType": "msg",
    "rules": [{ "t": "empty" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 990,
    "y": 1100,
    "wires": [["33648655.561d62"], ["e7895b75.f6d9a8", "d6fcf99.aff3288", "4e5bbb14.8823ec"]]
  },
  {
    "id": "33648655.561d62",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "each 10 mins",
    "property": "(\t    $last:= $flowContext('last');\t$type($last) = \"string\"?\t    $millis() - $toMillis($last) > 600000\t:\t    true\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1150,
    "y": 1080,
    "wires": [["e7895b75.f6d9a8", "7e8afef5.e76db8"]]
  },
  {
    "id": "2fac8298.f56136",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "7e8afef5.e76db8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1275,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "b8eb1324.5a525",
    "type": "link out",
    "z": "de609e9a.9f8828",
    "name": "sent in",
    "links": ["e3e31dd1.42741"],
    "x": 1555,
    "y": 1120,
    "wires": []
  },
  {
    "id": "e3e31dd1.42741",
    "type": "link in",
    "z": "de609e9a.9f8828",
    "name": "sent out",
    "links": ["b8eb1324.5a525"],
    "x": 95,
    "y": 1200,
    "wires": [["e6da1697.e5f8f"]]
  },
  {
    "id": "e6da1697.e5f8f",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 200,
    "y": 1200,
    "wires": [[], ["a48bf244.ab6a68", "db9eb53d.a9b508"]]
  },
  {
    "id": "a48bf244.ab6a68",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 208",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 315,
    "y": 1240,
    "wires": [],
    "l": false
  },
  {
    "id": "12fcfeeb.8806a1",
    "type": "persist-in",
    "z": "de609e9a.9f8828",
    "x": 975,
    "y": 1200,
    "wires": [],
    "l": false
  },
  {
    "id": "e9ec2b19.0b501",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "save all data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"all_data\",\t    \"value\": \t    \t    $merge([\t        (\t            $count($keys(payload)) > 500?\t                $reduce([$spread(payload)], function ($acc,$v,$i){\t                    $millis() - $toMillis($keys($v)) < 604800000 and $i < 500?\t                        [$acc,$v]\t                    :\t                        $acc\t                },[])~>$merge()\t            :\t                payload\t        ),\t        {\t            $now():\t                {\t                    \"rules\": diff,\t                    \"vers\": vers\t                }\t        }\t    ])\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 1200,
    "wires": [["12fcfeeb.8806a1"]]
  },
  {
    "id": "6a945aa9.fb716c",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "restore data",
    "rules": [
      { "t": "set", "p": "payload", "pt": "msg", "to": "{\t    \"key\":\"all_data\"\t}", "tot": "jsonata" },
      { "t": "set", "p": "fail", "pt": "flow", "to": "true", "tot": "bool" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1200,
    "wires": [["c0ad7780.46e388", "cb01af09.a5c7e"]]
  },
  {
    "id": "c0ad7780.46e388",
    "type": "persist-out",
    "z": "de609e9a.9f8828",
    "x": 635,
    "y": 1180,
    "wires": [["c8ddcf7f.29e7d"]],
    "l": false
  },
  {
    "id": "cb01af09.a5c7e",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 635,
    "y": 1220,
    "wires": [["c8ddcf7f.29e7d"]],
    "l": false
  },
  {
    "id": "c8ddcf7f.29e7d",
    "type": "join",
    "z": "de609e9a.9f8828",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "3",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 695,
    "y": 1200,
    "wires": [["bd2fc71d.e003c", "e9ec2b19.0b501"]],
    "l": false
  },
  {
    "id": "db9eb53d.a9b508",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "diff ?",
    "property": "diff",
    "propertyType": "msg",
    "rules": [{ "t": "empty" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 1200,
    "wires": [[], ["6a945aa9.fb716c"]]
  },
  {
    "id": "bd2fc71d.e003c",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 755,
    "y": 1180,
    "wires": [],
    "l": false
  },
  {
    "id": "d6fcf99.aff3288",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1095,
    "y": 1140,
    "wires": [],
    "l": false
  },
  {
    "id": "95ec3b23.c24a08",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "send historic values",
    "props": [{ "p": "payload" }, { "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" }],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"key\":\"all_data\"}",
    "payloadType": "json",
    "x": 180,
    "y": 1320,
    "wires": [["7db99da4.f80894"]]
  },
  {
    "id": "7db99da4.f80894",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "fail ?",
    "property": "fail",
    "propertyType": "flow",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 1320,
    "wires": [["f49807d5.600b48"]]
  },
  {
    "id": "f49807d5.600b48",
    "type": "persist-out",
    "z": "de609e9a.9f8828",
    "x": 465,
    "y": 1320,
    "wires": [["491338a7.2e3518"]],
    "l": false
  },
  {
    "id": "491338a7.2e3518",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 560,
    "y": 1320,
    "wires": [["deda7af4.e30fa", "1ec69b44.0e4e0d"]]
  },
  {
    "id": "deda7af4.e30fa",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 735,
    "y": 1320,
    "wires": [["c51d5220.ff334", "2f3cb852.c36af"]],
    "l": false
  },
  {
    "id": "c51d5220.ff334",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 209",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 1300,
    "wires": [],
    "l": false
  },
  {
    "id": "2f3cb852.c36af",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 900,
    "y": 1320,
    "wires": [["ad68c876.bd29e"], []]
  },
  {
    "id": "ad68c876.bd29e",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "historic received",
    "rules": [{ "t": "set", "p": "fail", "pt": "flow", "to": "false", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 1300,
    "wires": [[]]
  },
  {
    "id": "1ec69b44.0e4e0d",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 210",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 665,
    "y": 1300,
    "wires": [],
    "l": false
  },
  {
    "id": "5c43ad9.2659c54",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 211",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "4b933d0d.98c8a4",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 212",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 100,
    "wires": [],
    "l": false
  },
  {
    "id": "f34cb6b.b4335c8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "delete vers",
    "rules": [{ "t": "delete", "p": "vers", "pt": "flow" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 100,
    "wires": [["c28a1eef.0cae78"]]
  },
  {
    "id": "ba703651.600398",
    "type": "persist-in",
    "z": "de609e9a.9f8828",
    "x": 475,
    "y": 1460,
    "wires": [],
    "l": false
  },
  {
    "id": "1a6cb6e0.3fd479",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "reset all data",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t   \"key\":\"all_data\",\t   \"value\": \t    \t    \t       {}\t}",
    "payloadType": "jsonata",
    "x": 270,
    "y": 1440,
    "wires": [["ba703651.600398"]]
  },
  {
    "id": "843c17b9.fb90c",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "reset local data",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t   \"key\":\"local_data\",\t   \"value\": \t    \t    \t       {}\t}",
    "payloadType": "jsonata",
    "x": 280,
    "y": 1480,
    "wires": [["ba703651.600398"]]
  },
  {
    "id": "a368f98b.2fd6d",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "save payload",
    "rules": [
      { "t": "set", "p": "current", "pt": "msg", "to": "payload", "tot": "msg" },
      { "t": "delete", "p": "_msgid", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 495,
    "y": 700,
    "wires": [["96ac5dbf.39b2d8"]],
    "l": false
  },
  {
    "id": "90991e9b.5ad138",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "Update data",
    "props": [
      { "p": "rules", "v": "rules", "vt": "flow" },
      { "p": "data", "v": "data", "vt": "flow" }
    ],
    "repeat": "20",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 1000,
    "wires": [["41114519.5c8024"]]
  },
  {
    "id": "41114519.5c8024",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "update Data",
    "rules": [
      {
        "t": "set",
        "p": "equal",
        "pt": "msg",
        "to": "$count($keys(data)) <= $count($keys(rules))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 1000,
    "wires": [["a23dc124.e4b87"]]
  },
  {
    "id": "a23dc124.e4b87",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "not equal",
    "property": "equal",
    "propertyType": "msg",
    "rules": [{ "t": "false" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 460,
    "y": 1000,
    "wires": [["b3fb8338.831e9", "4befa4a1.4ba3dc"]]
  },
  {
    "id": "b226ef66.505fa",
    "type": "link out",
    "z": "de609e9a.9f8828",
    "name": "reset data in",
    "links": ["8e64ea63.b8486"],
    "x": 855,
    "y": 980,
    "wires": []
  },
  {
    "id": "b3fb8338.831e9",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "update flow Data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$each(data, function($v,$k){\t    $type($lookup(rules, $k)) = \"object\" ?\t        {$k:$v}\t})]~>$merge()",
        "tot": "jsonata"
      },
      { "t": "set", "p": "data", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 1000,
    "wires": [["b226ef66.505fa", "da827286.ba943"]]
  },
  {
    "id": "4a398daf.fbb49c",
    "type": "persist-in",
    "z": "de609e9a.9f8828",
    "x": 1055,
    "y": 1000,
    "wires": [],
    "l": false
  },
  {
    "id": "da827286.ba943",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "save data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"local_data\",\t    \"value\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 1000,
    "wires": [["4a398daf.fbb49c"]]
  },
  {
    "id": "4befa4a1.4ba3dc",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 575,
    "y": 980,
    "wires": [],
    "l": false
  },
  {
    "id": "5db2115d.76f938",
    "type": "delay",
    "z": "de609e9a.9f8828",
    "name": "",
    "pauseType": "rate",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 935,
    "y": 700,
    "wires": [["2fd1e097.48a6e8"]],
    "l": false
  },
  {
    "id": "d3389185.892c5",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1255,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "615e4a2.0937e34",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1075,
    "y": 740,
    "wires": [],
    "l": false
  },
  {
    "id": "7b2bcf4f.a7fe3",
    "type": "inject",
    "z": "de609e9a.9f8828",
    "name": "",
    "props": [{ "p": "reset", "v": "true", "vt": "bool" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 410,
    "y": 640,
    "wires": [["74311857.d68038"]]
  },
  {
    "id": "2fd1e097.48a6e8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter duration",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$rule := $lookup(rules, current.rule);\t$agora:=$millis();\t$values := \t$reduce(payload, function($acc, $va) {\t    (\t        $val_time := $toMillis($va.period);\t        ($rule.duration = 0 or ($agora - $val_time < $rule.duration)) ?\t            [$acc, $va] : \t            $acc\t    )\t}, []);\t$values\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 995,
    "y": 700,
    "wires": [["2cf6b3a1.d9469c", "615e4a2.0937e34"]],
    "l": false
  },
  {
    "id": "ecfc3050.bf183",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 455,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "e8eb9118.a43c98",
    "type": "http in",
    "z": "de609e9a.9f8828",
    "name": "",
    "url": "/alarm_data",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1740,
    "wires": [["11a4ebdd.55e4a4"]]
  },
  {
    "id": "11a4ebdd.55e4a4",
    "type": "function",
    "z": "de609e9a.9f8828",
    "name": "",
    "func": "msg.payload = {\n  rules: flow.get('rules') || {},\n  data: flow.get('data') || {},\n  slaves: flow.get('slaves') || {},\n  temp: flow.get('temp') || {},\n  pot: flow.get('pot') || {},\n  water: flow.get('water') || {},\n  humid: flow.get('humid') || {},\n  ch: flow.get('ch') || {},\n  timestamp: Date.now()\n};\n\n  msg.headers = {\n      \"Access-Control-Allow-Origin\": \"*\",\n      \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n      \"Access-Control-Allow-Headers\": \"Content-Type\",\n      \"Content-Type\": \"application/json\"\n  };\n\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 1740,
    "wires": [["87c97542.5872a8"]]
  },
  {
    "id": "87c97542.5872a8",
    "type": "http response",
    "z": "de609e9a.9f8828",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 510,
    "y": 1740,
    "wires": []
  },
  {
    "id": "96ac5dbf.39b2d8",
    "type": "function",
    "z": "de609e9a.9f8828",
    "name": "RATE LIMIT (3s)",
    "func": "var rate = 3000;\n\nvar queue = context.get('queue') || [];\nvar timerActive = context.get('timerActive') || false;\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nnode.status({fill:\"blue\", shape:\"ring\", text: queue.length + \" na fila\"});\n\nif (!timerActive) {\n  sendNext();\n}\n\nfunction sendNext() {\n  var q = context.get('queue') || [];\n  if (q.length === 0) {\n      context.set('timerActive', false);\n      node.status({});\n      return;\n  }\n  context.set('timerActive', true);\n  var m = q.shift();\n  context.set('queue', q);\n  node.status({\n      fill:\"green\",\n      shape:\"dot\",\n      text: q.length + \" na fila\"\n  });\n  node.send(m);\n  setTimeout(sendNext, rate);\n}\n\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 555,
    "y": 700,
    "wires": [["33c597f5.4d9fe", "fcac3bd3.4bcf28"]],
    "l": false
  },
  {
    "id": "fef5ab9d.1e5e68",
    "type": "comment",
    "z": "de609e9a.9f8828",
    "name": "ALTERAÇÕES",
    "info": "ALTERAR API KEY E CUSTUMMER ID NO 'GET BUNDLE'\nALTERAR API KEY NOS 2 BLOCOS DO 'SET URL'",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "309aec70.3251ac",
    "type": "http in",
    "z": "de609e9a.9f8828",
    "name": "",
    "url": "/alarm_history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 1780,
    "wires": [["57d3e27b.a42c3c"]]
  },
  {
    "id": "8bb3e4cc.60d228",
    "type": "http response",
    "z": "de609e9a.9f8828",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 1020,
    "y": 1840,
    "wires": []
  },
  {
    "id": "9d05b78c.4bce88",
    "type": "persist-out",
    "z": "de609e9a.9f8828",
    "x": 670,
    "y": 1840,
    "wires": [["8bb3e4cc.60d228"]]
  },
  {
    "id": "57d3e27b.a42c3c",
    "type": "function",
    "z": "de609e9a.9f8828",
    "name": "",
    "func": "msg.payload = {\n    key: 'all_data'\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 290,
    "y": 1840,
    "wires": [["9d05b78c.4bce88"]]
  },
  {
    "id": "7c57447b.9198dc",
    "type": "myio-emitter",
    "z": "de609e9a.9f8828",
    "x": 130,
    "y": 340,
    "wires": [
      ["70b271fc.08ef7"],
      ["2f000e6.81c55f2"],
      ["6e0453d5.7a0854"],
      [],
      [],
      ["2f000e6.81c55f2"],
      [],
      [],
      [],
      ["49f1cb75.ec356c"],
      ["1eceaa4e.022de6"],
      ["b9deebf5.052868"]
    ]
  },
  {
    "id": "c0b970b8.b4047",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 192",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 360,
    "wires": [],
    "l": false
  },
  {
    "id": "46ab2ffd.4f79b8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 193",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 400,
    "wires": [],
    "l": false
  },
  {
    "id": "8b3b580b.1100b8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 995,
    "y": 320,
    "wires": [],
    "l": false
  },
  {
    "id": "6e0453d5.7a0854",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter pot",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.pot or\t        $aux.water_lvl ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 340,
    "wires": [["59e9843.5fbd8fc", "1c094509.857b5b"]]
  },
  {
    "id": "59e9843.5fbd8fc",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "need pot ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 340,
    "wires": [["87acb2dd.fc5cc8"]]
  },
  {
    "id": "1c094509.857b5b",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 320,
    "wires": [],
    "l": false
  },
  {
    "id": "87acb2dd.fc5cc8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              $current := filter.deviceName;\t              filter.water ?\t                  (\t                      $parts := $split($current, ' ');\t                      $start := $number($parts[2]);\t                      $heigh := $number($parts[3]);\t                      $multi := $number($substringAfter($parts[4], 'x'));\t                      $type($start) = 'number' and $type($heigh) = 'number' and $type($multi) = 'number' ?\t                          $round((payload.value - $start + filter.offset.water_level) * $multi / $heigh, 2 )\t                      :\t                          0\t                     \t                  )\t              :\t                  payload.value + filter.offset.pot\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 340,
    "wires": [["95052a3.b1fd658"]]
  },
  {
    "id": "fc5e48df.99f7f8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 280,
    "wires": [],
    "l": false
  },
  {
    "id": "2f000e6.81c55f2",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter temp",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.temp ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 300,
    "wires": [["f8f3ede7.417618", "fc5e48df.99f7f8"]]
  },
  {
    "id": "f8f3ede7.417618",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "need temp ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 300,
    "wires": [["6c6336f7.d3c29"]]
  },
  {
    "id": "6c6336f7.d3c29",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t            $type(payload.value) = \"number\" ?\t                  payload.value\t              :\t                  payload.temperature\t          ) \t          + filter.offset.pot;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'temp'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 300,
    "wires": [["95052a3.b1fd658"]]
  },
  {
    "id": "70b271fc.08ef7",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter ch",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.ch ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 260,
    "wires": [["23614965.d7da0e", "d202f294.cf37d"]]
  },
  {
    "id": "49f1cb75.ec356c",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter water",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.water ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 380,
    "wires": [["c0b970b8.b4047", "36443531.903932"]]
  },
  {
    "id": "1eceaa4e.022de6",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter humid",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.humid ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 420,
    "wires": [["46ab2ffd.4f79b8", "d312373.126d048"]]
  },
  {
    "id": "23614965.d7da0e",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 240,
    "wires": [],
    "l": false
  },
  {
    "id": "d202f294.cf37d",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "need ch ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 600,
    "y": 260,
    "wires": [["63f3f316.c9de54"]]
  },
  {
    "id": "36443531.903932",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "need water ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 380,
    "wires": [["7dcf2842.9a5b68"]]
  },
  {
    "id": "d312373.126d048",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "need humid ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 420,
    "wires": [["f5856437.7e9988"]]
  },
  {
    "id": "63f3f316.c9de54",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          payload.channels;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'ch'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 260,
    "wires": [["95052a3.b1fd658"]]
  },
  {
    "id": "7dcf2842.9a5b68",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $count($calcValue) > 0 ? $sum($calcValue.value) : 0,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 380,
    "wires": [["95052a3.b1fd658"]]
  },
  {
    "id": "f5856437.7e9988",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 420,
    "wires": [["95052a3.b1fd658"]]
  },
  {
    "id": "95052a3.b1fd658",
    "type": "join",
    "z": "de609e9a.9f8828",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "10",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 945,
    "y": 340,
    "wires": [["8b3b580b.1100b8", "72a6eaa6.154374", "d973c4e0.513b2"]],
    "l": false
  },
  {
    "id": "72a6eaa6.154374",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "update flow slaves / last",
    "rules": [
      { "t": "set", "p": "slaves", "pt": "msg", "to": "slaves", "tot": "flow" },
      {
        "t": "set",
        "p": "slaves",
        "pt": "flow",
        "to": "$type(slaves) = \"object\" ?\t    $merge([\t        slaves,\t        $each(payload, function($v,$k){\t            {\t                \"sl_\"&$v.local_id:\t                    $merge([$lookup(slaves, 'sl_'&$v.local_id),\t                    {\t                        $v.type&\"_value\": {\t                            \"value\": $v.value,\t                            \"time\":$v.time\t                        }\t                    }\t                    ])\t            }\t        })\t    ])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1150,
    "y": 340,
    "wires": [["9782317f.03c348"]]
  },
  {
    "id": "d973c4e0.513b2",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "update flow cumulative data",
    "rules": [
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      { "t": "set", "p": "var", "pt": "msg", "to": "var", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t\t$inTimeRange := function($startAt, $endAt, $time){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t\t\t[$each(rules, function($v,$k){\t(\t$metric := \t$contains($v.metric, 'emperat') ? \"temp\" :\t(($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t$contains($v.metric, 'umid') ? \"humid\" : false;\t\t    $v.aggregation != \"LAST\" and\t    $metric != false ?\t    (\t        \t        $aux:=$lookup(var, $k);\t        $cond:= $type(var) = \"object\"?\t                    $type($aux) = \"object\"\t                :\t                    false;\t                \t        {$k:\t            [$each($v.slaves, function($va,$ka){\t                (\t                $old:= $cond ?\t                    $lookup($aux, $ka);\t                $filtered_old:=[$each($old, function($vb,$kb){\t                    $now_ms - $toMillis($kb) < $v.duration or $v.duration=0 ?\t                    {$kb:$vb}\t                })]~>$merge();\t                $new:=$lookup(payload, $metric&\"_\"&$ka);\t                \t                {\t                    $ka: \t                    $merge([\t                    (\t                        $type($old) = \"object\"?\t                            $filtered_old\t                        :\t                            {}\t                    ),\t                    ($type($new) = \"object\" ?\t                    (\t                    $utctime:= $fromMillis($toMillis($new.time)- 10800000);\t                    $H:= $number($substring($substringAfter($utctime,'T'),0,2));\t                    $M:= $number($substring($substringAfter($utctime,':'),0,2));\t                    $T:= $H*60+$M;\t                        $inTimeRange($v.startAt, $v.endAt, $T) and\t                        $lookup($v.daysOfWeek, $today)?\t                            {$new.time:$new.value}\t                        :\t                            {}\t                    ) : {}\t                    )\t                    ])\t                }\t                \t                )\t            })]~>$merge()\t        }\t    )\t)\t})]~>$merge()\t\t)",
        "tot": "jsonata"
      },
      { "t": "set", "p": "var", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1160,
    "y": 380,
    "wires": [["b043ff91.21d098"]]
  },
  {
    "id": "b043ff91.21d098",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1315,
    "y": 380,
    "wires": [],
    "l": false
  },
  {
    "id": "9782317f.03c348",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1315,
    "y": 340,
    "wires": [],
    "l": false
  },
  {
    "id": "b9deebf5.052868",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t$merge([payload, {\"value\":payload.active_power}])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 235,
    "y": 440,
    "wires": [["6e0453d5.7a0854"]],
    "l": false
  },
  {
    "id": "9d317b12.50285",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter my slaves, set flow",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "flow",
        "to": "$each(payload.data.rules, function($v,$k){\t    {$k:$merge([$v,\t        {\t            \"slaves\": \t            [$each(payload.data.deviceIndex, function($va,$ka){\t                $reduce([$va.ruleIds], function($acc,$vb){\t                    $type($lookup($acc, $string($va.slaveId))) = 'object'?\t                        $acc\t                    :\t                        (\t                            $type($vb) = \"object\"?\t                                $vb.id = $k ?\t                                    { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"channel\":$vb.channel, \"cloud_id\": $ka}}\t                                :\t                                    $acc\t                            :\t                                $vb = $k ?\t                                    $type($va.slaveId) = 'number'?\t                                        { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"cloud_id\": $ka}}\t                                    :\t                                        $acc\t                                :\t                                    $acc\t                        )\t                    \t                }, {})\t            })]~>$merge()\t        }\t    ])\t    }\t})~>$merge()",
        "tot": "jsonata"
      },
      { "t": "set", "p": "vers", "pt": "flow", "to": "payload.data.versionId", "tot": "msg" },
      {
        "t": "set",
        "p": "myslaves",
        "pt": "msg",
        "to": "$merge([$each(payload.data.deviceIndex, function($v,$k){ \t        $type($v.slaveId) = \"number\"?\t        {\t            \"sl_\"&$v.slaveId:$merge([$v,\t                \t                    $reduce($v.ruleIds, function($acc,$va){\t                        (\t                        $aux:=$lookup(payload.data.rules, $va);\t                        $cond:=$type($va) = \"string\" and $type($aux.metric) = 'string';\t                        {\t                            \"cloud_ID\":$k,\t                            \"ruleIds\": \t                            $merge([$acc.ruleIds,\t                                (\t                                $type($va) = \"string\"?\t                                    {$va:true}\t                                :\t                                    {$va.id:true}\t                                )\t                            ]),\t                            \"pot\": $acc.pot or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'nstant') and $contains($aux.metric, 'ower'))\t                            ),\t                            \"temp\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'emperat'))\t                            ),\t                            \"water_lvl\": $acc.water_lvl or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'ont'))\t                            ),\t                            \"water\": $acc.water or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'low'))\t                            ),\t                            \"humid\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'umid'))\t                            ),\t                            \"ch\": $acc.ch or $type($va) = 'object',\t                            \"duration\": $type($aux.duration) = \"number\" ?\t                                $max([$aux.duration, $acc.duration])\t                            :\t                                $acc.duration\t                            \t                            \t                            }\t                        )\t                    },{\"ruleIds\":{}, \"pot\":false, \"temp\":false, \"water_lvl\":false, \"water\":false,\"humid\":false, \"ch\":false, \"duration\":0})\t                    \t                \t                    \t                \t            ])\t        }\t    })])\t    \t    \t    \t    ",
        "tot": "jsonata"
      },
      { "t": "set", "p": "slaves", "pt": "flow", "to": "myslaves", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 140,
    "wires": [["f9e1dc4d.33a388"]]
  },
  {
    "id": "f9e1dc4d.33a388",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 185",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1415,
    "y": 140,
    "wires": [],
    "l": false
  },
  {
    "id": "d516a4f7.e6455",
    "type": "switch",
    "z": "de609e9a.9f8828",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "nempty" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 295,
    "y": 580,
    "wires": [["c1ccd98e.ed701"]],
    "l": false
  },
  {
    "id": "c1ccd98e.ed701",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set var",
    "rules": [
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      { "t": "set", "p": "slaves", "pt": "msg", "to": "slaves", "tot": "flow" },
      { "t": "set", "p": "vers", "pt": "msg", "to": "vers", "tot": "flow" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 580,
    "wires": [["dda18de6.4fdec"]]
  },
  {
    "id": "dda18de6.4fdec",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set status",
    "rules": [
      {
        "t": "set",
        "p": "slaves",
        "pt": "msg",
        "to": "(\t      $statusMap := $merge($map(payload, function($v){\t          {$string($v.id): $v.status}\t      }));\t      $each(slaves, function($v,$k){\t          {$k: $merge([$v, {\t              \"status\": $lookup($statusMap, $string($v.slaveId))\t          }])}\t      })~>$merge()\t  )",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "payload", "pt": "msg" },
      { "t": "delete", "p": "headers", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 580,
    "wires": [["cd1f8694.a074a", "89597444.2dbe8", "ec7b04e5.df4c98"]]
  },
  {
    "id": "cd1f8694.a074a",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter last",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    (\t      \t    ($v.aggregation = 'LAST' or \t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low'))\t    )\t    and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 520,
    "wires": [["bcc9f206.6412f", "245a5622.8fe7fa"]]
  },
  {
    "id": "89597444.2dbe8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "filter last",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    $v.aggregation != 'LAST' and\t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) = false and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 580,
    "wires": [["e23c645f.177fd"]]
  },
  {
    "id": "bcc9f206.6412f",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 196",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 815,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "245a5622.8fe7fa",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "check trigger",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t\t$checkOp := function($op, $val, $threshold, $high){\t  ($op = \"GT\" and $val > $threshold) or\t  ($op = \"GTE\" and $val >= $threshold) or\t  ($op = \"LT\" and $val < $threshold) or\t  ($op = \"LTE\" and $val <= $threshold) or\t  ($op = \"EQ\" and $val = $threshold) or\t  ($op = \"NEQ\" and $val != $threshold) or\t  ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t  ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t};\t\t[$each(rules, function($v,$k){\t    (\t    $metric := \t          $contains($v.metric, 'emperat') ? \"temp\" :\t          (($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t           ($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t          ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) ? \"water\" :\t          $contains($v.metric, 'umid') ? \"humid\" : \"ch\";\t          \t    {\t        $k: $each( $v.slaves, function($va,$ka){\t            (\t            $slave:=$lookup(slaves, 'sl_'&$ka);\t            $var:=$lookup($slave, $metric&'_value');\t            $have:=$type($var) = \"object\";\t            $time:= $now_ms - $toMillis($var.time) < $v.duration;\t            $value:= $have ?\t                        $time?\t                            $var.value\t                        :\t                            \"Out of rule range\"\t                    :\t                        \"Undefined\";\t            $valeH:=$type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t            \t            {\t                $va.cloud_id: {\t                    \"local_id\": $ka,\t                    \"status\": $slave.status,\t                    \"alldata\": $have ?\t                        {\t                            $string($toMillis($var.time)):$var.value\t                        },\t                    \"value\": $value,\t                    \"triggered\": $type($value) = \"string\"?\t                        false\t                    :\t                        $type($value) = \"number\"?\t                            $checkOp($v.operator, $value, $v.value, $valeH)\t                        :\t                            $type($va.channel) = 'number'?\t                                (\t                                $aux:=$lookup($value[$va.channel], (\t                                    $contains($lookup($v.metric), 'ensor')?\t                                        'input'\t                                    :\t                                        'output'\t                                ) );\t                                $contains($lookup($v.metric), 'oor')?\t                                    $aux=0\t                                    :\t                                    $aux>0\t                                )\t                            :\t                                false\t                            \t                }\t            }\t            )\t        })\t    }\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 520,
    "wires": [["d61bb920.87d0e8", "9ab68ba8.9bf258"]]
  },
  {
    "id": "d61bb920.87d0e8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 196",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1055,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "e23c645f.177fd",
    "type": "delay",
    "z": "de609e9a.9f8828",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 815,
    "y": 580,
    "wires": [["bb6f392a.a7011"]],
    "l": false
  },
  {
    "id": "bb6f392a.a7011",
    "type": "trigger",
    "z": "de609e9a.9f8828",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "90",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 875,
    "y": 580,
    "wires": [["f76fe42c.923ee"]],
    "l": false
  },
  {
    "id": "f76fe42c.923ee",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "check trigger",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      { "t": "set", "p": "var", "pt": "msg", "to": "var", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "  (\t      $checkOp := function($op, $val, $threshold, $high){\t          ($op = \"GT\" and $val > $threshold) or\t          ($op = \"GTE\" and $val >= $threshold) or\t          ($op = \"LT\" and $val < $threshold) or\t          ($op = \"LTE\" and $val <= $threshold) or\t          ($op = \"EQ\" and $val = $threshold) or\t          ($op = \"NEQ\" and $val != $threshold) or\t          ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t          ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t      };\t\t      $aggregate := function($agg, $vals){\t          $agg = \"AVG\" ? $average($vals) :\t          $agg = \"MIN\" ? $min($vals) :\t          $agg = \"MAX\" ? $max($vals) :\t          $agg = \"SUM\" ? $sum($vals) :\t          $agg = \"COUNT\" ? $count($vals) :\t          $vals[0]\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $oldruledata := $lookup(data, $k);\t              $valeH := $type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t              $newruledata := $lookup(var, $k);\t              (\t                  {\t                      $k: [$each($v.slaves, function($va, $ka){\t                          (\t                              $slave := $lookup(slaves, 'sl_'&$ka);\t                              $old := $lookup($oldruledata, $va.cloud_id);\t                              $oldtrigger:= $type($old.triggered) = \"boolean\" ?\t                                $old.triggered : \"Undefined\";\t                              $slaveStatus := $type($lookup($slave, \"status\")) = \"string\" ?\t                                  $lookup($slave, \"status\") : \"Undefined\";\t                              $new := $lookup($newruledata, $ka);\t                              $value := $aggregate($v.aggregation, $new.*);\t                              $newtrigger:= $type($value) = \"number\" ?\t                                $checkOp($v.operator, $value, $v.value, $valeH)\t                                :\t                                \"Undefined\";\t\t                              {\t                                $va.cloud_id:\t                                {\t                                    \"value\":$type($value) = \"number\"?\t                                        $round($value,2) : \"Undefined\",\t                                    \"local_id\":$ka,\t                                    \"status\": $slaveStatus,\t                                    \"triggered\": $type($newtrigger) = \"boolean\"?\t                                        $newtrigger :\t                                        $type($oldtrigger) = \"boolean\" ?\t                                        $oldtrigger : false,\t                                    \"time\": $type($oldtrigger) = \"boolean\"?\t                                        ($oldtrigger = $newtrigger and $type($old.time) = \"string\"?\t                                            $old.time :\t                                            $now()\t                                        ) :\t                                        $now(),\t                                    \"alldata\": $new \t                                }\t                              }\t                          )\t                      })]~>$merge()\t                  }\t              )\t          )\t      })]~>$merge()\t  )\t",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "data", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 580,
    "wires": [["9ab68ba8.9bf258"]]
  },
  {
    "id": "eef62563.e649a",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "check diff, update data",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t  (\t      $now_str := $now();\t      $today := $string($number($now('[F1]','-0300'))%7);\t      $time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t      $inTimeRange := function($startAt, $endAt){\t          (\t              $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t              $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t              $le > $ls ?\t                  $time >= $ls and ($le = 1439 or $time < $le)\t              :\t                  $time >= $ls or $time < $le\t          )\t      };\t\t      $preserveTime := function($ruleKey, $cloudId){\t          (\t              $p := $lookup($lookup(payload, $ruleKey), $cloudId);\t              $type($p) = \"object\" and $p.triggered = false and $type($p.time) = \"string\" ?\t                  $p.time\t              :\t              (\t                  $d := $lookup($lookup(data, $ruleKey), $cloudId);\t                  $type($d) = \"object\" and $d.triggered = false and $type($d.time) = \"string\" ?\t                      $d.time\t                  :\t                      $now_str\t              )\t          )\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $active := $lookup($v.daysOfWeek, $today) and $inTimeRange($v.startAt, $v.endAt);\t              $exist := $lookup(payload, $k);\t\t              {\t                  $k: $active and $type($exist) = \"object\" ?\t                      $exist\t                  :\t                      [$each($v.slaves, function($va, $ka){\t                          (\t                              $status := $lookup(slaves, 'sl_'&$ka).status;\t                              {\t                                  $va.cloud_id: {\t                                      \"triggered\": false,\t                                      \"value\": \"Out of Rule Range\",\t                                      \"values\": [],\t                                      \"alldata\": [],\t                                      \"time\": $preserveTime($k, $va.cloud_id),\t                                      \"local_id\": $ka,\t                                      \"status\": $type($status) = \"string\" ? $status : \"offline\"\t                                  }\t                              }\t                          )\t                      })]~>$merge()\t              }\t          )\t      })]~>$merge()\t  )\t",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "diff",
        "pt": "msg",
        "to": "[$each(payload, function($v,$k){\t    (\t        $aux:=[$each($v, function($va,$ka){\t            $lookup($lookup(data, $k),$ka).triggered != $va.triggered ?\t                {$ka:$va}\t        })]~>$merge();\t\t        $count($keys($aux)) > 0?\t            {$k:$aux}\t    )\t    \t})]~>$merge()",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1100,
    "wires": [["1cde6647.937ac2", "d26f2c36.462cd8"]]
  },
  {
    "id": "1cde6647.937ac2",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set data",
    "rules": [
      {
        "t": "set",
        "p": "data",
        "pt": "flow",
        "to": "(\t    $aux:=data;\t    $type($aux) = 'object'?\t        $merge([$aux,payload])\t    :\t        payload\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 1100,
    "wires": [["5c9c72c1.c05134", "d6498110.e86548"]]
  },
  {
    "id": "d6498110.e86548",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{    $now():\t        {       \t                \"rules\":$flowContext('data'),\t                \"vers\": vers\t        }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 1100,
    "wires": [["4fca7755.432ec"]]
  },
  {
    "id": "d26f2c36.462cd8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 675,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "5c9c72c1.c05134",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "3f8caf6.f68a7d",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "get online",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$reduce(payload, function($acc,$v){\t    [$acc,\t    (\t        {$string($v.id):$v.status}\t    )\t    ]\t}, [])~>$merge()",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"time\":$now(),\t    \"central_id\": central_id,\t    \"slaves\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 780,
    "wires": [["2dfd98d3.90aa48", "c4c3737a.d549c8"]]
  },
  {
    "id": "2dfd98d3.90aa48",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 200",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 535,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "c4c3737a.d549c8",
    "type": "change",
    "z": "de609e9a.9f8828",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-device-status",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 780,
    "wires": [["ffd9c150.ba16c"]]
  },
  {
    "id": "ffd9c150.ba16c",
    "type": "http request",
    "z": "de609e9a.9f8828",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 735,
    "y": 780,
    "wires": [["33d6c812.2163f8"]],
    "l": false
  },
  {
    "id": "33d6c812.2163f8",
    "type": "debug",
    "z": "de609e9a.9f8828",
    "name": "debug 200",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "f8cd0ab3.51cfa8",
    "type": "myio-emitter",
    "z": "1743976c.0baf21",
    "x": 260,
    "y": 280,
    "wires": [
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"],
      ["489efbd6.d45074"]
    ]
  },
  {
    "id": "489efbd6.d45074",
    "type": "change",
    "z": "1743976c.0baf21",
    "name": "Get data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    $string(payload.id):$now()\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 280,
    "wires": [["32e7d03f.21aaa8"]]
  },
  {
    "id": "32e7d03f.21aaa8",
    "type": "join",
    "z": "1743976c.0baf21",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "1",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 575,
    "y": 280,
    "wires": [["250c1cc6.544e4c"]],
    "l": false
  },
  {
    "id": "250c1cc6.544e4c",
    "type": "trigger",
    "z": "1743976c.0baf21",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 635,
    "y": 280,
    "wires": [["28d5d487.722884", "59d660d4.9c5ba"]],
    "l": false
  },
  {
    "id": "28d5d487.722884",
    "type": "debug",
    "z": "1743976c.0baf21",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 695,
    "y": 260,
    "wires": [],
    "l": false
  },
  {
    "id": "59d660d4.9c5ba",
    "type": "change",
    "z": "1743976c.0baf21",
    "name": "set flow online",
    "rules": [{ "t": "set", "p": "online", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "a4a9e4d8.0e4248",
    "type": "inject",
    "z": "1743976c.0baf21",
    "name": "check online",
    "props": [
      { "p": "online", "v": "online", "vt": "flow" },
      { "p": "slaves", "v": "slaves", "vt": "flow" }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 480,
    "wires": [["c9f0d4f5.bba8b"]]
  },
  {
    "id": "72fe1830.9f7848",
    "type": "debug",
    "z": "1743976c.0baf21",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 575,
    "y": 460,
    "wires": [],
    "l": false
  },
  {
    "id": "51ccbb05.bcf414",
    "type": "change",
    "z": "1743976c.0baf21",
    "name": "slaves missing",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$filter(slaves, function($v){\t    ($type($lookup(online, $string($v.id))) = 'string') = false or\t    (\t        $type($lookup(online, $string($v.id))) = 'string' ?\t            $millis() - $toMillis($lookup(online, $string($v.id))) > 10800000\t    )\t})]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "missing",
        "pt": "flow",
        "to": "[$map([payload], function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 480,
    "wires": [["919beb12.ae187", "d5a08273.76bca"]]
  },
  {
    "id": "533e0ee.1cf1a7",
    "type": "inject",
    "z": "1743976c.0baf21",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "900",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 120,
    "wires": [["5bfeb26b.0603e4"]]
  },
  {
    "id": "5bfeb26b.0603e4",
    "type": "postgresql",
    "z": "1743976c.0baf21",
    "name": "Get slaves",
    "query": "SELECT id\nFROM slaves",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 410,
    "y": 120,
    "wires": [["9f34ba9f.089588"]]
  },
  {
    "id": "9f34ba9f.089588",
    "type": "change",
    "z": "1743976c.0baf21",
    "name": "set flow slaves",
    "rules": [{ "t": "set", "p": "slaves", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "c9f0d4f5.bba8b",
    "type": "switch",
    "z": "1743976c.0baf21",
    "name": "check integrity",
    "property": "$type(online) = \"object\" and\t$type(slaves) = \"array\" ",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 440,
    "y": 480,
    "wires": [["72fe1830.9f7848", "92e9f970.b44278"]]
  },
  {
    "id": "919beb12.ae187",
    "type": "split",
    "z": "1743976c.0baf21",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 175,
    "y": 540,
    "wires": [["978f66a0.0fb8f"]],
    "l": false
  },
  {
    "id": "978f66a0.0fb8f",
    "type": "delay",
    "z": "1743976c.0baf21",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 235,
    "y": 540,
    "wires": [["3752279c.065", "fcf047ba.47345"]],
    "l": false
  },
  {
    "id": "3752279c.065",
    "type": "debug",
    "z": "1743976c.0baf21",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 295,
    "y": 560,
    "wires": [],
    "l": false
  },
  {
    "id": "d5a08273.76bca",
    "type": "debug",
    "z": "1743976c.0baf21",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 480,
    "wires": [],
    "l": false
  },
  {
    "id": "fcf047ba.47345",
    "type": "change",
    "z": "1743976c.0baf21",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"slave\":{\t    \"id\": payload.id\t    }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 540,
    "wires": [["d7f9e49b.1c72"]]
  },
  { "id": "d7f9e49b.1c72", "type": "send-check", "z": "1743976c.0baf21", "x": 530, "y": 540, "wires": [] },
  {
    "id": "92e9f970.b44278",
    "type": "switch",
    "z": "1743976c.0baf21",
    "name": "> 11p.m.",
    "property": "$number($now('[H]','-0300')) > 23",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 680,
    "y": 480,
    "wires": [["51ccbb05.bcf414"]]
  },
  {
    "id": "e8c82563.c6cc88",
    "type": "inject",
    "z": "1743976c.0baf21",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "900",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 490,
    "y": 680,
    "wires": [["891dc166.f7635"]]
  },
  {
    "id": "891dc166.f7635",
    "type": "postgresql",
    "z": "1743976c.0baf21",
    "name": "Get slaves",
    "query": "SELECT *\nFROM slaves\nWhere id = 129",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 630,
    "y": 680,
    "wires": [["e0cada80.c059c8"]]
  },
  {
    "id": "e0cada80.c059c8",
    "type": "debug",
    "z": "1743976c.0baf21",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 755,
    "y": 660,
    "wires": [],
    "l": false
  },
  {
    "id": "a8a376c9.6d6bb8",
    "type": "inject",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "1200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 100,
    "wires": [["d90b38df.744bc8", "a878d710.3120d", "de1926ce.5d3938"]]
  },
  {
    "id": "d90b38df.744bc8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 325,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "a878d710.3120d",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "between 3 n 9 a.m.",
    "property": "(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 3 and $aux < 9\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 100,
    "wires": [["ad025946.34038"]]
  },
  {
    "id": "23b21bb6.539d2c",
    "type": "inject",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 240,
    "wires": [["1c448f2e.cca199"]]
  },
  {
    "id": "1c448f2e.cca199",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get slaves",
    "query": "SELECT id, name, \"type\"\nFROM slaves",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 350,
    "y": 240,
    "wires": [["4fefad7f.887534", "63fce760.889e68"]]
  },
  {
    "id": "c4770067.60a93",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get channels",
    "query": "SELECT slave_id as id\nFROM channels\nWHERE name LIKE '%gnora%';",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 730,
    "y": 240,
    "wires": [["5bf93298.17595c", "b4215340.2429a8"]]
  },
  {
    "id": "5bf93298.17595c",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 855,
    "y": 220,
    "wires": [],
    "l": false
  },
  {
    "id": "4fefad7f.887534",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 475,
    "y": 220,
    "wires": [],
    "l": false
  },
  {
    "id": "63fce760.889e68",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "save data",
    "rules": [{ "t": "set", "p": "slaves", "pt": "msg", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 240,
    "wires": [["c4770067.60a93"]]
  },
  {
    "id": "b4215340.2429a8",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "filter slaves",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "[$map(payload, function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "newslaves",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v){\t    $merge([$acc,\t    {\t        $v.type:([$lookup($acc, $v.type),\t        $v.id\t        ])\t    }\t    ])\t},{})",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 240,
    "wires": [["d24056cc.6649a8", "19f58bf9.331cf4"]]
  },
  {
    "id": "d24056cc.6649a8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1115,
    "y": 240,
    "wires": [],
    "l": false
  },
  {
    "id": "19f58bf9.331cf4",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "start water",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "$reduce(newslaves.outlet, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")\t\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 320,
    "wires": [["fff2ec8f.7b4798"]]
  },
  {
    "id": "fff2ec8f.7b4798",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get channels",
    "query": "SELECT slave_id\nFROM channels\nWHERE name ILIKE '%idr%'\nAND slave_id IN ({{msg.water}})",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 430,
    "y": 320,
    "wires": [["15d0afa1.11b5d", "a877d885.8b45b"]]
  },
  {
    "id": "15d0afa1.11b5d",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 555,
    "y": 300,
    "wires": [],
    "l": false
  },
  {
    "id": "a877d885.8b45b",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "start water",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "$reduce(payload, function($acc,$v,$i){\t    $i= 0 ?\t    $string($v.slave_id)\t    :\t    $acc & \",\" & $v.slave_id\t},\"\")",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "time",
        "pt": "msg",
        "to": "(\t   $aux:=$fromMillis(\t       $millis() - 86400000,\t       '[Y0000]-[M99]-[D99]T'\t   );\t   {\t       \"start\": $aux&\"00:00:00.000Z\",\t       \"end\": $aux&\"23:59:59.999Z\"\t\t   }\t\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 320,
    "wires": [["bfdbeb21.acf49", "1eccc3d0.c47d8c"]]
  },
  {
    "id": "2e0d802a.25efb",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get water",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM Channel_pulse_log\n\nWHERE \nslave_id IN ({{msg.water}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1060,
    "y": 340,
    "wires": [["7da03b50.5795d4", "13f0e587.aba07a"]]
  },
  {
    "id": "7da03b50.5795d4",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1195,
    "y": 340,
    "wires": [],
    "l": false
  },
  {
    "id": "bfdbeb21.acf49",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 300,
    "wires": [],
    "l": false
  },
  {
    "id": "23998a3f.31358e",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "start 3f energy",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(water,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<1 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "pot3f",
        "pt": "msg",
        "to": "$reduce(newslaves.three_phase_sensor, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 420,
    "wires": [["f7709f82.a675c", "803aced.4d61b3"]]
  },
  {
    "id": "bbcd2a4f.e2cec8",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get energy",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.pot3f}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 440,
    "wires": [["7186b7b2.fb6038", "cd7c3189.108b8"]]
  },
  {
    "id": "7186b7b2.fb6038",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 440,
    "wires": [],
    "l": false
  },
  {
    "id": "f7709f82.a675c",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 400,
    "wires": [],
    "l": false
  },
  {
    "id": "754a361e.4dd498",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "start SCD energy",
    "rules": [
      {
        "t": "set",
        "p": "pot3f",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(pot3f,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<10 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "potscd",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v,$i){\t    $contains($v.name, \"SCD\") ?\t    ($i= 0 ?\t    $string($v.id)\t    :\t    $acc & \",\" & $v.id\t    )\t    :\t    $acc\t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 520,
    "wires": [["c9fbc0c4.7797d", "2a00bee.ee551c2"]]
  },
  {
    "id": "4389ee44.9e63b",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get energy",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.potsw}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 540,
    "wires": [["af656f3e.0d57a8", "dcb5de3b.60ebe8"]]
  },
  {
    "id": "af656f3e.0d57a8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 540,
    "wires": [],
    "l": false
  },
  {
    "id": "c9fbc0c4.7797d",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "1eccc3d0.c47d8c",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "have?",
    "property": "water",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 890,
    "y": 320,
    "wires": [["c0a9873.ab0a078"], ["2e0d802a.25efb"]]
  },
  {
    "id": "13f0e587.aba07a",
    "type": "link out",
    "z": "7faf43de.b3ec9c",
    "name": "end water in",
    "links": ["adc35185.05876"],
    "x": 1195,
    "y": 300,
    "wires": []
  },
  {
    "id": "c0a9873.ab0a078",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 300,
    "wires": [["13f0e587.aba07a"]]
  },
  {
    "id": "adc35185.05876",
    "type": "link in",
    "z": "7faf43de.b3ec9c",
    "name": "3f energy start out",
    "links": ["13f0e587.aba07a"],
    "x": 155,
    "y": 420,
    "wires": [["23998a3f.31358e"]]
  },
  {
    "id": "803aced.4d61b3",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "have?",
    "property": "pot3f",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 420,
    "wires": [["960ea388.c5bb38"], ["bbcd2a4f.e2cec8"]]
  },
  {
    "id": "960ea388.c5bb38",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 400,
    "wires": [["cd7c3189.108b8"]]
  },
  {
    "id": "cd7c3189.108b8",
    "type": "link out",
    "z": "7faf43de.b3ec9c",
    "name": "3f energy end in",
    "links": ["6cf3a893.a6f7a8"],
    "x": 835,
    "y": 400,
    "wires": []
  },
  {
    "id": "6cf3a893.a6f7a8",
    "type": "link in",
    "z": "7faf43de.b3ec9c",
    "name": "sw energy start out",
    "links": ["cd7c3189.108b8"],
    "x": 155,
    "y": 520,
    "wires": [["754a361e.4dd498"]]
  },
  {
    "id": "2a00bee.ee551c2",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "have?",
    "property": "potscd",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 520,
    "wires": [["2c46552c.1f2c12"], ["4389ee44.9e63b"]]
  },
  {
    "id": "2c46552c.1f2c12",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 500,
    "wires": [["dcb5de3b.60ebe8"]]
  },
  {
    "id": "f75d84a3.7a0368",
    "type": "postgresql",
    "z": "7faf43de.b3ec9c",
    "name": "Get temp",
    "query": "SELECT \n    slave_id, \n    AVG(value) AS media_value\nFROM temperature_history\n\nWHERE \nslave_id IN ({{msg.temp}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 700,
    "y": 640,
    "wires": [["358bf1f4.65f1ee", "7fa6188c.30ae9"]]
  },
  {
    "id": "dcb5de3b.60ebe8",
    "type": "link out",
    "z": "7faf43de.b3ec9c",
    "name": "sw energy end in",
    "links": ["971d238.ab86b6"],
    "x": 835,
    "y": 500,
    "wires": []
  },
  {
    "id": "971d238.ab86b6",
    "type": "link in",
    "z": "7faf43de.b3ec9c",
    "name": "temp start out",
    "links": ["dcb5de3b.60ebe8"],
    "x": 155,
    "y": 620,
    "wires": [["7f7df84f.98ad7"]]
  },
  {
    "id": "7f7df84f.98ad7",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "start temp",
    "rules": [
      {
        "t": "set",
        "p": "potscd",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(potscd,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<135 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "temp",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v,$i){\t    $lookup(filter, $string($v.id)) = true?\t        $acc\t        :\t        $contains($lowercase($v.name), 'temp')?\t        ($acc=\"\" ?\t        $string($v.id)\t        :\t        $acc & \",\" & $v.id)\t        :\t        $acc\t    \t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 620,
    "wires": [["3f1e97a7.120ad8", "d3e6afd7.9ff7a8"]]
  },
  {
    "id": "3f1e97a7.120ad8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 600,
    "wires": [],
    "l": false
  },
  {
    "id": "d3e6afd7.9ff7a8",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "have?",
    "property": "temp",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 620,
    "wires": [["3bd08e2.edcf8f2"], ["f75d84a3.7a0368"]]
  },
  {
    "id": "3bd08e2.edcf8f2",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 600,
    "wires": [["7fa6188c.30ae9"]]
  },
  {
    "id": "358bf1f4.65f1ee",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 640,
    "wires": [],
    "l": false
  },
  {
    "id": "7fa6188c.30ae9",
    "type": "link out",
    "z": "7faf43de.b3ec9c",
    "name": "temp end in",
    "links": ["1ba9a85c.428bb"],
    "x": 835,
    "y": 600,
    "wires": []
  },
  {
    "id": "1ba9a85c.428bb",
    "type": "link in",
    "z": "7faf43de.b3ec9c",
    "name": "finish out",
    "links": ["7fa6188c.30ae9"],
    "x": 155,
    "y": 720,
    "wires": [["7c14dbbe.e8f71c"]]
  },
  {
    "id": "7c14dbbe.e8f71c",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "set temp",
    "rules": [
      {
        "t": "set",
        "p": "temp",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$round($number($v.media_value),1)}\t})]~>$merge();\t\t[$map([$split(temp,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t            $value < 15 or $value > 50?\t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "slaves", "pt": "msg" },
      { "t": "delete", "p": "newslaves", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 720,
    "wires": [["bd621136.3191e", "4f5bdba6.13156c"]]
  },
  {
    "id": "bd621136.3191e",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 375,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "4f5bdba6.13156c",
    "type": "http request",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 455,
    "y": 720,
    "wires": [["42723961.ecc558", "cbb011b1.07ec98"]],
    "l": false
  },
  {
    "id": "42723961.ecc558",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 515,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "cbb011b1.07ec98",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$aux:=\t[$map(payload, function($v){\t    {$string($v.id):{\"status\":$v.status, \"name\":$v.name}}\t})]~>$merge();\t\t{\t    \"pot3f\": [$each(pot3f, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"POT \"&$v\t        )\t    })],\t    \"water\": [$each(water, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Hidr \"&$v\t        )\t    })],\t    \"potscd\": [$each(potscd, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"SCD \"&$v\t        )\t    })],\t    \"temp\": [$each(temp, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Temp \"&$v\t        )\t    })]\t}\t\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 720,
    "wires": [["af5d7a75.10e1c8", "6850c6b9.de8f08"]]
  },
  {
    "id": "af5d7a75.10e1c8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "6850c6b9.de8f08",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "set template",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "($count($spread(payload.pot3f)) )&\" Erro de Potencia 3F<br>\"&\t($count($spread(payload.water)) )&\" Erro de Hidrometro<br>\"&\t($count($spread(payload.potscd)) )&\" Erro de SCD<br>\"&\t($count($spread(payload.temp)) )&\" Erro de Temperatura<br>\"&\t\t\"<br><br><br>POTENCIA 3F <br><br><br>\"&\t($reduce(payload.pot3f, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Hidrometro <br><br><br>\"&\t($reduce(payload.water, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>SCD <br><br><br>\"&\t($reduce(payload.potscd, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Temperatura <br><br><br>\"&\t($reduce(payload.temp, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 820,
    "wires": [["94858e4c.47b738", "56b2c59d.b584d4"]]
  },
  {
    "id": "94858e4c.47b738",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "set email",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"to\":\"bruno@myio.com.br, gadioli@myio.com.br\",\t    \"title\":\"Central West Plaza\",\t    \"template\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 820,
    "wires": [["c649fc57.f385b8", "c63cd2ab.868a78"]]
  },
  {
    "id": "56b2c59d.b584d4",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "c649fc57.f385b8",
    "type": "debug",
    "z": "7faf43de.b3ec9c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 635,
    "y": 800,
    "wires": [],
    "l": false
  },
  { "id": "c63cd2ab.868a78", "type": "send-email", "z": "7faf43de.b3ec9c", "x": 760, "y": 820, "wires": [] },
  {
    "id": "ad025946.34038",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": "1 each day",
    "property": "day",
    "propertyType": "flow",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 100,
    "wires": [[], ["f03e359d.2206e"]]
  },
  {
    "id": "f03e359d.2206e",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "set flow",
    "rules": [{ "t": "set", "p": "day", "pt": "flow", "to": "true", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 120,
    "wires": [["1c448f2e.cca199"]]
  },
  {
    "id": "de1926ce.5d3938",
    "type": "switch",
    "z": "7faf43de.b3ec9c",
    "name": ">10 am",
    "property": "(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 10\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 140,
    "wires": [["472fe5e.4bf769c"]]
  },
  {
    "id": "472fe5e.4bf769c",
    "type": "change",
    "z": "7faf43de.b3ec9c",
    "name": "set flow",
    "rules": [{ "t": "set", "p": "day", "pt": "flow", "to": "false", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 140,
    "wires": [[]]
  }
]
