src/NODE-RED/PARK-LAGOS/bkp-node-red-central-7670cc2c-6871-40d6-b7e7-2f76f48a1076-2026-04-17-15-03.json
[{"id":"ca7c8e48.be29","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a7a8b28.714f78","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"e663c840.7159a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"206cb871.3536d8","type":"group","z":"ca7c8e48.be29","name":"Store devices to flow.devices","style":{"label":true},"nodes":["d8046f9c.a340a","7b244d1.e582bb4","17d2d191.b1572e","c1f7d5a3.6c99c8","c9290c3e.4f9d4","d5aa67bb.13ca88","30e40c59.9def44","4f059955.47fa98","ae074ba4.1fbb48","6c3e3d1b.0d0044","71e91e26.89bd3","337df69c.48aeba","3c0ee5ad.549aba","7abe1eca.53f59"],"x":34,"y":30,"w":1582,"h":211},{"id":"883370e.6ec919","type":"group","z":"ca7c8e48.be29","name":"Thingsboard","style":{"label":true},"nodes":["56d4b006.6b672","2104a251.44990e","c7038c31.c884","8ca0077.e8959f8","e71a0cd4.d0e97","96923ebd.034c7"],"x":1434,"y":259,"w":612,"h":142},{"id":"9537256a.e8bc68","type":"group","z":"ca7c8e48.be29","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","a3621c83.8b462","bdca7b0c.2358b8","ff29a820.e75238"],"x":34,"y":799,"w":902,"h":162},{"id":"c4ae64eb.f82c88","type":"group","z":"ca7c8e48.be29","name":"send check","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":1634,"y":39,"w":432,"h":82},{"id":"aa61127e.dfa2","type":"group","z":"ca7c8e48.be29","name":"MQTT","style":{"label":true},"nodes":["6a14f3b2.cd8b2c","5de6353b.c9836c","5678a6c3.be7e98","93ee4531.4db7d8","ca7c6620.0b5198","4f64022e.9cb7ec","3222e76f.436098","6f667024.d1f12","d533a111.18fe2","4fcbc1eb.eccfc","5921e588.5a6e3c","daa9d598.ad4b48","da6682b4.03803","3f51507f.fcbcb","ff932835.497da8","6e1ff75e.4dbe98","b502336.ae18dd","70ed4a2b.d46c74","9ed92e5.979edd","a358efb5.0cbf","ea697081.ce47d","ce30e30e.34805","df4fb9f6.4d2108","c37ed9a4.3f98c8","2ae9d86e.868248"],"x":34,"y":259,"w":1362,"h":522},{"id":"a788e406.5ee6e8","type":"group","z":"ca7c8e48.be29","name":"Calculate kWh","style":{"label":true},"nodes":["56fdcfb.71f373","244d399d.530e26","84ad714b.9a5bf","bfa8fe3e.d2247","a7dc993a.0a3b28","31519053.1aa4f","f16788cf.e42e48","9af496b5.eae778","15b078fd.30f657","9baf602a.3be42","bf43d662.f9cf58","3a9e9a3d.a9ddb6","6ead45d7.71e98c","f01f9394.5d93"],"x":34,"y":999,"w":1162,"h":182},{"id":"fee84e61.1690f","type":"group","z":"e663c840.7159a","name":"Central Monitor","style":{"label":true},"nodes":["b4e6602d.698f38","a456acce.df81","439ca4a7.1523c4","34e283a7.1d0dec","540cb847.913d3","1456e0ea.5d7fef","3533caeb.9e310e"],"x":34,"y":239},{"id":"d97f236b.dc6bd8","type":"group","z":"e663c840.7159a","name":"Missing Hidrometers","style":{"label":true},"nodes":["1a365a94.55a6d5","ee871e5b.ad84e","71fadf0b.25c86","b0434e5e.cd3e08","f05dd063.d7e5b8","2be826d8.c1498a","9f67fa5.7dd3008","2de66420.c2725c"],"x":34,"y":419},{"id":"c71a2cf1.fc877","type":"group","z":"e663c840.7159a","name":"Missing Energy","style":{"label":true},"nodes":["e571d2c6.8e9d9","41980cc8.a62fec","da65b0fd.3e138","8cce242e.dadd9","d69c3b00.986d1","195ba886.f9d9bf","4fec797.6d69208","5876a08c.4f0bf"],"x":34,"y":659},{"id":"b59a30.85b325d","type":"mqtt-broker","z":"","name":"Thingsboard PE","broker":"mqtt.myio-bas.com","port":"1883","clientid":"zqxz2c2z78qxtn4ucape","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"ca7c8e48.be29","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"fe0bbd9.5bb3e4","type":"postgreSQLConfig","z":"ca7c8e48.be29","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"teta","passwordFieldType":"str"},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"27023947.38f51e","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"hkv6dipt04vlwwhxz9ro","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddd079fd.2a9b7","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"d8046f9c.a340a","type":"inject","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["7b244d1.e582bb4"]]},{"id":"7b244d1.e582bb4","type":"get-data","z":"ca7c8e48.be29","g":"206cb871.3536d8","selectedOption":"slaves","x":340,"y":160,"wires":[["17d2d191.b1572e","337df69c.48aeba","7abe1eca.53f59"]]},{"id":"17d2d191.b1572e","type":"split","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":160,"wires":[["c1f7d5a3.6c99c8"]],"l":false},{"id":"c1f7d5a3.6c99c8","type":"switch","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":160,"wires":[["c9290c3e.4f9d4"],["d5aa67bb.13ca88"],["30e40c59.9def44"]],"l":false},{"id":"c9290c3e.4f9d4","type":"function","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Transform outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":120,"wires":[["71e91e26.89bd3"]]},{"id":"d5aa67bb.13ca88","type":"function","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Transform three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["71e91e26.89bd3"]]},{"id":"30e40c59.9def44","type":"function","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Transform infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["71e91e26.89bd3"]]},{"id":"4f059955.47fa98","type":"join","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1210,"y":160,"wires":[["ae074ba4.1fbb48"]]},{"id":"ae074ba4.1fbb48","type":"function","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["6c3e3d1b.0d0044","3c0ee5ad.549aba"]]},{"id":"6c3e3d1b.0d0044","type":"change","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":160,"wires":[[]],"l":false},{"id":"71e91e26.89bd3","type":"function","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":160,"wires":[["4f059955.47fa98"]],"l":false},{"id":"337df69c.48aeba","type":"change","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":120,"wires":[[]],"l":false},{"id":"3c0ee5ad.549aba","type":"debug","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":111,"wires":[],"l":false},{"id":"7abe1eca.53f59","type":"debug","z":"ca7c8e48.be29","g":"206cb871.3536d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":71,"wires":[],"l":false},{"id":"56d4b006.6b672","type":"function","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Park Lagos)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1555,"y":300,"wires":[["8ca0077.e8959f8","96923ebd.034c7"]],"l":false},{"id":"2104a251.44990e","type":"link in","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"","links":["6a8d76a0.316138","fc544c8d.06834","4c51ea40.64a4e4","bca8fcee.f61da","27b46fbd.c51ed","737a7284.a50ecc","e56cde5c.56f23","9387630a.e81a9","9b58ea20.906e18","747acc91.33a5a4","ff29a820.e75238","d72b2f31.1d04c","ce30e30e.34805","df4fb9f6.4d2108","665b03f7.da0eec","9baf602a.3be42"],"x":1487,"y":300,"wires":[["56d4b006.6b672"]]},{"id":"c7038c31.c884","type":"mqtt out","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"Thingsboard PE","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"b59a30.85b325d","x":1940,"y":300,"wires":[]},{"id":"8ca0077.e8959f8","type":"debug","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1675,"y":340,"wires":[],"l":false},{"id":"786014a5.2c487c","type":"inject","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":880,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":880,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":515,"y":840,"wires":[],"l":false},{"id":"7416219b.e3dc5","type":"function","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        if (device.slaveId === slaveId && device.channelId === channel) {\n            return device;\n        }\n    }\n}\n\n// Process the incoming payload and sum pulses (keeping the last timestamp)\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id, reading.channel);\n    if (!device) {\n        return acc;\n    }\n    \n    // Parse the device.name which is in the format:\n    // \"Hidr. <DeviceName> x<multiplier> <initial reading>\"\n    // e.g., \"Hidr. Teta_tetinha x100 2810m3\"\n    const match = device.name.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (match) {\n        actualName = match[1];\n        multiplier = parseFloat(match[2]);\n    } else {\n        actualName = device.name;\n        multiplier = 1;\n    }\n    \n    // Multiply the reading value by the multiplier\n    const valueToAdd = reading.value * multiplier;\n    // Get the timestamp (in milliseconds)\n    const ts = new Date(reading.timestamp).getTime();\n    \n    // If this is the first reading for the device, initialize the object;\n    // otherwise, add the pulses and update the timestamp to the current one.\n    if (!(actualName in acc)) {\n        acc[actualName] = [{\n            ts: ts,\n            values: {\n                pulses: valueToAdd\n            }\n        }];\n    } else {\n        acc[actualName][0].values.pulses += valueToAdd;\n        acc[actualName][0].ts = ts;\n    }\n    \n    return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":880,"wires":[["a3621c83.8b462","ff29a820.e75238"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":695,"y":840,"wires":[],"l":false},{"id":"f2e09fc0.c5039","type":"function","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":920,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":920,"wires":[["f2e09fc0.c5039"]]},{"id":"a3621c83.8b462","type":"debug","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":875,"y":840,"wires":[],"l":false},{"id":"bdca7b0c.2358b8","type":"debug","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":515,"y":920,"wires":[],"l":false},{"id":"ff29a820.e75238","type":"link out","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","links":["2104a251.44990e"],"x":875,"y":880,"wires":[]},{"id":"563c0479.f8ecbc","type":"inject","z":"ca7c8e48.be29","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1750,"y":80,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"ca7c8e48.be29","g":"c4ae64eb.f82c88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":80,"wires":[]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"ca7c8e48.be29","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":880,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"6a14f3b2.cd8b2c","type":"myio-emitter","z":"ca7c8e48.be29","g":"aa61127e.dfa2","x":110,"y":560,"wires":[["5de6353b.c9836c"],["5678a6c3.be7e98"],["93ee4531.4db7d8"],[],[],["5678a6c3.be7e98"],["ca7c6620.0b5198"],["4f64022e.9cb7ec"],[],[],[],[]]},{"id":"5de6353b.c9836c","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["3f51507f.fcbcb"]]},{"id":"5678a6c3.be7e98","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["ff932835.497da8"]]},{"id":"93ee4531.4db7d8","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["6e1ff75e.4dbe98"]]},{"id":"ca7c6620.0b5198","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["b502336.ae18dd"]]},{"id":"4f64022e.9cb7ec","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["70ed4a2b.d46c74"]]},{"id":"3222e76f.436098","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":740,"wires":[["9ed92e5.979edd"]]},{"id":"6f667024.d1f12","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Atualização de dispositivo","info":"","x":410,"y":300,"wires":[]},{"id":"d533a111.18fe2","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Temperatura","info":"","x":370,"y":380,"wires":[]},{"id":"4fcbc1eb.eccfc","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Potencia","info":"","x":360,"y":460,"wires":[]},{"id":"5921e588.5a6e3c","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Corrente","info":"","x":362.89581298828125,"y":541.2222290039062,"wires":[]},{"id":"daa9d598.ad4b48","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Voltagem","info":"","x":360,"y":620,"wires":[]},{"id":"da6682b4.03803","type":"comment","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Humidade","info":"","x":360,"y":700,"wires":[]},{"id":"3f51507f.fcbcb","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["ce30e30e.34805"]]},{"id":"ff932835.497da8","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":420,"wires":[["ce30e30e.34805"]]},{"id":"6e1ff75e.4dbe98","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Transform consumption reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":500,"wires":[["a358efb5.0cbf"]]},{"id":"b502336.ae18dd","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Transform current reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":580,"wires":[["ea697081.ce47d"]]},{"id":"70ed4a2b.d46c74","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Transform voltage reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":660,"wires":[["df4fb9f6.4d2108","2ae9d86e.868248"]]},{"id":"9ed92e5.979edd","type":"function","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"Format humidity","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":740,"wires":[["df4fb9f6.4d2108"]]},{"id":"a358efb5.0cbf","type":"split","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1155,"y":520,"wires":[["c37ed9a4.3f98c8","ce30e30e.34805"]],"l":false},{"id":"ea697081.ce47d","type":"split","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1275,"y":580,"wires":[["ce30e30e.34805"]],"l":false},{"id":"ce30e30e.34805","type":"link out","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","7e8207d2.2f4638","5f89597e.bdc0a8","c679bdd1.0c0f","6a7265f7.affb5c"],"x":1355,"y":400,"wires":[]},{"id":"df4fb9f6.4d2108","type":"link out","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","7e8207d2.2f4638","5f89597e.bdc0a8","c679bdd1.0c0f","6a7265f7.affb5c"],"x":1195,"y":680,"wires":[]},{"id":"c37ed9a4.3f98c8","type":"debug","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1235,"y":520,"wires":[],"l":false},{"id":"2ae9d86e.868248","type":"debug","z":"ca7c8e48.be29","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":640,"wires":[]},{"id":"e71a0cd4.d0e97","type":"inject","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1540,"y":360,"wires":[["96923ebd.034c7"]]},{"id":"96923ebd.034c7","type":"function","z":"ca7c8e48.be29","g":"883370e.6ec919","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":300,"wires":[["c7038c31.c884"]]},{"id":"56fdcfb.71f373","type":"postgresql","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"Get last 15 minutes","query":"SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;","postgreSQLConfig":"fe0bbd9.5bb3e4","split":false,"rowsPerMsg":1,"outputs":1,"x":510,"y":1040,"wires":[["84ad714b.9a5bf","31519053.1aa4f"]]},{"id":"244d399d.530e26","type":"inject","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1040,"wires":[["bfa8fe3e.d2247"]]},{"id":"84ad714b.9a5bf","type":"debug","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":695,"y":1080,"wires":[],"l":false},{"id":"bfa8fe3e.d2247","type":"function","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","func":"function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .filter(device => device.slaveId !== undefined && device.slaveId !== null)\n    .map(device => device.slaveId)\n\nif (energySensors.length === 0) {\n    node.warn('No energy sensors.');\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1040,"wires":[["a7dc993a.0a3b28","56fdcfb.71f373"]]},{"id":"a7dc993a.0a3b28","type":"debug","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":1080,"wires":[],"l":false},{"id":"31519053.1aa4f","type":"function","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    acc[device.name].push({\n        ts: new Date(reading.quinze_min).getTime(),\n        values: {\n            Wh3: reading.value_wh,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1040,"wires":[["f16788cf.e42e48","9af496b5.eae778"]]},{"id":"f16788cf.e42e48","type":"debug","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":915,"y":1080,"wires":[],"l":false},{"id":"9af496b5.eae778","type":"function","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"Queue","func":"const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1040,"wires":[["15b078fd.30f657","9baf602a.3be42"]]},{"id":"15b078fd.30f657","type":"debug","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1135,"y":1080,"wires":[],"l":false},{"id":"9baf602a.3be42","type":"link out","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","links":["9f905f0e.09722","2104a251.44990e"],"x":1135,"y":1040,"wires":[]},{"id":"bf43d662.f9cf58","type":"postgresql","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"Get last 15 minutes","query":"SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;","postgreSQLConfig":"fe0bbd9.5bb3e4","split":false,"rowsPerMsg":1,"outputs":1,"x":510,"y":1140,"wires":[["f01f9394.5d93"]]},{"id":"3a9e9a3d.a9ddb6","type":"inject","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1140,"wires":[["6ead45d7.71e98c"]]},{"id":"6ead45d7.71e98c","type":"function","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","func":"function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = false// flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .filter(device => device.slaveId !== undefined && device.slaveId !== null)\n    .map(device => device.slaveId)\n    \nif (energySensors.length === 0) {\n    node.warn('no energy sensors')\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1140,"wires":[["bf43d662.f9cf58"]]},{"id":"f01f9394.5d93","type":"debug","z":"ca7c8e48.be29","g":"a788e406.5ee6e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1140,"wires":[]},{"id":"b4e6602d.698f38","type":"inject","z":"e663c840.7159a","g":"fee84e61.1690f","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/8c60d304-cb5d-4689-b833-99de3bca8745","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":300,"wires":[["3533caeb.9e310e"]]},{"id":"a456acce.df81","type":"http request","z":"e663c840.7159a","g":"fee84e61.1690f","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":300,"wires":[["439ca4a7.1523c4"]]},{"id":"439ca4a7.1523c4","type":"switch","z":"e663c840.7159a","g":"fee84e61.1690f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":300,"wires":[["34e283a7.1d0dec"],["540cb847.913d3","1456e0ea.5d7fef"]]},{"id":"34e283a7.1d0dec","type":"debug","z":"e663c840.7159a","g":"fee84e61.1690f","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":280,"wires":[]},{"id":"540cb847.913d3","type":"debug","z":"e663c840.7159a","g":"fee84e61.1690f","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"1456e0ea.5d7fef","type":"function","z":"e663c840.7159a","g":"fee84e61.1690f","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":360,"wires":[[]]},{"id":"3533caeb.9e310e","type":"function","z":"e663c840.7159a","g":"fee84e61.1690f","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n/*\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n*/\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":300,"wires":[["a456acce.df81"]],"l":false},{"id":"cc8ff4d1.b3835","type":"mqtt in","z":"8a7a8b28.714f78","name":"","topic":"gateway/7670cc2c-6871-40d6-b7e7-2f76f48a1076/fetch","qos":"2","datatype":"auto-detect","broker":"27023947.38f51e","x":230,"y":200,"wires":[["3d2cfec7.d21202","c93988fe.f39dc8"]]},{"id":"d768ec79.f33f4","type":"postgresql","z":"8a7a8b28.714f78","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":780,"y":160,"wires":[["92f1ec0.3347218"]]},{"id":"77d9ced9.05dd98","type":"function","z":"8a7a8b28.714f78","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":625,"y":180,"wires":[["d768ec79.f33f4"],["768ffdad.068e94"]],"l":false},{"id":"768ffdad.068e94","type":"mqtt out","z":"8a7a8b28.714f78","name":"","topic":"","qos":"","retain":"","broker":"27023947.38f51e","x":1000,"y":200,"wires":[]},{"id":"12eb2828.674ca","type":"postgresql","z":"8a7a8b28.714f78","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":780,"y":220,"wires":[["768ffdad.068e94"]]},{"id":"d7913968.142c78","type":"function","z":"8a7a8b28.714f78","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":625,"y":220,"wires":[["12eb2828.674ca"]],"l":false},{"id":"92f1ec0.3347218","type":"function","z":"8a7a8b28.714f78","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":905,"y":160,"wires":[["768ffdad.068e94"]],"l":false},{"id":"d5e0089f.345098","type":"inject","z":"8a7a8b28.714f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":120,"y":100,"wires":[["8b4b46af.7d327"]]},{"id":"8b4b46af.7d327","type":"debug","z":"8a7a8b28.714f78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":255,"y":100,"wires":[],"l":false},{"id":"3d2cfec7.d21202","type":"json","z":"8a7a8b28.714f78","name":"","property":"payload","action":"","pretty":false,"x":520,"y":180,"wires":[["77d9ced9.05dd98"]]},{"id":"c93988fe.f39dc8","type":"json","z":"8a7a8b28.714f78","name":"","property":"payload","action":"","pretty":false,"x":520,"y":220,"wires":[["d7913968.142c78"]]},{"id":"4105496a.df8588","type":"function","z":"8a7a8b28.714f78","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["c2d97b7c.9a8b78","20f7cd03.cce8b2"]]},{"id":"e08424d1.90be68","type":"inject","z":"8a7a8b28.714f78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["28ad19d2.947346"]]},{"id":"20f7cd03.cce8b2","type":"mqtt out","z":"8a7a8b28.714f78","name":"","topic":"","qos":"","retain":"","broker":"27023947.38f51e","x":720,"y":300,"wires":[]},{"id":"28ad19d2.947346","type":"postgresql","z":"8a7a8b28.714f78","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":300,"y":300,"wires":[["545aeeb8.ac21a8"]]},{"id":"545aeeb8.ac21a8","type":"function","z":"8a7a8b28.714f78","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":425,"y":300,"wires":[["4105496a.df8588"]],"l":false},{"id":"c2d97b7c.9a8b78","type":"debug","z":"8a7a8b28.714f78","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"c0c750ac.c854e","type":"comment","z":"8a7a8b28.714f78","name":"1. Get the central UUID here","info":"It will appear on the logs","x":150,"y":60,"wires":[]},{"id":"b07a0765.17e108","type":"comment","z":"8a7a8b28.714f78","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":200,"y":160,"wires":[]},{"id":"4fdc627f.723f24","type":"comment","z":"8a7a8b28.714f78","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":190,"y":260,"wires":[]},{"id":"ccbdc066.6af7b8","type":"comment","z":"8a7a8b28.714f78","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":130,"y":380,"wires":[]},{"id":"59096c4d.674974","type":"inject","z":"ca7c8e48.be29","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1300,"y":1040,"wires":[["5bb8841f.b9fa54"]]},{"id":"5bb8841f.b9fa54","type":"function","z":"ca7c8e48.be29","name":"","func":"const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":1160,"wires":[["7bdbcef3.587408","b55a8bed.cbe3e"]]},{"id":"7bdbcef3.587408","type":"debug","z":"ca7c8e48.be29","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":1160,"wires":[]},{"id":"b55a8bed.cbe3e","type":"mqtt out","z":"ca7c8e48.be29","name":"Thingsboard PE","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"b59a30.85b325d","x":1720,"y":1040,"wires":[]},{"id":"1a365a94.55a6d5","type":"inject","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["ee871e5b.ad84e"]]},{"id":"ee871e5b.ad84e","type":"postgresql","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":460,"wires":[["71fadf0b.25c86","b0434e5e.cd3e08","9f67fa5.7dd3008"]]},{"id":"71fadf0b.25c86","type":"debug","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":460,"wires":[]},{"id":"b0434e5e.cd3e08","type":"function","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":500,"wires":[["f05dd063.d7e5b8","2be826d8.c1498a"]]},{"id":"f05dd063.d7e5b8","type":"debug","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":500,"wires":[]},{"id":"2be826d8.c1498a","type":"change","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":540,"wires":[[]]},{"id":"9f67fa5.7dd3008","type":"function","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":580,"wires":[["2de66420.c2725c"]],"l":false},{"id":"2de66420.c2725c","type":"mqtt out","z":"e663c840.7159a","g":"d97f236b.dc6bd8","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"b59a30.85b325d","x":750,"y":580,"wires":[]},{"id":"e571d2c6.8e9d9","type":"postgresql","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":700,"wires":[["da65b0fd.3e138","4fec797.6d69208"]]},{"id":"41980cc8.a62fec","type":"inject","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":700,"wires":[["e571d2c6.8e9d9"]]},{"id":"da65b0fd.3e138","type":"function","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":700,"wires":[["8cce242e.dadd9","d69c3b00.986d1"]]},{"id":"8cce242e.dadd9","type":"debug","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":700,"wires":[]},{"id":"d69c3b00.986d1","type":"change","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":740,"wires":[[]]},{"id":"195ba886.f9d9bf","type":"mqtt out","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"b59a30.85b325d","x":770,"y":780,"wires":[]},{"id":"4fec797.6d69208","type":"function","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":780,"wires":[["195ba886.f9d9bf","5876a08c.4f0bf"]],"l":false},{"id":"5876a08c.4f0bf","type":"debug","z":"e663c840.7159a","g":"c71a2cf1.fc877","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":820,"wires":[]},{"id":"409440b1.d9b2","type":"myio-emitter","z":"ca7c8e48.be29","x":110,"y":1360,"wires":[["82dd4d06.0a6d2"],["82dd4d06.0a6d2"],["82dd4d06.0a6d2"],[],["82dd4d06.0a6d2"],["82dd4d06.0a6d2"],[],[],[],["82dd4d06.0a6d2"],["82dd4d06.0a6d2"],[]]},{"id":"82dd4d06.0a6d2","type":"function","z":"ca7c8e48.be29","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1360,"wires":[["55066f2f.4900c8"]]},{"id":"55066f2f.4900c8","type":"debug","z":"ca7c8e48.be29","name":"cabelo curto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":1360,"wires":[]},{"id":"e0fc966e.6ec2e","type":"function","z":"ca7c8e48.be29","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":415,"y":1600,"wires":[[]],"l":false},{"id":"b7f2cc04.58ec3","type":"mqtt out","z":"ca7c8e48.be29","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"b59a30.85b325d","x":590,"y":1560,"wires":[]},{"id":"7a6fa85b.494388","type":"inject","z":"ca7c8e48.be29","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1520,"wires":[["b6bbef67.86e23"]]},{"id":"db96622c.3b2ae","type":"function","z":"ca7c8e48.be29","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":1520,"wires":[["b7f2cc04.58ec3","deb340fe.b7014","e0fc966e.6ec2e"]],"l":false},{"id":"deb340fe.b7014","type":"debug","z":"ca7c8e48.be29","name":"Pudim de geleia","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":1500,"wires":[]},{"id":"b6bbef67.86e23","type":"http request","z":"ca7c8e48.be29","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":275,"y":1520,"wires":[["db96622c.3b2ae"]],"l":false},{"id":"a3aea533.d47358","type":"data-fetcher","z":"8a7a8b28.714f78","name":"","mqtt":"ddd079fd.2a9b7","uuidOverride":"","x":110,"y":520,"wires":[]}]