src/NODE-RED/CAMPINAS/campinas_shopping_subestac_ao_principal/bkp-node-red-subestac_ao_principal-flows.json
[{"id":"2bc4d3ef.a5edac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d415fa7.58cd708","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"b7a49483.7cb4a8","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"58a95097.2bef3","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"2aa6d15a.9c1b9e","type":"group","z":"2bc4d3ef.a5edac","name":"Check","style":{"label":true},"nodes":["839ab9d8.1527d8","9ca9ef0f.4a2ca","56bc2ba1.040794","32c45d3b.b0f9c2","7f780c40.ad45e4","69a79861.6bcc18","576dbbef.c8b814","c7e20ce1.fc6c6","b3c3a42e.37de88"],"x":34,"y":899,"w":912,"h":202},{"id":"aa61127e.dfa2","type":"group","z":"2bc4d3ef.a5edac","name":"MQTT","style":{"label":true},"nodes":["6a14f3b2.cd8b2c","5de6353b.c9836c","5678a6c3.be7e98","93ee4531.4db7d8","ca7c6620.0b5198","4f64022e.9cb7ec","3222e76f.436098","6f667024.d1f12","d533a111.18fe2","4fcbc1eb.eccfc","5921e588.5a6e3c","daa9d598.ad4b48","da6682b4.03803","3f51507f.fcbcb","ff932835.497da8","6e1ff75e.4dbe98","b502336.ae18dd","70ed4a2b.d46c74","9ed92e5.979edd","ce30e30e.34805","df4fb9f6.4d2108","2ae9d86e.868248"],"x":34,"y":339,"w":1362,"h":522},{"id":"c93928f7.528eb8","type":"group","z":"2bc4d3ef.a5edac","name":"Store devices to flow.devices","style":{"label":true},"nodes":["7f3390f4.2b527","8ecbb671.f3df18","3b6e6995.f10126","f5df6480.ffe408","85b7cc96.8795f","6c636e38.ab99","a627f4a0.401d88","a8e9f6c5.b128d8","cd249588.07fc88","e75aff05.48022","9b4d3f62.cb348","72772d64.b7dde4","647257ab.366cc8","af54d2c4.f07c9","8c4a3115.638d","196e6875.c7c5a8","bb16bf85.38dcd8","79042532.8ab034"],"x":34,"y":30,"w":1582,"h":271},{"id":"98dc4278.851ea","type":"group","z":"2bc4d3ef.a5edac","name":"Thingsboard","style":{"label":true},"nodes":["afd35fca.54102","95ce2668.1e2e58","8ca0077.e8959f8","e70b564c.e024b8","ad27331.f1f65d","eca30951.449508","6538625b.8565cc","60f01d6f.d77d54","ec3abbf8.881c88"],"x":1454,"y":339,"w":652,"h":202},{"id":"c4ae64eb.f82c88","type":"group","z":"2bc4d3ef.a5edac","name":"send check","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":2214,"y":359,"w":322,"h":82},{"id":"ebb55c3.ae21ba","type":"group","z":"2bc4d3ef.a5edac","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a4aad73b.e57208","54601bfd.8f3824","db871856.bfd2a8","b8a71c6e.c808e","d3c44361.f5298","2ad52e84.41b2e2","c5189e78.4e059","8d9014c5.2e17b8","62014655.b1cfc8","ae396683.a24e18","6a887897.1917e8","9227204f.899e2","1c14bae7.81b1a5","e495a92.43ad158","b916236a.2be38","b35440fc.35048","ee3f19c9.0cbf88","2a071a25.e5ebf6","9207bf50.0908f","4ed643cf.57b3dc","920ab065.d68dc"],"x":34,"y":1519,"w":932,"h":282},{"id":"175e2fcf.6fbf88","type":"group","z":"2bc4d3ef.a5edac","name":"Get Wh3 every 15 minutes","style":{"label":true},"nodes":["d58d65a1.1d65d","f070bc65.56bde8","ed137391.f05db8","bc0c1f43.23b058","bda57dd9.b6cdd","2968f252.59b76e","7920b27.b80b74c","9521b378.219948","5b5b1f94.768258","cb1de80b.0329a","79f46dd3.ebb044","9e2b8c59.e6764","fe131d1.6d65ee","6822fbf4.67fa3c","f5ae7809.7aa858","e8117c8b.5f12a"],"x":34,"y":1139,"w":1062,"h":222},{"id":"9c47ad87.26dca8","type":"group","z":"b7a49483.7cb4a8","name":"Central Monitor","style":{"label":true},"nodes":["d26c9242.451a4","a7887f74.a960b8","36b19487.73d53c","e28d3ee7.86adc8","8e1568b4.c53c78","d3a1b77e.a00cc8","f6dc7156.da247"],"x":34,"y":39},{"id":"a5110fd6.075088","type":"group","z":"2bc4d3ef.a5edac","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8eb847e0.0fa82","be40bd95.7cb268","18182764.537c71","54e389e6.219ce8","4a172eae.bd4758"],"x":34,"y":1819,"w":932,"h":162},{"id":"c6158114.c35af8","type":"group","z":"2bc4d3ef.a5edac","name":"Fix values in database","style":{"label":true},"nodes":["e6b05280.0dabb8","9cc2df79.31761","94fadfdd.7be4a8","f9858be3.81997","26071c97.caf534","4df08525.970aac","9b4b69e1.de4008"],"x":1134,"y":1479,"w":932,"h":122},{"id":"e2863feb.d7fdd","type":"group","z":"2bc4d3ef.a5edac","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["c458485c.65d7c8","5c3ce61f.fa496","9c673c08.6b5598","1922c7b3.d9d89"],"x":1454,"y":559,"w":362,"h":222},{"id":"92751a37.055d2","type":"group","z":"b7a49483.7cb4a8","name":"Missing Hidrometers","style":{"label":true},"nodes":["8cd5f0f9.74561","dbc68b8a.f115e","8d8ab0.3d27355","17d9c99a.0d7066","460f28a3.70b148","84cd59aa.b25378","43719904.23a0f8","8f97d090.c75018"],"x":34,"y":219},{"id":"255df9e.658ad86","type":"group","z":"b7a49483.7cb4a8","name":"Missing Energy","style":{"label":true},"nodes":["c6d30a96.5bb3e8","7671bb66.77a67c","8e98fe7c.e5968","83e1eef6.8dcd8","163dee37.73b252","c97cd2b9.77b45","84f32eb7.e0082","5019e03b.dc5bc"],"x":34,"y":439},{"id":"5d24d5fc.4793cc","type":"group","z":"2bc4d3ef.a5edac","name":"ATTRIBUTES_SYNC","style":{"label":true},"nodes":["c11b044e.4d5d08","7cae39c1.a69e78","fb3f2c8d.196058","9650b423.ed7478","4891ad4.c8e0bd4","79aaf5d7.6c799c"],"x":1474,"y":959,"w":612,"h":242},{"id":"9537256a.e8bc68","type":"group","z":"2bc4d3ef.a5edac","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8"],"x":1694,"y":50,"w":1079,"h":191},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"w9kicsl7hpt722zs5skm","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe0bbd9.5bb3e4","type":"postgreSQLConfig","z":"2bc4d3ef.a5edac","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"teta","passwordFieldType":"str"},{"id":"c1122b85.73f4c8","type":"mqtt-broker","z":"","name":"Thingsboard PE","broker":"mqtt.myio-bas.com","port":"1883","clientid":"ivxh566waewqowmzfnnx","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f9e959d.ef4d8c","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"b5c717d3.0bf2c8","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"c9ed15cf.4ad948","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"6eac0185.312bb","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"bf13fbc6.ba4de8","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"4c5827b9.b9a88","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1811f39.ad8908","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1afbccb0.7121f3","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.data.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"c68cd160.389db","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"839ab9d8.1527d8","type":"http in","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","url":"/Check","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1000,"wires":[["7f780c40.ad45e4"]]},{"id":"9ca9ef0f.4a2ca","type":"debug","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":960,"wires":[],"l":false},{"id":"56bc2ba1.040794","type":"function","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"Format name","func":"const pattern = /\\s\\([^()]+\\)$/;\nconst deviceName = msg.payload.device;\nconst newDeviceName = deviceName.replace(pattern, '');\n\nmsg.payload = {\n    device: newDeviceName,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":1000,"wires":[["32c45d3b.b0f9c2","c7e20ce1.fc6c6"]],"l":false},{"id":"32c45d3b.b0f9c2","type":"function","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"get slaveId","func":"const payload = msg.payload;\nconst devices = flow.get('devices') || {};\nconst device = devices[payload.device];\nconst slaveId = device.slaveId;\n\n return {\n        payload: {\n            id: slaveId,\n        }\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1000,"wires":[["9ca9ef0f.4a2ca","576dbbef.c8b814"]]},{"id":"7f780c40.ad45e4","type":"change","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":1000,"wires":[["56bc2ba1.040794"]],"l":false},{"id":"69a79861.6bcc18","type":"http response","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","statusCode":"200","headers":{},"x":860,"y":1060,"wires":[]},{"id":"576dbbef.c8b814","type":"change","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"\"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[["69a79861.6bcc18"]]},{"id":"c7e20ce1.fc6c6","type":"debug","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":940,"wires":[],"l":false},{"id":"b3c3a42e.37de88","type":"send-check","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","x":710,"y":1000,"wires":[]},{"id":"6a14f3b2.cd8b2c","type":"myio-emitter","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","x":110,"y":640,"wires":[["5de6353b.c9836c"],["5678a6c3.be7e98"],["93ee4531.4db7d8"],[],[],["5678a6c3.be7e98"],["ca7c6620.0b5198"],["4f64022e.9cb7ec"],[],[],[],[]]},{"id":"5de6353b.c9836c","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["3f51507f.fcbcb"]]},{"id":"5678a6c3.be7e98","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["ff932835.497da8"]]},{"id":"93ee4531.4db7d8","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["6e1ff75e.4dbe98"]]},{"id":"ca7c6620.0b5198","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["b502336.ae18dd"]]},{"id":"4f64022e.9cb7ec","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":740,"wires":[["70ed4a2b.d46c74"]]},{"id":"3222e76f.436098","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":820,"wires":[["9ed92e5.979edd"]]},{"id":"6f667024.d1f12","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Atualização de dispositivo","info":"","x":410,"y":380,"wires":[]},{"id":"d533a111.18fe2","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Temperatura","info":"","x":370,"y":460,"wires":[]},{"id":"4fcbc1eb.eccfc","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Potencia","info":"","x":360,"y":540,"wires":[]},{"id":"5921e588.5a6e3c","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Corrente","info":"","x":362.89581298828125,"y":621.2222290039062,"wires":[]},{"id":"daa9d598.ad4b48","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Voltagem","info":"","x":360,"y":700,"wires":[]},{"id":"da6682b4.03803","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Humidade","info":"","x":360,"y":780,"wires":[]},{"id":"3f51507f.fcbcb","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":420,"wires":[["ce30e30e.34805"]]},{"id":"ff932835.497da8","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":500,"wires":[["ce30e30e.34805"]]},{"id":"6e1ff75e.4dbe98","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform consumption reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nconst name = getNameWithoutMultipliers(slave.name);\nconst multiplier = getMultiplier(slave.name);\n\nmsg.payload = {\n  [name]: [\n    {\n      consumption: lastReading.value * multiplier,\n      a: lastReading.phases ? lastReading.phases.a * multiplier : null,\n      b: lastReading.phases ? lastReading.phases.b * multiplier : null,\n      c: lastReading.phases ? lastReading.phases.c * multiplier : null,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":580,"wires":[["ce30e30e.34805"]]},{"id":"b502336.ae18dd","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform current reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nconst name = getNameWithoutMultipliers(slave.name);\nconst multiplier = getMultiplier(slave.name);\n\nmsg.payload = {\n  [name]: [\n    {\n      total_current: lastReading.total_current * multiplier,\n      current_a: lastReading.a * multiplier,\n      current_b: lastReading.b * multiplier,\n      current_c: lastReading.c * multiplier,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":660,"wires":[["ce30e30e.34805"]]},{"id":"70ed4a2b.d46c74","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform voltage reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\n\nlet a, b, c;\nlet fpA, fpB, fpC;\n\nif (voltage) {\n  a = voltage.a;\n  b = voltage.b;\n  c = voltage.c;\n}\n\nif (fp) {\n  fpA = fp.a;\n  fpB = fp.b;\n  fpC = fp.c;\n}\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nconst name = getNameWithoutMultipliers(slave.name);\nconst multiplier = getMultiplier(slave.name);\n\nmsg.payload = {\n  [name]: [\n    {\n      fp_a: fpA,\n      fp_b: fpB,\n      fp_c: fpC,\n      voltage_a: a ? a * multiplier : null,\n      voltage_b: b ? b * multiplier : null,\n      voltage_c: c ? c * multiplier : null,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["df4fb9f6.4d2108","2ae9d86e.868248"]]},{"id":"9ed92e5.979edd","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Format humidity","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":820,"wires":[["df4fb9f6.4d2108"]]},{"id":"ce30e30e.34805","type":"link out","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","eca30951.449508"],"x":1355,"y":480,"wires":[]},{"id":"df4fb9f6.4d2108","type":"link out","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","eca30951.449508"],"x":1195,"y":760,"wires":[]},{"id":"2ae9d86e.868248","type":"debug","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":720,"wires":[]},{"id":"7f3390f4.2b527","type":"inject","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["8ecbb671.f3df18"]]},{"id":"8ecbb671.f3df18","type":"get-data","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","selectedOption":"slaves","x":340,"y":160,"wires":[["3b6e6995.f10126","72772d64.b7dde4","196e6875.c7c5a8"]]},{"id":"3b6e6995.f10126","type":"split","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":160,"wires":[["f5df6480.ffe408"]],"l":false},{"id":"f5df6480.ffe408","type":"switch","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":160,"wires":[["85b7cc96.8795f"],["6c636e38.ab99"],[]],"l":false},{"id":"85b7cc96.8795f","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list;\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (let i = 0; i < channels.length; i++) {\n  const channel = channels[i];\n  let channelConfig;\n\n  if (config && config.channelConfig) {\n    const channelConfigKey = `channel${channel.channel}`;\n\n    if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n      channelConfig = config.channelConfig[channelConfigKey];\n    }\n  }\n  const name = getNameWithoutMultipliers(channel.name);\n  devices[name] = {\n    type: channel.type,\n    name: channel.name,\n    channelType: channelConfig ? channelConfig.channel_type : null,\n    outputType: channelConfig ? channelConfig.output : null,\n    slaveId: channel.slaveId,\n    channelId: channel.channel,\n    deviceKind: channel.type,\n    deviceName: channel.name,\n    uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n  };\n}\nmsg.payload = devices;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":120,"wires":[["9b4d3f62.cb348"]]},{"id":"6c636e38.ab99","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId\n};\n\n/*\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n\n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n}\n*/\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["9b4d3f62.cb348"]]},{"id":"a627f4a0.401d88","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["9b4d3f62.cb348"]]},{"id":"a8e9f6c5.b128d8","type":"join","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":160,"wires":[["cd249588.07fc88","79042532.8ab034"]]},{"id":"cd249588.07fc88","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["e75aff05.48022","8c4a3115.638d"]]},{"id":"e75aff05.48022","type":"change","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":160,"wires":[[]],"l":false},{"id":"9b4d3f62.cb348","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":160,"wires":[["a8e9f6c5.b128d8","bb16bf85.38dcd8"]],"l":false},{"id":"72772d64.b7dde4","type":"change","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":120,"wires":[[]],"l":false},{"id":"647257ab.366cc8","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1360,"y":260,"wires":[]},{"id":"af54d2c4.f07c9","type":"comment","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Save uniqueId to device attributes","info":"","x":1320,"y":220,"wires":[]},{"id":"8c4a3115.638d","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":111,"wires":[],"l":false},{"id":"196e6875.c7c5a8","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":71,"wires":[],"l":false},{"id":"59b2b505.b1857c","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1400,"wires":[["d52a26d6.a8a548"]]},{"id":"d52a26d6.a8a548","type":"change","z":"2bc4d3ef.a5edac","name":"","rules":[{"t":"set","p":"lastSuccessfulRun","pt":"flow","to":"2025-03-01T00:00:00.000Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1400,"wires":[[]]},{"id":"afd35fca.54102","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":420,"wires":[["8ca0077.e8959f8","ad27331.f1f65d"]]},{"id":"95ce2668.1e2e58","type":"inject","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1560,"y":480,"wires":[["afd35fca.54102"]]},{"id":"8ca0077.e8959f8","type":"debug","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1960,"y":480,"wires":[]},{"id":"e70b564c.e024b8","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1575,"y":420,"wires":[["ec3abbf8.881c88","afd35fca.54102"]],"l":false},{"id":"ad27331.f1f65d","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1980,"y":420,"wires":[]},{"id":"eca30951.449508","type":"link in","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","links":["6a8d76a0.316138","fc544c8d.06834","4c51ea40.64a4e4","bca8fcee.f61da","27b46fbd.c51ed","737a7284.a50ecc","e56cde5c.56f23","ce30e30e.34805","df4fb9f6.4d2108","53a6ab82.0071c4","9b58ea20.906e18"],"x":1515,"y":420,"wires":[["e70b564c.e024b8"]]},{"id":"563c0479.f8ecbc","type":"inject","z":"2bc4d3ef.a5edac","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":2330,"y":400,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"2bc4d3ef.a5edac","g":"c4ae64eb.f82c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2475,"y":400,"wires":[],"l":false},{"id":"a4aad73b.e57208","type":"function","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","func":"const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1600,"wires":[["db871856.bfd2a8"]]},{"id":"54601bfd.8f3824","type":"http response","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","statusCode":"200","headers":{},"x":880,"y":1600,"wires":[]},{"id":"db871856.bfd2a8","type":"postgresql","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS consumption_date,                           \n    SUM(value) / 1000 AS total_consumption_kwh, \n    COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)) AS total_hours, \n    (SUM(value) / 1000) / NULLIF(COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)), 0) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE\nslave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    consumption_date                       \nORDER BY\n    consumption_date;","postgreSQLConfig":"6f9e959d.ef4d8c","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":1600,"wires":[["54601bfd.8f3824"]]},{"id":"b8a71c6e.c808e","type":"http in","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Average Consumption v3","url":"/dash_api/avg_consumption_v3/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1600,"wires":[["a4aad73b.e57208"]]},{"id":"d3c44361.f5298","type":"http in","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Min and Max demand V2","url":"/dash_api/demand_v2/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1640,"wires":[["8d9014c5.2e17b8"]]},{"id":"2ad52e84.41b2e2","type":"postgresql","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    MIN(min_hourly_value)/1000 AS min_daily_demand,\n    MAX(max_hourly_value)/1000 AS max_daily_demand\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":1640,"wires":[["c5189e78.4e059"]]},{"id":"c5189e78.4e059","type":"http response","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","statusCode":"200","headers":{},"x":880,"y":1640,"wires":[]},{"id":"8d9014c5.2e17b8","type":"function","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","func":"const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1640,"wires":[["2ad52e84.41b2e2"]]},{"id":"62014655.b1cfc8","type":"comment","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Consumption report V2","info":"","x":160,"y":1560,"wires":[]},{"id":"ae396683.a24e18","type":"http response","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","statusCode":"200","headers":{},"x":880,"y":1680,"wires":[]},{"id":"6a887897.1917e8","type":"http in","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Total daily consumption sum","url":"dash_api/v2/total_daily_consumption/:names/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1680,"wires":[["9227204f.899e2"]]},{"id":"9227204f.899e2","type":"function","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","func":"let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '').trim();\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1680,"wires":[["1c14bae7.81b1a5"]]},{"id":"1c14bae7.81b1a5","type":"postgresql","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\ndaily_sums AS (\n    SELECT\n        DATE_TRUNC('day', hour) AS day,\n        slave_id,\n        SUM(hourly_avg) / 1000 AS daily_sum_kwh\n    FROM\n        hourly_data\n    GROUP BY\n        DATE_TRUNC('day', hour),\n        slave_id\n)\nSELECT\n    day,\n    SUM(daily_sum_kwh) AS total_daily_consumption_kwh,\n    AVG(daily_sum_kwh) AS avg_daily_sum_kwh,\n    MIN(daily_sum_kwh) AS min_daily_sum_kwh,\n    MAX(daily_sum_kwh) AS max_daily_sum_kwh\nFROM \n    daily_sums\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"6f9e959d.ef4d8c","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":1680,"wires":[["ae396683.a24e18"]]},{"id":"e495a92.43ad158","type":"http in","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Consumption per device in a range.","url":"/dash_api/v2/consumption_per_device/:names/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1720,"wires":[["b916236a.2be38"]]},{"id":"b916236a.2be38","type":"function","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","func":"let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '').trim();\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1720,"wires":[["b35440fc.35048"]]},{"id":"b35440fc.35048","type":"postgresql","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;","postgreSQLConfig":"6f9e959d.ef4d8c","split":false,"rowsPerMsg":1,"outputs":1,"x":710,"y":1720,"wires":[["ee3f19c9.0cbf88"]]},{"id":"ee3f19c9.0cbf88","type":"http response","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","statusCode":"200","headers":{},"x":880,"y":1720,"wires":[]},{"id":"2a071a25.e5ebf6","type":"http in","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"Consumption per specific device in range","url":"/dash_api/v2/consumption_per_specific_device/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1760,"wires":[["9207bf50.0908f"]]},{"id":"9207bf50.0908f","type":"function","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","func":"const name = msg.req.params.name;\nconst devices = flow.get('devices') || {};\n\n\nconst cleanName = name.replace(/\\s*\\([^)]*\\)$/, '').trim();\n    \nif (devices[cleanName]) {\n    if (!devices[cleanName].slaveId) {\n        node.warn('Device has no slave id:' + cleanName);\n        return null;\n    }\n    \n    msg.slaveId = devices[cleanName].slaveId;\n    return msg;\n}\n\nnode.warn(`Dispositivo não encontrado: ${cleanName}`);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1760,"wires":[["4ed643cf.57b3dc"]]},{"id":"4ed643cf.57b3dc","type":"postgresql","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.slaveId }}\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    DATE_TRUNC('day', hour) AS day,\n    AVG(hourly_avg) / 1000 AS avg_consumption,\n    MIN(hourly_avg) / 1000 AS min_consumption,\n    MAX(hourly_avg) / 1000 AS max_consumption,\n    SUM(hourly_avg) / 1000 AS total_consumption\nFROM \n    hourly_data\nGROUP BY\n    DATE_TRUNC('day', hour)\nORDER BY\n    day;","postgreSQLConfig":"6f9e959d.ef4d8c","split":false,"rowsPerMsg":1,"outputs":1,"x":710,"y":1760,"wires":[["920ab065.d68dc"]]},{"id":"920ab065.d68dc","type":"http response","z":"2bc4d3ef.a5edac","g":"ebb55c3.ae21ba","name":"","statusCode":"200","headers":{},"x":880,"y":1760,"wires":[]},{"id":"6538625b.8565cc","type":"link in","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","links":["9ffd6c64.6ee278","cb1de80b.0329a","1922c7b3.d9d89"],"x":1695,"y":500,"wires":[["60f01d6f.d77d54"]]},{"id":"60f01d6f.d77d54","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1755,"y":500,"wires":[["ad27331.f1f65d"]],"l":false},{"id":"bb16bf85.38dcd8","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1195,"y":260,"wires":[["647257ab.366cc8"]],"l":false},{"id":"d58d65a1.1d65d","type":"postgresql","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"Get last 15 minutes","query":"WITH slave_multipliers AS (\n  SELECT \n    id,\n    COALESCE(\n      CASE \n        WHEN name ~ ' x\\d+\\.?\\d*($|\\s)' THEN \n          CAST(REGEXP_REPLACE(name, '.* x(\\d+\\.?\\d*)(?:$|\\s).*', '\\1') AS NUMERIC)\n        ELSE 1\n      END,\n      1\n    ) AS multiplier\n  FROM slaves\n)\nSELECT \n  time_bucket('15 minutes', cr.timestamp) AS quinze_min,\n  (AVG(cr.value) * 0.25 * sm.multiplier) AS value_wh,\n  cr.slave_id\nFROM consumption_realtime cr\nJOIN slave_multipliers sm ON cr.slave_id = sm.id\nWHERE cr.slave_id IN {{{ msg.payload.devices }}}\n  AND cr.timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, cr.slave_id, sm.multiplier\nORDER BY quinze_min DESC;","postgreSQLConfig":"fe0bbd9.5bb3e4","split":false,"rowsPerMsg":1,"outputs":1,"x":490,"y":1220,"wires":[["ed137391.f05db8","2968f252.59b76e"]]},{"id":"f070bc65.56bde8","type":"inject","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1220,"wires":[["bc0c1f43.23b058"]]},{"id":"ed137391.f05db8","type":"debug","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":1180,"wires":[],"l":false},{"id":"bc0c1f43.23b058","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","func":"function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .map(device => device.slaveId);\n\nif (energySensors.length === 0) {\n    node.warn('No energy sensors.');\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1220,"wires":[["bda57dd9.b6cdd","d58d65a1.1d65d"]]},{"id":"bda57dd9.b6cdd","type":"debug","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":415,"y":1180,"wires":[],"l":false},{"id":"2968f252.59b76e","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n\n    if (device.slaveId === slaveId) {\n      return device;\n    }\n  }\n}\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id);\n\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  if (!(actualName in acc)) {\n    acc[actualName] = [];\n  }\n\n  acc[actualName].push({\n    ts: new Date(reading.quinze_min).getTime(),\n    values: {\n      Wh3: reading.value_wh,\n    },\n  });\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1220,"wires":[["7920b27.b80b74c","9521b378.219948"]]},{"id":"7920b27.b80b74c","type":"debug","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":855,"y":1180,"wires":[],"l":false},{"id":"9521b378.219948","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"Queue","func":"const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1220,"wires":[["5b5b1f94.768258","cb1de80b.0329a"]]},{"id":"5b5b1f94.768258","type":"debug","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1035,"y":1220,"wires":[],"l":false},{"id":"cb1de80b.0329a","type":"link out","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","links":["c679bdd1.0c0f","6538625b.8565cc"],"x":1035,"y":1180,"wires":[]},{"id":"79f46dd3.ebb044","type":"postgresql","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"Get last 15 minutes","query":"WITH slave_multipliers AS (\n  SELECT \n    id,\n    COALESCE(\n      CASE \n        WHEN name ~ ' x\\d+\\.?\\d*($|\\s)' THEN \n          CAST(REGEXP_REPLACE(name, '.* x(\\d+\\.?\\d*)(?:$|\\s).*', '\\1') AS NUMERIC)\n        ELSE 1\n      END,\n      1\n    ) AS multiplier\n  FROM slaves\n)\nSELECT \n  time_bucket('15 minutes', cr.timestamp) AS quinze_min,\n  (AVG(cr.value) * 0.25 * sm.multiplier) AS value_wh,\n  cr.slave_id\nFROM consumption_realtime cr\nJOIN slave_multipliers sm ON cr.slave_id = sm.id\nWHERE cr.slave_id IN {{{ msg.payload.devices }}}\n  AND cr.timestamp >= '2025-03-01 00:00:00'\n  AND cr.slave_id = 28\nGROUP BY quinze_min, cr.slave_id, sm.multiplier\nORDER BY quinze_min DESC;","postgreSQLConfig":"fe0bbd9.5bb3e4","split":false,"rowsPerMsg":1,"outputs":1,"x":490,"y":1280,"wires":[["6822fbf4.67fa3c","e8117c8b.5f12a"]]},{"id":"9e2b8c59.e6764","type":"inject","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1280,"wires":[["fe131d1.6d65ee"]]},{"id":"fe131d1.6d65ee","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","func":"function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = false// flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .map(device => device.slaveId);\n\nif (energySensors.length === 0) {\n    node.warn('no energy sensors')\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1280,"wires":[["79f46dd3.ebb044"]]},{"id":"6822fbf4.67fa3c","type":"debug","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1320,"wires":[]},{"id":"51884ade.2285fc","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1560,"y":860,"wires":[["870b4b02.f0648"]]},{"id":"870b4b02.f0648","type":"function","z":"2bc4d3ef.a5edac","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    const match = key.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (!match) {\n        continue;\n    }\n\n    actualName = match[1];\n    multiplier = parseFloat(match[2]);\n\n    payload[`${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":860,"wires":[["bc5c8a8e.43d848"]]},{"id":"cdd71ff9.6eca4","type":"comment","z":"2bc4d3ef.a5edac","name":"Slave Id + Central Id","info":"","x":1590,"y":820,"wires":[]},{"id":"bc5c8a8e.43d848","type":"debug","z":"2bc4d3ef.a5edac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1980,"y":860,"wires":[]},{"id":"837be8ae.c1e8e","type":"mqtt out","z":"2bc4d3ef.a5edac","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":2000,"y":900,"wires":[]},{"id":"d26c9242.451a4","type":"inject","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/2703273e-cb68-4635-9511-cb558c056125","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["f6dc7156.da247"]]},{"id":"a7887f74.a960b8","type":"http request","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["36b19487.73d53c"]]},{"id":"36b19487.73d53c","type":"switch","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["e28d3ee7.86adc8"],["8e1568b4.c53c78","d3a1b77e.a00cc8"]]},{"id":"e28d3ee7.86adc8","type":"debug","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"8e1568b4.c53c78","type":"debug","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"d3a1b77e.a00cc8","type":"function","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"f6dc7156.da247","type":"function","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["a7887f74.a960b8"]],"l":false},{"id":"35110c03.effe1c","type":"postgresql","z":"2bc4d3ef.a5edac","name":"Get last 15 minutes","query":"SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;","postgreSQLConfig":"fe0bbd9.5bb3e4","split":false,"rowsPerMsg":1,"outputs":1,"x":1310,"y":1340,"wires":[[]]},{"id":"56a77ecc.e41de","type":"postgresql","z":"2bc4d3ef.a5edac","name":"","query":"SELECT \n  id,\n  name,\n  COALESCE(\n    CASE \n      WHEN name ~ ' x\\d+\\.?\\d*($|\\s)' THEN \n        CAST(REGEXP_REPLACE(name, '.* x(\\d+\\.?\\d*)(?:$|\\s).*', '\\1') AS NUMERIC)\n      ELSE 1\n    END,\n    1\n  ) AS multiplier\nFROM slaves\nWHERE name LIKE '%x%';","postgreSQLConfig":"c9ed15cf.4ad948","split":false,"rowsPerMsg":1,"outputs":1,"x":1010,"y":1420,"wires":[["59a6270c.ef59f8"]]},{"id":"59a6270c.ef59f8","type":"debug","z":"2bc4d3ef.a5edac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":1420,"wires":[]},{"id":"820436a8.0d5bd","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":1420,"wires":[["56a77ecc.e41de"]]},{"id":"f5ae7809.7aa858","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"Queue","func":"const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":1280,"wires":[["cb1de80b.0329a"]]},{"id":"79042532.8ab034","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":120,"wires":[]},{"id":"ec3abbf8.881c88","type":"debug","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":380,"wires":[]},{"id":"e8117c8b.5f12a","type":"function","z":"2bc4d3ef.a5edac","g":"175e2fcf.6fbf88","name":"","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n\n    if (device.slaveId === slaveId) {\n      return device;\n    }\n  }\n}\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id);\n\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  if (!(actualName in acc)) {\n    acc[actualName] = [];\n  }\n\n  acc[actualName].push({\n    ts: new Date(reading.quinze_min).getTime(),\n    values: {\n      Wh4: reading.value_wh,\n    },\n  });\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1280,"wires":[["f5ae7809.7aa858"]]},{"id":"8eb847e0.0fa82","type":"comment","z":"2bc4d3ef.a5edac","g":"a5110fd6.075088","name":"Consumption report V5","info":"","x":160,"y":1860,"wires":[]},{"id":"be40bd95.7cb268","type":"function","z":"2bc4d3ef.a5edac","g":"a5110fd6.075088","name":"","func":"let slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1940,"wires":[["18182764.537c71"]]},{"id":"18182764.537c71","type":"postgresql","z":"2bc4d3ef.a5edac","g":"a5110fd6.075088","name":"","query":"WITH hourly_data AS (\n    SELECT\n        cr.slave_id,\n        time_bucket('1 hour', cr.timestamp) AS hour,\n        AVG(cr.value) AS hourly_avg\n    FROM\n        consumption_realtime cr\n    JOIN \n        slaves s ON cr.slave_id = s.id\n    WHERE\n        cr.slave_id IN ({{ msg.payload }})\n        AND cr.timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND (cr.value / 3.0) <= (\n            CASE COALESCE(s.clamp_type, '0')\n                WHEN '0' THEN 50\n                WHEN '1' THEN 100\n                WHEN '2' THEN 400\n                WHEN '3' THEN 1000\n                WHEN '4' THEN 2000\n                WHEN '5' THEN 1600\n                WHEN '6' THEN 1000\n                ELSE 0\n            END * 220\n        )\n    GROUP BY\n        cr.slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;\n","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":1940,"wires":[["54e389e6.219ce8"]]},{"id":"54e389e6.219ce8","type":"http response","z":"2bc4d3ef.a5edac","g":"a5110fd6.075088","name":"","statusCode":"200","headers":{},"x":880,"y":1940,"wires":[]},{"id":"4a172eae.bd4758","type":"http in","z":"2bc4d3ef.a5edac","g":"a5110fd6.075088","name":"Consumption per device in a range.","url":"/dash_api/v3/consumption_per_device/:slaveIds/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":200,"y":1940,"wires":[["be40bd95.7cb268"]]},{"id":"466b9b1a.f8a3ec","type":"mqtt in","z":"58a95097.2bef3","name":"","topic":"gateway/c248c77f-da23-4247-a06b-cf371a82f4d9/fetch","qos":"2","datatype":"auto-detect","broker":"bf13fbc6.ba4de8","x":260,"y":200,"wires":[["41f48036.b79b98","fc3e9e63.b5e2a8"]]},{"id":"facb6b8a.719fb8","type":"postgresql","z":"58a95097.2bef3","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":160,"wires":[["408770a1.75397"]]},{"id":"3380395a.1ae4a6","type":"function","z":"58a95097.2bef3","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":655,"y":180,"wires":[["facb6b8a.719fb8"],["8735dc89.8a2908"]],"l":false},{"id":"8735dc89.8a2908","type":"mqtt out","z":"58a95097.2bef3","name":"","topic":"","qos":"","retain":"","broker":"bf13fbc6.ba4de8","x":1030,"y":200,"wires":[]},{"id":"bb72680e.ac3a88","type":"postgresql","z":"58a95097.2bef3","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":220,"wires":[["8735dc89.8a2908"]]},{"id":"30b03c1a.be7ce4","type":"function","z":"58a95097.2bef3","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655,"y":220,"wires":[["bb72680e.ac3a88"]],"l":false},{"id":"408770a1.75397","type":"function","z":"58a95097.2bef3","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":935,"y":160,"wires":[["8735dc89.8a2908"]],"l":false},{"id":"d71b0d8e.6d89c","type":"inject","z":"58a95097.2bef3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":150,"y":100,"wires":[["8c136814.48e028"]]},{"id":"8c136814.48e028","type":"debug","z":"58a95097.2bef3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":285,"y":100,"wires":[],"l":false},{"id":"41f48036.b79b98","type":"json","z":"58a95097.2bef3","name":"","property":"payload","action":"","pretty":false,"x":550,"y":180,"wires":[["3380395a.1ae4a6"]]},{"id":"fc3e9e63.b5e2a8","type":"json","z":"58a95097.2bef3","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["30b03c1a.be7ce4"]]},{"id":"829dd6fe.f0c1e","type":"function","z":"58a95097.2bef3","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["57b8a80c.a6296","3b4af2fe.44992e"]]},{"id":"c768f4dc.2f08c8","type":"inject","z":"58a95097.2bef3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["9b13a2ce.c8a248"]]},{"id":"3b4af2fe.44992e","type":"mqtt out","z":"58a95097.2bef3","name":"","topic":"","qos":"","retain":"","broker":"bf13fbc6.ba4de8","x":750,"y":300,"wires":[]},{"id":"9b13a2ce.c8a248","type":"postgresql","z":"58a95097.2bef3","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":330,"y":300,"wires":[["c955d2d2.505"]]},{"id":"c955d2d2.505","type":"function","z":"58a95097.2bef3","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":455,"y":300,"wires":[["829dd6fe.f0c1e"]],"l":false},{"id":"57b8a80c.a6296","type":"debug","z":"58a95097.2bef3","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":340,"wires":[]},{"id":"15e6a44c.048c94","type":"comment","z":"58a95097.2bef3","name":"1. Get the central UUID here","info":"It will appear on the logs","x":180,"y":60,"wires":[]},{"id":"f7db6b0c.2fe828","type":"comment","z":"58a95097.2bef3","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":230,"y":160,"wires":[]},{"id":"2cc005f7.430d52","type":"comment","z":"58a95097.2bef3","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":220,"y":260,"wires":[]},{"id":"acb6b578.ee033","type":"comment","z":"58a95097.2bef3","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":160,"y":380,"wires":[]},{"id":"e6b05280.0dabb8","type":"inject","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1250,"y":1520,"wires":[["9cc2df79.31761"]]},{"id":"9cc2df79.31761","type":"postgresql","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '30 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1450,"y":1520,"wires":[["94fadfdd.7be4a8","f9858be3.81997"]]},{"id":"94fadfdd.7be4a8","type":"debug","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":1520,"wires":[]},{"id":"f9858be3.81997","type":"function","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","func":"if (msg.payload[0].affected_rows > 0) {\n    msg.payload = {\n      \"payload\": {\n        \"summary\": `Detectados dispositivos com leitura inválida. ${msg.payload.affected_rows} corrigidos.`,\n        \"severity\": \"info\",\n        \"source\": \"InvalidPulsesDetection\"\n      },\n      \"routing_key\": \"0d3a200b4fd9410fc09c866e9d49f8b0\",\n      \"event_action\": \"trigger\"\n    };    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":1560,"wires":[["4df08525.970aac","9b4b69e1.de4008"]]},{"id":"26071c97.caf534","type":"http request","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://events.pagerduty.com/v2/enqueue","tls":"","persist":false,"proxy":"","authType":"","x":1970,"y":1560,"wires":[[]]},{"id":"4df08525.970aac","type":"debug","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1840,"y":1520,"wires":[]},{"id":"9b4b69e1.de4008","type":"switch","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","property":"payload.affected_rows","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1830,"y":1560,"wires":[["26071c97.caf534"]]},{"id":"c458485c.65d7c8","type":"inject","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":600,"wires":[["5c3ce61f.fa496"]]},{"id":"5c3ce61f.fa496","type":"http request","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":660,"wires":[["9c673c08.6b5598"]]},{"id":"9c673c08.6b5598","type":"function","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":740,"wires":[["1922c7b3.d9d89"]]},{"id":"1922c7b3.d9d89","type":"link out","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"link out 3","links":["36b5efb3ab8764e1","5579a5e6.a0c3ec","6538625b.8565cc"],"x":1775,"y":640,"wires":[]},{"id":"8cd5f0f9.74561","type":"inject","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["dbc68b8a.f115e"]]},{"id":"dbc68b8a.f115e","type":"postgresql","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":260,"wires":[["8d8ab0.3d27355","17d9c99a.0d7066","43719904.23a0f8"]]},{"id":"8d8ab0.3d27355","type":"debug","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"17d9c99a.0d7066","type":"function","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["460f28a3.70b148","84cd59aa.b25378"]]},{"id":"460f28a3.70b148","type":"debug","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"84cd59aa.b25378","type":"change","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[[]]},{"id":"43719904.23a0f8","type":"function","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":380,"wires":[["8f97d090.c75018"]],"l":false},{"id":"8f97d090.c75018","type":"mqtt out","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":750,"y":380,"wires":[]},{"id":"c6d30a96.5bb3e8","type":"postgresql","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":480,"wires":[["8e98fe7c.e5968","84f32eb7.e0082"]]},{"id":"7671bb66.77a67c","type":"inject","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["c6d30a96.5bb3e8"]]},{"id":"8e98fe7c.e5968","type":"function","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["83e1eef6.8dcd8","163dee37.73b252"]]},{"id":"83e1eef6.8dcd8","type":"debug","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"163dee37.73b252","type":"change","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"c97cd2b9.77b45","type":"mqtt out","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":770,"y":560,"wires":[]},{"id":"84f32eb7.e0082","type":"function","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":560,"wires":[["c97cd2b9.77b45","5019e03b.dc5bc"]],"l":false},{"id":"5019e03b.dc5bc","type":"debug","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"f4711192.229fb8","type":"myio-emitter","z":"2bc4d3ef.a5edac","x":110,"y":2180,"wires":[["192b58e0.52b9c7"],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[],[],[],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[]]},{"id":"192b58e0.52b9c7","type":"function","z":"2bc4d3ef.a5edac","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":2180,"wires":[["2c8b1784.75c5b"]]},{"id":"2c8b1784.75c5b","type":"debug","z":"2bc4d3ef.a5edac","name":"cabelo curto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":2180,"wires":[]},{"id":"c0d4c74.4e269b8","type":"function","z":"2bc4d3ef.a5edac","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":415,"y":2420,"wires":[[]],"l":false},{"id":"ec89bf98.335e9","type":"mqtt out","z":"2bc4d3ef.a5edac","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":590,"y":2380,"wires":[]},{"id":"d1ff9cd1.98845","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2340,"wires":[["cd023887.b5f0a"]]},{"id":"a167843d.6e7af8","type":"function","z":"2bc4d3ef.a5edac","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":2340,"wires":[["ec89bf98.335e9","2fa482bf.499fe6","c0d4c74.4e269b8"]],"l":false},{"id":"2fa482bf.499fe6","type":"debug","z":"2bc4d3ef.a5edac","name":"Pudim de geleia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":2320,"wires":[]},{"id":"cd023887.b5f0a","type":"http request","z":"2bc4d3ef.a5edac","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":275,"y":2340,"wires":[["a167843d.6e7af8"]],"l":false},{"id":"6f23ca4.e16e734","type":"data-fetcher","z":"58a95097.2bef3","name":"","mqtt":"1afbccb0.7121f3","uuidOverride":"","x":150,"y":580,"wires":[]},{"id":"c11b044e.4d5d08","type":"inject","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"paylod","v":"CENTRAL_UUID","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1610,"y":1060,"wires":[["7cae39c1.a69e78"]]},{"id":"7cae39c1.a69e78","type":"function","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","func":"const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nvar deviceTypePatterns = [\n  { patterns: ['COMPRESSOR'], type: 'COMPRESSOR' },\n  { patterns: ['VENT'], type: 'VENTILADOR' },\n  { patterns: ['ESRL'], type: 'ESCADA_ROLANTE' },\n  { patterns: ['ELEV'], type: 'ELEVADOR' },\n  { patterns: ['MOTOR', 'RECALQUE'], type: 'MOTOR' },\n  { patterns: ['RELOGIO', 'RELOG', 'REL '], type: 'RELOGIO' },\n  { patterns: ['ENTRADA', 'SUBESTACAO', 'SUBEST'], type: 'ENTRADA' },\n  { patterns: ['CHILLER'], type: 'CHILLER' },\n  { patterns: ['FANCOIL'], type: 'FANCOIL' },\n  { patterns: ['TRAFO'], type: 'ENTRADA' },\n  { patterns: ['CAG'], type: 'BOMBA_CAG' },\n  { patterns: ['HIDR', 'BANHEIRO'], type: 'HIDROMETRO' },\n  { patterns: ['CAIXA DAGUA', 'CX DAGUA', 'CXDAGUA', 'SCD'], type: 'CAIXA_DAGUA' },\n  { patterns: ['TANK', 'TANQUE', 'RESERVATORIO'], type: 'TANK' },\n  { patterns: ['AUTOMATICO'], type: 'SELETOR_AUTO_MANUAL' },\n  { patterns: ['TERMOSTATO', 'TERMO', 'TEMP'], type: 'TERMOSTATO' },\n  { patterns: ['ABRE'], type: 'SOLENOIDE' },\n  { patterns: ['AUTOMACAO', 'GW_AUTO'], type: 'GLOBAL_AUTOMACAO' },\n  { patterns: [' AC '], type: 'CONTROLE REMOTO' }\n];\n\nfunction handleDeviceType(name) {\n  var safeName = name ? name : '';\n  var upper = safeName\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n\n  // Caso especial: MOTR sem CHILLER\n  if (upper.includes('MOTR') && !upper.includes('CHILLER')) {\n    return 'MOTOR';\n  }\n\n  // Busca nos padrões\n  for (var i = 0; i < deviceTypePatterns.length; i++) {\n    var item = deviceTypePatterns[i];\n    for (var j = 0; j < item.patterns.length; j++) {\n      if (upper.includes(item.patterns[j])) {\n        return item.type;\n      }\n    }\n  }\n\n  // Caso especial: termina com \" AC\"\n  if (upper.slice(-3) === ' AC') {\n    return 'CONTROLE REMOTO';\n  }\n\n  // Caso especial: começa com \"3F \"\n  if (upper.indexOf('3F ') === 0) {\n    return '3F_MEDIDOR';\n  }\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: device.slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":1160,"wires":[["79aaf5d7.6c799c"]]},{"id":"fb3f2c8d.196058","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1960,"y":1040,"wires":[]},{"id":"9650b423.ed7478","type":"debug","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1960,"y":1160,"wires":[]},{"id":"4891ad4.c8e0bd4","type":"comment","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"Envia o atributo Central ID dispositivo + deviceType","info":"","x":1690,"y":1000,"wires":[]},{"id":"79aaf5d7.6c799c","type":"function","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"add Namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":1120,"wires":[["fb3f2c8d.196058","9650b423.ed7478"]]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":2230,"y":140,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"786014a5.2c487c","type":"inject","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1810,"y":140,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":140,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2210,"y":100,"wires":[]},{"id":"7416219b.e3dc5","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Process the incoming payload and sum pulses (keeping the last timestamp)\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  // Multiply the reading value by the multiplier\n  const valueToAdd = reading.value * multiplier;\n  // Get the timestamp (in milliseconds)\n  const ts = new Date(reading.timestamp).getTime();\n\n  // If this is the first reading for the device, initialize the object;\n  // otherwise, add the pulses and update the timestamp to the current one.\n  if (!(actualName in acc)) {\n    acc[actualName] = [\n      {\n        ts: ts,\n        values: {\n          pulses: valueToAdd,\n        },\n      },\n    ];\n  } else {\n    acc[actualName][0].values.pulses += valueToAdd;\n    acc[actualName][0].ts = ts;\n  }\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2450,"y":140,"wires":[["9b58ea20.906e18","a3621c83.8b462"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2450,"y":100,"wires":[]},{"id":"f2e09fc0.c5039","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":180,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1820,"y":180,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","links":["dc43faa3.6655e8","9b865b5d.2cda18","eca30951.449508"],"x":2615,"y":140,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2657,"y":91,"wires":[]},{"id":"bdca7b0c.2358b8","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2230,"y":200,"wires":[]}]