src/NODE-RED/CAMPINAS/campinas_shopping_subestac_ao_principal/node-red-central-c248c77f-da23-4247-a06b-cf371a82f4d9-2026-04-26-13-53.json
[{"id":"2bc4d3ef.a5edac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d415fa7.58cd708","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"b7a49483.7cb4a8","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"58a95097.2bef3","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"299709bd.a82b46","type":"tab","label":"Notifics","disabled":false,"info":""},{"id":"7c2b6b79.d007dc","type":"tab","label":"Check Offline","disabled":false,"info":""},{"id":"dc09c5d6.fab1d","type":"tab","label":"Check last day data","disabled":false,"info":""},{"id":"2aa6d15a.9c1b9e","type":"group","z":"2bc4d3ef.a5edac","name":"Check","style":{"label":true},"nodes":["839ab9d8.1527d8","9ca9ef0f.4a2ca","56bc2ba1.040794","32c45d3b.b0f9c2","7f780c40.ad45e4","69a79861.6bcc18","576dbbef.c8b814","c7e20ce1.fc6c6","b3c3a42e.37de88"],"x":34,"y":899,"w":912,"h":202},{"id":"aa61127e.dfa2","type":"group","z":"2bc4d3ef.a5edac","name":"MQTT","style":{"label":true},"nodes":["6a14f3b2.cd8b2c","5de6353b.c9836c","5678a6c3.be7e98","93ee4531.4db7d8","ca7c6620.0b5198","4f64022e.9cb7ec","3222e76f.436098","6f667024.d1f12","d533a111.18fe2","4fcbc1eb.eccfc","5921e588.5a6e3c","daa9d598.ad4b48","da6682b4.03803","3f51507f.fcbcb","ff932835.497da8","6e1ff75e.4dbe98","b502336.ae18dd","70ed4a2b.d46c74","9ed92e5.979edd","ce30e30e.34805","df4fb9f6.4d2108","2ae9d86e.868248"],"x":34,"y":339,"w":1362,"h":522},{"id":"c93928f7.528eb8","type":"group","z":"2bc4d3ef.a5edac","name":"Store devices to flow.devices","style":{"label":true},"nodes":["7f3390f4.2b527","8ecbb671.f3df18","3b6e6995.f10126","f5df6480.ffe408","85b7cc96.8795f","6c636e38.ab99","a627f4a0.401d88","a8e9f6c5.b128d8","cd249588.07fc88","e75aff05.48022","9b4d3f62.cb348","72772d64.b7dde4","647257ab.366cc8","af54d2c4.f07c9","8c4a3115.638d","196e6875.c7c5a8","bb16bf85.38dcd8","79042532.8ab034"],"x":34,"y":30,"w":1582,"h":271},{"id":"98dc4278.851ea","type":"group","z":"2bc4d3ef.a5edac","name":"Thingsboard","style":{"label":true},"nodes":["afd35fca.54102","95ce2668.1e2e58","8ca0077.e8959f8","e70b564c.e024b8","ad27331.f1f65d","eca30951.449508","6538625b.8565cc","60f01d6f.d77d54","ec3abbf8.881c88"],"x":1454,"y":339,"w":652,"h":202},{"id":"c4ae64eb.f82c88","type":"group","z":"2bc4d3ef.a5edac","name":"send check","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":2214,"y":359,"w":322,"h":82},{"id":"9c47ad87.26dca8","type":"group","z":"b7a49483.7cb4a8","name":"Central Monitor","style":{"label":true},"nodes":["d26c9242.451a4","a7887f74.a960b8","36b19487.73d53c","e28d3ee7.86adc8","8e1568b4.c53c78","d3a1b77e.a00cc8","f6dc7156.da247"],"x":34,"y":39},{"id":"c6158114.c35af8","type":"group","z":"2bc4d3ef.a5edac","name":"Fix values in database","style":{"label":true},"nodes":["e6b05280.0dabb8","9cc2df79.31761","94fadfdd.7be4a8","f9858be3.81997","26071c97.caf534","4df08525.970aac","9b4b69e1.de4008"],"x":754,"y":1279,"w":932,"h":122},{"id":"e2863feb.d7fdd","type":"group","z":"2bc4d3ef.a5edac","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["c458485c.65d7c8","5c3ce61f.fa496","9c673c08.6b5598","1922c7b3.d9d89"],"x":1454,"y":559,"w":362,"h":222},{"id":"92751a37.055d2","type":"group","z":"b7a49483.7cb4a8","name":"Missing Hidrometers","style":{"label":true},"nodes":["8cd5f0f9.74561","dbc68b8a.f115e","8d8ab0.3d27355","17d9c99a.0d7066","460f28a3.70b148","84cd59aa.b25378","43719904.23a0f8","8f97d090.c75018"],"x":34,"y":219},{"id":"255df9e.658ad86","type":"group","z":"b7a49483.7cb4a8","name":"Missing Energy","style":{"label":true},"nodes":["c6d30a96.5bb3e8","7671bb66.77a67c","8e98fe7c.e5968","83e1eef6.8dcd8","163dee37.73b252","c97cd2b9.77b45","84f32eb7.e0082","5019e03b.dc5bc"],"x":34,"y":439},{"id":"5d24d5fc.4793cc","type":"group","z":"2bc4d3ef.a5edac","name":"ATTRIBUTES_SYNC","style":{"label":true},"nodes":["c11b044e.4d5d08","7cae39c1.a69e78","fb3f2c8d.196058","9650b423.ed7478","4891ad4.c8e0bd4","79aaf5d7.6c799c"],"x":1474,"y":959,"w":612,"h":242},{"id":"9537256a.e8bc68","type":"group","z":"2bc4d3ef.a5edac","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8"],"x":1694,"y":50,"w":1079,"h":191},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"w9kicsl7hpt722zs5skm","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe0bbd9.5bb3e4","type":"postgreSQLConfig","z":"2bc4d3ef.a5edac","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"teta","passwordFieldType":"str"},{"id":"c1122b85.73f4c8","type":"mqtt-broker","z":"","name":"Thingsboard PE","broker":"mqtt.myio-bas.com","port":"1883","clientid":"ivxh566waewqowmzfnnx","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f9e959d.ef4d8c","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"b5c717d3.0bf2c8","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"c9ed15cf.4ad948","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"6eac0185.312bb","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"bf13fbc6.ba4de8","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"4c5827b9.b9a88","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a1811f39.ad8908","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1afbccb0.7121f3","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.data.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"c68cd160.389db","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"839ab9d8.1527d8","type":"http in","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","url":"/Check","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1000,"wires":[["7f780c40.ad45e4"]]},{"id":"9ca9ef0f.4a2ca","type":"debug","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":960,"wires":[],"l":false},{"id":"56bc2ba1.040794","type":"function","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"Format name","func":"const pattern = /\\s\\([^()]+\\)$/;\nconst deviceName = msg.payload.device;\nconst newDeviceName = deviceName.replace(pattern, '');\n\nmsg.payload = {\n    device: newDeviceName,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":1000,"wires":[["32c45d3b.b0f9c2","c7e20ce1.fc6c6"]],"l":false},{"id":"32c45d3b.b0f9c2","type":"function","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"get slaveId","func":"const payload = msg.payload;\nconst devices = flow.get('devices') || {};\nconst device = devices[payload.device];\nconst slaveId = device.slaveId;\n\n return {\n        payload: {\n            id: slaveId,\n        }\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1000,"wires":[["9ca9ef0f.4a2ca","576dbbef.c8b814"]]},{"id":"7f780c40.ad45e4","type":"change","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":1000,"wires":[["56bc2ba1.040794"]],"l":false},{"id":"69a79861.6bcc18","type":"http response","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","statusCode":"200","headers":{},"x":860,"y":1060,"wires":[]},{"id":"576dbbef.c8b814","type":"change","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"\"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[["69a79861.6bcc18"]]},{"id":"c7e20ce1.fc6c6","type":"debug","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":940,"wires":[],"l":false},{"id":"b3c3a42e.37de88","type":"send-check","z":"2bc4d3ef.a5edac","g":"2aa6d15a.9c1b9e","x":710,"y":1000,"wires":[]},{"id":"6a14f3b2.cd8b2c","type":"myio-emitter","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","x":110,"y":640,"wires":[["5de6353b.c9836c"],["5678a6c3.be7e98"],["93ee4531.4db7d8"],[],[],["5678a6c3.be7e98"],["ca7c6620.0b5198"],["4f64022e.9cb7ec"],[],[],[],[]]},{"id":"5de6353b.c9836c","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["3f51507f.fcbcb"]]},{"id":"5678a6c3.be7e98","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["ff932835.497da8"]]},{"id":"93ee4531.4db7d8","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["6e1ff75e.4dbe98"]]},{"id":"ca7c6620.0b5198","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[["b502336.ae18dd"]]},{"id":"4f64022e.9cb7ec","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":740,"wires":[["70ed4a2b.d46c74"]]},{"id":"3222e76f.436098","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":820,"wires":[["9ed92e5.979edd"]]},{"id":"6f667024.d1f12","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Atualização de dispositivo","info":"","x":410,"y":380,"wires":[]},{"id":"d533a111.18fe2","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Temperatura","info":"","x":370,"y":460,"wires":[]},{"id":"4fcbc1eb.eccfc","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Potencia","info":"","x":360,"y":540,"wires":[]},{"id":"5921e588.5a6e3c","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Corrente","info":"","x":362.89581298828125,"y":621.2222290039062,"wires":[]},{"id":"daa9d598.ad4b48","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Voltagem","info":"","x":360,"y":700,"wires":[]},{"id":"da6682b4.03803","type":"comment","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Humidade","info":"","x":360,"y":780,"wires":[]},{"id":"3f51507f.fcbcb","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":420,"wires":[["ce30e30e.34805"]]},{"id":"ff932835.497da8","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":500,"wires":[["ce30e30e.34805"]]},{"id":"6e1ff75e.4dbe98","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform consumption reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":580,"wires":[["ce30e30e.34805"]]},{"id":"b502336.ae18dd","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform current reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":660,"wires":[["ce30e30e.34805"]]},{"id":"70ed4a2b.d46c74","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Transform voltage reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["df4fb9f6.4d2108","2ae9d86e.868248"]]},{"id":"9ed92e5.979edd","type":"function","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"Format humidity","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":820,"wires":[["df4fb9f6.4d2108"]]},{"id":"ce30e30e.34805","type":"link out","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","eca30951.449508"],"x":1355,"y":480,"wires":[]},{"id":"df4fb9f6.4d2108","type":"link out","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","eca30951.449508"],"x":1195,"y":760,"wires":[]},{"id":"2ae9d86e.868248","type":"debug","z":"2bc4d3ef.a5edac","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":720,"wires":[]},{"id":"7f3390f4.2b527","type":"inject","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["8ecbb671.f3df18"]]},{"id":"8ecbb671.f3df18","type":"get-data","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","selectedOption":"slaves","x":340,"y":160,"wires":[["3b6e6995.f10126","72772d64.b7dde4","196e6875.c7c5a8"]]},{"id":"3b6e6995.f10126","type":"split","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":160,"wires":[["f5df6480.ffe408"]],"l":false},{"id":"f5df6480.ffe408","type":"switch","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":160,"wires":[["85b7cc96.8795f"],["6c636e38.ab99"],[]],"l":false},{"id":"85b7cc96.8795f","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":120,"wires":[["9b4d3f62.cb348"]]},{"id":"6c636e38.ab99","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId\n};\n\n/*\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n\n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n}\n*/\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["9b4d3f62.cb348"]]},{"id":"a627f4a0.401d88","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Transform infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["9b4d3f62.cb348"]]},{"id":"a8e9f6c5.b128d8","type":"join","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":160,"wires":[["cd249588.07fc88","79042532.8ab034"]]},{"id":"cd249588.07fc88","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["e75aff05.48022","8c4a3115.638d"]]},{"id":"e75aff05.48022","type":"change","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":160,"wires":[[]],"l":false},{"id":"9b4d3f62.cb348","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":160,"wires":[["a8e9f6c5.b128d8","bb16bf85.38dcd8"]],"l":false},{"id":"72772d64.b7dde4","type":"change","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":120,"wires":[[]],"l":false},{"id":"647257ab.366cc8","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1360,"y":260,"wires":[]},{"id":"af54d2c4.f07c9","type":"comment","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Save uniqueId to device attributes","info":"","x":1320,"y":220,"wires":[]},{"id":"8c4a3115.638d","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":111,"wires":[],"l":false},{"id":"196e6875.c7c5a8","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":71,"wires":[],"l":false},{"id":"59b2b505.b1857c","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1180,"wires":[["d52a26d6.a8a548"]]},{"id":"d52a26d6.a8a548","type":"change","z":"2bc4d3ef.a5edac","name":"","rules":[{"t":"set","p":"lastSuccessfulRun","pt":"flow","to":"2025-03-01T00:00:00.000Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1180,"wires":[[]]},{"id":"afd35fca.54102","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":420,"wires":[["8ca0077.e8959f8","ad27331.f1f65d"]]},{"id":"95ce2668.1e2e58","type":"inject","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1560,"y":480,"wires":[["afd35fca.54102"]]},{"id":"8ca0077.e8959f8","type":"debug","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1960,"y":480,"wires":[]},{"id":"e70b564c.e024b8","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1575,"y":420,"wires":[["ec3abbf8.881c88","afd35fca.54102"]],"l":false},{"id":"ad27331.f1f65d","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1980,"y":420,"wires":[]},{"id":"eca30951.449508","type":"link in","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","links":["6a8d76a0.316138","fc544c8d.06834","4c51ea40.64a4e4","bca8fcee.f61da","27b46fbd.c51ed","737a7284.a50ecc","e56cde5c.56f23","ce30e30e.34805","df4fb9f6.4d2108","53a6ab82.0071c4","9b58ea20.906e18"],"x":1515,"y":420,"wires":[["e70b564c.e024b8"]]},{"id":"563c0479.f8ecbc","type":"inject","z":"2bc4d3ef.a5edac","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":2330,"y":400,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"2bc4d3ef.a5edac","g":"c4ae64eb.f82c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2475,"y":400,"wires":[],"l":false},{"id":"6538625b.8565cc","type":"link in","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","links":["9ffd6c64.6ee278","cb1de80b.0329a","1922c7b3.d9d89"],"x":1695,"y":500,"wires":[["60f01d6f.d77d54"]]},{"id":"60f01d6f.d77d54","type":"function","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1755,"y":500,"wires":[["ad27331.f1f65d"]],"l":false},{"id":"bb16bf85.38dcd8","type":"function","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1195,"y":260,"wires":[["647257ab.366cc8"]],"l":false},{"id":"51884ade.2285fc","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1560,"y":860,"wires":[["870b4b02.f0648"]]},{"id":"870b4b02.f0648","type":"function","z":"2bc4d3ef.a5edac","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    const match = key.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (!match) {\n        continue;\n    }\n\n    actualName = match[1];\n    multiplier = parseFloat(match[2]);\n\n    payload[`${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1730,"y":860,"wires":[["bc5c8a8e.43d848"]]},{"id":"cdd71ff9.6eca4","type":"comment","z":"2bc4d3ef.a5edac","name":"Slave Id + Central Id","info":"","x":1590,"y":820,"wires":[]},{"id":"bc5c8a8e.43d848","type":"debug","z":"2bc4d3ef.a5edac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1980,"y":860,"wires":[]},{"id":"837be8ae.c1e8e","type":"mqtt out","z":"2bc4d3ef.a5edac","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":2000,"y":900,"wires":[]},{"id":"d26c9242.451a4","type":"inject","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/2703273e-cb68-4635-9511-cb558c056125","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["f6dc7156.da247"]]},{"id":"a7887f74.a960b8","type":"http request","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["36b19487.73d53c"]]},{"id":"36b19487.73d53c","type":"switch","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["e28d3ee7.86adc8"],["8e1568b4.c53c78","d3a1b77e.a00cc8"]]},{"id":"e28d3ee7.86adc8","type":"debug","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"8e1568b4.c53c78","type":"debug","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"d3a1b77e.a00cc8","type":"function","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"f6dc7156.da247","type":"function","z":"b7a49483.7cb4a8","g":"9c47ad87.26dca8","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["a7887f74.a960b8"]],"l":false},{"id":"56a77ecc.e41de","type":"postgresql","z":"2bc4d3ef.a5edac","name":"","query":"SELECT \n  id,\n  name,\n  COALESCE(\n    CASE \n      WHEN name ~ ' x\\d+\\.?\\d*($|\\s)' THEN \n        CAST(REGEXP_REPLACE(name, '.* x(\\d+\\.?\\d*)(?:$|\\s).*', '\\1') AS NUMERIC)\n      ELSE 1\n    END,\n    1\n  ) AS multiplier\nFROM slaves\nWHERE name LIKE '%x%';","postgreSQLConfig":"c9ed15cf.4ad948","split":false,"rowsPerMsg":1,"outputs":1,"x":930,"y":1200,"wires":[["59a6270c.ef59f8"]]},{"id":"59a6270c.ef59f8","type":"debug","z":"2bc4d3ef.a5edac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1200,"wires":[]},{"id":"820436a8.0d5bd","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":1200,"wires":[["56a77ecc.e41de"]]},{"id":"79042532.8ab034","type":"debug","z":"2bc4d3ef.a5edac","g":"c93928f7.528eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":120,"wires":[]},{"id":"ec3abbf8.881c88","type":"debug","z":"2bc4d3ef.a5edac","g":"98dc4278.851ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":380,"wires":[]},{"id":"466b9b1a.f8a3ec","type":"mqtt in","z":"58a95097.2bef3","name":"","topic":"gateway/c248c77f-da23-4247-a06b-cf371a82f4d9/fetch","qos":"2","datatype":"auto-detect","broker":"bf13fbc6.ba4de8","x":260,"y":200,"wires":[["41f48036.b79b98","fc3e9e63.b5e2a8"]]},{"id":"facb6b8a.719fb8","type":"postgresql","z":"58a95097.2bef3","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":160,"wires":[["408770a1.75397"]]},{"id":"3380395a.1ae4a6","type":"function","z":"58a95097.2bef3","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":655,"y":180,"wires":[["facb6b8a.719fb8"],["8735dc89.8a2908"]],"l":false},{"id":"8735dc89.8a2908","type":"mqtt out","z":"58a95097.2bef3","name":"","topic":"","qos":"","retain":"","broker":"bf13fbc6.ba4de8","x":1030,"y":200,"wires":[]},{"id":"bb72680e.ac3a88","type":"postgresql","z":"58a95097.2bef3","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":220,"wires":[["8735dc89.8a2908"]]},{"id":"30b03c1a.be7ce4","type":"function","z":"58a95097.2bef3","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655,"y":220,"wires":[["bb72680e.ac3a88"]],"l":false},{"id":"408770a1.75397","type":"function","z":"58a95097.2bef3","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":935,"y":160,"wires":[["8735dc89.8a2908"]],"l":false},{"id":"d71b0d8e.6d89c","type":"inject","z":"58a95097.2bef3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":150,"y":100,"wires":[["8c136814.48e028"]]},{"id":"8c136814.48e028","type":"debug","z":"58a95097.2bef3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":285,"y":100,"wires":[],"l":false},{"id":"41f48036.b79b98","type":"json","z":"58a95097.2bef3","name":"","property":"payload","action":"","pretty":false,"x":550,"y":180,"wires":[["3380395a.1ae4a6"]]},{"id":"fc3e9e63.b5e2a8","type":"json","z":"58a95097.2bef3","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["30b03c1a.be7ce4"]]},{"id":"829dd6fe.f0c1e","type":"function","z":"58a95097.2bef3","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["57b8a80c.a6296","3b4af2fe.44992e"]]},{"id":"c768f4dc.2f08c8","type":"inject","z":"58a95097.2bef3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["9b13a2ce.c8a248"]]},{"id":"3b4af2fe.44992e","type":"mqtt out","z":"58a95097.2bef3","name":"","topic":"","qos":"","retain":"","broker":"bf13fbc6.ba4de8","x":750,"y":300,"wires":[]},{"id":"9b13a2ce.c8a248","type":"postgresql","z":"58a95097.2bef3","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":330,"y":300,"wires":[["c955d2d2.505"]]},{"id":"c955d2d2.505","type":"function","z":"58a95097.2bef3","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":455,"y":300,"wires":[["829dd6fe.f0c1e"]],"l":false},{"id":"57b8a80c.a6296","type":"debug","z":"58a95097.2bef3","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":340,"wires":[]},{"id":"15e6a44c.048c94","type":"comment","z":"58a95097.2bef3","name":"1. Get the central UUID here","info":"It will appear on the logs","x":180,"y":60,"wires":[]},{"id":"f7db6b0c.2fe828","type":"comment","z":"58a95097.2bef3","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":230,"y":160,"wires":[]},{"id":"2cc005f7.430d52","type":"comment","z":"58a95097.2bef3","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":220,"y":260,"wires":[]},{"id":"acb6b578.ee033","type":"comment","z":"58a95097.2bef3","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":160,"y":380,"wires":[]},{"id":"e6b05280.0dabb8","type":"inject","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":870,"y":1320,"wires":[["9cc2df79.31761"]]},{"id":"9cc2df79.31761","type":"postgresql","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '30 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1070,"y":1320,"wires":[["94fadfdd.7be4a8","f9858be3.81997"]]},{"id":"94fadfdd.7be4a8","type":"debug","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":1320,"wires":[]},{"id":"f9858be3.81997","type":"function","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","func":"if (msg.payload[0].affected_rows > 0) {\n    msg.payload = {\n      \"payload\": {\n        \"summary\": `Detectados dispositivos com leitura inválida. ${msg.payload.affected_rows} corrigidos.`,\n        \"severity\": \"info\",\n        \"source\": \"InvalidPulsesDetection\"\n      },\n      \"routing_key\": \"0d3a200b4fd9410fc09c866e9d49f8b0\",\n      \"event_action\": \"trigger\"\n    };    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":1360,"wires":[["4df08525.970aac","9b4b69e1.de4008"]]},{"id":"26071c97.caf534","type":"http request","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://events.pagerduty.com/v2/enqueue","tls":"","persist":false,"proxy":"","authType":"","x":1590,"y":1360,"wires":[[]]},{"id":"4df08525.970aac","type":"debug","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1460,"y":1320,"wires":[]},{"id":"9b4b69e1.de4008","type":"switch","z":"2bc4d3ef.a5edac","g":"c6158114.c35af8","name":"","property":"payload.affected_rows","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":1360,"wires":[["26071c97.caf534"]]},{"id":"c458485c.65d7c8","type":"inject","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":600,"wires":[["5c3ce61f.fa496"]]},{"id":"5c3ce61f.fa496","type":"http request","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":660,"wires":[["9c673c08.6b5598"]]},{"id":"9c673c08.6b5598","type":"function","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":740,"wires":[["1922c7b3.d9d89"]]},{"id":"1922c7b3.d9d89","type":"link out","z":"2bc4d3ef.a5edac","g":"e2863feb.d7fdd","name":"link out 3","links":["36b5efb3ab8764e1","5579a5e6.a0c3ec","6538625b.8565cc"],"x":1775,"y":640,"wires":[]},{"id":"8cd5f0f9.74561","type":"inject","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["dbc68b8a.f115e"]]},{"id":"dbc68b8a.f115e","type":"postgresql","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":260,"wires":[["8d8ab0.3d27355","17d9c99a.0d7066","43719904.23a0f8"]]},{"id":"8d8ab0.3d27355","type":"debug","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"17d9c99a.0d7066","type":"function","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["460f28a3.70b148","84cd59aa.b25378"]]},{"id":"460f28a3.70b148","type":"debug","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"84cd59aa.b25378","type":"change","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[[]]},{"id":"43719904.23a0f8","type":"function","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":380,"wires":[["8f97d090.c75018"]],"l":false},{"id":"8f97d090.c75018","type":"mqtt out","z":"b7a49483.7cb4a8","g":"92751a37.055d2","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":750,"y":380,"wires":[]},{"id":"c6d30a96.5bb3e8","type":"postgresql","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":480,"wires":[["8e98fe7c.e5968","84f32eb7.e0082"]]},{"id":"7671bb66.77a67c","type":"inject","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["c6d30a96.5bb3e8"]]},{"id":"8e98fe7c.e5968","type":"function","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["83e1eef6.8dcd8","163dee37.73b252"]]},{"id":"83e1eef6.8dcd8","type":"debug","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"163dee37.73b252","type":"change","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"c97cd2b9.77b45","type":"mqtt out","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":770,"y":560,"wires":[]},{"id":"84f32eb7.e0082","type":"function","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":560,"wires":[["c97cd2b9.77b45","5019e03b.dc5bc"]],"l":false},{"id":"5019e03b.dc5bc","type":"debug","z":"b7a49483.7cb4a8","g":"255df9e.658ad86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"f4711192.229fb8","type":"myio-emitter","z":"2bc4d3ef.a5edac","x":90,"y":1340,"wires":[["192b58e0.52b9c7"],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[],[],[],["192b58e0.52b9c7"],["192b58e0.52b9c7"],[]]},{"id":"192b58e0.52b9c7","type":"function","z":"2bc4d3ef.a5edac","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1340,"wires":[["2c8b1784.75c5b"]]},{"id":"2c8b1784.75c5b","type":"debug","z":"2bc4d3ef.a5edac","name":"cabelo curto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1340,"wires":[]},{"id":"c0d4c74.4e269b8","type":"function","z":"2bc4d3ef.a5edac","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":395,"y":1580,"wires":[[]],"l":false},{"id":"ec89bf98.335e9","type":"mqtt out","z":"2bc4d3ef.a5edac","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":570,"y":1540,"wires":[]},{"id":"d1ff9cd1.98845","type":"inject","z":"2bc4d3ef.a5edac","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1500,"wires":[["cd023887.b5f0a"]]},{"id":"a167843d.6e7af8","type":"function","z":"2bc4d3ef.a5edac","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":335,"y":1500,"wires":[["ec89bf98.335e9","2fa482bf.499fe6","c0d4c74.4e269b8"]],"l":false},{"id":"2fa482bf.499fe6","type":"debug","z":"2bc4d3ef.a5edac","name":"Pudim de geleia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1480,"wires":[]},{"id":"cd023887.b5f0a","type":"http request","z":"2bc4d3ef.a5edac","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":255,"y":1500,"wires":[["a167843d.6e7af8"]],"l":false},{"id":"6f23ca4.e16e734","type":"data-fetcher","z":"58a95097.2bef3","name":"","mqtt":"1afbccb0.7121f3","uuidOverride":"","x":150,"y":580,"wires":[]},{"id":"c11b044e.4d5d08","type":"inject","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"paylod","v":"CENTRAL_UUID","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1610,"y":1060,"wires":[["7cae39c1.a69e78"]]},{"id":"7cae39c1.a69e78","type":"function","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","func":"const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":1160,"wires":[["79aaf5d7.6c799c"]]},{"id":"fb3f2c8d.196058","type":"mqtt out","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1960,"y":1040,"wires":[]},{"id":"9650b423.ed7478","type":"debug","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1960,"y":1160,"wires":[]},{"id":"4891ad4.c8e0bd4","type":"comment","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"Envia o atributo Central ID dispositivo + deviceType","info":"","x":1690,"y":1000,"wires":[]},{"id":"79aaf5d7.6c799c","type":"function","z":"2bc4d3ef.a5edac","g":"5d24d5fc.4793cc","name":"add Namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":1120,"wires":[["fb3f2c8d.196058","9650b423.ed7478"]]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":2230,"y":140,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"786014a5.2c487c","type":"inject","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1810,"y":140,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":140,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2210,"y":100,"wires":[]},{"id":"7416219b.e3dc5","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Process the incoming payload and sum pulses (keeping the last timestamp)\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  // Multiply the reading value by the multiplier\n  const valueToAdd = reading.value * multiplier;\n  // Get the timestamp (in milliseconds)\n  const ts = new Date(reading.timestamp).getTime();\n\n  // If this is the first reading for the device, initialize the object;\n  // otherwise, add the pulses and update the timestamp to the current one.\n  if (!(actualName in acc)) {\n    acc[actualName] = [\n      {\n        ts: ts,\n        values: {\n          pulses: valueToAdd,\n        },\n      },\n    ];\n  } else {\n    acc[actualName][0].values.pulses += valueToAdd;\n    acc[actualName][0].ts = ts;\n  }\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2450,"y":140,"wires":[["9b58ea20.906e18","a3621c83.8b462"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2450,"y":100,"wires":[]},{"id":"f2e09fc0.c5039","type":"function","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2030,"y":180,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1820,"y":180,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","links":["dc43faa3.6655e8","9b865b5d.2cda18","eca30951.449508"],"x":2615,"y":140,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2657,"y":91,"wires":[]},{"id":"bdca7b0c.2358b8","type":"debug","z":"2bc4d3ef.a5edac","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2230,"y":200,"wires":[]},{"id":"9e37239c.7c50c","type":"http request","z":"299709bd.a82b46","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":715,"y":80,"wires":[["e5efddf4.fb215","5a50017a.6f70c8"]],"l":false},{"id":"13e27147.706127","type":"inject","z":"299709bd.a82b46","name":"Get Bundle","props":[{"p":"base_url","v":"https://gcdr-api.a.myio-bas.com/api/v1","vt":"str"},{"p":"vers","v":"vers","vt":"flow"},{"p":"central_id","v":"CENTRAL_UUID","vt":"env"},{"p":"custumer_id","v":"3a3edfe0-b3e0-11ef-9d80-0f53bf3519bb","vt":"str"},{"p":"headers","v":"{\t   \"X-API-Key\": \"gcdr_2429ab8dd6bf83749a0f58c19be92bb884124e775837b9b24faff7fe07c99246\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id,\t   \"X-Version-Id\":$type(vers) = \"string\"?\t      vers\t   :\t      \"Undefined\"\t}","vt":"jsonata"},{"p":"url","v":"base_url&\"/customers/\"&custumer_id&\"/alarm-rules/bundle/simple\" ","vt":"jsonata"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":80,"wires":[["d7b66860.bd9748","6ce37c5f.bc19ac"]]},{"id":"8fcd9e3c.b3432","type":"inject","z":"299709bd.a82b46","name":"Get Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["750c9bd3.4916d4"]]},{"id":"750c9bd3.4916d4","type":"http request","z":"299709bd.a82b46","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":245,"y":160,"wires":[["c46d1846.0f8c7"]],"l":false},{"id":"c46d1846.0f8c7","type":"debug","z":"299709bd.a82b46","name":"debug 184","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":315,"y":140,"wires":[],"l":false},{"id":"e5efddf4.fb215","type":"debug","z":"299709bd.a82b46","name":"debug 63","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":775,"y":40,"wires":[],"l":false},{"id":"83e46dc3.393098","type":"inject","z":"299709bd.a82b46","name":"Start notific","props":[{"p":"central_id","v":"CENTRAL_UUID","vt":"env"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":120,"y":580,"wires":[["72bd7047.1eefb"]]},{"id":"72bd7047.1eefb","type":"http request","z":"299709bd.a82b46","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":235,"y":580,"wires":[["da3f6ba7.564428","989e8228.a00338","5423b11e.895998"]],"l":false},{"id":"da3f6ba7.564428","type":"debug","z":"299709bd.a82b46","name":"debug 199","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":305,"y":540,"wires":[],"l":false},{"id":"d7b66860.bd9748","type":"debug","z":"299709bd.a82b46","name":"debug 201","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":275,"y":60,"wires":[],"l":false},{"id":"6ce37c5f.bc19ac","type":"switch","z":"299709bd.a82b46","name":"flow rules lost ?","property":"rules","propertyType":"flow","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":80,"wires":[["9e37239c.7c50c"],["b48901a7.9fc908"]]},{"id":"5a50017a.6f70c8","type":"switch","z":"299709bd.a82b46","name":"equal vers?","property":"payload.versionId = vers","propertyType":"jsonata","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":80,"wires":[["a9a030ee.3fc5a"],["717f7595.199474","72833129.c46f6"]]},{"id":"a6006331.b2551","type":"change","z":"299709bd.a82b46","name":"set URL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}","tot":"jsonata"},{"t":"set","p":"last","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1100,"wires":[["e032ab4f.18fe98","762bb1ae.c8bbc"]]},{"id":"e032ab4f.18fe98","type":"debug","z":"299709bd.a82b46","name":"debug 203","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1435,"y":1060,"wires":[],"l":false},{"id":"6a2a72a0.65f8bc","type":"http request","z":"299709bd.a82b46","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1495,"y":1100,"wires":[["7d71dc61.768e1c","47b9e544.b99104"]],"l":false},{"id":"7d71dc61.768e1c","type":"debug","z":"299709bd.a82b46","name":"debug 204","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1555,"y":1080,"wires":[],"l":false},{"id":"1a00c24.8c32b3e","type":"change","z":"299709bd.a82b46","name":"configure var to request","rules":[{"t":"delete","p":"slaves","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"(\t    $today:= $string($number($now('[F1]','-0300'))%7);\t    $pre:=$now('[Y0000]-[M00]-[D00]T','-0300');\t[$each(rules, function($v,$k){\t    $contains($v.metric, 'nerg') and $lookup($v.daysOfWeek, $today)?\t        (\t        $start:=( $toMillis($pre&$v.startAt&\":00.000Z\")  );\t        $end:= ( $toMillis($pre&$v.endAt&\":00.000Z\")  );\t        {\t\t            \"rule\": $k,\t            \"id\":$reduce([$keys($v.slaves)], function ($acc,$va,$i){\t                $i = 0?\t                    $va\t                :\t                    $acc & \", \"&$va\t            },''),\t            \"start\": $start <= $end?\t                    $substringBefore($replace( $fromMillis($start + 10800000), 'T', ' '), '.')\t                :\t                    $substringBefore($replace( $fromMillis($start - 75600000), 'T', ' '), '.')\t                ,\t            \"end\": \t                    $substringBefore($replace( $fromMillis($end + 10800000), 'T', ' '), '.')\t                \t            \t        }\t        )\t})]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":640,"wires":[["396b769b.4cc6fa","2a47ad5d.ed8702"]]},{"id":"396b769b.4cc6fa","type":"debug","z":"299709bd.a82b46","name":"debug 205","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1055,"y":640,"wires":[],"l":false},{"id":"2a47ad5d.ed8702","type":"split","z":"299709bd.a82b46","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":700,"wires":[["73be81ce.58da6"]]},{"id":"c85b39eb.34d218","type":"debug","z":"299709bd.a82b46","name":"debug 206","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":615,"y":720,"wires":[],"l":false},{"id":"493aa6ca.c4b3b8","type":"postgresql","z":"299709bd.a82b46","name":"Get consumption","query":"SELECT\n    slave_id,\n    avg_value,\n    TO_CHAR(period, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS period\nFROM (\n    SELECT\n        slave_id,\n        AVG(value) AS avg_value,\n        time_bucket('15 minutes', timestamp) AS period\n    FROM consumption_realtime\n    WHERE\n        slave_id IN ({{msg.payload.id}})\n        AND timestamp BETWEEN '{{msg.payload.start}}' AND '{{msg.payload.end}}'\n    GROUP BY\n        slave_id,\n        period\n) bucketed\nORDER BY period DESC","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":750,"y":700,"wires":[["bbd4f098.b89a4","b3494626.db9ce8"]]},{"id":"a3d057b5.7eea","type":"trigger","z":"299709bd.a82b46","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"300","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":715,"y":640,"wires":[["1a00c24.8c32b3e"]],"l":false},{"id":"f1dc5c50.4367c","type":"delay","z":"299709bd.a82b46","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":655,"y":640,"wires":[["a3d057b5.7eea"]],"l":false},{"id":"762bb1ae.c8bbc","type":"delay","z":"299709bd.a82b46","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"25","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1435,"y":1100,"wires":[["6a2a72a0.65f8bc"]],"l":false},{"id":"f7578ad9.f58fe8","type":"change","z":"299709bd.a82b46","name":"check trigger","rules":[{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"\t  (\t      $rule := $lookup(rules, current.rule);\t      {\t          current.rule: (\t              $ids := $split(current.id, ',');\t              $grouped := $reduce(payload, function($acc, $va) {\t                  (\t                      $key := $string($va.slave_id);\t                      $prev := $lookup($acc, $key);\t                      $merge([$acc, {$key: $append($prev, $va.avg_value * $rule.keyMulti)}])\t                  )\t              }, {});\t              $map($ids, function($v) {\t                  (\t                      $old:=$lookup($lookup(data, current.rule),$lookup($rule.slaves, $trim($v)).cloud_id);\t                      $id_num := $number($trim($v));\t                      $raw := $lookup($grouped, $string($id_num));\t                      $values := $type($raw) = \"array\" ? $raw : $type($raw) = \"number\" ? [$raw] : [];\t                      (\t                      $value:=$count($values) > 0 ? (\t                                  $rule.aggregation = \"AVG\" ? $average($values) :\t                                  $rule.aggregation = \"MIN\" ? $min($values) :\t                                  $rule.aggregation = \"MAX\" ? $max($values) :\t                                  $rule.aggregation = \"SUM\" ? $sum($values) :\t                                  $rule.aggregation = \"COUNT\" ? $count($values) :\t                                  $values[0]\t                              ) : \"No data\";\t                      \t                        $mytrig:=$type($value)=\"number\"?\t                                    (\t                                      ($rule.operator = \"GT\" and $value > $rule.value) or\t                                      ($rule.operator = \"GTE\" and $value >= $rule.value) or\t                                      ($rule.operator = \"LT\" and $value < $rule.value) or\t                                      ($rule.operator = \"LTE\" and $value <= $rule.value) or\t                                      ($rule.operator = \"EQ\" and $value = $rule.value) or\t                                      ($rule.operator = \"NEQ\" and $value != $rule.value) or\t                                      (\t                                      $valeH:= $type($rule.valueHigh) = \"number\"?\t                                          $rule.valueHigh\t                                          :\t                                          0;\t                                      ($rule.operator = \"BETWEEN\" and ($value >= $rule.value and $value <= $valeH)) or\t                                      ($rule.operator = \"OUTSIDE\" and ($value < $rule.value or $value > $valeH))\t                                      )\t                                    )\t                                    :\t                                    (\t                                        $type($old.triggered) = \"boolean\" ?\t                                        $old.triggered :\t                                        false\t                                    ) ;\t                          {\t                              $lookup($rule.slaves, $trim($v)).cloud_id: {\t                                  \"triggered\": $mytrig,\t                                  \"local_id\": $trim($v),\t                                  \"time\": $old.triggered = $mytrig?\t                                    $old.time :\t                                    $now(),\t                                  \"status\": $lookup(slaves, $trim($v)),\t                                  \"value\": $type($value) = \"number\"?\t                                  $round($value,2) :\t                                  $value\t                              }\t                          }\t                      \t                      )\t                  )\t              }) ~> $merge()\t          )\t      }\t  )\t","tot":"jsonata"},{"t":"delete","p":"slaves","pt":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":700,"wires":[["d6a5bbd5.5129c8","ff62bf05.724ed8"]]},{"id":"ff62bf05.724ed8","type":"join","z":"299709bd.a82b46","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1315,"y":700,"wires":[["7edf679.cf96e18","5bd69f94.e809d"]],"l":false},{"id":"bbd4f098.b89a4","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":885,"y":720,"wires":[],"l":false},{"id":"7edf679.cf96e18","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1395,"y":700,"wires":[],"l":false},{"id":"717f7595.199474","type":"switch","z":"299709bd.a82b46","name":"success ?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":140,"wires":[["ab40e044.9b3478"]]},{"id":"f13876ee.c49bb8","type":"trigger","z":"299709bd.a82b46","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"50","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":155,"y":1100,"wires":[["949ccc8e.300168"]],"l":false},{"id":"a6ecd22c.f0f59","type":"link out","z":"299709bd.a82b46","name":"post in","links":["679215f.80f44ec"],"x":1355,"y":580,"wires":[]},{"id":"679215f.80f44ec","type":"link in","z":"299709bd.a82b46","name":"link in 7","links":["a6ecd22c.f0f59"],"x":95,"y":1100,"wires":[["f13876ee.c49bb8"]]},{"id":"18f1ec4.fc35694","type":"persist-in","z":"299709bd.a82b46","x":1435,"y":1140,"wires":[],"l":false},{"id":"27575daa.5ce5f2","type":"change","z":"299709bd.a82b46","name":"save data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"key\":\"local_data\",\t    \"value\":$lookup(payload,$keys(payload)).rules\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1140,"wires":[["18f1ec4.fc35694"]]},{"id":"1177c057.d0bd48","type":"inject","z":"299709bd.a82b46","name":"check data","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"data","payloadType":"flow","x":130,"y":920,"wires":[["4a530cc1.104b1c"]]},{"id":"4a530cc1.104b1c","type":"switch","z":"299709bd.a82b46","name":"have data?","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":920,"wires":[[],["eb006573.beac7"]]},{"id":"eb006573.beac7","type":"change","z":"299709bd.a82b46","name":"restore data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"key\":\"local_data\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[["18632d59.7247bb"]]},{"id":"8f95b3b6.9eaae","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":635,"y":900,"wires":[],"l":false},{"id":"18632d59.7247bb","type":"persist-out","z":"299709bd.a82b46","x":575,"y":920,"wires":[["8f95b3b6.9eaae","ba1bd17b.298d7"]],"l":false},{"id":"ba1bd17b.298d7","type":"change","z":"299709bd.a82b46","name":"save restored","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[[]]},{"id":"5bd69f94.e809d","type":"join","z":"299709bd.a82b46","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1305,"y":580,"wires":[["a6ecd22c.f0f59"]],"l":false},{"id":"949ccc8e.300168","type":"switch","z":"299709bd.a82b46","name":"have data?","property":"data","propertyType":"flow","rules":[{"t":"istype","v":"object","vt":"object"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1100,"wires":[["74033bba.adca7c","24950e54.d7bbba"],["d1bc828.c81b58"]]},{"id":"d1bc828.c81b58","type":"delay","z":"299709bd.a82b46","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":385,"y":1120,"wires":[["24950e54.d7bbba"]],"l":false},{"id":"9b98a5a6.a13c5","type":"switch","z":"299709bd.a82b46","name":"diff ?","property":"diff","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1100,"wires":[["fa0ddad7.f7662"],["a6006331.b2551","efb04279.52c208","27575daa.5ce5f2"]]},{"id":"fa0ddad7.f7662","type":"switch","z":"299709bd.a82b46","name":"each 10 mins","property":"(\t    $last:= $flowContext('last');\t$type($last) = \"string\"?\t    $millis() - $toMillis($last) > 600000\t:\t    true\t)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":1080,"wires":[["a6006331.b2551","821713df.3726f"]]},{"id":"8c8603f2.c339b","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":835,"y":1060,"wires":[],"l":false},{"id":"821713df.3726f","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1275,"y":1060,"wires":[],"l":false},{"id":"47b9e544.b99104","type":"link out","z":"299709bd.a82b46","name":"sent in","links":["30ed4bc7.21f374"],"x":1555,"y":1120,"wires":[]},{"id":"30ed4bc7.21f374","type":"link in","z":"299709bd.a82b46","name":"sent out","links":["47b9e544.b99104"],"x":95,"y":1200,"wires":[["a5410b88.822208"]]},{"id":"a5410b88.822208","type":"switch","z":"299709bd.a82b46","name":"success ?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":1200,"wires":[[],["9b49a7ae.78ba48","b08be78a.0dfa18"]]},{"id":"9b49a7ae.78ba48","type":"debug","z":"299709bd.a82b46","name":"debug 208","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":315,"y":1240,"wires":[],"l":false},{"id":"5d9861d3.c223c","type":"persist-in","z":"299709bd.a82b46","x":975,"y":1200,"wires":[],"l":false},{"id":"f34f9826.0ac218","type":"change","z":"299709bd.a82b46","name":"save all data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"key\":\"all_data\",\t    \"value\": \t    \t    $merge([\t        (\t            $count($keys(payload)) > 500?\t                $reduce([$spread(payload)], function ($acc,$v,$i){\t                    $millis() - $toMillis($keys($v)) < 604800000 and $i < 500?\t                        [$acc,$v]\t                    :\t                        $acc\t                },[])~>$merge()\t            :\t                payload\t        ),\t        {\t            $now():\t                {\t                    \"rules\": diff,\t                    \"vers\": vers\t                }\t        }\t    ])\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1200,"wires":[["5d9861d3.c223c"]]},{"id":"b2c0f042.fa4f","type":"change","z":"299709bd.a82b46","name":"restore data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"key\":\"all_data\"\t}","tot":"jsonata"},{"t":"set","p":"fail","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1200,"wires":[["2cfd1be1.bb77fc","a671f668.0e84a"]]},{"id":"2cfd1be1.bb77fc","type":"persist-out","z":"299709bd.a82b46","x":635,"y":1180,"wires":[["13b2df4b.88dc49"]],"l":false},{"id":"a671f668.0e84a","type":"change","z":"299709bd.a82b46","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":635,"y":1220,"wires":[["13b2df4b.88dc49"]],"l":false},{"id":"13b2df4b.88dc49","type":"join","z":"299709bd.a82b46","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":695,"y":1200,"wires":[["e59de8b0.b08c8","f34f9826.0ac218"]],"l":false},{"id":"b08be78a.0dfa18","type":"switch","z":"299709bd.a82b46","name":"diff ?","property":"diff","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1200,"wires":[[],["b2c0f042.fa4f"]]},{"id":"e59de8b0.b08c8","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":755,"y":1180,"wires":[],"l":false},{"id":"efb04279.52c208","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1095,"y":1140,"wires":[],"l":false},{"id":"ed6b0bb7.43439","type":"inject","z":"299709bd.a82b46","name":"send historic values","props":[{"p":"payload"},{"p":"central_id","v":"CENTRAL_UUID","vt":"env"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"key\":\"all_data\"}","payloadType":"json","x":180,"y":1320,"wires":[["88607931.2b80c8"]]},{"id":"88607931.2b80c8","type":"switch","z":"299709bd.a82b46","name":"fail ?","property":"fail","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1320,"wires":[["fd281b5b.9ce6a"]]},{"id":"fd281b5b.9ce6a","type":"persist-out","z":"299709bd.a82b46","x":465,"y":1320,"wires":[["47abf86e.d02318"]],"l":false},{"id":"47abf86e.d02318","type":"change","z":"299709bd.a82b46","name":"set URL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1320,"wires":[["d287bad0.3579a","d67892a3.33aca"]]},{"id":"d287bad0.3579a","type":"http request","z":"299709bd.a82b46","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":735,"y":1320,"wires":[["fc7b18de.4716e","74d9059a.a07ba4"]],"l":false},{"id":"fc7b18de.4716e","type":"debug","z":"299709bd.a82b46","name":"debug 209","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":795,"y":1300,"wires":[],"l":false},{"id":"74d9059a.a07ba4","type":"switch","z":"299709bd.a82b46","name":"success ?","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":1320,"wires":[["b4dc9d97.4a0b8"],[]]},{"id":"b4dc9d97.4a0b8","type":"change","z":"299709bd.a82b46","name":"historic received","rules":[{"t":"set","p":"fail","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1300,"wires":[[]]},{"id":"d67892a3.33aca","type":"debug","z":"299709bd.a82b46","name":"debug 210","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":665,"y":1300,"wires":[],"l":false},{"id":"a9a030ee.3fc5a","type":"debug","z":"299709bd.a82b46","name":"debug 211","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1015,"y":60,"wires":[],"l":false},{"id":"72833129.c46f6","type":"debug","z":"299709bd.a82b46","name":"debug 212","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1015,"y":100,"wires":[],"l":false},{"id":"b48901a7.9fc908","type":"change","z":"299709bd.a82b46","name":"delete vers","rules":[{"t":"delete","p":"vers","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":100,"wires":[["9e37239c.7c50c"]]},{"id":"262fc2ab.4625d6","type":"persist-in","z":"299709bd.a82b46","x":475,"y":1460,"wires":[],"l":false},{"id":"84e08fe7.0f62f","type":"inject","z":"299709bd.a82b46","name":"reset all data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\t   \"key\":\"all_data\",\t   \"value\": \t    \t    \t       {}\t}","payloadType":"jsonata","x":270,"y":1440,"wires":[["262fc2ab.4625d6"]]},{"id":"d578ad36.1b64c8","type":"inject","z":"299709bd.a82b46","name":"reset local data","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\t   \"key\":\"local_data\",\t   \"value\": \t    \t    \t       {}\t}","payloadType":"jsonata","x":280,"y":1480,"wires":[["262fc2ab.4625d6"]]},{"id":"73be81ce.58da6","type":"change","z":"299709bd.a82b46","name":"save payload","rules":[{"t":"set","p":"current","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":700,"wires":[["8d827fa9.90116"]],"l":false},{"id":"1ee25f01.aa66e9","type":"inject","z":"299709bd.a82b46","name":"Update data","props":[{"p":"rules","v":"rules","vt":"flow"},{"p":"data","v":"data","vt":"flow"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1000,"wires":[["56206922.a86c7"]]},{"id":"56206922.a86c7","type":"change","z":"299709bd.a82b46","name":"update Data","rules":[{"t":"set","p":"equal","pt":"msg","to":"$count($keys(data)) <= $count($keys(rules))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1000,"wires":[["76e4c479.ba4024"]]},{"id":"76e4c479.ba4024","type":"switch","z":"299709bd.a82b46","name":"not equal","property":"equal","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1000,"wires":[["e33bb8b5.276a98","d73f6491.d3ee08"]]},{"id":"7a2240c.b0d494","type":"link out","z":"299709bd.a82b46","name":"reset data in","links":["8e64ea63.b8486"],"x":855,"y":980,"wires":[]},{"id":"e33bb8b5.276a98","type":"change","z":"299709bd.a82b46","name":"update flow Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$each(data, function($v,$k){\t    $type($lookup(rules, $k)) = \"object\" ?\t        {$k:$v}\t})]~>$merge()","tot":"jsonata"},{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1000,"wires":[["7a2240c.b0d494","37356a03.6396ee"]]},{"id":"18bb9f7a.aad6d1","type":"persist-in","z":"299709bd.a82b46","x":1055,"y":1000,"wires":[],"l":false},{"id":"37356a03.6396ee","type":"change","z":"299709bd.a82b46","name":"save data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"key\":\"local_data\",\t    \"value\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1000,"wires":[["18bb9f7a.aad6d1"]]},{"id":"d73f6491.d3ee08","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":575,"y":980,"wires":[],"l":false},{"id":"b3494626.db9ce8","type":"delay","z":"299709bd.a82b46","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":935,"y":700,"wires":[["39cd96c5.d90fba"]],"l":false},{"id":"d6a5bbd5.5129c8","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1255,"y":720,"wires":[],"l":false},{"id":"e94b853.809b7f8","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1075,"y":740,"wires":[],"l":false},{"id":"64d907d6.8e79c","type":"inject","z":"299709bd.a82b46","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":410,"y":640,"wires":[["a3d057b5.7eea"]]},{"id":"39cd96c5.d90fba","type":"change","z":"299709bd.a82b46","name":"filter duration","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$rule := $lookup(rules, current.rule);\t$agora:=$millis();\t$values := \t$reduce(payload, function($acc, $va) {\t    (\t        $val_time := $toMillis($va.period);\t        ($rule.duration = 0 or ($agora - $val_time < $rule.duration)) ?\t            [$acc, $va] : \t            $acc\t    )\t}, []);\t$values\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":995,"y":700,"wires":[["f7578ad9.f58fe8","e94b853.809b7f8"]],"l":false},{"id":"74033bba.adca7c","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":455,"y":1060,"wires":[],"l":false},{"id":"fc4a248b.ad0cf","type":"http in","z":"299709bd.a82b46","name":"","url":"/alarm_data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1740,"wires":[["1d3d5cd6.ae32c3"]]},{"id":"1d3d5cd6.ae32c3","type":"function","z":"299709bd.a82b46","name":"","func":"msg.payload = {\n  rules: flow.get('rules') || {},\n  data: flow.get('data') || {},\n  slaves: flow.get('slaves') || {},\n  temp: flow.get('temp') || {},\n  pot: flow.get('pot') || {},\n  water: flow.get('water') || {},\n  humid: flow.get('humid') || {},\n  ch: flow.get('ch') || {},\n  timestamp: Date.now()\n};\n\n  msg.headers = {\n      \"Access-Control-Allow-Origin\": \"*\",\n      \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n      \"Access-Control-Allow-Headers\": \"Content-Type\",\n      \"Content-Type\": \"application/json\"\n  };\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1740,"wires":[["d534a698.97c1c8"]]},{"id":"d534a698.97c1c8","type":"http response","z":"299709bd.a82b46","name":"","statusCode":"200","headers":{},"x":510,"y":1740,"wires":[]},{"id":"8d827fa9.90116","type":"function","z":"299709bd.a82b46","name":"RATE LIMIT (3s)","func":"var rate = 3000;\n\nvar queue = context.get('queue') || [];\nvar timerActive = context.get('timerActive') || false;\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nnode.status({fill:\"blue\", shape:\"ring\", text: queue.length + \" na fila\"});\n\nif (!timerActive) {\n  sendNext();\n}\n\nfunction sendNext() {\n  var q = context.get('queue') || [];\n  if (q.length === 0) {\n      context.set('timerActive', false);\n      node.status({});\n      return;\n  }\n  context.set('timerActive', true);\n  var m = q.shift();\n  context.set('queue', q);\n  node.status({\n      fill:\"green\",\n      shape:\"dot\",\n      text: q.length + \" na fila\"\n  });\n  node.send(m);\n  setTimeout(sendNext, rate);\n}\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":700,"wires":[["c85b39eb.34d218","493aa6ca.c4b3b8"]],"l":false},{"id":"6f0c164d.0c2728","type":"comment","z":"299709bd.a82b46","name":"ALTERAÇÕES","info":"ALTERAR API KEY E CUSTUMMER ID NO 'GET BUNDLE'\nALTERAR API KEY NOS 2 BLOCOS DO 'SET URL'","x":140,"y":40,"wires":[]},{"id":"820c6cbf.677568","type":"http in","z":"299709bd.a82b46","name":"","url":"/alarm_history","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1780,"wires":[["de9dd616.4610b8"]]},{"id":"9bd8b2e6.f17f68","type":"http response","z":"299709bd.a82b46","name":"","statusCode":"200","headers":{},"x":1020,"y":1840,"wires":[]},{"id":"658b16da.1df128","type":"persist-out","z":"299709bd.a82b46","x":670,"y":1840,"wires":[["9bd8b2e6.f17f68"]]},{"id":"de9dd616.4610b8","type":"function","z":"299709bd.a82b46","name":"","func":"msg.payload = {\n    key: 'all_data'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1840,"wires":[["658b16da.1df128"]]},{"id":"d6beb7bb.608748","type":"myio-emitter","z":"299709bd.a82b46","x":130,"y":340,"wires":[["962dfa45.2aba3"],["e698235c.f9fb"],["852250b6.f3dd18"],[],[],["e698235c.f9fb"],[],[],[],["80d70819.b6e948"],["72ca9b7.f0d67e4"],["1cb8751c.c167a3"]]},{"id":"996a73c2.d4f13","type":"debug","z":"299709bd.a82b46","name":"debug 192","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":495,"y":360,"wires":[],"l":false},{"id":"79eb28f7.012f88","type":"debug","z":"299709bd.a82b46","name":"debug 193","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":495,"y":400,"wires":[],"l":false},{"id":"c3ce00df.16b8a8","type":"debug","z":"299709bd.a82b46","name":"debug 198","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":995,"y":320,"wires":[],"l":false},{"id":"852250b6.f3dd18","type":"change","z":"299709bd.a82b46","name":"filter pot","rules":[{"t":"set","p":"filter","pt":"msg","to":"(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.pot or\t        $aux.water_lvl ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["6105e4c6.029554","a1ac4a7a.04e0d8"]]},{"id":"6105e4c6.029554","type":"switch","z":"299709bd.a82b46","name":"need pot ?","property":"filter","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":340,"wires":[["b9168091.2734"]]},{"id":"a1ac4a7a.04e0d8","type":"debug","z":"299709bd.a82b46","name":"debug 186","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":495,"y":320,"wires":[],"l":false},{"id":"b9168091.2734","type":"change","z":"299709bd.a82b46","name":"extract data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              $current := filter.deviceName;\t              filter.water ?\t                  (\t                      $parts := $split($current, ' ');\t                      $start := $number($parts[2]);\t                      $heigh := $number($parts[3]);\t                      $multi := $number($substringAfter($parts[4], 'x'));\t                      $type($start) = 'number' and $type($heigh) = 'number' and $type($multi) = 'number' ?\t                          $round((payload.value - $start + filter.offset.water_level) * $multi / $heigh, 2 )\t                      :\t                          0\t                     \t                  )\t              :\t                  payload.value + filter.offset.pot\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":340,"wires":[["4f3aa664.00a088"]]},{"id":"c3577d48.2002b8","type":"debug","z":"299709bd.a82b46","name":"debug 186","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":495,"y":280,"wires":[],"l":false},{"id":"e698235c.f9fb","type":"change","z":"299709bd.a82b46","name":"filter temp","rules":[{"t":"set","p":"filter","pt":"msg","to":"(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.temp ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["af2c998d.2622a","c3577d48.2002b8"]]},{"id":"af2c998d.2622a","type":"switch","z":"299709bd.a82b46","name":"need temp ?","property":"filter","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":300,"wires":[["28fad8c0.a40f18"]]},{"id":"28fad8c0.a40f18","type":"change","z":"299709bd.a82b46","name":"extract data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t            $type(payload.value) = \"number\" ?\t                  payload.value\t              :\t                  payload.temperature\t          ) \t          + filter.offset.pot;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'temp'\t                  }\t              \t          }\t  )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":300,"wires":[["4f3aa664.00a088"]]},{"id":"962dfa45.2aba3","type":"change","z":"299709bd.a82b46","name":"filter ch","rules":[{"t":"set","p":"filter","pt":"msg","to":"(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.ch ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["7cf7c3ed.4f3f9c","2c98608f.186dc"]]},{"id":"80d70819.b6e948","type":"change","z":"299709bd.a82b46","name":"filter water","rules":[{"t":"set","p":"filter","pt":"msg","to":"(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.water ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["996a73c2.d4f13","7309c1a7.97f878"]]},{"id":"72ca9b7.f0d67e4","type":"change","z":"299709bd.a82b46","name":"filter humid","rules":[{"t":"set","p":"filter","pt":"msg","to":"(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.humid ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[["79eb28f7.012f88","ae7a8d50.78242"]]},{"id":"7cf7c3ed.4f3f9c","type":"debug","z":"299709bd.a82b46","name":"debug 186","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":495,"y":240,"wires":[],"l":false},{"id":"2c98608f.186dc","type":"switch","z":"299709bd.a82b46","name":"need ch ?","property":"filter","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":260,"wires":[["cf85f658.1c0958"]]},{"id":"7309c1a7.97f878","type":"switch","z":"299709bd.a82b46","name":"need water ?","property":"filter","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":380,"wires":[["9aa0b103.229038"]]},{"id":"ae7a8d50.78242","type":"switch","z":"299709bd.a82b46","name":"need humid ?","property":"filter","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":420,"wires":[["9b73cb61.2e9be8"]]},{"id":"cf85f658.1c0958","type":"change","z":"299709bd.a82b46","name":"extract data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          payload.channels;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'ch'\t                  }\t              \t          }\t  )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":260,"wires":[["4f3aa664.00a088"]]},{"id":"9aa0b103.229038","type":"change","z":"299709bd.a82b46","name":"extract data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $count($calcValue) > 0 ? $sum($calcValue.value) : 0,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":380,"wires":[["4f3aa664.00a088"]]},{"id":"9b73cb61.2e9be8","type":"change","z":"299709bd.a82b46","name":"extract data","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":420,"wires":[["4f3aa664.00a088"]]},{"id":"4f3aa664.00a088","type":"join","z":"299709bd.a82b46","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":945,"y":340,"wires":[["c3ce00df.16b8a8","9291163d.dc70f","417693f4.7f9c54"]],"l":false},{"id":"9291163d.dc70f","type":"change","z":"299709bd.a82b46","name":"update flow slaves / last","rules":[{"t":"set","p":"slaves","pt":"msg","to":"slaves","tot":"flow"},{"t":"set","p":"slaves","pt":"flow","to":"$type(slaves) = \"object\" ?\t    $merge([\t        slaves,\t        $each(payload, function($v,$k){\t            {\t                \"sl_\"&$v.local_id:\t                    $merge([$lookup(slaves, 'sl_'&$v.local_id),\t                    {\t                        $v.type&\"_value\": {\t                            \"value\": $v.value,\t                            \"time\":$v.time\t                        }\t                    }\t                    ])\t            }\t        })\t    ])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":340,"wires":[["1356b5c1.3fbc02"]]},{"id":"417693f4.7f9c54","type":"change","z":"299709bd.a82b46","name":"update flow cumulative data","rules":[{"t":"set","p":"rules","pt":"msg","to":"rules","tot":"flow"},{"t":"set","p":"var","pt":"msg","to":"var","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"(\t\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t\t$inTimeRange := function($startAt, $endAt, $time){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t\t\t[$each(rules, function($v,$k){\t(\t$metric := \t$contains($v.metric, 'emperat') ? \"temp\" :\t(($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t$contains($v.metric, 'umid') ? \"humid\" : false;\t\t    $v.aggregation != \"LAST\" and\t    $metric != false ?\t    (\t        \t        $aux:=$lookup(var, $k);\t        $cond:= $type(var) = \"object\"?\t                    $type($aux) = \"object\"\t                :\t                    false;\t                \t        {$k:\t            [$each($v.slaves, function($va,$ka){\t                (\t                $old:= $cond ?\t                    $lookup($aux, $ka);\t                $filtered_old:=[$each($old, function($vb,$kb){\t                    $now_ms - $toMillis($kb) < $v.duration or $v.duration=0 ?\t                    {$kb:$vb}\t                })]~>$merge();\t                $new:=$lookup(payload, $metric&\"_\"&$ka);\t                \t                {\t                    $ka: \t                    $merge([\t                    (\t                        $type($old) = \"object\"?\t                            $filtered_old\t                        :\t                            {}\t                    ),\t                    ($type($new) = \"object\" ?\t                    (\t                    $utctime:= $fromMillis($toMillis($new.time)- 10800000);\t                    $H:= $number($substring($substringAfter($utctime,'T'),0,2));\t                    $M:= $number($substring($substringAfter($utctime,':'),0,2));\t                    $T:= $H*60+$M;\t                        $inTimeRange($v.startAt, $v.endAt, $T) and\t                        $lookup($v.daysOfWeek, $today)?\t                            {$new.time:$new.value}\t                        :\t                            {}\t                    ) : {}\t                    )\t                    ])\t                }\t                \t                )\t            })]~>$merge()\t        }\t    )\t)\t})]~>$merge()\t\t)","tot":"jsonata"},{"t":"set","p":"var","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":380,"wires":[["48b4d2c3.58717c"]]},{"id":"48b4d2c3.58717c","type":"debug","z":"299709bd.a82b46","name":"debug 198","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1315,"y":380,"wires":[],"l":false},{"id":"1356b5c1.3fbc02","type":"debug","z":"299709bd.a82b46","name":"debug 198","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1315,"y":340,"wires":[],"l":false},{"id":"1cb8751c.c167a3","type":"change","z":"299709bd.a82b46","name":"set var","rules":[{"t":"set","p":"payload","pt":"msg","to":"\t$merge([payload, {\"value\":payload.active_power}])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":440,"wires":[["852250b6.f3dd18"]],"l":false},{"id":"ab40e044.9b3478","type":"change","z":"299709bd.a82b46","name":"filter my slaves, set flow","rules":[{"t":"set","p":"rules","pt":"flow","to":"$each(payload.data.rules, function($v,$k){\t    {$k:$merge([$v,\t        {\t            \"slaves\": \t            [$each(payload.data.deviceIndex, function($va,$ka){\t                $reduce([$va.ruleIds], function($acc,$vb){\t                    $type($lookup($acc, $string($va.slaveId))) = 'object'?\t                        $acc\t                    :\t                        (\t                            $type($vb) = \"object\"?\t                                $vb.id = $k ?\t                                    { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"channel\":$vb.channel, \"cloud_id\": $ka}}\t                                :\t                                    $acc\t                            :\t                                $vb = $k ?\t                                    $type($va.slaveId) = 'number'?\t                                        { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"cloud_id\": $ka}}\t                                    :\t                                        $acc\t                                :\t                                    $acc\t                        )\t                    \t                }, {})\t            })]~>$merge()\t        }\t    ])\t    }\t})~>$merge()","tot":"jsonata"},{"t":"set","p":"vers","pt":"flow","to":"payload.data.versionId","tot":"msg"},{"t":"set","p":"myslaves","pt":"msg","to":"$merge([$each(payload.data.deviceIndex, function($v,$k){ \t        $type($v.slaveId) = \"number\"?\t        {\t            \"sl_\"&$v.slaveId:$merge([$v,\t                \t                    $reduce($v.ruleIds, function($acc,$va){\t                        (\t                        $aux:=$lookup(payload.data.rules, $va);\t                        $cond:=$type($va) = \"string\" and $type($aux.metric) = 'string';\t                        {\t                            \"cloud_ID\":$k,\t                            \"ruleIds\": \t                            $merge([$acc.ruleIds,\t                                (\t                                $type($va) = \"string\"?\t                                    {$va:true}\t                                :\t                                    {$va.id:true}\t                                )\t                            ]),\t                            \"pot\": $acc.pot or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'nstant') and $contains($aux.metric, 'ower'))\t                            ),\t                            \"temp\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'emperat'))\t                            ),\t                            \"water_lvl\": $acc.water_lvl or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'ont'))\t                            ),\t                            \"water\": $acc.water or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'low'))\t                            ),\t                            \"humid\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'umid'))\t                            ),\t                            \"ch\": $acc.ch or $type($va) = 'object',\t                            \"duration\": $type($aux.duration) = \"number\" ?\t                                $max([$aux.duration, $acc.duration])\t                            :\t                                $acc.duration\t                            \t                            \t                            }\t                        )\t                    },{\"ruleIds\":{}, \"pot\":false, \"temp\":false, \"water_lvl\":false, \"water\":false,\"humid\":false, \"ch\":false, \"duration\":0})\t                    \t                \t                    \t                \t            ])\t        }\t    })])\t    \t    \t    \t    ","tot":"jsonata"},{"t":"set","p":"slaves","pt":"flow","to":"myslaves","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":140,"wires":[["68040d2b.a126d4"]]},{"id":"68040d2b.a126d4","type":"debug","z":"299709bd.a82b46","name":"debug 185","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1415,"y":140,"wires":[],"l":false},{"id":"989e8228.a00338","type":"switch","z":"299709bd.a82b46","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":295,"y":580,"wires":[["ebd7c267.9d9aa"]],"l":false},{"id":"ebd7c267.9d9aa","type":"change","z":"299709bd.a82b46","name":"set var","rules":[{"t":"set","p":"rules","pt":"msg","to":"rules","tot":"flow"},{"t":"set","p":"slaves","pt":"msg","to":"slaves","tot":"flow"},{"t":"set","p":"vers","pt":"msg","to":"vers","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":580,"wires":[["ddf2390b.4fcd6"]]},{"id":"ddf2390b.4fcd6","type":"change","z":"299709bd.a82b46","name":"set status","rules":[{"t":"set","p":"slaves","pt":"msg","to":"(\t      $statusMap := $merge($map(payload, function($v){\t          {$string($v.id): $v.status}\t      }));\t      $each(slaves, function($v,$k){\t          {$k: $merge([$v, {\t              \"status\": $lookup($statusMap, $string($v.slaveId))\t          }])}\t      })~>$merge()\t  )","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[["1d44e619.4df83a","b60411ac.ec84f","f1dc5c50.4367c"]]},{"id":"1d44e619.4df83a","type":"change","z":"299709bd.a82b46","name":"filter last","rules":[{"t":"set","p":"rules","pt":"msg","to":"(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    (\t      \t    ($v.aggregation = 'LAST' or \t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low'))\t    )\t    and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t    )\t})]~>$merge()\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[["8fd341ea.587448","5cd2d906.aab56"]]},{"id":"b60411ac.ec84f","type":"change","z":"299709bd.a82b46","name":"filter last","rules":[{"t":"set","p":"rules","pt":"msg","to":"(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    $v.aggregation != 'LAST' and\t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) = false and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t})]~>$merge()\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":580,"wires":[["cbbf2822.5caa"]]},{"id":"8fd341ea.587448","type":"debug","z":"299709bd.a82b46","name":"debug 196","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":815,"y":500,"wires":[],"l":false},{"id":"5cd2d906.aab56","type":"change","z":"299709bd.a82b46","name":"check trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$now_ms := $millis();\t\t$checkOp := function($op, $val, $threshold, $high){\t  ($op = \"GT\" and $val > $threshold) or\t  ($op = \"GTE\" and $val >= $threshold) or\t  ($op = \"LT\" and $val < $threshold) or\t  ($op = \"LTE\" and $val <= $threshold) or\t  ($op = \"EQ\" and $val = $threshold) or\t  ($op = \"NEQ\" and $val != $threshold) or\t  ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t  ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t};\t\t[$each(rules, function($v,$k){\t    (\t    $metric := \t          $contains($v.metric, 'emperat') ? \"temp\" :\t          (($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t           ($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t          ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) ? \"water\" :\t          $contains($v.metric, 'umid') ? \"humid\" : \"ch\";\t          \t    {\t        $k: $each( $v.slaves, function($va,$ka){\t            (\t            $slave:=$lookup(slaves, 'sl_'&$ka);\t            $var:=$lookup($slave, $metric&'_value');\t            $have:=$type($var) = \"object\";\t            $time:= $now_ms - $toMillis($var.time) < $v.duration;\t            $value:= $have ?\t                        $time?\t                            $var.value\t                        :\t                            \"Out of rule range\"\t                    :\t                        \"Undefined\";\t            $valeH:=$type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t            \t            {\t                $va.cloud_id: {\t                    \"local_id\": $ka,\t                    \"status\": $slave.status,\t                    \"alldata\": $have ?\t                        {\t                            $string($toMillis($var.time)):$var.value\t                        },\t                    \"value\": $value,\t                    \"triggered\": $type($value) = \"string\"?\t                        false\t                    :\t                        $type($value) = \"number\"?\t                            $checkOp($v.operator, $value, $v.value, $valeH)\t                        :\t                            $type($va.channel) = 'number'?\t                                (\t                                $aux:=$lookup($value[$va.channel], (\t                                    $contains($lookup($v.metric), 'ensor')?\t                                        'input'\t                                    :\t                                        'output'\t                                ) );\t                                $contains($lookup($v.metric), 'oor')?\t                                    $aux=0\t                                    :\t                                    $aux>0\t                                )\t                            :\t                                false\t                            \t                }\t            }\t            )\t        })\t    }\t    )\t})]~>$merge()\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":520,"wires":[["177d678d.40b4d","5bd69f94.e809d"]]},{"id":"177d678d.40b4d","type":"debug","z":"299709bd.a82b46","name":"debug 196","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1055,"y":500,"wires":[],"l":false},{"id":"cbbf2822.5caa","type":"delay","z":"299709bd.a82b46","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":815,"y":580,"wires":[["83323fa5.5b804"]],"l":false},{"id":"83323fa5.5b804","type":"trigger","z":"299709bd.a82b46","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"90","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":875,"y":580,"wires":[["91c185b3.d91848"]],"l":false},{"id":"91c185b3.d91848","type":"change","z":"299709bd.a82b46","name":"check trigger","rules":[{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"var","pt":"msg","to":"var","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"  (\t      $checkOp := function($op, $val, $threshold, $high){\t          ($op = \"GT\" and $val > $threshold) or\t          ($op = \"GTE\" and $val >= $threshold) or\t          ($op = \"LT\" and $val < $threshold) or\t          ($op = \"LTE\" and $val <= $threshold) or\t          ($op = \"EQ\" and $val = $threshold) or\t          ($op = \"NEQ\" and $val != $threshold) or\t          ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t          ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t      };\t\t      $aggregate := function($agg, $vals){\t          $agg = \"AVG\" ? $average($vals) :\t          $agg = \"MIN\" ? $min($vals) :\t          $agg = \"MAX\" ? $max($vals) :\t          $agg = \"SUM\" ? $sum($vals) :\t          $agg = \"COUNT\" ? $count($vals) :\t          $vals[0]\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $oldruledata := $lookup(data, $k);\t              $valeH := $type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t              $newruledata := $lookup(var, $k);\t              (\t                  {\t                      $k: [$each($v.slaves, function($va, $ka){\t                          (\t                              $slave := $lookup(slaves, 'sl_'&$ka);\t                              $old := $lookup($oldruledata, $va.cloud_id);\t                              $oldtrigger:= $type($old.triggered) = \"boolean\" ?\t                                $old.triggered : \"Undefined\";\t                              $slaveStatus := $type($lookup($slave, \"status\")) = \"string\" ?\t                                  $lookup($slave, \"status\") : \"Undefined\";\t                              $new := $lookup($newruledata, $ka);\t                              $value := $aggregate($v.aggregation, $new.*);\t                              $newtrigger:= $type($value) = \"number\" ?\t                                $checkOp($v.operator, $value, $v.value, $valeH)\t                                :\t                                \"Undefined\";\t\t                              {\t                                $va.cloud_id:\t                                {\t                                    \"value\":$type($value) = \"number\"?\t                                        $round($value,2) : \"Undefined\",\t                                    \"local_id\":$ka,\t                                    \"status\": $slaveStatus,\t                                    \"triggered\": $type($newtrigger) = \"boolean\"?\t                                        $newtrigger :\t                                        $type($oldtrigger) = \"boolean\" ?\t                                        $oldtrigger : false,\t                                    \"time\": $type($oldtrigger) = \"boolean\"?\t                                        ($oldtrigger = $newtrigger and $type($old.time) = \"string\"?\t                                            $old.time :\t                                            $now()\t                                        ) :\t                                        $now(),\t                                    \"alldata\": $new \t                                }\t                              }\t                          )\t                      })]~>$merge()\t                  }\t              )\t          )\t      })]~>$merge()\t  )\t","tot":"jsonata"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":580,"wires":[["5bd69f94.e809d"]]},{"id":"24950e54.d7bbba","type":"change","z":"299709bd.a82b46","name":"check diff, update data","rules":[{"t":"set","p":"data","pt":"msg","to":"data","tot":"flow"},{"t":"set","p":"rules","pt":"msg","to":"rules","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"\t  (\t      $now_str := $now();\t      $today := $string($number($now('[F1]','-0300'))%7);\t      $time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t      $inTimeRange := function($startAt, $endAt){\t          (\t              $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t              $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t              $le > $ls ?\t                  $time >= $ls and ($le = 1439 or $time < $le)\t              :\t                  $time >= $ls or $time < $le\t          )\t      };\t\t      $preserveTime := function($ruleKey, $cloudId){\t          (\t              $p := $lookup($lookup(payload, $ruleKey), $cloudId);\t              $type($p) = \"object\" and $p.triggered = false and $type($p.time) = \"string\" ?\t                  $p.time\t              :\t              (\t                  $d := $lookup($lookup(data, $ruleKey), $cloudId);\t                  $type($d) = \"object\" and $d.triggered = false and $type($d.time) = \"string\" ?\t                      $d.time\t                  :\t                      $now_str\t              )\t          )\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $active := $lookup($v.daysOfWeek, $today) and $inTimeRange($v.startAt, $v.endAt);\t              $exist := $lookup(payload, $k);\t\t              {\t                  $k: $active and $type($exist) = \"object\" ?\t                      $exist\t                  :\t                      [$each($v.slaves, function($va, $ka){\t                          (\t                              $status := $lookup(slaves, 'sl_'&$ka).status;\t                              {\t                                  $va.cloud_id: {\t                                      \"triggered\": false,\t                                      \"value\": \"Out of Rule Range\",\t                                      \"values\": [],\t                                      \"alldata\": [],\t                                      \"time\": $preserveTime($k, $va.cloud_id),\t                                      \"local_id\": $ka,\t                                      \"status\": $type($status) = \"string\" ? $status : \"offline\"\t                                  }\t                              }\t                          )\t                      })]~>$merge()\t              }\t          )\t      })]~>$merge()\t  )\t","tot":"jsonata"},{"t":"set","p":"diff","pt":"msg","to":"[$each(payload, function($v,$k){\t    (\t        $aux:=[$each($v, function($va,$ka){\t            $lookup($lookup(data, $k),$ka).triggered != $va.triggered ?\t                {$ka:$va}\t        })]~>$merge();\t\t        $count($keys($aux)) > 0?\t            {$k:$aux}\t    )\t    \t})]~>$merge()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1100,"wires":[["e6a13ccb.b5444","21a6a810.466c78"]]},{"id":"e6a13ccb.b5444","type":"change","z":"299709bd.a82b46","name":"set data","rules":[{"t":"set","p":"data","pt":"flow","to":"(\t    $aux:=data;\t    $type($aux) = 'object'?\t        $merge([$aux,payload])\t    :\t        payload\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1100,"wires":[["e6db2dd5.a9fd98","1013ff8c.e0285"]]},{"id":"1013ff8c.e0285","type":"change","z":"299709bd.a82b46","name":"set var","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    $now():\t        {       \t                \"rules\":$flowContext('data'),\t                \"vers\": vers\t        }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1100,"wires":[["9b98a5a6.a13c5"]]},{"id":"21a6a810.466c78","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":675,"y":1060,"wires":[],"l":false},{"id":"e6db2dd5.a9fd98","type":"debug","z":"299709bd.a82b46","name":"Slaves","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":835,"y":1060,"wires":[],"l":false},{"id":"5423b11e.895998","type":"change","z":"299709bd.a82b46","name":"get online","rules":[{"t":"set","p":"payload","pt":"msg","to":"$reduce(payload, function($acc,$v){\t    [$acc,\t    (\t        {$string($v.id):$v.status}\t    )\t    ]\t}, [])~>$merge()","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\t    \"time\":$now(),\t    \"central_id\": central_id,\t    \"slaves\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":780,"wires":[["43c86ea3.bbd02","23d5ea69.3984ae"]]},{"id":"43c86ea3.bbd02","type":"debug","z":"299709bd.a82b46","name":"debug 200","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":535,"y":800,"wires":[],"l":false},{"id":"23d5ea69.3984ae","type":"change","z":"299709bd.a82b46","name":"set URL","rules":[{"t":"set","p":"url","pt":"msg","to":"https://alarms-api.a.myio-bas.com/api/v1/ingest-device-status","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":780,"wires":[["946e3c68.2a7158"]]},{"id":"946e3c68.2a7158","type":"http request","z":"299709bd.a82b46","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":735,"y":780,"wires":[["f87692d0.42844"]],"l":false},{"id":"f87692d0.42844","type":"debug","z":"299709bd.a82b46","name":"debug 200","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":795,"y":800,"wires":[],"l":false},{"id":"73ae53f6.fb15dc","type":"myio-emitter","z":"7c2b6b79.d007dc","x":260,"y":280,"wires":[["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"],["28143ddf.f52942"]]},{"id":"28143ddf.f52942","type":"change","z":"7c2b6b79.d007dc","name":"Get data","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    $string(payload.id):$now()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["55b9793e.5343b"]]},{"id":"55b9793e.5343b","type":"join","z":"7c2b6b79.d007dc","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":575,"y":280,"wires":[["ba6ae91a.d8105"]],"l":false},{"id":"ba6ae91a.d8105","type":"trigger","z":"7c2b6b79.d007dc","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":635,"y":280,"wires":[["e71e8b04.b249b8","34f435f0.4bf602"]],"l":false},{"id":"e71e8b04.b249b8","type":"debug","z":"7c2b6b79.d007dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":695,"y":260,"wires":[],"l":false},{"id":"34f435f0.4bf602","type":"change","z":"7c2b6b79.d007dc","name":"set flow online","rules":[{"t":"set","p":"online","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":280,"wires":[[]]},{"id":"844915e3.a53a68","type":"inject","z":"7c2b6b79.d007dc","name":"check online","props":[{"p":"online","v":"online","vt":"flow"},{"p":"slaves","v":"slaves","vt":"flow"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":480,"wires":[["1adcf36e.702bc5"]]},{"id":"bf12ed1e.bd1838","type":"debug","z":"7c2b6b79.d007dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":575,"y":460,"wires":[],"l":false},{"id":"d24165d5.3a5ef8","type":"change","z":"7c2b6b79.d007dc","name":"slaves missing","rules":[{"t":"set","p":"payload","pt":"msg","to":"[$filter(slaves, function($v){\t    ($type($lookup(online, $string($v.id))) = 'string') = false or\t    (\t        $type($lookup(online, $string($v.id))) = 'string' ?\t            $millis() - $toMillis($lookup(online, $string($v.id))) > 10800000\t    )\t})]","tot":"jsonata"},{"t":"set","p":"missing","pt":"flow","to":"[$map([payload], function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":480,"wires":[["cb8da6ba.939688","95b7c2fe.9aac7"]]},{"id":"f2742ac2.98c8b","type":"inject","z":"7c2b6b79.d007dc","name":"","props":[{"p":"online","v":"online","vt":"msg"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":120,"wires":[["a53d4b0e.570eb"]]},{"id":"a53d4b0e.570eb","type":"postgresql","z":"7c2b6b79.d007dc","name":"Get slaves","query":"SELECT id\nFROM slaves","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":120,"wires":[["2a9fe72d.83207"]]},{"id":"2a9fe72d.83207","type":"change","z":"7c2b6b79.d007dc","name":"set flow slaves","rules":[{"t":"set","p":"slaves","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[[]]},{"id":"1adcf36e.702bc5","type":"switch","z":"7c2b6b79.d007dc","name":"check integrity","property":"$type(online) = \"object\" and\t$type(slaves) = \"array\" ","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":480,"wires":[["bf12ed1e.bd1838","31d5a5a8.0ef162"]]},{"id":"cb8da6ba.939688","type":"split","z":"7c2b6b79.d007dc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":175,"y":540,"wires":[["c531efe9.3da3e8"]],"l":false},{"id":"c531efe9.3da3e8","type":"delay","z":"7c2b6b79.d007dc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":235,"y":540,"wires":[["be01e989.0e34e","c893abe5.9b29"]],"l":false},{"id":"be01e989.0e34e","type":"debug","z":"7c2b6b79.d007dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":295,"y":560,"wires":[],"l":false},{"id":"95b7c2fe.9aac7","type":"debug","z":"7c2b6b79.d007dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1015,"y":480,"wires":[],"l":false},{"id":"c893abe5.9b29","type":"change","z":"7c2b6b79.d007dc","name":"set var","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"slave\":{\t    \"id\": payload.id\t    }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":540,"wires":[["ca0876dd.8eb0e"]]},{"id":"ca0876dd.8eb0e","type":"send-check","z":"7c2b6b79.d007dc","x":530,"y":540,"wires":[]},{"id":"31d5a5a8.0ef162","type":"switch","z":"7c2b6b79.d007dc","name":"> 11p.m.","property":"$number($now('[H]','-0300')) > 23","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":480,"wires":[["d24165d5.3a5ef8"]]},{"id":"ecc3f8ff.011f3","type":"inject","z":"7c2b6b79.d007dc","name":"","props":[{"p":"online","v":"online","vt":"msg"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":490,"y":680,"wires":[["2264d2ce.105736"]]},{"id":"2264d2ce.105736","type":"postgresql","z":"7c2b6b79.d007dc","name":"Get slaves","query":"SELECT *\nFROM slaves\nWhere id = 129","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":680,"wires":[["de464735.7a403"]]},{"id":"de464735.7a403","type":"debug","z":"7c2b6b79.d007dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":755,"y":660,"wires":[],"l":false},{"id":"fb26cc31.7337d","type":"inject","z":"dc09c5d6.fab1d","name":"","props":[{"p":"payload"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["f40d0649.ebd2d","4c59bd9.3be64c4","98ef0a95.2f663"]]},{"id":"f40d0649.ebd2d","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":325,"y":60,"wires":[],"l":false},{"id":"4c59bd9.3be64c4","type":"switch","z":"dc09c5d6.fab1d","name":"between 3 n 9 a.m.","property":"(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 3 and $aux < 9\t)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":100,"wires":[["151c8564.b70e4b"]]},{"id":"34c66b48.a76c54","type":"inject","z":"dc09c5d6.fab1d","name":"","props":[{"p":"online","v":"online","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":240,"wires":[["f7347f41.a03bb8"]]},{"id":"f7347f41.a03bb8","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get slaves","query":"SELECT id, name, \"type\"\nFROM slaves","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":240,"wires":[["ce243486.834698","4f2ab5b1.450a6c"]]},{"id":"3473c4e4.bf47ec","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get channels","query":"SELECT slave_id as id\nFROM channels\nWHERE name LIKE '%gnora%';","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":730,"y":240,"wires":[["473ed0cc.b9296","60b761c0.0492d"]]},{"id":"473ed0cc.b9296","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":855,"y":220,"wires":[],"l":false},{"id":"ce243486.834698","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":475,"y":220,"wires":[],"l":false},{"id":"4f2ab5b1.450a6c","type":"change","z":"dc09c5d6.fab1d","name":"save data","rules":[{"t":"set","p":"slaves","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":240,"wires":[["3473c4e4.bf47ec"]]},{"id":"60b761c0.0492d","type":"change","z":"dc09c5d6.fab1d","name":"filter slaves","rules":[{"t":"set","p":"filter","pt":"msg","to":"[$map(payload, function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()","tot":"jsonata"},{"t":"set","p":"newslaves","pt":"msg","to":"$reduce(slaves, function($acc,$v){\t    $merge([$acc,\t    {\t        $v.type:([$lookup($acc, $v.type),\t        $v.id\t        ])\t    }\t    ])\t},{})","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":240,"wires":[["e2c2dbdc.90ec38","93ba2764.0f611"]]},{"id":"e2c2dbdc.90ec38","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1115,"y":240,"wires":[],"l":false},{"id":"93ba2764.0f611","type":"change","z":"dc09c5d6.fab1d","name":"start water","rules":[{"t":"set","p":"water","pt":"msg","to":"$reduce(newslaves.outlet, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":320,"wires":[["b164a0.b2b17b6"]]},{"id":"b164a0.b2b17b6","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get channels","query":"SELECT slave_id\nFROM channels\nWHERE name ILIKE '%idr%'\nAND slave_id IN ({{msg.water}})","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":430,"y":320,"wires":[["57b19226.2d28dc","46cc441f.e11dcc"]]},{"id":"57b19226.2d28dc","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":555,"y":300,"wires":[],"l":false},{"id":"46cc441f.e11dcc","type":"change","z":"dc09c5d6.fab1d","name":"start water","rules":[{"t":"set","p":"water","pt":"msg","to":"$reduce(payload, function($acc,$v,$i){\t    $i= 0 ?\t    $string($v.slave_id)\t    :\t    $acc & \",\" & $v.slave_id\t},\"\")","tot":"jsonata"},{"t":"set","p":"time","pt":"msg","to":"(\t   $aux:=$fromMillis(\t       $millis() - 86400000,\t       '[Y0000]-[M99]-[D99]T'\t   );\t   {\t       \"start\": $aux&\"00:00:00.000Z\",\t       \"end\": $aux&\"23:59:59.999Z\"\t\t   }\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["e3ce7afb.5e7198","e918e440.29d23"]]},{"id":"b1d29d75.be15c","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get water","query":"SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM Channel_pulse_log\n\nWHERE \nslave_id IN ({{msg.water}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":1060,"y":340,"wires":[["1bc1ed5e.7bf11b","826125b4.dbe118"]]},{"id":"1bc1ed5e.7bf11b","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1195,"y":340,"wires":[],"l":false},{"id":"e3ce7afb.5e7198","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":795,"y":300,"wires":[],"l":false},{"id":"cfcd8bef.a5df9","type":"change","z":"dc09c5d6.fab1d","name":"start 3f energy","rules":[{"t":"set","p":"water","pt":"msg","to":"(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(water,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<1 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)","tot":"jsonata"},{"t":"set","p":"pot3f","pt":"msg","to":"$reduce(newslaves.three_phase_sensor, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["37babd4.fe1b2c2","5dc9e534.91f27c"]]},{"id":"7080a8b.2a97958","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get energy","query":"SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.pot3f}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":440,"wires":[["fc846649.b0f72","f2a9e5ef.6eea08"]]},{"id":"fc846649.b0f72","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":835,"y":440,"wires":[],"l":false},{"id":"37babd4.fe1b2c2","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":415,"y":400,"wires":[],"l":false},{"id":"abba5ff.5d8c82","type":"change","z":"dc09c5d6.fab1d","name":"start SCD energy","rules":[{"t":"set","p":"pot3f","pt":"msg","to":"(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(pot3f,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<10 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)","tot":"jsonata"},{"t":"set","p":"potscd","pt":"msg","to":"$reduce(slaves, function($acc,$v,$i){\t    $contains($v.name, \"SCD\") ?\t    ($i= 0 ?\t    $string($v.id)\t    :\t    $acc & \",\" & $v.id\t    )\t    :\t    $acc\t},\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":520,"wires":[["4cdaa326.b795d4","ef5b788c.b6077"]]},{"id":"6bd25d4e.606e14","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get energy","query":"SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.potsw}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":540,"wires":[["c3ba84bb.8404f","df2facbf.d25ca8"]]},{"id":"c3ba84bb.8404f","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":835,"y":540,"wires":[],"l":false},{"id":"4cdaa326.b795d4","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":415,"y":500,"wires":[],"l":false},{"id":"e918e440.29d23","type":"switch","z":"dc09c5d6.fab1d","name":"have?","property":"water","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":320,"wires":[["ffc19cb0.4e2878"],["b1d29d75.be15c"]]},{"id":"826125b4.dbe118","type":"link out","z":"dc09c5d6.fab1d","name":"end water in","links":["783dfa0.a2a8708"],"x":1195,"y":300,"wires":[]},{"id":"ffc19cb0.4e2878","type":"change","z":"dc09c5d6.fab1d","name":"fill payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":300,"wires":[["826125b4.dbe118"]]},{"id":"783dfa0.a2a8708","type":"link in","z":"dc09c5d6.fab1d","name":"3f energy start out","links":["826125b4.dbe118"],"x":155,"y":420,"wires":[["cfcd8bef.a5df9"]]},{"id":"5dc9e534.91f27c","type":"switch","z":"dc09c5d6.fab1d","name":"have?","property":"pot3f","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":420,"wires":[["59640c0a.e2e42c"],["7080a8b.2a97958"]]},{"id":"59640c0a.e2e42c","type":"change","z":"dc09c5d6.fab1d","name":"fill payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["f2a9e5ef.6eea08"]]},{"id":"f2a9e5ef.6eea08","type":"link out","z":"dc09c5d6.fab1d","name":"3f energy end in","links":["9ab28bf9.87d3f"],"x":835,"y":400,"wires":[]},{"id":"9ab28bf9.87d3f","type":"link in","z":"dc09c5d6.fab1d","name":"sw energy start out","links":["f2a9e5ef.6eea08"],"x":155,"y":520,"wires":[["abba5ff.5d8c82"]]},{"id":"ef5b788c.b6077","type":"switch","z":"dc09c5d6.fab1d","name":"have?","property":"potscd","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":520,"wires":[["faa61e73.ff496"],["6bd25d4e.606e14"]]},{"id":"faa61e73.ff496","type":"change","z":"dc09c5d6.fab1d","name":"fill payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":500,"wires":[["df2facbf.d25ca8"]]},{"id":"88e0e20.80ad3a","type":"postgresql","z":"dc09c5d6.fab1d","name":"Get temp","query":"SELECT \n    slave_id, \n    AVG(value) AS media_value\nFROM temperature_history\n\nWHERE \nslave_id IN ({{msg.temp}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":700,"y":640,"wires":[["23b00b37.17ecf4","3f1ba219.b2ee0e"]]},{"id":"df2facbf.d25ca8","type":"link out","z":"dc09c5d6.fab1d","name":"sw energy end in","links":["47cb0923.23315"],"x":835,"y":500,"wires":[]},{"id":"47cb0923.23315","type":"link in","z":"dc09c5d6.fab1d","name":"temp start out","links":["df2facbf.d25ca8"],"x":155,"y":620,"wires":[["c3f8c829.6cc8a"]]},{"id":"c3f8c829.6cc8a","type":"change","z":"dc09c5d6.fab1d","name":"start temp","rules":[{"t":"set","p":"potscd","pt":"msg","to":"(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(potscd,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<135 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)","tot":"jsonata"},{"t":"set","p":"temp","pt":"msg","to":"$reduce(slaves, function($acc,$v,$i){\t    $lookup(filter, $string($v.id)) = true?\t        $acc\t        :\t        $contains($lowercase($v.name), 'temp')?\t        ($acc=\"\" ?\t        $string($v.id)\t        :\t        $acc & \",\" & $v.id)\t        :\t        $acc\t    \t},\"\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":620,"wires":[["2e6cf88c.4fec48","d04782bc.d8af68"]]},{"id":"2e6cf88c.4fec48","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":415,"y":600,"wires":[],"l":false},{"id":"d04782bc.d8af68","type":"switch","z":"dc09c5d6.fab1d","name":"have?","property":"temp","propertyType":"msg","rules":[{"t":"eq","v":"\"\"","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":620,"wires":[["911b1d62.ef9d48"],["88e0e20.80ad3a"]]},{"id":"911b1d62.ef9d48","type":"change","z":"dc09c5d6.fab1d","name":"fill payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":600,"wires":[["3f1ba219.b2ee0e"]]},{"id":"23b00b37.17ecf4","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":835,"y":640,"wires":[],"l":false},{"id":"3f1ba219.b2ee0e","type":"link out","z":"dc09c5d6.fab1d","name":"temp end in","links":["eb6b6d60.156a08"],"x":835,"y":600,"wires":[]},{"id":"eb6b6d60.156a08","type":"link in","z":"dc09c5d6.fab1d","name":"finish out","links":["3f1ba219.b2ee0e"],"x":155,"y":720,"wires":[["9239aacc.e2812"]]},{"id":"9239aacc.e2812","type":"change","z":"dc09c5d6.fab1d","name":"set temp","rules":[{"t":"set","p":"temp","pt":"msg","to":"(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$round($number($v.media_value),1)}\t})]~>$merge();\t\t[$map([$split(temp,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t            $value < 15 or $value > 50?\t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)","tot":"jsonata"},{"t":"delete","p":"slaves","pt":"msg"},{"t":"delete","p":"newslaves","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":720,"wires":[["3f0be8d1.456df8","8d0ef03f.e9a5d"]]},{"id":"3f0be8d1.456df8","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":375,"y":700,"wires":[],"l":false},{"id":"8d0ef03f.e9a5d","type":"http request","z":"dc09c5d6.fab1d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":455,"y":720,"wires":[["82689667.b663f8","71ee070d.c3828"]],"l":false},{"id":"82689667.b663f8","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":515,"y":700,"wires":[],"l":false},{"id":"71ee070d.c3828","type":"change","z":"dc09c5d6.fab1d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t$aux:=\t[$map(payload, function($v){\t    {$string($v.id):{\"status\":$v.status, \"name\":$v.name}}\t})]~>$merge();\t\t{\t    \"pot3f\": [$each(pot3f, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"POT \"&$v\t        )\t    })],\t    \"water\": [$each(water, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Hidr \"&$v\t        )\t    })],\t    \"potscd\": [$each(potscd, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"SCD \"&$v\t        )\t    })],\t    \"temp\": [$each(temp, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Temp \"&$v\t        )\t    })]\t}\t\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":720,"wires":[["d23ce5c2.ff6448","c663e03c.13fae"]]},{"id":"d23ce5c2.ff6448","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":795,"y":720,"wires":[],"l":false},{"id":"c663e03c.13fae","type":"change","z":"dc09c5d6.fab1d","name":"set template","rules":[{"t":"set","p":"payload","pt":"msg","to":"($count($spread(payload.pot3f)) )&\" Erro de Potencia 3F<br>\"&\t($count($spread(payload.water)) )&\" Erro de Hidrometro<br>\"&\t($count($spread(payload.potscd)) )&\" Erro de SCD<br>\"&\t($count($spread(payload.temp)) )&\" Erro de Temperatura<br>\"&\t\t\"<br><br><br>POTENCIA 3F <br><br><br>\"&\t($reduce(payload.pot3f, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Hidrometro <br><br><br>\"&\t($reduce(payload.water, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>SCD <br><br><br>\"&\t($reduce(payload.potscd, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Temperatura <br><br><br>\"&\t($reduce(payload.temp, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":820,"wires":[["a6327aa4.b2d8e8","79bf9e4d.d848b"]]},{"id":"a6327aa4.b2d8e8","type":"change","z":"dc09c5d6.fab1d","name":"set email","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"to\":\"bruno@myio.com.br, gadioli@myio.com.br\",\t    \"title\":\"Campinas Shopping Subestação Principal\",\t    \"template\":payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":820,"wires":[["3dd7bf4d.2b3d1","49e0e82.0f80d18"]]},{"id":"79bf9e4d.d848b","type":"debug","z":"dc09c5d6.fab1d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":415,"y":800,"wires":[],"l":false},{"id":"3dd7bf4d.2b3d1","type":"debug","z":"dc09c5d6.fab1d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":635,"y":800,"wires":[],"l":false},{"id":"49e0e82.0f80d18","type":"send-email","z":"dc09c5d6.fab1d","x":760,"y":820,"wires":[]},{"id":"151c8564.b70e4b","type":"switch","z":"dc09c5d6.fab1d","name":"1 each day","property":"day","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":100,"wires":[[],["e76f8bbe.36cf68"]]},{"id":"e76f8bbe.36cf68","type":"change","z":"dc09c5d6.fab1d","name":"set flow","rules":[{"t":"set","p":"day","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["f7347f41.a03bb8"]]},{"id":"98ef0a95.2f663","type":"switch","z":"dc09c5d6.fab1d","name":">10 am","property":"(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 10\t)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":140,"wires":[["67121075.6c577"]]},{"id":"67121075.6c577","type":"change","z":"dc09c5d6.fab1d","name":"set flow","rules":[{"t":"set","p":"day","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[[]]}]