src/NODE-RED/CAMPINAS/campinas_shoppinas_hidrometros_g0/bkp-campinas_shoppinas_hidrometros_g0-flows.json
[{"id":"c68cd160.389db","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7e1217db.683d58","type":"tab","label":"Monitoramento","disabled":true,"info":""},{"id":"f5b2bde8.e6f01","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"94f2b265.13f49","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"cd4d4a4c.ba4f2","type":"tab","label":"Fix Values Dashboard","disabled":false,"info":""},{"id":"fb852cf4.b3a5e","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"9537256a.e8bc68","type":"group","z":"c68cd160.389db","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8"],"x":34,"y":690,"w":1079,"h":191},{"id":"ca9c4eb1.2a63c","type":"group","z":"c68cd160.389db","name":"Thingsboard","style":{"label":true},"nodes":["25472f2c.a0a76","7ff95b20.c4a154","2c589aee.a12ea6","47b6f028.e6798","50a29277.48f80c","70ab5ed0.0dc2b","51f1bb92.760a84","9b865b5d.2cda18"],"x":1434,"y":259,"w":622,"h":142},{"id":"f7475f01.064c","type":"group","z":"c68cd160.389db","name":"Get 30 days average every hour","style":{"label":true},"nodes":["fce0c1b5.265fd","64003cdf.eb4ec4","5622719e.2f5ec","49aaacf7.c846b4","ba6d029.505e5","cec04b19.c96d38","a60bc8c7.345718","94a50df9.48cfc"],"x":34,"y":530,"w":1079,"h":131},{"id":"c4ae64eb.f82c88","type":"group","z":"c68cd160.389db","name":"Central UUID","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":1834,"y":419,"w":322,"h":82},{"id":"1687d5da.408c7a","type":"group","z":"c68cd160.389db","name":"send check","style":{"label":true},"nodes":["9e875109.34ac5","3ae64c1b.6737c4","10829b6a.b725e5"],"x":1834,"y":519,"w":322,"h":82},{"id":"c93928f7.528eb8","type":"group","z":"c68cd160.389db","name":"Store devices to flow.devices","style":{"label":true},"nodes":["7f3390f4.2b527","8ecbb671.f3df18","3b6e6995.f10126","f5df6480.ffe408","85b7cc96.8795f","6c636e38.ab99","a627f4a0.401d88","a8e9f6c5.b128d8","cd249588.07fc88","e75aff05.48022","9b4d3f62.cb348","72772d64.b7dde4","8c4a3115.638d","196e6875.c7c5a8","72e52db9.ac0734"],"x":34,"y":30,"w":1582,"h":211},{"id":"aa61127e.dfa2","type":"group","z":"c68cd160.389db","name":"MQTT","style":{"label":true},"nodes":["6a14f3b2.cd8b2c","5de6353b.c9836c","5678a6c3.be7e98","6f667024.d1f12","d533a111.18fe2","3f51507f.fcbcb","ff932835.497da8","ce30e30e.34805","456b5296.c063dc"],"x":34,"y":259,"w":1362,"h":237},{"id":"cb8e78c5.0a3bd8","type":"group","z":"7e1217db.683d58","name":"Central Monitor","style":{"label":true},"nodes":["f5ca9950.3f8258","3b594c0b.000bb4","ddd8c826.b91ba8","f059b02d.c03538","2f7d85f.ea7577a","97d912cb.562ec8","dfcb1e95.eb724","bd85d5cb.d9a428"],"x":34,"y":39},{"id":"76a8e9f.e9e3698","type":"group","z":"7e1217db.683d58","name":"Missing Hidrometers","style":{"label":true},"nodes":["79b80342.ba462c","923841da.43aea","92d4ecf3.16e228","3f0e0680.864802","4634d7d8.96a298","55497e59.91dd78"],"x":34,"y":239},{"id":"75395fb5.b801c","type":"group","z":"7e1217db.683d58","name":"Missing Energy","style":{"label":true},"nodes":["707bb1fe.681958","5903b0b9.29b4e8","53f7cef5.cbbe6","b42e8d7e.01be28","91d69eec.8d86a8"],"x":34,"y":439},{"id":"660dfc3f.fb6ec4","type":"group","z":"94f2b265.13f49","name":"Central Monitor","style":{"label":true},"nodes":["3ec19386.1c4f6c","e89300a2.e0e35","8aa4a6ba.62187","3c3aec4.e4b0114","9dfc6c29.98455","7982add0.00bd8c","4b26575f.66a2d8"],"x":34,"y":39},{"id":"def15641.a603a","type":"group","z":"c68cd160.389db","name":"Fix values in database","style":{"label":true},"nodes":["8f607c16.fc6c6","e5b52689.2ce908","68537d28.3e5f0c","a8afe819.95603","7a3c8187.fe0678","b112a1b3.874398","5fc61519.738e8c"],"x":1234,"y":1279,"w":932,"h":122},{"id":"45d1d0e0.1b5c9","type":"group","z":"c68cd160.389db","name":"","style":{"label":true},"nodes":["a0634bdf.513bc8","e37b240d.b020d","f81ff176.175e3","e8c7a40c.4566a","5044a81c.a5e3b","d0b996d0.a4d388","d1873ea3.22f9","e9a73fd1.4986d","c84a3be1.0c0338","9254df67.e1424","6539d47e.e901cc","129631cc.e3ecc6","d1bbdd4c.564a7","7bfd87.ac654278","8fb40ebd.58d918","cf9cfc80.d6f3f8","8986c593.d2a848","6882125d.c78eac","58a72f73.ee6918","4cd8073d.692d58"],"x":34,"y":899,"w":1072,"h":302},{"id":"29838a34.23daa6","type":"group","z":"c68cd160.389db","name":"","style":{"label":true},"nodes":["a4e6fdab.dfd9e","e6de107.033227","10e7f58.095ef8b","4421c897.40812","633a5a4c.c863b4","ee93c793.21f9f"],"x":34,"y":1239,"w":1072,"h":142},{"id":"e2863feb.d7fdd","type":"group","z":"c68cd160.389db","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["c458485c.65d7c8","5c3ce61f.fa496","9c673c08.6b5598","1922c7b3.d9d89"],"x":1434,"y":419,"w":362,"h":222},{"id":"d67a64b0.5c8b1","type":"group","z":"94f2b265.13f49","name":"Missing Hidrometers","style":{"label":true},"nodes":["8d9e0056.d609d8","8e9355ab.5fa5e","fda4e7fd.55c26","bcf44f2.e5cebb","8014c2ed.7e20e8","bade7a62.5094e8","6eb4f8a9.8e05e","c6a4aa25.d5e0d8"],"x":34,"y":219},{"id":"1f4a616f.95854f","type":"group","z":"94f2b265.13f49","name":"Missing Energy","style":{"label":true},"nodes":["ea16e068.0678d8","8968a0f8.df4e28","ee11391a.f07ef8","c634c742.d4a58","99b64963.8d8fe8","e55e5775.d48f08","88ec69e8.7fa6f8","91cb23f9.608c18"],"x":34,"y":439},{"id":"5cf64261.5d0674","type":"group","z":"c68cd160.389db","name":"ATTRIBUTES_SYNC","style":{"label":true},"nodes":["b915f387.e9e1d8","8b8f36dd.4e5c9","da9b79d0.28b05","1d8eb49a.18179b","1a447fbb.895e78","bb93f578.f6e778"],"x":1434,"y":679,"w":612,"h":242},{"id":"c1122b85.73f4c8","type":"mqtt-broker","z":"","name":"Thingsboard PE","broker":"mqtt.myio-bas.com","port":"1883","clientid":"hffsxqvq0qfuf6sdj3o7","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"c68cd160.389db","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"hkv6dipt04vlwwhxz9ro","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"6deeaf36.0693f","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"58bcd2d4.62c66c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9fd9f2d3.3e3048","type":"ui_group","z":"","name":"Default","tab":"58bcd2d4.62c66c","disp":true,"width":"24","collapse":false},{"id":"ee400996.8a2f98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7d36c4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#7d36c4","edited":true},"page-titlebar-backgroundColor":{"value":"#7d36c4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#a36fd7","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#7d36c4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b4804878.a571c8","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5b98104d.9870a","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be0e1e19.dccf9","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.data.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"786014a5.2c487c","type":"inject","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":780,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":740,"wires":[]},{"id":"7416219b.e3dc5","type":"function","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Process the incoming payload and sum pulses (keeping the last timestamp)\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  // Multiply the reading value by the multiplier\n  const valueToAdd = reading.value * multiplier;\n  // Get the timestamp (in milliseconds)\n  const ts = new Date(reading.timestamp).getTime();\n\n  // If this is the first reading for the device, initialize the object;\n  // otherwise, add the pulses and update the timestamp to the current one.\n  if (!(actualName in acc)) {\n    acc[actualName] = [\n      {\n        ts: ts,\n        values: {\n          pulses: valueToAdd,\n        },\n      },\n    ];\n  } else {\n    acc[actualName][0].values.pulses += valueToAdd;\n    acc[actualName][0].ts = ts;\n  }\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":780,"wires":[["9b58ea20.906e18","a3621c83.8b462"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":740,"wires":[]},{"id":"f2e09fc0.c5039","type":"function","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":820,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":820,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","links":["dc43faa3.6655e8","9b865b5d.2cda18"],"x":955,"y":780,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":997,"y":731,"wires":[]},{"id":"bdca7b0c.2358b8","type":"debug","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":840,"wires":[]},{"id":"25472f2c.a0a76","type":"function","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1575,"y":300,"wires":[["2c589aee.a12ea6"]],"l":false},{"id":"7ff95b20.c4a154","type":"mqtt out","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"Thingsboard PE","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"c1122b85.73f4c8","x":1900,"y":300,"wires":[]},{"id":"2c589aee.a12ea6","type":"function","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":300,"wires":[["7ff95b20.c4a154"]]},{"id":"47b6f028.e6798","type":"inject","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1540,"y":360,"wires":[["2c589aee.a12ea6"]]},{"id":"50a29277.48f80c","type":"debug","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1940,"y":360,"wires":[]},{"id":"70ab5ed0.0dc2b","type":"link in","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"","links":["2660efc6.d2164","a60bc8c7.345718","ce30e30e.34805"],"x":1495,"y":300,"wires":[["25472f2c.a0a76"]]},{"id":"64003cdf.eb4ec4","type":"inject","z":"c68cd160.389db","g":"f7475f01.064c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":620,"wires":[["5622719e.2f5ec"]]},{"id":"5622719e.2f5ec","type":"function","z":"c68cd160.389db","g":"f7475f01.064c","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["49aaacf7.c846b4","fce0c1b5.265fd"]]},{"id":"49aaacf7.c846b4","type":"debug","z":"c68cd160.389db","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":580,"wires":[]},{"id":"ba6d029.505e5","type":"function","z":"c68cd160.389db","g":"f7475f01.064c","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) {\n    return acc;\n  }\n\n  // Get clean device name (without multiplier patterns)\n  const actualName = getNameWithoutMultipliers(device.name);\n\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  if (!(actualName in acc)) {\n    acc[actualName] = [];\n  }\n\n  acc[actualName].push({\n    ts: new Date(reading.reference_hour).getTime(),\n    values: {\n      pulsesHourlyAverage: parseFloat(reading.avg_sum) * multiplier,\n      pulsesHourlyAverageMin: parseFloat(reading.avg_min_sum) * multiplier,\n      pulsesHourlyAverageMax: parseFloat(reading.avg_max_sum) * multiplier,\n    },\n  });\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":620,"wires":[["94a50df9.48cfc","a60bc8c7.345718"]]},{"id":"cec04b19.c96d38","type":"debug","z":"c68cd160.389db","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":580,"wires":[]},{"id":"a60bc8c7.345718","type":"link out","z":"c68cd160.389db","g":"f7475f01.064c","name":"","links":["dc43faa3.6655e8","70ab5ed0.0dc2b"],"x":955,"y":620,"wires":[]},{"id":"94a50df9.48cfc","type":"debug","z":"c68cd160.389db","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":997,"y":571,"wires":[]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"c68cd160.389db","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":780,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"fce0c1b5.265fd","type":"postgresql","z":"c68cd160.389db","g":"f7475f01.064c","name":"","query":"WITH hourly_stats AS (\n    SELECT\n        date_trunc('day', timestamp) AS day,\n        slave_id,\n        channel,\n        SUM(value) AS hourly_sum\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp >= NOW() - INTERVAL '30 days'\n        AND (slave_id, channel) IN {{{ msg.payload.devices }}}\n        AND EXTRACT(HOUR FROM timestamp) = EXTRACT(HOUR FROM NOW())\n    GROUP BY\n        day, slave_id, channel\n),\ndaily_min_max AS (\n    SELECT\n        slave_id,\n        channel,\n        MIN(hourly_sum) AS daily_min_sum,\n        MAX(hourly_sum) AS daily_max_sum\n    FROM\n        hourly_stats\n    GROUP BY\n        slave_id, channel\n)\nSELECT\n    date_trunc('hour', NOW()) AS reference_hour,\n    slave_id,\n    channel,\n    ROUND(AVG(daily_min_sum), 2) AS avg_min_sum,\n    ROUND(AVG(daily_max_sum), 2) AS avg_max_sum,\n    ROUND(AVG(hourly_sum), 2) AS avg_sum\nFROM\n    hourly_stats\n    JOIN daily_min_max USING (slave_id, channel)\nGROUP BY\n    reference_hour, slave_id, channel;\n","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":620,"wires":[["ba6d029.505e5","cec04b19.c96d38"]]},{"id":"563c0479.f8ecbc","type":"inject","z":"c68cd160.389db","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1950,"y":460,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"c68cd160.389db","g":"c4ae64eb.f82c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2095,"y":460,"wires":[],"l":false},{"id":"9e875109.34ac5","type":"inject","z":"c68cd160.389db","g":"1687d5da.408c7a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1950,"y":560,"wires":[["3ae64c1b.6737c4"]]},{"id":"3ae64c1b.6737c4","type":"function","z":"c68cd160.389db","g":"1687d5da.408c7a","name":"","func":"const slaves = flow.get('slave_data');\n\nif (!slaves) {\n    return null;\n}\n\nconst slavesNumber = slaves.length;\nconst lastIndex = this.lastIndex || 0;\n\nif (lastIndex === slavesNumber) {\n    this.lastIndex = 0;\n} else {\n    this.lastIndex = lastIndex + 1;\n}\n\nconst slave = slaves[this.lastIndex];\n\nif (!slave) {\n    return null;\n}\n\nmsg.payload = {\n    slave: {\n        id: slave.id,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2055,"y":560,"wires":[["10829b6a.b725e5"]],"l":false},{"id":"10829b6a.b725e5","type":"send-check","z":"c68cd160.389db","g":"1687d5da.408c7a","x":2115,"y":560,"wires":[],"l":false},{"id":"7f3390f4.2b527","type":"inject","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["8ecbb671.f3df18"]]},{"id":"8ecbb671.f3df18","type":"get-data","z":"c68cd160.389db","g":"c93928f7.528eb8","selectedOption":"slaves","x":340,"y":160,"wires":[["3b6e6995.f10126","72772d64.b7dde4","196e6875.c7c5a8"]]},{"id":"3b6e6995.f10126","type":"split","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":160,"wires":[["f5df6480.ffe408"]],"l":false},{"id":"f5df6480.ffe408","type":"switch","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":160,"wires":[["85b7cc96.8795f"],["6c636e38.ab99"],["a627f4a0.401d88"]],"l":false},{"id":"85b7cc96.8795f","type":"function","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Transform outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":120,"wires":[["9b4d3f62.cb348"]]},{"id":"6c636e38.ab99","type":"function","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Transform three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n};\n\n/*\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n\n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n}\n*/\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":160,"wires":[["9b4d3f62.cb348"]]},{"id":"a627f4a0.401d88","type":"function","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Transform infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":200,"wires":[["9b4d3f62.cb348"]]},{"id":"a8e9f6c5.b128d8","type":"join","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":160,"wires":[["cd249588.07fc88"]]},{"id":"cd249588.07fc88","type":"function","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["e75aff05.48022","8c4a3115.638d","72e52db9.ac0734"]]},{"id":"e75aff05.48022","type":"change","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":160,"wires":[[]],"l":false},{"id":"9b4d3f62.cb348","type":"function","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":160,"wires":[["a8e9f6c5.b128d8"]],"l":false},{"id":"72772d64.b7dde4","type":"change","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":120,"wires":[[]],"l":false},{"id":"8c4a3115.638d","type":"debug","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":111,"wires":[],"l":false},{"id":"196e6875.c7c5a8","type":"debug","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":71,"wires":[],"l":false},{"id":"6a14f3b2.cd8b2c","type":"myio-emitter","z":"c68cd160.389db","g":"aa61127e.dfa2","x":110,"y":380,"wires":[["5de6353b.c9836c"],["5678a6c3.be7e98"],[],[],[],["5678a6c3.be7e98"],[],[],[],[],[],[]]},{"id":"5de6353b.c9836c","type":"function","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":340,"wires":[["3f51507f.fcbcb"]]},{"id":"5678a6c3.be7e98","type":"function","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["ff932835.497da8"]]},{"id":"6f667024.d1f12","type":"comment","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Atualização de dispositivo","info":"","x":410,"y":300,"wires":[]},{"id":"d533a111.18fe2","type":"comment","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Temperatura","info":"","x":370,"y":380,"wires":[]},{"id":"3f51507f.fcbcb","type":"function","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["ce30e30e.34805","456b5296.c063dc"]]},{"id":"ff932835.497da8","type":"function","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":420,"wires":[["ce30e30e.34805","456b5296.c063dc"]]},{"id":"ce30e30e.34805","type":"link out","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","7e8207d2.2f4638","5f89597e.bdc0a8","c679bdd1.0c0f","70ab5ed0.0dc2b"],"x":1355,"y":400,"wires":[]},{"id":"456b5296.c063dc","type":"debug","z":"c68cd160.389db","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1055,"y":320,"wires":[],"l":false},{"id":"9b865b5d.2cda18","type":"link in","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"BYPASS ","links":["9b58ea20.906e18","1922c7b3.d9d89"],"x":1675,"y":360,"wires":[["51f1bb92.760a84"]]},{"id":"51f1bb92.760a84","type":"function","z":"c68cd160.389db","g":"ca9c4eb1.2a63c","name":"","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1735,"y":360,"wires":[["50a29277.48f80c","7ff95b20.c4a154"]],"l":false},{"id":"b3220c79.391ac","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":1060,"wires":[["16369e75.785842"]]},{"id":"16369e75.785842","type":"function","z":"c68cd160.389db","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst messages = [];\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key]; \n\n    const message = {\n        payload: {\n            device: {\n                centralId: centralId,\n                slaveId: device.slaveId\n            }\n        }\n    };\n\n    messages.push(message);\n});\n\nmsg.payload = messages;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1040,"wires":[["ab89666b.ff59e8"]]},{"id":"ab89666b.ff59e8","type":"function","z":"c68cd160.389db","name":"Add namespace","func":"const devices = flow.get('devices'); \nconst keys = Object.keys(devices);\n\nconst newPayload = keys.reduce((acc, key) => {\n    let index = key.toLowerCase().indexOf(\"x\"); \n    let newKey = index !== -1 ? key.slice(0, index) : key;\n\n    // Remove \"Hidr. \" somente se a chave não for \"Hidr. McDonald's_G1\"\n    if (newKey.startsWith(\"Hidr.\") && newKey !== \"Usa_Fle\") {\n        newKey = newKey.slice(6); // Remove os primeiros 6 caracteres (\"Hidr. \")\n        acc[`${newKey}(Campinas Shopping)`] = {\n            centralId: msg.payload[0].payload.device.centralId,\n            slaveId : msg.payload[0].payload.device.slaveId\n        };\n        return acc;\n    }\n    \n    acc[`${newKey} (Campinas Shopping)`] = {\n        centralId: msg.payload[0].payload.device.centralId,\n         slaveId : msg.payload[0].payload.device.slaveId\n    };\n\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1515,"y":1040,"wires":[["d4fb3407.fabef8"]],"l":false},{"id":"d4fb3407.fabef8","type":"debug","z":"c68cd160.389db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1650,"y":1060,"wires":[]},{"id":"b006ae02.555be","type":"mqtt out","z":"c68cd160.389db","name":"Thingsboard PE","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":1840,"y":1000,"wires":[]},{"id":"479b9b41.2ff874","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1240,"y":1120,"wires":[["f80c00f6.06e59"]]},{"id":"f80c00f6.06e59","type":"function","z":"c68cd160.389db","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst messages = [];\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key]; \n\n    const message = {\n        payload: {\n            device: {\n                centralId: centralId\n            }\n        }\n    };\n\n    messages.push(message);\n});\n\nmsg.payload = messages;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1120,"wires":[["ff8e2680.343758"]]},{"id":"ff8e2680.343758","type":"function","z":"c68cd160.389db","name":"Add namespace","func":"const devices = flow.get('devices'); \nconst keys = Object.keys(devices);\n\nconst newPayload = keys.reduce((acc, key) => {\n\n    if (key === \"Hidr. HappyMachine x1 0m3\") {\n        \n        let formattedKey = `Happy_Machine (Campinas Shopping)`;\n        node.warn(key);\n        \n        acc[formattedKey] = {\n            centralId: msg.payload[0].payload.device.centralId\n        };\n    }\n    \n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1535,"y":1120,"wires":[["cb10d999.5ae748"]],"l":false},{"id":"cb10d999.5ae748","type":"debug","z":"c68cd160.389db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":1120,"wires":[]},{"id":"51884ade.2285fc","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2000,"y":1100,"wires":[["870b4b02.f0648"]]},{"id":"870b4b02.f0648","type":"function","z":"c68cd160.389db","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (const key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    let actualName = key.replace(/^Hidr\\.\\s*/, '').trim();\n    let multiplier = 1;\n\n    const multMatch = actualName.match(/\\s+x(\\d+)/);\n    if (multMatch) {\n        multiplier = parseFloat(multMatch[1]);\n        actualName = actualName.replace(/\\s+x\\d+.*/, ''); // remove x<number> and anything after\n    }\n\n    payload[`Hidr. ${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":1100,"wires":[["bc5c8a8e.43d848"]]},{"id":"cdd71ff9.6eca4","type":"comment","z":"c68cd160.389db","name":"Slave Id + Central Id","info":"","x":2030,"y":1060,"wires":[]},{"id":"bc5c8a8e.43d848","type":"debug","z":"c68cd160.389db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2420,"y":1100,"wires":[]},{"id":"f5ca9950.3f8258","type":"inject","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/653f7e70-a5e9-4a99-b4cd-b5457ce28bc3\t","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["dfcb1e95.eb724"]]},{"id":"3b594c0b.000bb4","type":"http request","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["ddd8c826.b91ba8"]]},{"id":"ddd8c826.b91ba8","type":"switch","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["f059b02d.c03538"],["2f7d85f.ea7577a","97d912cb.562ec8"]]},{"id":"f059b02d.c03538","type":"debug","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"2f7d85f.ea7577a","type":"debug","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"97d912cb.562ec8","type":"function","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"dfcb1e95.eb724","type":"function","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nnode.warn('tetao');\nnode.warn(monitoringIssues);\n\nif (monitoringIssues) {\n    node.warn('teta');\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["3b594c0b.000bb4","bd85d5cb.d9a428"]],"l":false},{"id":"79b80342.ba462c","type":"inject","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["923841da.43aea"]]},{"id":"923841da.43aea","type":"postgresql","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":280,"wires":[["92d4ecf3.16e228","3f0e0680.864802"]]},{"id":"92d4ecf3.16e228","type":"debug","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"3f0e0680.864802","type":"function","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["4634d7d8.96a298","55497e59.91dd78"]]},{"id":"4634d7d8.96a298","type":"debug","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":320,"wires":[]},{"id":"55497e59.91dd78","type":"change","z":"7e1217db.683d58","g":"76a8e9f.e9e3698","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[[]]},{"id":"707bb1fe.681958","type":"postgresql","z":"7e1217db.683d58","g":"75395fb5.b801c","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":480,"wires":[["53f7cef5.cbbe6"]]},{"id":"5903b0b9.29b4e8","type":"inject","z":"7e1217db.683d58","g":"75395fb5.b801c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["707bb1fe.681958"]]},{"id":"53f7cef5.cbbe6","type":"function","z":"7e1217db.683d58","g":"75395fb5.b801c","name":"","func":"const flowHasIssues = flow.get('monitoringIssues') || false;\n\n// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = flowHasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["b42e8d7e.01be28","91d69eec.8d86a8"]]},{"id":"b42e8d7e.01be28","type":"debug","z":"7e1217db.683d58","g":"75395fb5.b801c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"91d69eec.8d86a8","type":"change","z":"7e1217db.683d58","g":"75395fb5.b801c","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"bd85d5cb.d9a428","type":"debug","z":"7e1217db.683d58","g":"cb8e78c5.0a3bd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":140,"wires":[]},{"id":"3ec19386.1c4f6c","type":"inject","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/653f7e70-a5e9-4a99-b4cd-b5457ce28bc3","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["4b26575f.66a2d8"]]},{"id":"e89300a2.e0e35","type":"http request","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["8aa4a6ba.62187"]]},{"id":"8aa4a6ba.62187","type":"switch","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["3c3aec4.e4b0114"],["9dfc6c29.98455","7982add0.00bd8c"]]},{"id":"3c3aec4.e4b0114","type":"debug","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"9dfc6c29.98455","type":"debug","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"7982add0.00bd8c","type":"function","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"4b26575f.66a2d8","type":"function","z":"94f2b265.13f49","g":"660dfc3f.fb6ec4","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["e89300a2.e0e35"]],"l":false},{"id":"8f607c16.fc6c6","type":"inject","z":"c68cd160.389db","g":"def15641.a603a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1350,"y":1320,"wires":[["e5b52689.2ce908"]]},{"id":"e5b52689.2ce908","type":"postgresql","z":"c68cd160.389db","g":"def15641.a603a","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '30 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1550,"y":1320,"wires":[["68537d28.3e5f0c","a8afe819.95603"]]},{"id":"68537d28.3e5f0c","type":"debug","z":"c68cd160.389db","g":"def15641.a603a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":1320,"wires":[]},{"id":"a8afe819.95603","type":"function","z":"c68cd160.389db","g":"def15641.a603a","name":"","func":"if (msg.payload[0].affected_rows > 0) {\n    msg.payload = {\n      \"payload\": {\n        \"summary\": `Detectados dispositivos com leitura inválida. ${msg.payload.affected_rows} corrigidos.`,\n        \"severity\": \"info\",\n        \"source\": \"InvalidPulsesDetection\"\n      },\n      \"routing_key\": \"0d3a200b4fd9410fc09c866e9d49f8b0\",\n      \"event_action\": \"trigger\"\n    };    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":1360,"wires":[["b112a1b3.874398","5fc61519.738e8c"]]},{"id":"7a3c8187.fe0678","type":"http request","z":"c68cd160.389db","g":"def15641.a603a","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://events.pagerduty.com/v2/enqueue","tls":"","persist":false,"proxy":"","authType":"","x":2070,"y":1360,"wires":[[]]},{"id":"b112a1b3.874398","type":"debug","z":"c68cd160.389db","g":"def15641.a603a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1940,"y":1320,"wires":[]},{"id":"a0634bdf.513bc8","type":"http in","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"Average Consumption pulses V2","url":"/dash_api/devices_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1000,"wires":[["e37b240d.b020d"]]},{"id":"e37b240d.b020d","type":"function","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1000,"wires":[["f81ff176.175e3"]]},{"id":"f81ff176.175e3","type":"postgresql","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    totals_per_slave d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1000,"wires":[["8fb40ebd.58d918"]]},{"id":"e8c7a40c.4566a","type":"http response","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","statusCode":"200","headers":{},"x":1020,"y":1000,"wires":[]},{"id":"5044a81c.a5e3b","type":"http in","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"Daily Devices Pulses V2","url":"/dash_api/demand_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1040,"wires":[["d0b996d0.a4d388","4cd8073d.692d58"]]},{"id":"d0b996d0.a4d388","type":"function","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1040,"wires":[["d1873ea3.22f9","7bfd87.ac654278","8986c593.d2a848","6882125d.c78eac"]]},{"id":"d1873ea3.22f9","type":"postgresql","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 day', cpl.timestamp, INTERVAL '3 hours') AS consumption_date,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L,\n        COALESCE(CAST((regexp_match(c.name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels c\n    LEFT JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    WHERE\n        c.slave_id = {{ msg.payload }}\n        AND c.channel = 1\n    GROUP BY\n        c.slave_id, c.name, consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L * multiplier) / 1000 AS total_consumption_m3,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L * multiplier) / 1000 AS max_hourly_consumption_m3,\n        MIN(hourly_consumption_L * multiplier) / 1000 AS min_hourly_consumption_m3,\n        multiplier\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date, multiplier\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.max_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.min_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    to_char(d.consumption_date, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS consumption_date,\n    ROUND(d.total_consumption_m3::numeric, 2) AS total_consumption_m3,\n    d.active_hours,\n    ROUND((d.total_consumption_m3 / NULLIF(d.active_hours, 0))::numeric, 2) AS avg_m3_per_hour,\n    ROUND(d.max_hourly_consumption_m3::numeric, 2) AS max_hourly_consumption_m3,\n    ROUND(d.min_hourly_consumption_m3::numeric, 2) AS min_hourly_consumption_m3,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nWHERE\n    d.consumption_date >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND d.consumption_date < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1040,"wires":[["e9a73fd1.4986d","d1bbdd4c.564a7"]]},{"id":"e9a73fd1.4986d","type":"http response","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","statusCode":"200","headers":{},"x":1020,"y":1040,"wires":[]},{"id":"c84a3be1.0c0338","type":"comment","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"Pulses report Multiple V1","info":"Pulses report","x":170,"y":940,"wires":[]},{"id":"9254df67.e1424","type":"http in","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"Average Consumption lojas Agua","url":"/dash_api/lojas_consumption_pulses/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1080,"wires":[["6539d47e.e901cc"]]},{"id":"6539d47e.e901cc","type":"postgresql","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1080,"wires":[["129631cc.e3ecc6"]]},{"id":"129631cc.e3ecc6","type":"http response","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","statusCode":"200","headers":{},"x":1020,"y":1080,"wires":[]},{"id":"d1bbdd4c.564a7","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":795,"y":960,"wires":[],"l":false},{"id":"7bfd87.ac654278","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":595,"y":960,"wires":[],"l":false},{"id":"8fb40ebd.58d918","type":"function","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","func":"const devices = msg.payload;\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst processedDevices = devices.map((device) => {\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.device_name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  // Get clean device name (without multiplier patterns)\n  const cleanedName = getNameWithoutMultipliers(device.device_name);\n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device,\n    device_name: cleanedName,\n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString(),\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1000,"wires":[["e8c7a40c.4566a"]]},{"id":"cf9cfc80.d6f3f8","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":975,"y":960,"wires":[],"l":false},{"id":"8986c593.d2a848","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1120,"wires":[]},{"id":"6882125d.c78eac","type":"postgresql","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","query":"SELECT TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) AS endTs,\n       TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000) AS startTs;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":680,"y":1140,"wires":[["58a72f73.ee6918"]]},{"id":"58a72f73.ee6918","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1160,"wires":[]},{"id":"a4e6fdab.dfd9e","type":"http in","z":"c68cd160.389db","g":"29838a34.23daa6","name":"Average Consumption pulses V2","url":"/dash_api/v2/devices_pulses/:slaveIds/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1340,"wires":[["e6de107.033227"]]},{"id":"e6de107.033227","type":"function","z":"c68cd160.389db","g":"29838a34.23daa6","name":"","func":"const slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1340,"wires":[["10e7f58.095ef8b"]]},{"id":"10e7f58.095ef8b","type":"postgresql","z":"c68cd160.389db","g":"29838a34.23daa6","name":"","query":"WITH channel_info AS (\n    SELECT\n        slave_id,\n        name,\n        COALESCE(CAST((regexp_match(name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND channel = 1\n),\nhourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L\n    FROM\n        channel_info c\n    INNER JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    GROUP BY\n        c.slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MIN(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    c.slave_id,\n    c.name AS device_name,\n    COALESCE(d.total_consumption_L, 0) AS total_consumption_L,\n    c.multiplier,\n    (COALESCE(d.total_consumption_L, 0) * c.multiplier) / 1000 AS total_consumption_m3,\n    COALESCE(d.active_hours, 0) AS active_hours,\n    COALESCE(d.max_hourly_consumption_L, 0) AS max_hourly_consumption_L,\n    COALESCE(d.min_hourly_consumption_L, 0) AS min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    channel_info c\nLEFT JOIN\n    totals_per_slave d ON c.slave_id = d.slave_id\nLEFT JOIN\n    max_min_hours m ON c.slave_id = m.slave_id\nORDER BY\n    total_consumption_m3 DESC;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1340,"wires":[["ee93c793.21f9f"]]},{"id":"4421c897.40812","type":"http response","z":"c68cd160.389db","g":"29838a34.23daa6","name":"","statusCode":"200","headers":{},"x":1020,"y":1340,"wires":[]},{"id":"633a5a4c.c863b4","type":"comment","z":"c68cd160.389db","g":"29838a34.23daa6","name":"Pulses report V4","info":"Pulses report","x":140,"y":1280,"wires":[]},{"id":"ee93c793.21f9f","type":"function","z":"c68cd160.389db","g":"29838a34.23daa6","name":"","func":"const devices = msg.payload;\n\n// Remove multiplier patterns from device name (e.g., \" x100\", \" x1.5V\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst processedDevices = devices.map((device) => {\n  // Extract multiplier from device name (e.g., \"x100\", \"x1.5\")\n  const multiplierMatch = device.device_name.match(/ x(\\d+\\.?\\d*)/i);\n  const multiplier = multiplierMatch ? parseFloat(multiplierMatch[1]) : 1;\n\n  // Get clean device name (without multiplier patterns)\n  const cleanedName = getNameWithoutMultipliers(device.device_name);\n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device,\n    device_name: cleanedName,\n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString(),\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1340,"wires":[["4421c897.40812"]]},{"id":"5fc61519.738e8c","type":"switch","z":"c68cd160.389db","g":"def15641.a603a","name":"","property":"payload.affected_rows","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1930,"y":1360,"wires":[["7a3c8187.fe0678"]]},{"id":"125618f0.7c70f7","type":"mqtt in","z":"fb852cf4.b3a5e","name":"","topic":"gateway/b126ce91-6567-492b-96f8-b157b47e2600/fetch","qos":"2","datatype":"auto-detect","broker":"6deeaf36.0693f","x":270,"y":220,"wires":[["b5eb5e9e.48224","71d294e.c3069ec"]]},{"id":"d829a94f.4a18f","type":"postgresql","z":"fb852cf4.b3a5e","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value)          AS value,\n  AVG(cr.value_reactive) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":180,"wires":[["891ac030.d61938"]]},{"id":"41f7c917.ce43b","type":"function","z":"fb852cf4.b3a5e","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":655,"y":200,"wires":[["d829a94f.4a18f"],["c99240a0.cf45c8"]],"l":false},{"id":"c99240a0.cf45c8","type":"mqtt out","z":"fb852cf4.b3a5e","name":"","topic":"","qos":"","retain":"","broker":"6deeaf36.0693f","x":1030,"y":220,"wires":[]},{"id":"6472d9d8.c9b6","type":"postgresql","z":"fb852cf4.b3a5e","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":240,"wires":[["c99240a0.cf45c8"]]},{"id":"f547c8b1.58c678","type":"function","z":"fb852cf4.b3a5e","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655,"y":240,"wires":[["6472d9d8.c9b6"]],"l":false},{"id":"891ac030.d61938","type":"function","z":"fb852cf4.b3a5e","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":935,"y":180,"wires":[["c99240a0.cf45c8"]],"l":false},{"id":"ef071326.c5444","type":"inject","z":"fb852cf4.b3a5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":150,"y":120,"wires":[["141336e5.099a51"]]},{"id":"141336e5.099a51","type":"debug","z":"fb852cf4.b3a5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":285,"y":120,"wires":[],"l":false},{"id":"b5eb5e9e.48224","type":"json","z":"fb852cf4.b3a5e","name":"","property":"payload","action":"","pretty":false,"x":550,"y":200,"wires":[["41f7c917.ce43b"]]},{"id":"71d294e.c3069ec","type":"json","z":"fb852cf4.b3a5e","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["f547c8b1.58c678"]]},{"id":"b546b60f.abea9","type":"function","z":"fb852cf4.b3a5e","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["ea882737.6c04f8","f98d26b8.7e893"]]},{"id":"10f7c946.47263f","type":"inject","z":"fb852cf4.b3a5e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["e8f06403.2d0e9"]]},{"id":"f98d26b8.7e893","type":"mqtt out","z":"fb852cf4.b3a5e","name":"","topic":"","qos":"","retain":"","broker":"6deeaf36.0693f","x":750,"y":320,"wires":[]},{"id":"e8f06403.2d0e9","type":"postgresql","z":"fb852cf4.b3a5e","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":330,"y":320,"wires":[["99d33d11.c31b18"]]},{"id":"99d33d11.c31b18","type":"function","z":"fb852cf4.b3a5e","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":455,"y":320,"wires":[["b546b60f.abea9"]],"l":false},{"id":"ea882737.6c04f8","type":"debug","z":"fb852cf4.b3a5e","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"21bd3aa6.aa74ee","type":"comment","z":"fb852cf4.b3a5e","name":"1. Get the central UUID here","info":"It will appear on the logs","x":180,"y":80,"wires":[]},{"id":"ab6440c0.f70d4","type":"comment","z":"fb852cf4.b3a5e","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":230,"y":180,"wires":[]},{"id":"98501e25.79f1e8","type":"comment","z":"fb852cf4.b3a5e","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":220,"y":280,"wires":[]},{"id":"ae3d0b3a.645bb8","type":"comment","z":"fb852cf4.b3a5e","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":160,"y":400,"wires":[]},{"id":"a8c2da07.5eb65","type":"ui_list","z":"cd4d4a4c.ba4f2","group":"9fd9f2d3.3e3048","name":"","order":1,"width":"12","height":"12","lineType":"two","actionType":"click","allowHTML":false,"outputs":1,"topic":"","x":470,"y":180,"wires":[["5b348947.9c4b5","3134a55c.034a42"]]},{"id":"72e52db9.ac0734","type":"link out","z":"c68cd160.389db","g":"c93928f7.528eb8","name":"","links":["302de69a.f462d2"],"x":1555,"y":200,"wires":[]},{"id":"302de69a.f462d2","type":"link in","z":"cd4d4a4c.ba4f2","name":"","links":["72e52db9.ac0734"],"x":85,"y":80,"wires":[["336d586c.dea258"]]},{"id":"336d586c.dea258","type":"change","z":"cd4d4a4c.ba4f2","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":155,"y":80,"wires":[[]],"l":false},{"id":"439abaa5.3346cc","type":"inject","z":"cd4d4a4c.ba4f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":180,"wires":[["dc0cba0f.c82288"]]},{"id":"dc0cba0f.c82288","type":"function","z":"cd4d4a4c.ba4f2","name":"","func":"const devices = flow.get('devices') || {};\nconst hidrDevices = Object.entries(devices).reduce((acc, [key, value]) => {\n    if (value.type !== 'flow_sensor') return acc;\n    \n    return [...acc, {\n        title: key,\n        ...value\n    }]\n}, []);\nmsg.payload = hidrDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["a8c2da07.5eb65","c422d1fa.78614"]]},{"id":"c422d1fa.78614","type":"debug","z":"cd4d4a4c.ba4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":220,"wires":[]},{"id":"3134a55c.034a42","type":"ui_template","z":"cd4d4a4c.ba4f2","group":"9fd9f2d3.3e3048","name":"","order":2,"width":"6","height":"12","format":"<div class=\"md-card\" ng-style=\"{ 'max-width': '400px', 'margin': '16px', 'background-color': '#1e1e1e', 'color': '#e0e0e0', 'border-radius': '8px', 'box-shadow': '0 4px 6px rgba(0,0,0,0.3)' }\">\n  <div class=\"md-card-title\" ng-style=\"{ 'padding': '16px', 'font-size': '22px', 'font-weight': '600', 'background-color': '#2c2c2c', 'color': '#ffffff', 'border-bottom': '2px solid #444444' }\">\n    {{ msg.payload.title || 'Period Data Summary' }}\n  </div>\n  <div class=\"md-card-content\" ng-style=\"{ 'padding': '20px', 'background-color': '#252525' }\" ng-if=\"!msg.payload.loading\">\n    <div class=\"data-row\" ng-style=\"{ 'margin-bottom': '12px', 'font-size': '16px', 'line-height': '1.5' }\">\n      <span class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5' }\">Slave ID:</span>\n      <span class=\"value\" ng-style=\"{ 'margin-left': '8px', 'color': '#ffffff' }\">{{ msg.payload.slaveId }}</span>\n    </div>\n    <div class=\"data-row\" ng-style=\"{ 'margin-bottom': '12px', 'font-size': '16px', 'line-height': '1.5' }\">\n      <span class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5' }\">Channel ID:</span>\n      <span class=\"value\" ng-style=\"{ 'margin-left': '8px', 'color': '#ffffff' }\">{{ msg.payload.channelId }}</span>\n    </div>\n    <div class=\"data-row\" ng-style=\"{ 'margin-bottom': '12px', 'font-size': '16px', 'line-height': '1.5' }\">\n      <span class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5' }\">Has Outliers in Period:</span>\n      <span class=\"value\" ng-style=\"{ 'margin-left': '8px', 'color': msg.payload.hasOutliers ? '#ff7043' : '#42a5f5' }\">\n        {{ msg.payload.hasOutliers ? 'Yes' : 'No' }}\n      </span>\n    </div>\n    <div class=\"data-row\" ng-style=\"{ 'font-size': '16px', 'line-height': '1.5' }\">\n      <span class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5' }\">Total Sum in Period:</span>\n      <span class=\"value\" ng-style=\"{ 'margin-left': '8px', 'color': '#ffffff' }\">{{ msg.payload.totalSum | number:2 }} liters</span>\n    </div>\n  </div>\n  <div class=\"loading-container\" ng-if=\"msg.payload.loading\" ng-style=\"{ 'padding': '20px', 'text-align': 'center', 'background-color': '#252525' }\">\n    <div class=\"spinner\" ng-style=\"{ 'width': '40px', 'height': '40px', 'border': '4px solid #444444', 'border-top': '4px solid #90caf9', 'border-radius': '50%', 'animation': 'spin 1s linear infinite', 'margin': '0 auto' }\"></div>\n    <p ng-style=\"{ 'color': '#b0bec5', 'margin-top': '10px', 'font-size': '16px' }\">Loading...</p>\n  </div>\n</div>\n\n<style>\n.md-card {\n  background: #1e1e1e;\n  color: #e0e0e0;\n}\n\n.md-card-title {\n  background: #2c2c2c;\n  color: #ffffff;\n  border-bottom: 2px solid #444444;\n}\n\n.md-card-content {\n  background: #252525;\n}\n\n.data-row {\n  display: flex;\n  align-items: center;\n}\n\n.label {\n  min-width: 160px;\n}\n\n.value {\n  font-weight: 400;\n}\n\n.loading-container {\n  background: #252525;\n}\n\n@keyframes spin {\n  0% { transform: rotate(0deg); }\n  100% { transform: rotate(360deg); }\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":260,"wires":[[]]},{"id":"5b348947.9c4b5","type":"debug","z":"cd4d4a4c.ba4f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"ee6211e7.cebc5","type":"inject","z":"cd4d4a4c.ba4f2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"loading\":true}","payloadType":"json","x":330,"y":300,"wires":[["3134a55c.034a42"]]},{"id":"4c615751.7c2e6","type":"ui_template","z":"cd4d4a4c.ba4f2","group":"9fd9f2d3.3e3048","name":"","order":2,"width":"6","height":"12","format":"<div class=\"md-card\" ng-style=\"{ 'max-width': '400px', 'margin': '16px', 'background-color': '#1e1e1e', 'color': '#e0e0e0', 'border-radius': '8px', 'box-shadow': '0 4px 6px rgba(0,0,0,0.3)' }\">\n  <div class=\"md-card-title\" ng-style=\"{ 'padding': '16px', 'font-size': '22px', 'font-weight': '600', 'background-color': '#2c2c2c', 'color': '#ffffff', 'border-bottom': '2px solid #444444' }\">\n    Date & Time Range Picker\n  </div>\n  <div class=\"md-card-content\" ng-style=\"{ 'padding': '20px', 'background-color': '#252525' }\">\n    <div class=\"date-row\" ng-style=\"{ 'margin-bottom': '20px', 'font-size': '16px', 'line-height': '1.6' }\">\n      <label class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5', 'display': 'block', 'margin-bottom': '8px' }\">\n        Start Date & Time:\n      </label>\n      <md-datepicker ng-model=\"msg.payload.startDate\" md-placeholder=\"YYYY-MM-DD\" ng-style=\"{ 'width': '100%', 'background-color': '#333333', 'color': '#ffffff', 'border': '1px solid #444444', 'border-radius': '4px', 'padding': '8px' }\"></md-datepicker>\n      <input type=\"time\" ng-model=\"msg.payload.startTime\" ng-style=\"{ 'width': '100%', 'margin-top': '10px', 'background-color': '#333333', 'color': '#ffffff', 'border': '1px solid #444444', 'border-radius': '4px', 'padding': '8px' }\" placeholder=\"HH:MM\" />\n    </div>\n    <div class=\"date-row\" ng-style=\"{ 'font-size': '16px', 'line-height': '1.6' }\">\n      <label class=\"label\" ng-style=\"{ 'font-weight': '500', 'color': '#b0bec5', 'display': 'block', 'margin-bottom': '8px' }\">\n        End Date & Time:\n      </label>\n      <md-datepicker ng-model=\"msg.payload.endDate\" md-placeholder=\"YYYY-MM-DD\" ng-style=\"{ 'width': '100%', 'background-color': '#333333', 'color': '#ffffff', 'border': '1px solid #444444', 'border-radius': '4px', 'padding': '8px' }\"></md-datepicker>\n      <input type=\"time\" ng-model=\"msg.payload.endTime\" ng-style=\"{ 'width': '100%', 'margin-top': '10px', 'background-color': '#333333', 'color': '#ffffff', 'border': '1px solid #444444', 'border-radius': '4px', 'padding': '8px' }\" placeholder=\"HH:MM\" />\n    </div>\n  </div>\n</div>\n\n<style>\n.md-card {\n  background: #1e1e1e;\n  color: #e0e0e0;\n}\n\n.md-card-title {\n  background: #2c2c2c;\n  color: #ffffff;\n  border-bottom: 2px solid #444444;\n}\n\n.md-card-content {\n  background: #252525;\n}\n\n.date-row {\n  display: block;\n}\n\n.label {\n  min-width: 160px;\n}\n\nmd-datepicker {\n  display: block;\n}\n\nmd-datepicker .md-datepicker-input-container {\n  background-color: #333333 !important;\n  color: #ffffff !important;\n  border: 1px solid #444444 !important;\n  border-radius: 4px !important;\n}\n\nmd-datepicker .md-datepicker-input {\n  color: #ffffff !important;\n  padding: 8px !important;\n}\n\nmd-datepicker .md-datepicker-button {\n  color: #90caf9 !important;\n}\n\ninput[type=\"time\"] {\n  font-size: 16px;\n  outline: none;\n  font-family: inherit;\n}\n\ninput[type=\"time\"]:focus {\n  border-color: #90caf9;\n  box-shadow: 0 0 5px rgba(144, 202, 249, 0.5);\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":340,"wires":[[]]},{"id":"c458485c.65d7c8","type":"inject","z":"c68cd160.389db","g":"e2863feb.d7fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1550,"y":460,"wires":[["5c3ce61f.fa496"]]},{"id":"5c3ce61f.fa496","type":"http request","z":"c68cd160.389db","g":"e2863feb.d7fdd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1590,"y":520,"wires":[["9c673c08.6b5598"]]},{"id":"9c673c08.6b5598","type":"function","z":"c68cd160.389db","g":"e2863feb.d7fdd","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1600,"y":600,"wires":[["1922c7b3.d9d89"]]},{"id":"1922c7b3.d9d89","type":"link out","z":"c68cd160.389db","g":"e2863feb.d7fdd","name":"link out 3","links":["36b5efb3ab8764e1","5579a5e6.a0c3ec","9b865b5d.2cda18"],"x":1755,"y":500,"wires":[]},{"id":"b32ff237.2fdf2","type":"mqtt out","z":"c68cd160.389db","name":"Attribute","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":2420,"y":1140,"wires":[]},{"id":"2200c4c0.9b792c","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1370,"y":1500,"wires":[["a5532cfc.b20418"]]},{"id":"a5532cfc.b20418","type":"postgresql","z":"c68cd160.389db","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND slave_id = 47\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '120 days' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1550,"y":1500,"wires":[["e5f0a195.4c2f78"]]},{"id":"e5f0a195.4c2f78","type":"debug","z":"c68cd160.389db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1760,"y":1500,"wires":[]},{"id":"5127cee8.2ae5b8","type":"function","z":"c68cd160.389db","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    const match = key.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (!match) {\n        node.warn('Continuing for: ' + key)\n        continue;\n    }\n\n    actualName = match[1];\n    multiplier = parseFloat(match[2]);\n\n//    payload[`Hidr. ${actualName} (Campinas Shopping)`] = {\npayload[`${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2160,"y":1140,"wires":[["cb3a1ef1.c55b9"]]},{"id":"ca14cd4d.080378","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2020,"y":1140,"wires":[["5127cee8.2ae5b8"]]},{"id":"cb3a1ef1.c55b9","type":"debug","z":"c68cd160.389db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2310,"y":1180,"wires":[]},{"id":"8d9e0056.d609d8","type":"inject","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["8e9355ab.5fa5e"]]},{"id":"8e9355ab.5fa5e","type":"postgresql","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":260,"wires":[["fda4e7fd.55c26","bcf44f2.e5cebb","6eb4f8a9.8e05e"]]},{"id":"fda4e7fd.55c26","type":"debug","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"bcf44f2.e5cebb","type":"function","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":300,"wires":[["8014c2ed.7e20e8","bade7a62.5094e8"]]},{"id":"8014c2ed.7e20e8","type":"debug","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"bade7a62.5094e8","type":"change","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":340,"wires":[[]]},{"id":"6eb4f8a9.8e05e","type":"function","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":380,"wires":[["c6a4aa25.d5e0d8"]],"l":false},{"id":"c6a4aa25.d5e0d8","type":"mqtt out","z":"94f2b265.13f49","g":"d67a64b0.5c8b1","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":750,"y":380,"wires":[]},{"id":"ea16e068.0678d8","type":"postgresql","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":480,"wires":[["ee11391a.f07ef8","88ec69e8.7fa6f8"]]},{"id":"8968a0f8.df4e28","type":"inject","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["ea16e068.0678d8"]]},{"id":"ee11391a.f07ef8","type":"function","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["c634c742.d4a58","99b64963.8d8fe8"]]},{"id":"c634c742.d4a58","type":"debug","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"99b64963.8d8fe8","type":"change","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"e55e5775.d48f08","type":"mqtt out","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":770,"y":560,"wires":[]},{"id":"88ec69e8.7fa6f8","type":"function","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":560,"wires":[["e55e5775.d48f08","91cb23f9.608c18"]],"l":false},{"id":"91cb23f9.608c18","type":"debug","z":"94f2b265.13f49","g":"1f4a616f.95854f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":600,"wires":[]},{"id":"8045ab82.fc65b","type":"myio-emitter","z":"c68cd160.389db","x":90,"y":1500,"wires":[["a68debce.6c99f8"],["a68debce.6c99f8"],["a68debce.6c99f8"],[],["a68debce.6c99f8"],["a68debce.6c99f8"],[],[],[],["a68debce.6c99f8"],["a68debce.6c99f8"],[]]},{"id":"a68debce.6c99f8","type":"function","z":"c68cd160.389db","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1500,"wires":[["8a0a85d.c9560f8"]]},{"id":"8a0a85d.c9560f8","type":"debug","z":"c68cd160.389db","name":"cabelo curto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1500,"wires":[]},{"id":"f3e108bb.a4577","type":"function","z":"c68cd160.389db","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":395,"y":1740,"wires":[[]],"l":false},{"id":"16d7c5dc.15597a","type":"mqtt out","z":"c68cd160.389db","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":570,"y":1700,"wires":[]},{"id":"c2ae7c4f.6ed8e","type":"inject","z":"c68cd160.389db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1660,"wires":[["2a5455e3.50a24a"]]},{"id":"5fd7e117.fc8d38","type":"function","z":"c68cd160.389db","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":335,"y":1660,"wires":[["16d7c5dc.15597a","84bea234.0a24e","f3e108bb.a4577"]],"l":false},{"id":"84bea234.0a24e","type":"debug","z":"c68cd160.389db","name":"Pudim de geleia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1640,"wires":[]},{"id":"2a5455e3.50a24a","type":"http request","z":"c68cd160.389db","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":255,"y":1660,"wires":[["5fd7e117.fc8d38"]],"l":false},{"id":"4cd8073d.692d58","type":"debug","z":"c68cd160.389db","g":"45d1d0e0.1b5c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1160,"wires":[]},{"id":"2e50a2a8.07434e","type":"data-fetcher","z":"fb852cf4.b3a5e","name":"","mqtt":"be0e1e19.dccf9","uuidOverride":"","x":130,"y":640,"wires":[]},{"id":"b915f387.e9e1d8","type":"inject","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"paylod","v":"CENTRAL_UUID","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":780,"wires":[["8b8f36dd.4e5c9"]]},{"id":"8b8f36dd.4e5c9","type":"function","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"","func":"const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  var safeName = deviceName ? deviceName : '';\n  return safeName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nvar deviceTypePatterns = [\n  { patterns: ['COMPRESSOR'], type: 'COMPRESSOR' },\n  { patterns: ['VENT'], type: 'VENTILADOR' },\n  { patterns: ['ESRL'], type: 'ESCADA_ROLANTE' },\n  { patterns: ['ELEV'], type: 'ELEVADOR' },\n  { patterns: ['MOTOR', 'RECALQUE'], type: 'MOTOR' },\n  { patterns: ['RELOGIO', 'RELOG', 'REL '], type: 'RELOGIO' },\n  { patterns: ['ENTRADA', 'SUBESTACAO', 'SUBEST'], type: 'ENTRADA' },\n  { patterns: ['CHILLER'], type: 'CHILLER' },\n  { patterns: ['FANCOIL'], type: 'FANCOIL' },\n  { patterns: ['TRAFO'], type: 'ENTRADA' },\n  { patterns: ['CAG'], type: 'BOMBA_CAG' },\n  { patterns: ['HIDR', 'BANHEIRO'], type: 'HIDROMETRO' },\n  { patterns: ['CAIXA DAGUA', 'CX DAGUA', 'CXDAGUA', 'SCD'], type: 'CAIXA_DAGUA' },\n  { patterns: ['TANK', 'TANQUE', 'RESERVATORIO'], type: 'TANK' },\n  { patterns: ['AUTOMATICO'], type: 'SELETOR_AUTO_MANUAL' },\n  { patterns: ['TERMOSTATO', 'TERMO', 'TEMP'], type: 'TERMOSTATO' },\n  { patterns: ['ABRE'], type: 'SOLENOIDE' },\n  { patterns: ['AUTOMACAO', 'GW_AUTO'], type: 'GLOBAL_AUTOMACAO' },\n  { patterns: [' AC '], type: 'CONTROLE REMOTO' }\n];\n\nfunction handleDeviceType(name) {\n  var safeName = name ? name : '';\n  var upper = safeName\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n\n  // Caso especial: MOTR sem CHILLER\n  if (upper.includes('MOTR') && !upper.includes('CHILLER')) {\n    return 'MOTOR';\n  }\n\n  // Busca nos padrões\n  for (var i = 0; i < deviceTypePatterns.length; i++) {\n    var item = deviceTypePatterns[i];\n    for (var j = 0; j < item.patterns.length; j++) {\n      if (upper.includes(item.patterns[j])) {\n        return item.type;\n      }\n    }\n  }\n\n  // Caso especial: termina com \" AC\"\n  if (upper.slice(-3) === ' AC') {\n    return 'CONTROLE REMOTO';\n  }\n\n  // Caso especial: começa com \"3F \"\n  if (upper.indexOf('3F ') === 0) {\n    return '3F_MEDIDOR';\n  }\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: device.slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":880,"wires":[["bb93f578.f6e778"]]},{"id":"da9b79d0.28b05","type":"mqtt out","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":1920,"y":760,"wires":[]},{"id":"1d8eb49a.18179b","type":"debug","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1920,"y":880,"wires":[]},{"id":"1a447fbb.895e78","type":"comment","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"Envia o atributo Central ID dispositivo + deviceType","info":"","x":1650,"y":720,"wires":[]},{"id":"bb93f578.f6e778","type":"function","z":"c68cd160.389db","g":"5cf64261.5d0674","name":"add Namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":840,"wires":[["da9b79d0.28b05","1d8eb49a.18179b"]]}]