src/NODE-RED/CAMPINAS/campinas_shopping_hidrometros_g1_g2/flows-campinas-hidrometro-g1-g2-bkp-nodered.json
[{"id":"2b94767a.f3218a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d415fa7.58cd708","type":"tab","label":"Monitoramento","disabled":true,"info":""},{"id":"beec534f.c7d758","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"5e9a7614.83dd6","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"7b6ca29e.4606dc","type":"group","z":"d415fa7.58cd708","name":"Central Monitor","style":{"label":true},"nodes":["8ba83248.de453","c5707069.0225d","84c95be9.b47228","93a5d5fb.6b3888","de6fd747.0baa28","351f13dc.dfcf1c","8d11d89b.bcad4"],"x":34,"y":39},{"id":"6aa2d64c.7c2d58","type":"group","z":"2b94767a.f3218a","name":"Store devices to flow.devices","style":{"label":true},"nodes":["9d296fb6.8302b","ea3c563b.84ebe8","bb638599.31abb8","dbf10ba.b4181f8","b0d36d.d7896c9","958abd31.7566","2129af69.05ed6","ad1d0e33.cf6f5","b40a0ea3.f2bdb","2a74edae.4aa4a2","af649062.85142","ef9886d5.21dae8","ff965f7e.d53cb","5d952e9b.da68e","12c16f62.71ddb1","5820ee2f.90f","7a39ceb3.28125"],"x":14,"y":19,"w":1932,"h":182},{"id":"ca9c4eb1.2a63c","type":"group","z":"2b94767a.f3218a","name":"Thingsboard","style":{"label":true},"nodes":["25472f2c.a0a76","7ff95b20.c4a154","2c589aee.a12ea6","47b6f028.e6798","50a29277.48f80c","70ab5ed0.0dc2b","e75e365a.2a60e8","412dc651.7cd51"],"x":1154,"y":219,"w":622,"h":202},{"id":"9537256a.e8bc68","type":"group","z":"2b94767a.f3218a","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8"],"x":14,"y":390,"w":1079,"h":191},{"id":"f7475f01.064c","type":"group","z":"2b94767a.f3218a","name":"Get 30 days average every hour","style":{"label":true},"nodes":["fce0c1b5.265fd","64003cdf.eb4ec4","5622719e.2f5ec","49aaacf7.c846b4","ba6d029.505e5","cec04b19.c96d38","a60bc8c7.345718","94a50df9.48cfc"],"x":14,"y":230,"w":1079,"h":131},{"id":"c4ae64eb.f82c88","type":"group","z":"2b94767a.f3218a","name":"send check","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":914,"y":679,"w":322,"h":82},{"id":"1366cbbb.71c7e4","type":"group","z":"2b94767a.f3218a","name":"","style":{"label":true},"nodes":["79fc629a.ed602c","19c9f690.1f8249","44790c9.e021ef4","cd2327ad.098258","545a330d.98d0cc","3c221b4b.7a6464","2c559489.2ebc5c","44075fa3.de95b","9ea92dc5.67642","4c98b72d.20b7b8","5ce3ed9a.b93774"],"x":34,"y":619,"w":832,"h":284},{"id":"ce867286.027988","type":"group","z":"d415fa7.58cd708","name":"Missing Hidrometers","style":{"label":true},"nodes":["e53ff38a.58fea8","47006acc.c09de4","e80270a8.473fe","865d33fd.e94ed","78e851bc.95f738","f59e353d.6b903"],"x":34,"y":239},{"id":"3b71b5f5.f8ff92","type":"group","z":"d415fa7.58cd708","name":"Missing Energy","style":{"label":true},"nodes":["2e4b6d65.68cbda","aba38d7d.871b6","bc51b673.b5d7b","2f8b2d9.d12f8d2","605d5464.18f6ec"],"x":34,"y":439},{"id":"fee84e61.1690f","type":"group","z":"beec534f.c7d758","name":"Central Monitor","style":{"label":true},"nodes":["b4e6602d.698f38","a456acce.df81","439ca4a7.1523c4","34e283a7.1d0dec","540cb847.913d3","1456e0ea.5d7fef","3533caeb.9e310e"],"x":34,"y":19},{"id":"89bbadaf.9f30f8","type":"group","z":"2b94767a.f3218a","name":"","style":{"label":true},"nodes":["e6141786.062008","4652d254.b46c54","2d8fb31c.64be44","c8e70cf.99ba4f","177c0a6d.e43666","69cadce5.078c94","25c7b2b7.bcef46","83d719a0.30cc68","5a3051f8.e723a","c7d4763c.9ed1","2295dd7f.c0d312","fd843e31.8e4b7","88b526af.c09f8","44424263.a27e44","5603e936.93d338","11cc0c08.0990bc","389a36ff.734622","dd99a1e9.c185c8","d229466e.831e5","2d7088d1.0a5dc"],"x":34,"y":959,"w":1072,"h":302},{"id":"7bfbe11.16fd32","type":"group","z":"2b94767a.f3218a","name":"","style":{"label":true},"nodes":["2925f5fa.3da8a2","7eba30a0.c21de8","9735c181.bd285","f04f8e33.8fc85","9ed0a5f3.b6e2d8","603d301d.e41c38"],"x":34,"y":1259,"w":1072,"h":142},{"id":"e4b068c1.161cb","type":"group","z":"2b94767a.f3218a","name":"Fix values in database","style":{"label":true},"nodes":["6cf91cd3.28c3d4","91b72034.6a6918","b8eef08b.8876e","bebb646.58f9418","f1507a84.b97b18","50714156.4570a8","33ffc326.89511c"],"x":1154,"y":1099,"w":932,"h":122},{"id":"e2863feb.d7fdd","type":"group","z":"2b94767a.f3218a","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["c458485c.65d7c8","5c3ce61f.fa496","9c673c08.6b5598","1922c7b3.d9d89"],"x":1154,"y":439,"w":362,"h":222},{"id":"59db8917.5aa0b8","type":"group","z":"beec534f.c7d758","name":"Missing Hidrometers","style":{"label":true},"nodes":["906ac47.2d6ccb8","4c59d039.bd6038","b18f09d.8443c78","9860efbe.ab788","585a6796.ec07f","fd6f1a0.c85c868","6788b860.a082a","2307c497.906af4"],"x":34,"y":199},{"id":"127474ae.e3dfb3","type":"group","z":"beec534f.c7d758","name":"Missing Energy","style":{"label":true},"nodes":["5cebd4db.d40ce4","77452074.3e0998","595546e6.9df9c","ec86bb85.410d6","54e831c3.2244b","9125563.eff3b28","62068280.9789bc","66ef1a1c.91020c"],"x":34,"y":419},{"id":"955d7417.7b6308","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"c1122b85.73f4c8","type":"mqtt-broker","z":"","name":"Thingsboard PE","broker":"mqtt.myio-bas.com","port":"1883","clientid":"8d9ef532c813d096cd26","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cdb2c8ac.d7e2b8","type":"postgreSQLConfig","z":"","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"3","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"hkv6dipt04vlwwhxz9ro","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f8ce26c.703a38","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"da4c373b.b6de3","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7988021f.699e24","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1afbccb0.7121f3","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.data.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"8ba83248.de453","type":"inject","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/20405552-169c-4a65-ac97-2ccccb5458da","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["8d11d89b.bcad4"]]},{"id":"c5707069.0225d","type":"http request","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["84c95be9.b47228"]]},{"id":"84c95be9.b47228","type":"switch","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["93a5d5fb.6b3888"],["de6fd747.0baa28","351f13dc.dfcf1c"]]},{"id":"93a5d5fb.6b3888","type":"debug","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"de6fd747.0baa28","type":"debug","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"351f13dc.dfcf1c","type":"function","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"9d296fb6.8302b","type":"inject","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["ea3c563b.84ebe8"]]},{"id":"ea3c563b.84ebe8","type":"get-data","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","selectedOption":"slaves","x":300,"y":120,"wires":[["bb638599.31abb8","958abd31.7566"]]},{"id":"bb638599.31abb8","type":"split","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":120,"wires":[["dbf10ba.b4181f8"]]},{"id":"dbf10ba.b4181f8","type":"switch","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":120,"wires":[["b0d36d.d7896c9"],["2129af69.05ed6"],["ad1d0e33.cf6f5"]]},{"id":"b0d36d.d7896c9","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Transform slave outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":80,"wires":[["ef9886d5.21dae8","7a39ceb3.28125"]]},{"id":"958abd31.7566","type":"change","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[[]]},{"id":"2129af69.05ed6","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Transform slave three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":120,"wires":[["ef9886d5.21dae8"]]},{"id":"ad1d0e33.cf6f5","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Transform slave infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":160,"wires":[["ef9886d5.21dae8"]]},{"id":"b40a0ea3.f2bdb","type":"inject","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["2a74edae.4aa4a2"]]},{"id":"2a74edae.4aa4a2","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","func":"const slaves = flow.get('slave_data');\n\nif (!slaves) {\n    return null;\n}\n\nconst slavesNumber = slaves.length;\nconst lastIndex = this.lastIndex || 0;\n\nif (lastIndex === slavesNumber) {\n    this.lastIndex = 0;\n} else {\n    this.lastIndex = lastIndex + 1;\n}\n\nconst slave = slaves[this.lastIndex];\n\nif (!slave) {\n    return null;\n}\n\nmsg.payload = {\n    slave: {\n        id: slave.id,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["af649062.85142"]]},{"id":"af649062.85142","type":"send-check","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","x":630,"y":160,"wires":[]},{"id":"ef9886d5.21dae8","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","func":"// const keys = Object.keys(msg.payload);\n\n// const newPayload = keys.reduce((acc, key) => {\n//     acc[`${key} (Benfica)`] = msg.payload[key];\n//     return acc;\n// }, {});\n\n// msg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":120,"wires":[["5d952e9b.da68e"]]},{"id":"ff965f7e.d53cb","type":"debug","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1790,"y":60,"wires":[]},{"id":"5d952e9b.da68e","type":"join","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1390,"y":120,"wires":[["12c16f62.71ddb1"]]},{"id":"12c16f62.71ddb1","type":"function","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":120,"wires":[["ff965f7e.d53cb","5820ee2f.90f"]]},{"id":"5820ee2f.90f","type":"change","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":120,"wires":[[]]},{"id":"7a39ceb3.28125","type":"debug","z":"2b94767a.f3218a","g":"6aa2d64c.7c2d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":60,"wires":[]},{"id":"25472f2c.a0a76","type":"function","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1295,"y":260,"wires":[["2c589aee.a12ea6"]],"l":false},{"id":"7ff95b20.c4a154","type":"mqtt out","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"Thingsboard PE","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"c1122b85.73f4c8","x":1620,"y":260,"wires":[]},{"id":"2c589aee.a12ea6","type":"function","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":260,"wires":[["7ff95b20.c4a154","50a29277.48f80c"]]},{"id":"47b6f028.e6798","type":"inject","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1260,"y":320,"wires":[["2c589aee.a12ea6"]]},{"id":"50a29277.48f80c","type":"debug","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":320,"wires":[]},{"id":"70ab5ed0.0dc2b","type":"link in","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","links":["2660efc6.d2164","a60bc8c7.345718"],"x":1215,"y":260,"wires":[["25472f2c.a0a76"]]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":550,"y":480,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"786014a5.2c487c","type":"inject","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":440,"wires":[]},{"id":"7416219b.e3dc5","type":"function","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Extrai o multiplicador do nome do device (ex: \"Hidr. Name x100 2810m3\" -> 100)\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\n// Remove o multiplicador do nome do device (ex: \"Hidr. Name x100 2810m3\" -> \"Hidr. Name 2810m3\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n  return null;\n}\n\n// Agrupa por nome limpo, aplicando o multiplicador nos pulsos\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  const cleanName = getNameWithoutMultipliers(device.name);\n  const multiplier = getMultiplier(device.name);\n  const multipliedPulses = reading.value * multiplier;\n  const ts = new Date(reading.timestamp).getTime();\n\n  if (!(cleanName in acc)) {\n    acc[cleanName] = [];\n  }\n\n  acc[cleanName].push({\n    ts: ts,\n    values: { pulses: multipliedPulses },\n  });\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":480,"wires":[["9b58ea20.906e18","a3621c83.8b462"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":440,"wires":[]},{"id":"f2e09fc0.c5039","type":"function","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":520,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":520,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","links":["dc43faa3.6655e8","412dc651.7cd51"],"x":935,"y":480,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":977,"y":431,"wires":[]},{"id":"bdca7b0c.2358b8","type":"debug","z":"2b94767a.f3218a","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"fce0c1b5.265fd","type":"postgresql","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","query":"WITH hourly_stats AS (\n    SELECT\n        date_trunc('day', timestamp) AS day,\n        slave_id,\n        channel,\n        SUM(value) AS hourly_sum\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp >= NOW() - INTERVAL '30 days'\n        AND (slave_id, channel) IN {{{ msg.payload.devices }}}\n        AND EXTRACT(HOUR FROM timestamp) = EXTRACT(HOUR FROM NOW())\n    GROUP BY\n        day, slave_id, channel\n),\ndaily_min_max AS (\n    SELECT\n        slave_id,\n        channel,\n        MIN(hourly_sum) AS daily_min_sum,\n        MAX(hourly_sum) AS daily_max_sum\n    FROM\n        hourly_stats\n    GROUP BY\n        slave_id, channel\n)\nSELECT\n    date_trunc('hour', NOW()) AS reference_hour,\n    slave_id,\n    channel,\n    ROUND(AVG(daily_min_sum), 2) AS avg_min_sum,\n    ROUND(AVG(daily_max_sum), 2) AS avg_max_sum,\n    ROUND(AVG(hourly_sum), 2) AS avg_sum\nFROM\n    hourly_stats\n    JOIN daily_min_max USING (slave_id, channel)\nGROUP BY\n    reference_hour, slave_id, channel;\n","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":550,"y":320,"wires":[["ba6d029.505e5","cec04b19.c96d38"]]},{"id":"64003cdf.eb4ec4","type":"inject","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["5622719e.2f5ec"]]},{"id":"5622719e.2f5ec","type":"function","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":320,"wires":[["49aaacf7.c846b4","fce0c1b5.265fd"]]},{"id":"49aaacf7.c846b4","type":"debug","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":280,"wires":[]},{"id":"ba6d029.505e5","type":"function","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId, channel) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        if (device.slaveId === slaveId && device.channelId === channel) {\n            return device;\n        }\n    }\n}\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id, reading.channel);\n    if (!device) {\n        return acc;\n    }\n    \n    // Parse the device.name which is in the format:\n    // \"Hidr. <DeviceName> x<multiplier> <initial reading>\"\n    // e.g., \"Hidr. Teta_tetinha x100 2810m3\"\n    const match = device.name.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (match) {\n        actualName = match[1];             // Extracts the device name (e.g., \"Teta_tetinha\")\n        multiplier = parseFloat(match[2]);   // Extracts the multiplier (e.g., 100)\n    } else {\n        // Fallback if the expected format is not met:\n        actualName = device.name;\n        multiplier = 1;\n    }\n    \n    if (!(actualName in acc)) {\n        acc[actualName] = [];\n    }\n    \n    acc[actualName].push({\n        ts: new Date(reading.reference_hour).getTime(),\n        values: {\n            pulsesHourlyAverage: parseFloat(reading.avg_sum) * multiplier,\n            pulsesHourlyAverageMin: parseFloat(reading.avg_min_sum) * multiplier,\n            pulsesHourlyAverageMax: parseFloat(reading.avg_max_sum) * multiplier,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":320,"wires":[["94a50df9.48cfc","a60bc8c7.345718"]]},{"id":"cec04b19.c96d38","type":"debug","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"a60bc8c7.345718","type":"link out","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","links":["dc43faa3.6655e8","70ab5ed0.0dc2b"],"x":935,"y":320,"wires":[]},{"id":"94a50df9.48cfc","type":"debug","z":"2b94767a.f3218a","g":"f7475f01.064c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":977,"y":271,"wires":[]},{"id":"563c0479.f8ecbc","type":"inject","z":"2b94767a.f3218a","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1030,"y":720,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"2b94767a.f3218a","g":"c4ae64eb.f82c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1175,"y":720,"wires":[],"l":false},{"id":"a5bb740a.26ac68","type":"inject","z":"2b94767a.f3218a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1800,"y":560,"wires":[["f2e9a5c9.864558"]]},{"id":"f2e9a5c9.864558","type":"function","z":"2b94767a.f3218a","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst messages = [];\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key]; \n\n    const message = {\n        payload: {\n            device: {\n                centralId: centralId\n            }\n        }\n    };\n\n    messages.push(message);\n});\n\nmsg.payload = messages;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1750,"y":660,"wires":[["b5ac3fc6.47dee"]]},{"id":"b5ac3fc6.47dee","type":"function","z":"2b94767a.f3218a","name":"Add namespace","func":"const devices = flow.get('devices'); \nconst keys = Object.keys(devices);\n\nconst newPayload = keys.reduce((acc, key) => {\n    let index = key.toLowerCase().indexOf(\"x\"); \n    let newKey = index !== -1 ? key.slice(0, index) : key;\n\n    // Remove \"Hidr. \" somente se a chave não for \"Hidr. McDonald's_G1\"\n    if (newKey.startsWith(\"Hidr.\") && newKey !== \"Hidr. McDonald's_G1\") {\n        newKey = newKey.slice(6); // Remove os primeiros 6 caracteres (\"Hidr. \")\n        acc[`${newKey}(Campinas Shopping)`] = {\n            centralId: msg.payload[0].payload.device.centralId\n        };\n        return acc;\n    }\n    \n    acc[`${newKey}  (Campinas Shopping)`] = {\n        centralId: msg.payload[0].payload.device.centralId\n    };\n\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1875,"y":660,"wires":[["170c4ca1.7cddf3"]],"l":false},{"id":"170c4ca1.7cddf3","type":"debug","z":"2b94767a.f3218a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":660,"wires":[]},{"id":"79fc629a.ed602c","type":"function","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","func":"let nameParam = msg.req.params.name;\nlet nameArray = nameParam.split(\",\");\nlet ids = [];\n\nconst devices = flow.get('devices') || {};\n\nnameArray.forEach(data => {\n    let name = data.split(\" (Campinas Shopping)\")[0].trim();\n    if(name === \"Rei_Do_Mate \"){\n                name = \"Hidr. \" + name + \" X1 0m3\";\n    }else if (name ===\"Popeyes \"||name===\"Burguer_king \"||name===\"Burguer_King \"||name===\"Vivendas_camarao\") {\n        name = \"Hidr. \" + name + \" x10 0m3\";\n    }  else {\n        name = \"Hidr. \" + name + \" x1 0m3\";\n    }\n\n    const device = devices[name];\n    \n    if (device && device.slaveId !== undefined) {\n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + name);\n    }\n});\nnode.warn(`${ids.length}`)\nmsg.payload = ids.join(\",\")\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":720,"wires":[["19c9f690.1f8249","5ce3ed9a.b93774"]]},{"id":"19c9f690.1f8249","type":"postgresql","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    totals_per_slave d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":720,"wires":[["44790c9.e021ef4","4c98b72d.20b7b8"]]},{"id":"44790c9.e021ef4","type":"http response","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","statusCode":"200","headers":{},"x":760,"y":720,"wires":[]},{"id":"cd2327ad.098258","type":"function","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","func":"let name = msg.req.params.name\nname = name.split(\" (Campinas Shopping)\")[0]\nnode.warn(name)\n\nif(name ===\"Face_Doctor\"||name===\"Di_gaspi\"||name===\"Cacau_cafe\"||name===\"Americanas\"||name===\"Parmeggio\"||name===\"Detran\"||name===\"Chute_ao_gol\"||name===\"Consultare\"||name===\"riachuelo\"){\n    name = \"Hidr. \" + name + \" x10 0m3\"\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;\n}\n\nname = \"Hidr. \" + name + \" x1 0m3\"\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["545a330d.98d0cc"]]},{"id":"545a330d.98d0cc","type":"postgresql","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = {{ msg.payload }}\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":800,"wires":[["3c221b4b.7a6464"]]},{"id":"3c221b4b.7a6464","type":"http response","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","statusCode":"200","headers":{},"x":760,"y":800,"wires":[]},{"id":"2c559489.2ebc5c","type":"comment","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"Pulses report","info":"Pulses report","x":130,"y":660,"wires":[]},{"id":"44075fa3.de95b","type":"postgresql","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":485.0000305175781,"y":862,"wires":[["9ea92dc5.67642"]]},{"id":"9ea92dc5.67642","type":"http response","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","statusCode":"200","headers":{},"x":755.0000305175781,"y":862,"wires":[]},{"id":"4c98b72d.20b7b8","type":"debug","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":660,"wires":[]},{"id":"5ce3ed9a.b93774","type":"debug","z":"2b94767a.f3218a","g":"1366cbbb.71c7e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":660,"wires":[]},{"id":"e75e365a.2a60e8","type":"function","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1295,"y":380,"wires":[["7ff95b20.c4a154","50a29277.48f80c"]],"l":false},{"id":"412dc651.7cd51","type":"link in","z":"2b94767a.f3218a","g":"ca9c4eb1.2a63c","name":"","links":["9b58ea20.906e18","1922c7b3.d9d89"],"x":1215,"y":380,"wires":[["e75e365a.2a60e8"]]},{"id":"eef87b1a.115f48","type":"inject","z":"2b94767a.f3218a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":760,"wires":[["5c8b612c.39b58"]]},{"id":"5c8b612c.39b58","type":"function","z":"2b94767a.f3218a","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst messages = [];\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key]; \n\n    const message = {\n        payload: {\n            device: {\n                centralId: centralId\n            }\n        }\n    };\n\n    messages.push(message);\n});\n\nmsg.payload = messages;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":760,"wires":[["6072369.e2b9bc8"]]},{"id":"6072369.e2b9bc8","type":"function","z":"2b94767a.f3218a","name":"Add namespace","func":"const devices = flow.get('devices'); \nconst keys = Object.keys(devices);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = {\n        centralId: msg.payload[0].payload.device.centralId\n    }\n    return acc;\n}, {});\n\nmsg.payload = newPayload\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1615,"y":760,"wires":[["20147f41.36fc9"]],"l":false},{"id":"20147f41.36fc9","type":"debug","z":"2b94767a.f3218a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":760,"wires":[]},{"id":"9ff3e5fd.eb2858","type":"inject","z":"2b94767a.f3218a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":920,"wires":[["6dd50167.ef18"]]},{"id":"6dd50167.ef18","type":"function","z":"2b94767a.f3218a","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst messages = [];\n\nObject.keys(devices).forEach((key) => {\n    let device = devices[key]; \n\n    const message = {\n        payload: {\n            device: {\n                centralId: centralId\n            }\n        }\n    };\n\n    messages.push(message);\n});\n\nmsg.payload = messages;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":920,"wires":[["2081a1a6.2df6be"]]},{"id":"2081a1a6.2df6be","type":"function","z":"2b94767a.f3218a","name":"Add namespace","func":"const devices = flow.get('devices'); \nconst keys = Object.keys(devices);\nconst newDevices = [];\n\nconst newPayload = keys.reduce((acc, key) => {\n    if (key.startsWith(\"Hidr. Smart_Fit x100 0m3\")) {\n        // Corta os 6 primeiros e últimos caracteres da chave\n        const trimmedKey = key.slice(6, -9);\n        \n        // Exemplo de uso: nova chave com sufixo\n        acc[`Hidrometro Smart Fit (Campinas Shopping)`] = {\n            centralId: msg.payload[0].payload.device.centralId\n        };\n\n        newDevices.push(trimmedKey); // Armazena a chave modificada\n    }\n    return acc;\n}, {}); \n\nmsg.payload = newPayload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655,"y":920,"wires":[["32dbe0ff.ebf15"]],"l":false},{"id":"32dbe0ff.ebf15","type":"debug","z":"2b94767a.f3218a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1830,"y":920,"wires":[]},{"id":"bfe9c1c6.6f1f3","type":"comment","z":"2b94767a.f3218a","name":"Central ID dispositivo","info":"","x":1390,"y":720,"wires":[]},{"id":"cdfafc9e.8784d","type":"comment","z":"2b94767a.f3218a","name":"Central ID Hidrometro","info":"","x":1360,"y":860,"wires":[]},{"id":"e3f1ab36.574fd","type":"mqtt out","z":"2b94767a.f3218a","name":"Attribute","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":1960,"y":820,"wires":[]},{"id":"51884ade.2285fc","type":"inject","z":"2b94767a.f3218a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":1020,"wires":[["870b4b02.f0648"]]},{"id":"870b4b02.f0648","type":"function","z":"2b94767a.f3218a","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (key of Object.keys(devices)) {\n    const device = devices[key];\n\n    if (key.indexOf('Hidr.') < 0) {\n        continue;\n    }\n\n    const match = key.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (match) {\n        actualName = match[1];\n        multiplier = parseFloat(match[2]);\n    } else {\n        actualName = key;\n        multiplier = 1;\n    }\n\n    payload[`${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":1020,"wires":[["bc5c8a8e.43d848"]]},{"id":"cdd71ff9.6eca4","type":"comment","z":"2b94767a.f3218a","name":"Slave Id + Central Id","info":"","x":1350,"y":980,"wires":[]},{"id":"bc5c8a8e.43d848","type":"debug","z":"2b94767a.f3218a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":1020,"wires":[]},{"id":"e53ff38a.58fea8","type":"inject","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["47006acc.c09de4"]]},{"id":"47006acc.c09de4","type":"postgresql","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":280,"wires":[["e80270a8.473fe","865d33fd.e94ed"]]},{"id":"e80270a8.473fe","type":"debug","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"865d33fd.e94ed","type":"function","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["78e851bc.95f738","f59e353d.6b903"]]},{"id":"78e851bc.95f738","type":"debug","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":320,"wires":[]},{"id":"f59e353d.6b903","type":"change","z":"d415fa7.58cd708","g":"ce867286.027988","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[[]]},{"id":"8d11d89b.bcad4","type":"function","z":"d415fa7.58cd708","g":"7b6ca29e.4606dc","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["c5707069.0225d"]],"l":false},{"id":"2e4b6d65.68cbda","type":"postgresql","z":"d415fa7.58cd708","g":"3b71b5f5.f8ff92","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":480,"wires":[["bc51b673.b5d7b"]]},{"id":"aba38d7d.871b6","type":"inject","z":"d415fa7.58cd708","g":"3b71b5f5.f8ff92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":480,"wires":[["2e4b6d65.68cbda"]]},{"id":"bc51b673.b5d7b","type":"function","z":"d415fa7.58cd708","g":"3b71b5f5.f8ff92","name":"","func":"const flowHasIssues = flow.get('monitoringIssues') || false;\n\n// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = flowHasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":480,"wires":[["2f8b2d9.d12f8d2","605d5464.18f6ec"]]},{"id":"2f8b2d9.d12f8d2","type":"debug","z":"d415fa7.58cd708","g":"3b71b5f5.f8ff92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"605d5464.18f6ec","type":"change","z":"d415fa7.58cd708","g":"3b71b5f5.f8ff92","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":520,"wires":[[]]},{"id":"67658667.0f5be8","type":"postgresql","z":"d415fa7.58cd708","name":"","query":"BEGIN TRANSACTION;\n\n   DO $$\n   DECLARE\n       RowsDeleted INT;\n   BEGIN\n       -- Perform the delete\n       DELETE FROM consumption_realtime\n       WHERE EXISTS (\n           SELECT 1\n           FROM slaves s\n           WHERE s.id = consumption_realtime.slave_id\n           AND consumption_realtime.slave_id != 8\n           AND consumption_realtime.value / 3.0 > (CASE COALESCE(s.clamp_type, '0')\n                                WHEN '0' THEN 50\n                                WHEN '1' THEN 100\n                                WHEN '2' THEN 400\n                                WHEN '3' THEN 1000\n                                WHEN '4' THEN 2000\n                                WHEN '5' THEN 1600\n                                WHEN '6' THEN 1000\n                                ELSE 0\n                             END * 220)\n           AND s.name LIKE '3F%'\n       );\n\n       -- Get the number of rows deleted\n       GET DIAGNOSTICS RowsDeleted = ROW_COUNT;\n\n       -- Output the number of deleted rows as a notice\n       RAISE NOTICE 'Number of rows deleted: %', RowsDeleted;\n   END $$;\n\n   -- To rollback and test the deletion, uncomment the following line\n   ROLLBACK TRANSACTION;\n\n   -- To commit the changes, uncomment the following line\n   -- COMMIT TRANSACTION;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":180,"y":680,"wires":[[]]},{"id":"b4e6602d.698f38","type":"inject","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/20405552-169c-4a65-ac97-2ccccb5458da","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":80,"wires":[["3533caeb.9e310e"]]},{"id":"a456acce.df81","type":"http request","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":80,"wires":[["439ca4a7.1523c4"]]},{"id":"439ca4a7.1523c4","type":"switch","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":80,"wires":[["34e283a7.1d0dec"],["540cb847.913d3","1456e0ea.5d7fef"]]},{"id":"34e283a7.1d0dec","type":"debug","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"540cb847.913d3","type":"debug","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"1456e0ea.5d7fef","type":"function","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":140,"wires":[[]]},{"id":"3533caeb.9e310e","type":"function","z":"beec534f.c7d758","g":"fee84e61.1690f","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n/*\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n*/\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":80,"wires":[["a456acce.df81"]],"l":false},{"id":"e6141786.062008","type":"http in","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"Average Consumption pulses V2","url":"/dash_api/devices_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1060,"wires":[["4652d254.b46c54"]]},{"id":"4652d254.b46c54","type":"function","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1060,"wires":[["2d8fb31c.64be44"]]},{"id":"2d8fb31c.64be44","type":"postgresql","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    totals_per_slave d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1060,"wires":[["5603e936.93d338"]]},{"id":"c8e70cf.99ba4f","type":"http response","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","statusCode":"200","headers":{},"x":1020,"y":1060,"wires":[]},{"id":"177c0a6d.e43666","type":"http in","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"Daily Devices Pulses V2","url":"/dash_api/demand_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1100,"wires":[["69cadce5.078c94","2d7088d1.0a5dc"]]},{"id":"69cadce5.078c94","type":"function","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1100,"wires":[["25c7b2b7.bcef46","44424263.a27e44","389a36ff.734622","dd99a1e9.c185c8"]]},{"id":"25c7b2b7.bcef46","type":"postgresql","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 day', cpl.timestamp, INTERVAL '3 hours') AS consumption_date,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L,\n        COALESCE(CAST((regexp_match(c.name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels c\n    LEFT JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    WHERE\n        c.slave_id = {{ msg.payload }}\n        AND c.channel = 1\n    GROUP BY\n        c.slave_id, c.name, consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L * multiplier) / 1000 AS total_consumption_m3,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L * multiplier) / 1000 AS max_hourly_consumption_m3,\n        MIN(hourly_consumption_L * multiplier) / 1000 AS min_hourly_consumption_m3,\n        multiplier\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date, multiplier\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.max_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.min_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    to_char(d.consumption_date, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS consumption_date,\n    ROUND(d.total_consumption_m3::numeric, 2) AS total_consumption_m3,\n    d.active_hours,\n    ROUND((d.total_consumption_m3 / NULLIF(d.active_hours, 0))::numeric, 2) AS avg_m3_per_hour,\n    ROUND(d.max_hourly_consumption_m3::numeric, 2) AS max_hourly_consumption_m3,\n    ROUND(d.min_hourly_consumption_m3::numeric, 2) AS min_hourly_consumption_m3,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nWHERE\n    d.consumption_date >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND d.consumption_date < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1100,"wires":[["83d719a0.30cc68","88b526af.c09f8"]]},{"id":"83d719a0.30cc68","type":"http response","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","statusCode":"200","headers":{},"x":1020,"y":1100,"wires":[]},{"id":"5a3051f8.e723a","type":"comment","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"Pulses report Multiple V1","info":"Pulses report","x":170,"y":1000,"wires":[]},{"id":"c7d4763c.9ed1","type":"http in","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"Average Consumption lojas Agua","url":"/dash_api/lojas_consumption_pulses/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1140,"wires":[["2295dd7f.c0d312"]]},{"id":"2295dd7f.c0d312","type":"postgresql","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1140,"wires":[["fd843e31.8e4b7"]]},{"id":"fd843e31.8e4b7","type":"http response","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","statusCode":"200","headers":{},"x":1020,"y":1140,"wires":[]},{"id":"88b526af.c09f8","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":795,"y":1020,"wires":[],"l":false},{"id":"44424263.a27e44","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":595,"y":1020,"wires":[],"l":false},{"id":"5603e936.93d338","type":"function","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","func":"const devices = msg.payload;\n\nconst processedDevices = devices.map(device => {\n  const multiplierMatch = device.device_name.match(/x(\\d+)/);\n  const multiplier = multiplierMatch ? parseInt(multiplierMatch[1], 10) : 1;\n\n  const cleanedName = device.device_name\n    .replace(/^Hidr\\.\\s*/, '') \n    .replace(/\\s*x\\d+.*$/, ''); \n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device, \n    device_name: cleanedName, \n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString()\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1060,"wires":[["c8e70cf.99ba4f"]]},{"id":"11cc0c08.0990bc","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":975,"y":1020,"wires":[],"l":false},{"id":"389a36ff.734622","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1180,"wires":[]},{"id":"dd99a1e9.c185c8","type":"postgresql","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","query":"SELECT TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) AS endTs,\n       TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000) AS startTs;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":680,"y":1200,"wires":[["d229466e.831e5"]]},{"id":"d229466e.831e5","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1220,"wires":[]},{"id":"2925f5fa.3da8a2","type":"http in","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"Average Consumption pulses V2","url":"/dash_api/v2/devices_pulses/:slaveIds/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1360,"wires":[["7eba30a0.c21de8"]]},{"id":"7eba30a0.c21de8","type":"function","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"","func":"const slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1360,"wires":[["9735c181.bd285"]]},{"id":"9735c181.bd285","type":"postgresql","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"","query":"WITH channel_info AS (\n    SELECT\n        slave_id,\n        name,\n        COALESCE(CAST((regexp_match(name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND channel = 1\n),\nhourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L\n    FROM\n        channel_info c\n    INNER JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    GROUP BY\n        c.slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MIN(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    c.slave_id,\n    c.name AS device_name,\n    COALESCE(d.total_consumption_L, 0) AS total_consumption_L,\n    c.multiplier,\n    (COALESCE(d.total_consumption_L, 0) * c.multiplier) / 1000 AS total_consumption_m3,\n    COALESCE(d.active_hours, 0) AS active_hours,\n    COALESCE(d.max_hourly_consumption_L, 0) AS max_hourly_consumption_L,\n    COALESCE(d.min_hourly_consumption_L, 0) AS min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    channel_info c\nLEFT JOIN\n    totals_per_slave d ON c.slave_id = d.slave_id\nLEFT JOIN\n    max_min_hours m ON c.slave_id = m.slave_id\nORDER BY\n    total_consumption_m3 DESC;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":650,"y":1360,"wires":[["603d301d.e41c38"]]},{"id":"f04f8e33.8fc85","type":"http response","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"","statusCode":"200","headers":{},"x":1020,"y":1360,"wires":[]},{"id":"9ed0a5f3.b6e2d8","type":"comment","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"Pulses report V4","info":"Pulses report","x":140,"y":1300,"wires":[]},{"id":"603d301d.e41c38","type":"function","z":"2b94767a.f3218a","g":"7bfbe11.16fd32","name":"","func":"const devices = msg.payload;\n\nconst processedDevices = devices.map(device => {\n  const multiplierMatch = device.device_name.match(/x(\\d+)/);\n  const multiplier = multiplierMatch ? parseInt(multiplierMatch[1], 10) : 1;\n\n  const cleanedName = device.device_name\n    .replace(/^Hidr\\.\\s*/, '') \n    .replace(/\\s*x\\d+.*$/, ''); \n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device, \n    device_name: cleanedName, \n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString()\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1360,"wires":[["f04f8e33.8fc85"]]},{"id":"abecef65.e07ae","type":"mqtt in","z":"5e9a7614.83dd6","name":"","topic":"gateway/aab91440-3bb4-4b04-aeb4-6533c93afb57/fetch","qos":"2","datatype":"auto-detect","broker":"9f8ce26c.703a38","x":330,"y":220,"wires":[["4648a7b0.009048","8911a216.13f8b8"]]},{"id":"1611de45.cd80ca","type":"postgresql","z":"5e9a7614.83dd6","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value)          AS value,\n  AVG(cr.value_reactive) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":870,"y":180,"wires":[["2597883e.02e96"]]},{"id":"a077983b.757828","type":"function","z":"5e9a7614.83dd6","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":715,"y":200,"wires":[["1611de45.cd80ca"],["406c49ec.d43cc8"]],"l":false},{"id":"406c49ec.d43cc8","type":"mqtt out","z":"5e9a7614.83dd6","name":"","topic":"","qos":"","retain":"","broker":"9f8ce26c.703a38","x":1090,"y":220,"wires":[]},{"id":"7635b92c.e5fc1","type":"postgresql","z":"5e9a7614.83dd6","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":870,"y":240,"wires":[["406c49ec.d43cc8"]]},{"id":"4d366cf7.91d79c","type":"function","z":"5e9a7614.83dd6","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":715,"y":240,"wires":[["7635b92c.e5fc1"]],"l":false},{"id":"2597883e.02e96","type":"function","z":"5e9a7614.83dd6","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":995,"y":180,"wires":[["406c49ec.d43cc8"]],"l":false},{"id":"547c427a.66a98c","type":"inject","z":"5e9a7614.83dd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":210,"y":120,"wires":[["c597c169.32cfd8"]]},{"id":"c597c169.32cfd8","type":"debug","z":"5e9a7614.83dd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":345,"y":120,"wires":[],"l":false},{"id":"4648a7b0.009048","type":"json","z":"5e9a7614.83dd6","name":"","property":"payload","action":"","pretty":false,"x":610,"y":200,"wires":[["a077983b.757828"]]},{"id":"8911a216.13f8b8","type":"json","z":"5e9a7614.83dd6","name":"","property":"payload","action":"","pretty":false,"x":610,"y":240,"wires":[["4d366cf7.91d79c"]]},{"id":"da90322b.b81008","type":"function","z":"5e9a7614.83dd6","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":320,"wires":[["8e1c591f.5ca53","cb8ac826.b2132"]]},{"id":"22458a4.499e776","type":"inject","z":"5e9a7614.83dd6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":320,"wires":[["a1ccdad1.229088"]]},{"id":"cb8ac826.b2132","type":"mqtt out","z":"5e9a7614.83dd6","name":"","topic":"","qos":"","retain":"","broker":"9f8ce26c.703a38","x":810,"y":320,"wires":[]},{"id":"a1ccdad1.229088","type":"postgresql","z":"5e9a7614.83dd6","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":390,"y":320,"wires":[["a0a5e396.26e2f"]]},{"id":"a0a5e396.26e2f","type":"function","z":"5e9a7614.83dd6","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":515,"y":320,"wires":[["da90322b.b81008"]],"l":false},{"id":"8e1c591f.5ca53","type":"debug","z":"5e9a7614.83dd6","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"9d5cff68.2d482","type":"comment","z":"5e9a7614.83dd6","name":"1. Get the central UUID here","info":"It will appear on the logs","x":240,"y":80,"wires":[]},{"id":"f44dbdce.25d6a","type":"comment","z":"5e9a7614.83dd6","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":290,"y":180,"wires":[]},{"id":"6516c618.aa494","type":"comment","z":"5e9a7614.83dd6","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":280,"y":280,"wires":[]},{"id":"2b15128.d21336e","type":"comment","z":"5e9a7614.83dd6","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":220,"y":400,"wires":[]},{"id":"6cf91cd3.28c3d4","type":"inject","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":1140,"wires":[["91b72034.6a6918"]]},{"id":"91b72034.6a6918","type":"postgresql","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '30 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1470,"y":1140,"wires":[["b8eef08b.8876e","bebb646.58f9418"]]},{"id":"b8eef08b.8876e","type":"debug","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":1140,"wires":[]},{"id":"bebb646.58f9418","type":"function","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","func":"if (msg.payload[0].affected_rows > 0) {\n    msg.payload = {\n      \"payload\": {\n        \"summary\": `Detectados dispositivos com leitura inválida. ${msg.payload.affected_rows} corrigidos.`,\n        \"severity\": \"info\",\n        \"source\": \"InvalidPulsesDetection\"\n      },\n      \"routing_key\": \"0d3a200b4fd9410fc09c866e9d49f8b0\",\n      \"event_action\": \"trigger\"\n    };    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1180,"wires":[["50714156.4570a8","33ffc326.89511c"]]},{"id":"f1507a84.b97b18","type":"http request","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://events.pagerduty.com/v2/enqueue","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":1180,"wires":[[]]},{"id":"50714156.4570a8","type":"debug","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1860,"y":1140,"wires":[]},{"id":"33ffc326.89511c","type":"switch","z":"2b94767a.f3218a","g":"e4b068c1.161cb","name":"","property":"payload.affected_rows","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1850,"y":1180,"wires":[["f1507a84.b97b18"]]},{"id":"c458485c.65d7c8","type":"inject","z":"2b94767a.f3218a","g":"e2863feb.d7fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":480,"wires":[["5c3ce61f.fa496"]]},{"id":"5c3ce61f.fa496","type":"http request","z":"2b94767a.f3218a","g":"e2863feb.d7fdd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":540,"wires":[["9c673c08.6b5598"]]},{"id":"9c673c08.6b5598","type":"function","z":"2b94767a.f3218a","g":"e2863feb.d7fdd","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":620,"wires":[["1922c7b3.d9d89"]]},{"id":"1922c7b3.d9d89","type":"link out","z":"2b94767a.f3218a","g":"e2863feb.d7fdd","name":"link out 3","links":["36b5efb3ab8764e1","5579a5e6.a0c3ec","412dc651.7cd51"],"x":1475,"y":520,"wires":[]},{"id":"906ac47.2d6ccb8","type":"inject","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["4c59d039.bd6038"]]},{"id":"4c59d039.bd6038","type":"postgresql","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":240,"wires":[["b18f09d.8443c78","9860efbe.ab788","6788b860.a082a"]]},{"id":"b18f09d.8443c78","type":"debug","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"9860efbe.ab788","type":"function","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["585a6796.ec07f","fd6f1a0.c85c868"]]},{"id":"585a6796.ec07f","type":"debug","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"fd6f1a0.c85c868","type":"change","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":320,"wires":[[]]},{"id":"6788b860.a082a","type":"function","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":360,"wires":[["2307c497.906af4"]],"l":false},{"id":"2307c497.906af4","type":"mqtt out","z":"beec534f.c7d758","g":"59db8917.5aa0b8","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":750,"y":360,"wires":[]},{"id":"5cebd4db.d40ce4","type":"postgresql","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":460,"wires":[["595546e6.9df9c","62068280.9789bc"]]},{"id":"77452074.3e0998","type":"inject","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":460,"wires":[["5cebd4db.d40ce4"]]},{"id":"595546e6.9df9c","type":"function","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":460,"wires":[["ec86bb85.410d6","54e831c3.2244b"]]},{"id":"ec86bb85.410d6","type":"debug","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"54e831c3.2244b","type":"change","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":500,"wires":[[]]},{"id":"9125563.eff3b28","type":"mqtt out","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":770,"y":540,"wires":[]},{"id":"62068280.9789bc","type":"function","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":540,"wires":[["9125563.eff3b28","66ef1a1c.91020c"]],"l":false},{"id":"66ef1a1c.91020c","type":"debug","z":"beec534f.c7d758","g":"127474ae.e3dfb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":580,"wires":[]},{"id":"424b5c2e.c4574c","type":"myio-emitter","z":"2b94767a.f3218a","x":90,"y":1660,"wires":[["7fc92d74.47b4ac"],["7fc92d74.47b4ac"],["7fc92d74.47b4ac"],[],["7fc92d74.47b4ac"],["7fc92d74.47b4ac"],[],[],[],["7fc92d74.47b4ac"],["7fc92d74.47b4ac"],[]]},{"id":"7fc92d74.47b4ac","type":"function","z":"2b94767a.f3218a","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":1660,"wires":[["97dbc555.1b79e"]]},{"id":"97dbc555.1b79e","type":"debug","z":"2b94767a.f3218a","name":"cabelo curto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":1660,"wires":[]},{"id":"dd0c326a.60509","type":"function","z":"2b94767a.f3218a","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":395,"y":1900,"wires":[[]],"l":false},{"id":"42c3c810.e57118","type":"mqtt out","z":"2b94767a.f3218a","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"c1122b85.73f4c8","x":570,"y":1860,"wires":[]},{"id":"7e67dbc3.d274bc","type":"inject","z":"2b94767a.f3218a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1820,"wires":[["3b22f0a4.73ee6"]]},{"id":"8d092563.cd48d","type":"function","z":"2b94767a.f3218a","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":335,"y":1820,"wires":[["42c3c810.e57118","e7fc6829.3de1d","dd0c326a.60509"]],"l":false},{"id":"e7fc6829.3de1d","type":"debug","z":"2b94767a.f3218a","name":"Pudim de geleia","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1800,"wires":[]},{"id":"3b22f0a4.73ee6","type":"http request","z":"2b94767a.f3218a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":255,"y":1820,"wires":[["8d092563.cd48d"]],"l":false},{"id":"2d7088d1.0a5dc","type":"debug","z":"2b94767a.f3218a","g":"89bbadaf.9f30f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":1220,"wires":[]},{"id":"6f23ca4.e16e734","type":"data-fetcher","z":"5e9a7614.83dd6","name":"","mqtt":"1afbccb0.7121f3","uuidOverride":"","x":190,"y":560,"wires":[]}]