src/NODE-RED/CAMPINAS/campinas_shopping_g1_g2/bkp-node-red-campinas-g1-g2-flows.json
[{"id":"9f40e478.db9bd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d415fa7.58cd708","type":"tab","label":"Monitoramento","disabled":false,"info":""},{"id":"d23db98.7555548","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"1e79300a.a31af","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"9c6e5131.0ad0b8","type":"tab","label":"Ingestion Staging","disabled":false,"info":""},{"id":"aa61127e.dfa2","type":"group","z":"9f40e478.db9bd8","name":"MQTT","style":{"label":true},"nodes":["6a14f3b2.cd8b2c","5de6353b.c9836c","5678a6c3.be7e98","93ee4531.4db7d8","ca7c6620.0b5198","4f64022e.9cb7ec","3222e76f.436098","6f667024.d1f12","d533a111.18fe2","4fcbc1eb.eccfc","5921e588.5a6e3c","daa9d598.ad4b48","da6682b4.03803","3f51507f.fcbcb","ff932835.497da8","6e1ff75e.4dbe98","b502336.ae18dd","70ed4a2b.d46c74","9ed92e5.979edd","a358efb5.0cbf","ea697081.ce47d","ce30e30e.34805","df4fb9f6.4d2108","c37ed9a4.3f98c8","2ae9d86e.868248"],"x":14,"y":319,"w":1362,"h":522},{"id":"ee0dc74.5b61638","type":"group","z":"9f40e478.db9bd8","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["caf07a5b.072e98","5244612d.57061","565a3f9e.8677","1ce43c32.d7dcf4","6c7e944e.14e6dc","74cc5a09.38c7e4","718439de.cd8f98","270f954d.840e5a","b436c5c5.c64d68","2b680371.76cc8c","13e953d.bef9bac","15958e80.7084a2","95c9b503.2f7e68","2e24b95d.c35f96","80c74876.d36c58","83104a5c.64c7f8","7123c6e6.786638","a7e30aab.fa1b18","a6cbdba.4dc8b28","b8c1e62a.e34e08","6ac219b1.737498","7dffe960.7affc8","a3b5b969.6cce48","5abdfb0a.94ca64","63f0bb36.8d1ac4","780c2a83.0adfd4","9c2b3f10.131b7","56af3b65.ba0a74","84d8369d.33d708","112b9187.a8bf2e","ebe844fc.4b69e8","aec874a8.68f098","4202120f.01ffac","ea9d3a0c.c3b878","d29d6cf4.31839","3a1c2e04.fead62"],"x":54,"y":1399,"w":832,"h":622},{"id":"c4ae64eb.f82c88","type":"group","z":"9f40e478.db9bd8","name":"send check","style":{"label":true},"nodes":["563c0479.f8ecbc","fafbec1c.7beb5"],"x":1414,"y":259,"w":322,"h":82},{"id":"7f01c148.99385","type":"group","z":"d23db98.7555548","name":"Store devices to flow.devices","style":{"label":true},"nodes":["6f594e3b.87828","8ebacf3e.35d62","9d8eb8f9.3d0398","24a3623.fa4679e","c08308be.cf0ff8","5ca9cd3d.647c14","32e5c95e.6b9fe6","3545c8b6.deb228","dc254fb7.2e75b","22068d97.aaf592","6091913e.03c67","a5a3e3ce.c4188","ac06ced2.bdb65","f75e89fd.ffe1a8","108a6a98.9375e5","935c1ce9.7dbcb","98bb5437.420ba8","709f0af7.7ff0e4","ded2dc6e.0f1a6"],"x":34,"y":50},{"id":"9537256a.e8bc68","type":"group","z":"9f40e478.db9bd8","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8"],"x":14,"y":1139,"w":962,"h":122},{"id":"acb15fd3.912c3","type":"group","z":"9f40e478.db9bd8","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9889223f.decf9","7ddbb494.49cacc","78046b3b.3519d4","38549a7b.de39a6","ad0753db.01fe2","91212409.542d28","e3b791bf.40392","3e11d099.d0a6e","7d0acf41.dcb6a","fe021367.13df3","7cbe53c8.bf1d7c","2e86ad59.46d2b2","1bbb2293.ec2efd","e057c77.63ccc38","ed4aa9f1.fcb0e8","6445630e.b148bc","c2a48097.93796","14eedf65.09f091","8134faaf.7c67f8","af9ad074.d1e41","ad72ff08.0c124","8cdcc4c5.669a68","6a92565c.c1664"],"x":34,"y":2679,"w":972,"h":282},{"id":"45e4d602.bf0e68","type":"group","z":"9f40e478.db9bd8","name":"","style":{"label":true},"nodes":["fa85e0d2.5192a","43fe34df.35640c","36335b1f.5b7414","384506d4.58015a","37677ed2.009c22","95615534.f0f3f8","545b8bed.6786c4","3f5c9de1.f00652","9e26dc76.377fb","606318c5.5a91d8","35d1079c.ec9d28"],"x":1074,"y":2679,"w":832,"h":304},{"id":"9e4cbc52.cdeea8","type":"group","z":"9f40e478.db9bd8","name":"","style":{"label":true},"nodes":["180396ed.9c2dc1","4747b982.ca588","5ed3c803.d0bdf","c0e20bb3.2c0bd","56365590.b97bbc","3e5f2751.d804f","a762f79e.6fffd","6a03dfe7.128358","6e877348.5df3b4","41e5408b.81f7a","6ee68483.9a5b54","9354a979.1ba128","205a5dbc.afc31a","622841a2.ebb198","ec87595d.fe417","f20cd8f9.5501f8"],"x":1074,"y":2999,"w":1072,"h":222},{"id":"6aa2d64c.7c2d58","type":"group","z":"9f40e478.db9bd8","name":"Store devices to flow.devices","style":{"label":true},"nodes":["9d296fb6.8302b","ea3c563b.84ebe8","bb638599.31abb8","dbf10ba.b4181f8","b0d36d.d7896c9","958abd31.7566","2129af69.05ed6","ad1d0e33.cf6f5","ef9886d5.21dae8","ff965f7e.d53cb","5d952e9b.da68e","12c16f62.71ddb1","5820ee2f.90f","7a39ceb3.28125"],"x":14,"y":59,"w":1932,"h":182},{"id":"a5110fd6.075088","type":"group","z":"9f40e478.db9bd8","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#2e333a","fill-opacity":"0.75","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8eb847e0.0fa82","be40bd95.7cb268","18182764.537c71","54e389e6.219ce8","4a172eae.bd4758"],"x":54,"y":3279,"w":932,"h":162},{"id":"1bd4752d.ae856b","type":"group","z":"9f40e478.db9bd8","name":"Thingsboard","style":{"label":true},"nodes":["96923ebd.034c7","e71a0cd4.d0e97","79d80ed.23776f","16bf6db.8729292","c679bdd1.0c0f","ee2b61c1.a7dc8","9f905f0e.09722","60e64a15.adb994"],"x":1414,"y":379,"w":652,"h":202},{"id":"c021c00a.aa25b8","type":"group","z":"d415fa7.58cd708","name":"Central Monitor","style":{"label":true},"nodes":["5b293390.7576ec","9a0cae02.6e1378","8a7b6697.32bbf","5b970498.65f12c","156cda2.7437b26","c4dd6b3c.744168","64dafb43.3da354"],"x":34,"y":39},{"id":"86a02b29.4ee2b","type":"group","z":"9f40e478.db9bd8","name":"","style":{"label":true},"nodes":["47c34aee.a07014","1a2629b7.702b76","480ad22c.973434","b07659c5.04a06","57b55760.3b8be8","34bc67a7.c97928"],"x":1074,"y":3279,"w":1072,"h":142},{"id":"e2863feb.d7fdd","type":"group","z":"9f40e478.db9bd8","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["c458485c.65d7c8","5c3ce61f.fa496","9c673c08.6b5598","1922c7b3.d9d89"],"x":1414,"y":619,"w":362,"h":222},{"id":"993ca302.947908","type":"group","z":"d415fa7.58cd708","name":"Missing Hidrometers","style":{"label":true},"nodes":["af86076c.d4679","c27f55e9.c95688","2dc00081.45099","65a03d4.c3e8d44","6e5e348c.19e5f4","7ec56e0.c8bee14","16484900.ddf497","e48669ea.6077d"],"x":34,"y":239},{"id":"8959e6f7.a6239","type":"group","z":"d415fa7.58cd708","name":"Missing Energy","style":{"label":true},"nodes":["264a3098.04c858","a124481c.ce6fb","535a37a9.14bf4","9d7862de.6f502","b97d46ef.056c1","bdbbc933.c0429","a2aa1b4d.3683a","412780bd.2b934"],"x":34,"y":459},{"id":"fc684676.31bfb8","type":"group","z":"9f40e478.db9bd8","name":"ATTRIBUTES_SYNC","style":{"label":true},"nodes":["a8251402.d7b228","e544bb62.2e4178","6defcc41.ae9b84","1eec572d.6fdc29","fff07319.e7b37","b9adb032.8163c"],"x":1414,"y":879,"w":612,"h":242},{"id":"fe0bbd9.5bb3e4","type":"postgreSQLConfig","z":"9f40e478.db9bd8","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"teta","passwordFieldType":"str"},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"hkv6dipt04vlwwhxz9ro","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc2be450.1f54a8","type":"postgreSQLConfig","z":"a3c0f733.e677c8","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"c3259202.9eb35","type":"postgreSQLConfig","z":"53f99bff.c6d4b4","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"bd54f231ef2e11512c4a","type":"mqtt-broker","z":"b45d0df4.bea82","name":"Thingsboard PE - souza-aguiar---co2 ","broker":"mqtt.myio-bas.com","port":"1883","clientid":"13b57ee6fbd4bc778dd0","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"6eac0185.312bb","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"2b839205.afdc7e","type":"postgreSQLConfig","z":"9f40e478.db9bd8","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"b84e4a36.91cd38","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"compatmode":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"62a2f87b.cebd08","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2911520d.0dfebe","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1afbccb0.7121f3","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.data.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"81b8db36.4f446","type":"mqtt-config","z":"","name":"Ingestion Staging","broker":"mqtt.staging.data.apps.myio-bas.com.APAGAR","port":"1884","username":"","password":""},{"id":"6a14f3b2.cd8b2c","type":"myio-emitter","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","x":90,"y":620,"wires":[["5de6353b.c9836c"],["5678a6c3.be7e98"],["93ee4531.4db7d8"],[],[],["5678a6c3.be7e98"],["ca7c6620.0b5198"],["4f64022e.9cb7ec"],[],[],[],[]]},{"id":"5de6353b.c9836c","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["3f51507f.fcbcb"]]},{"id":"5678a6c3.be7e98","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[["ff932835.497da8"]]},{"id":"93ee4531.4db7d8","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":560,"wires":[["6e1ff75e.4dbe98"]]},{"id":"ca7c6620.0b5198","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["b502336.ae18dd"]]},{"id":"4f64022e.9cb7ec","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":720,"wires":[["70ed4a2b.d46c74"]]},{"id":"3222e76f.436098","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":800,"wires":[["9ed92e5.979edd"]]},{"id":"6f667024.d1f12","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Atualização de dispositivo","info":"","x":390,"y":360,"wires":[]},{"id":"d533a111.18fe2","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Temperatura","info":"","x":350,"y":440,"wires":[]},{"id":"4fcbc1eb.eccfc","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Potencia","info":"","x":340,"y":520,"wires":[]},{"id":"5921e588.5a6e3c","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Corrente","info":"","x":342.89581298828125,"y":601.2222290039062,"wires":[]},{"id":"daa9d598.ad4b48","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Voltagem","info":"","x":340,"y":680,"wires":[]},{"id":"da6682b4.03803","type":"comment","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Humidade","info":"","x":340,"y":760,"wires":[]},{"id":"3f51507f.fcbcb","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":400,"wires":[["ce30e30e.34805"]]},{"id":"ff932835.497da8","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":480,"wires":[["ce30e30e.34805"]]},{"id":"6e1ff75e.4dbe98","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Transform consumption reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":560,"wires":[["a358efb5.0cbf"]]},{"id":"b502336.ae18dd","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Transform current reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":640,"wires":[["ea697081.ce47d"]]},{"id":"70ed4a2b.d46c74","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Transform voltage reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":720,"wires":[["df4fb9f6.4d2108","2ae9d86e.868248"]]},{"id":"9ed92e5.979edd","type":"function","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"Format humidity","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":800,"wires":[["df4fb9f6.4d2108"]]},{"id":"a358efb5.0cbf","type":"split","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1135,"y":580,"wires":[["c37ed9a4.3f98c8","ce30e30e.34805"]],"l":false},{"id":"ea697081.ce47d","type":"split","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1255,"y":640,"wires":[["ce30e30e.34805"]],"l":false},{"id":"ce30e30e.34805","type":"link out","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","7e8207d2.2f4638","5f89597e.bdc0a8","c679bdd1.0c0f","6a7265f7.affb5c"],"x":1335,"y":460,"wires":[]},{"id":"df4fb9f6.4d2108","type":"link out","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88","7e8207d2.2f4638","5f89597e.bdc0a8","c679bdd1.0c0f","6a7265f7.affb5c"],"x":1175,"y":740,"wires":[]},{"id":"c37ed9a4.3f98c8","type":"debug","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1215,"y":580,"wires":[],"l":false},{"id":"2ae9d86e.868248","type":"debug","z":"9f40e478.db9bd8","g":"aa61127e.dfa2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":700,"wires":[]},{"id":"f0f7989e.392e28","type":"http in","z":"9f40e478.db9bd8","name":"Day with the lowest consumption","url":"/dash_api/day_with_lowest_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2400,"wires":[["72ac0cb5.5cad04"]]},{"id":"64c7c771.871608","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":640,"y":2400,"wires":[]},{"id":"ee6eeaf4.cf8f48","type":"http in","z":"9f40e478.db9bd8","name":"Get Device Info","url":"/dash_api/device_details/:slave_id","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2440,"wires":[["85855e63.93274"]]},{"id":"c6a55e98.51c78","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":640,"y":2440,"wires":[]},{"id":"72ac0cb5.5cad04","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        AVG(value) AS value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    total_consumption_kwh ASC\nLIMIT 1;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":470,"y":2400,"wires":[["64c7c771.871608"]]},{"id":"85855e63.93274","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT *\n  FROM slaves\n WHERE id = {{ msg.req.params.slave_id }}","postgreSQLConfig":"c3259202.9eb35","split":false,"rowsPerMsg":1,"outputs":1,"x":470,"y":2440,"wires":[["c6a55e98.51c78"]]},{"id":"26f6655.a3e7b9a","type":"http in","z":"9f40e478.db9bd8","name":"Total consumption SUM","url":"/dash_api/total_consumption_sum/:slave_id/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2280,"wires":[["160a8ca.36ed973"]]},{"id":"160a8ca.36ed973","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS avg_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp <= TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\ncumulative_sum AS (\n    SELECT\n        slave_id,\n        hour,\n        avg_value,\n        SUM(avg_value) OVER (PARTITION BY slave_id ORDER BY hour) AS running_total\n    FROM\n        hourly_data\n)\nSELECT\n    slave_id,\n    MAX(running_total) / 1000 AS total_consumption_kwh\nFROM\n    cumulative_sum\nGROUP BY\n    slave_id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":510,"y":2280,"wires":[["1d30d03d.610d7"]]},{"id":"1d30d03d.610d7","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":740,"y":2280,"wires":[]},{"id":"37aaa258.bdfe6e","type":"http in","z":"9f40e478.db9bd8","name":"[G] Total daily consumption","url":"/dash_api/total_daily_consumption/multiple/:slave_ids/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2080,"wires":[["25d4b21f.77d5ae"]]},{"id":"25d4b21f.77d5ae","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = ANY(ARRAY[{{msg.req.params.slave_ids}}])\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    slave_id,\n    SUM(hourly_avg) / 1000 AS total_consumption_kwh\nFROM\n    hourly_data\nGROUP BY\n    slave_id\nORDER BY\n    slave_id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":550,"y":2080,"wires":[["b228d140.fb67a"]]},{"id":"b228d140.fb67a","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":780,"y":2080,"wires":[]},{"id":"d5514c85.8576c","type":"http in","z":"9f40e478.db9bd8","name":"[G] Total consumption SUM","url":"/dash_api/total_consumption_sum/multiple/:slave_ids/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2120,"wires":[["1cb7f8f8.7ff577"]]},{"id":"1cb7f8f8.7ff577","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS avg_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = ANY(ARRAY[{{msg.req.params.slave_ids}}])\n        AND timestamp <= TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\ncumulative_sum AS (\n    SELECT\n        slave_id,\n        hour,\n        avg_value,\n        SUM(avg_value) OVER (PARTITION BY slave_id ORDER BY hour) AS running_total\n    FROM\n        hourly_data\n)\nSELECT\n    slave_id,\n    MAX(running_total) / 1000 AS total_consumption_kwh\nFROM\n    cumulative_sum\nGROUP BY\n    slave_id\nORDER BY\n    slave_id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":550,"y":2120,"wires":[["8cabfc8b.0dac1"]]},{"id":"8cabfc8b.0dac1","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":780,"y":2120,"wires":[]},{"id":"2a0c1d74.f69622","type":"http in","z":"9f40e478.db9bd8","name":"[G] Min and Max demand","url":"/dash_api/demand/multiple/:slave_ids/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2160,"wires":[["4a19a5da.32154c"]]},{"id":"4a19a5da.32154c","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = ANY(ARRAY[{{msg.req.params.slave_ids}}])\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    slave_id,\n    MIN(min_hourly_value) AS absolute_min_demand,\n    MAX(max_hourly_value) AS absolute_max_demand,\n    (SELECT hour FROM hourly_data h2 WHERE h2.slave_id = h1.slave_id AND h2.min_hourly_value = MIN(h1.min_hourly_value) LIMIT 1) AS min_demand_hour,\n    (SELECT hour FROM hourly_data h2 WHERE h2.slave_id = h1.slave_id AND h2.max_hourly_value = MAX(h1.max_hourly_value) LIMIT 1) AS max_demand_hour\nFROM \n    hourly_data h1\nGROUP BY\n    slave_id\nORDER BY\n    slave_id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":550,"y":2160,"wires":[["e981d713.3f3d68"]]},{"id":"e981d713.3f3d68","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":780,"y":2160,"wires":[]},{"id":"caf07a5b.072e98","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"[G] Average Consumption Per Weekday","url":"/dash_api/avg_consumption_per_weekday/multiple/:slave_ids/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1760,"wires":[["565a3f9e.8677"]]},{"id":"5244612d.57061","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":800,"y":1760,"wires":[]},{"id":"565a3f9e.8677","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    EXTRACT(DOW FROM timestamp) AS weekday,\n    AVG(value) / 1000 AS avg_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = ANY(ARRAY[{{msg.req.params.slave_ids}}])\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    slave_id, weekday\nORDER BY\n    slave_id, weekday;\n","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1760,"wires":[["5244612d.57061"]]},{"id":"1ce43c32.d7dcf4","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"[G] Day with the most consumption","url":"/dash_api/day_with_most_consumption/multiple/:slave_ids/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1800,"wires":[["74cc5a09.38c7e4"]]},{"id":"6c7e944e.14e6dc","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":800,"y":1800,"wires":[]},{"id":"74cc5a09.38c7e4","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    DATE(timestamp) AS day,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}])\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    slave_id, day\nHAVING\n    SUM(value) = (\n        SELECT MAX(daily_consumption)\n        FROM (\n            SELECT slave_id, DATE(timestamp) AS day, SUM(value) AS daily_consumption\n            FROM consumption_realtime\n            WHERE slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}])\n                AND timestamp\n            BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n                AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n            GROUP BY slave_id, DATE(timestamp)\n        ) AS daily_totals\n        WHERE daily_totals.slave_id = consumption_realtime.slave_id\n    )\nORDER BY\n    slave_id, total_consumption_kwh DESC;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1800,"wires":[["6c7e944e.14e6dc"]]},{"id":"718439de.cd8f98","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"[G] Weekday with the most consumption","url":"/dash_api/weekday_with_most_consumption/multiple/:slave_ids/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":240,"y":1840,"wires":[["b436c5c5.c64d68"]]},{"id":"270f954d.840e5a","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":800,"y":1840,"wires":[]},{"id":"b436c5c5.c64d68","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    EXTRACT(DOW FROM timestamp) AS weekday,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}])\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    slave_id, weekday\nHAVING\n    SUM(value) = (\n        SELECT MAX(weekly_consumption)\n        FROM (\n            SELECT slave_id, EXTRACT(DOW FROM timestamp) AS weekday, SUM(value) AS weekly_consumption\n            FROM consumption_realtime\n            WHERE slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}])\n                AND timestamp\n            BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n                AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n            GROUP BY slave_id, EXTRACT(DOW FROM timestamp)\n        ) AS weekly_totals\n        WHERE weekly_totals.slave_id = consumption_realtime.slave_id\n    )\nORDER BY\n    slave_id, total_consumption_kwh DESC;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1840,"wires":[["270f954d.840e5a"]]},{"id":"2b680371.76cc8c","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"[G] Hour with the most consumption","url":"/dash_api/hour_with_most_consumption/multiple/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1880,"wires":[["15958e80.7084a2"]]},{"id":"13e953d.bef9bac","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":800,"y":1880,"wires":[]},{"id":"15958e80.7084a2","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    DATE_TRUNC('hour', timestamp) AS hour,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}]::integer[])\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    slave_id, hour\nHAVING\n    SUM(value) = (\n        SELECT MAX(hourly_consumption)\n        FROM (\n            SELECT slave_id, DATE_TRUNC('hour', timestamp) AS hour, SUM(value) AS hourly_consumption\n            FROM consumption_realtime\n            WHERE slave_id = ANY(ARRAY[{{ msg.req.params.slave_ids }}]::integer[])\n                AND timestamp\n            BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n                AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n            GROUP BY slave_id, DATE_TRUNC('hour', timestamp)\n        ) AS hourly_totals\n        WHERE hourly_totals.slave_id = consumption_realtime.slave_id\n    )\nORDER BY\n    slave_id, total_consumption_kwh DESC;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1880,"wires":[["13e953d.bef9bac"]]},{"id":"95c9b503.2f7e68","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Total consumption","url":"/dash_api/total_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1640,"wires":[["2e24b95d.c35f96"]]},{"id":"2e24b95d.c35f96","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n) AS hourly_data\nGROUP BY\n    slave_id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1640,"wires":[["80c74876.d36c58"]]},{"id":"80c74876.d36c58","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1640,"wires":[]},{"id":"83104a5c.64c7f8","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Average Consumption Per Weekday","url":"/dash_api/avg_consumption_per_weekday/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":1440,"wires":[["a7e30aab.fa1b18"]]},{"id":"7123c6e6.786638","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1440,"wires":[]},{"id":"a7e30aab.fa1b18","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    weekday,\n    AVG(hourly_consumption) / 1000 AS avg_hourly_consumption_kwh\nFROM (\n    SELECT\n        EXTRACT(DOW FROM time_bucket('1 hour', timestamp)) AS weekday,\n        SUM(value) AS hourly_consumption\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        EXTRACT(DOW FROM time_bucket('1 hour', timestamp)),\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    weekday\nORDER BY\n    weekday;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1440,"wires":[["7123c6e6.786638"]]},{"id":"a6cbdba.4dc8b28","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Day with the most consumption","url":"/dash_api/day_with_most_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1480,"wires":[["6ac219b1.737498"]]},{"id":"b8c1e62a.e34e08","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1480,"wires":[]},{"id":"6ac219b1.737498","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        AVG(value) AS value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    total_consumption_kwh DESC\nLIMIT 1;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1480,"wires":[["b8c1e62a.e34e08"]]},{"id":"7dffe960.7affc8","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Weekday with the most consumption","url":"/dash_api/weekday_with_most_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1520,"wires":[["5abdfb0a.94ca64"]]},{"id":"a3b5b969.6cce48","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1520,"wires":[]},{"id":"5abdfb0a.94ca64","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    EXTRACT(DOW FROM timestamp) AS weekday,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = {{ msg.req.params.slave_id }}\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    weekday\nORDER BY\n    total_consumption_kwh DESC\nLIMIT 1;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1520,"wires":[["a3b5b969.6cce48"]]},{"id":"63f0bb36.8d1ac4","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Hour with the most consumption","url":"/dash_api/hour_with_most_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1560,"wires":[["9c2b3f10.131b7"]]},{"id":"780c2a83.0adfd4","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1560,"wires":[]},{"id":"9c2b3f10.131b7","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    DATE_TRUNC('hour', timestamp) AS hour,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = {{ msg.req.params.slave_id }}\n    AND timestamp\nBETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    hour\nORDER BY\n    total_consumption_kwh DESC\nLIMIT 1;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1560,"wires":[["780c2a83.0adfd4"]]},{"id":"56af3b65.ba0a74","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Consumption per day","url":"/dash_api/daily_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1600,"wires":[["112b9187.a8bf2e"]]},{"id":"84d8369d.33d708","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1600,"wires":[]},{"id":"112b9187.a8bf2e","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        AVG(value) AS value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1600,"wires":[["84d8369d.33d708"]]},{"id":"ebe844fc.4b69e8","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Average Consumption","url":"/dash_api/avg_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1680,"wires":[["aec874a8.68f098"]]},{"id":"aec874a8.68f098","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT\n    slave_id,\n    AVG(hourly_consumption) / 1000 AS avg_hourly_consumption_kwh\nFROM (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        SUM(value) AS hourly_consumption\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n) AS hourly_data\nGROUP BY\n    slave_id;","postgreSQLConfig":"bc2be450.1f54a8","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1680,"wires":[["4202120f.01ffac"]]},{"id":"4202120f.01ffac","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":760,"y":1680,"wires":[]},{"id":"ea9d3a0c.c3b878","type":"http in","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"Fetch all slaves","url":"/dash_api/slaves","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1980,"wires":[["d29d6cf4.31839"]]},{"id":"d29d6cf4.31839","type":"postgresql","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","query":"SELECT *\nFROM slaves\nORDER BY id;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1980,"wires":[["3a1c2e04.fead62"]]},{"id":"3a1c2e04.fead62","type":"http response","z":"9f40e478.db9bd8","g":"ee0dc74.5b61638","name":"","statusCode":"200","headers":{},"x":800,"y":1980,"wires":[]},{"id":"57466e0.ab6e294","type":"http in","z":"9f40e478.db9bd8","name":"Average Consumption lojas","url":"/dash_api/lojas_consumption/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":960,"y":2500,"wires":[["ab8d337d.44299"]]},{"id":"ab8d337d.44299","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,  \n\tMAX(value)/1000 AS max_consumption,\n\tMIN(value)/1000 AS min_consumption,\n    SUM(value)/1000 AS total_consumption_kwh, \n    COUNT(DISTINCT date_trunc('hour', timestamp)) AS total_hours, \n    (SUM(value) / 1000) / COUNT(DISTINCT date_trunc('hour', timestamp)) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE         \n    timestamp BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) \nGROUP BY\n    time_bucket('1 day', timestamp)                       \nORDER BY\n    day;                                                                                                   \n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1287,"y":2501,"wires":[["53d773fb.090a9c"]]},{"id":"53d773fb.090a9c","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":1507,"y":2501,"wires":[]},{"id":"f96df296.52d48","type":"http in","z":"9f40e478.db9bd8","name":"Average Consumption v2","url":"/dash_api/avg_consumption_v2/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":950,"y":2440,"wires":[["8ed300e3.1874e"]]},{"id":"8ed300e3.1874e","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS consumption_date,               \n    SUM(value) / 1000 AS total_consumption_kwh, \n    COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)) AS total_hours, \n    (SUM(value) / 1000) / NULLIF(COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)), 0) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE\n    slave_id = {{ msg.req.params.slave_id }}              \n    AND timestamp BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) \nGROUP BY\n    consumption_date                       \nORDER BY\n    consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1287,"y":2441,"wires":[["dc1b4957.6ee668"]]},{"id":"dc1b4957.6ee668","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":1507,"y":2441,"wires":[]},{"id":"563c0479.f8ecbc","type":"inject","z":"9f40e478.db9bd8","g":"c4ae64eb.f82c88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1530,"y":300,"wires":[["fafbec1c.7beb5"]]},{"id":"fafbec1c.7beb5","type":"debug","z":"9f40e478.db9bd8","g":"c4ae64eb.f82c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1675,"y":300,"wires":[],"l":false},{"id":"6f594e3b.87828","type":"inject","z":"d23db98.7555548","g":"7f01c148.99385","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["8ebacf3e.35d62"]]},{"id":"8ebacf3e.35d62","type":"get-data","z":"d23db98.7555548","g":"7f01c148.99385","selectedOption":"slaves","x":340,"y":180,"wires":[["9d8eb8f9.3d0398","a5a3e3ce.c4188","98bb5437.420ba8"]]},{"id":"9d8eb8f9.3d0398","type":"split","z":"d23db98.7555548","g":"7f01c148.99385","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":180,"wires":[["24a3623.fa4679e"]],"l":false},{"id":"24a3623.fa4679e","type":"switch","z":"d23db98.7555548","g":"7f01c148.99385","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":180,"wires":[[],["5ca9cd3d.647c14"],[]],"l":false},{"id":"c08308be.cf0ff8","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"Transform outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":140,"wires":[["6091913e.03c67"]]},{"id":"5ca9cd3d.647c14","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"Transform three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n};\n\n/*\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n\n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n}\n*/\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":180,"wires":[["6091913e.03c67"]]},{"id":"32e5c95e.6b9fe6","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"Transform infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":220,"wires":[["6091913e.03c67"]]},{"id":"3545c8b6.deb228","type":"join","z":"d23db98.7555548","g":"7f01c148.99385","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":180,"wires":[["dc254fb7.2e75b","ded2dc6e.0f1a6"]]},{"id":"dc254fb7.2e75b","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":180,"wires":[["22068d97.aaf592","935c1ce9.7dbcb"]]},{"id":"22068d97.aaf592","type":"change","z":"d23db98.7555548","g":"7f01c148.99385","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":180,"wires":[[]],"l":false},{"id":"6091913e.03c67","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":180,"wires":[["3545c8b6.deb228","709f0af7.7ff0e4"]],"l":false},{"id":"a5a3e3ce.c4188","type":"change","z":"d23db98.7555548","g":"7f01c148.99385","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":140,"wires":[[]],"l":false},{"id":"ac06ced2.bdb65","type":"mqtt out","z":"d23db98.7555548","g":"7f01c148.99385","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1360,"y":280,"wires":[]},{"id":"f75e89fd.ffe1a8","type":"function","z":"d23db98.7555548","g":"7f01c148.99385","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (AL2)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1195,"y":280,"wires":[[]],"l":false},{"id":"108a6a98.9375e5","type":"comment","z":"d23db98.7555548","g":"7f01c148.99385","name":"Save uniqueId to device attributes","info":"","x":1320,"y":240,"wires":[]},{"id":"935c1ce9.7dbcb","type":"debug","z":"d23db98.7555548","g":"7f01c148.99385","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":131,"wires":[],"l":false},{"id":"98bb5437.420ba8","type":"debug","z":"d23db98.7555548","g":"7f01c148.99385","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":91,"wires":[],"l":false},{"id":"709f0af7.7ff0e4","type":"debug","z":"d23db98.7555548","g":"7f01c148.99385","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":100,"wires":[]},{"id":"ded2dc6e.0f1a6","type":"debug","z":"d23db98.7555548","g":"7f01c148.99385","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":120,"wires":[]},{"id":"e1fdeaa9.eb1fe8","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1360,"wires":[["908427db.6427b8"]]},{"id":"908427db.6427b8","type":"change","z":"9f40e478.db9bd8","name":"","rules":[{"t":"set","p":"lastSuccessfulRun","pt":"flow","to":"2025-04-22T00:00:00.000Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1360,"wires":[[]]},{"id":"7626657c.26135c","type":"http in","z":"9f40e478.db9bd8","name":"Shopping Total consumption SUM","url":"/dash_api/shopping_total_consumption_sum/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":200,"y":2520,"wires":[["b60888ee.423108"]]},{"id":"b60888ee.423108","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,  \n    SUM(value) / 1000 AS total_consumption_kwh\nFROM\n    consumption_realtime\nWHERE         \n    timestamp BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) \nGROUP BY\n    day                       \nORDER BY\n    day;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":470,"y":2520,"wires":[["21714f1a.585bf"]]},{"id":"21714f1a.585bf","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":740,"y":2520,"wires":[]},{"id":"89b260fd.ace0d","type":"http in","z":"9f40e478.db9bd8","name":"Min and Max demand","url":"/dash_api/demand/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2240,"wires":[["4faf8287.e1c4bc"]]},{"id":"4faf8287.e1c4bc","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    MIN(min_hourly_value) AS min_daily_demand,\n    MAX(max_hourly_value) AS max_daily_demand\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":510,"y":2240,"wires":[["6793db43.b52064"]]},{"id":"6793db43.b52064","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":740,"y":2240,"wires":[]},{"id":"3426fc19.b01704","type":"http in","z":"9f40e478.db9bd8","name":"Shopping Total pulses SUM","url":"/dash_api/shopping_total_pulses_sum/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2600,"wires":[["5493aa10.b23ea4"]]},{"id":"5493aa10.b23ea4","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n   day,\n   SUM(value) AS total_consumption_liters\nFROM (\n   SELECT\n       time_bucket('1 day', timestamp) AS day,\n       value\n   FROM\n       channel_pulse_log\n   WHERE\n        timestamp BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000) \n) AS subquery\nGROUP BY\n   day\nORDER BY\n   day;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":490,"y":2600,"wires":[["8747f45f.b23fa8"]]},{"id":"8747f45f.b23fa8","type":"http response","z":"9f40e478.db9bd8","name":"","statusCode":"200","headers":{},"x":720,"y":2600,"wires":[]},{"id":"571b04be.773b1c","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":3160,"wires":[["bd05dbfb.1d2398"]]},{"id":"bd05dbfb.1d2398","type":"function","z":"9f40e478.db9bd8","name":"","func":"const name = \"3F SCP0DXXX Kopenhagen \";\n\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3160,"wires":[["3280d7c.e1a3228","c243d987.237fd8"]]},{"id":"3280d7c.e1a3228","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS consumption_date,                           \n    SUM(value) / 1000 AS total_consumption_kwh, \n    COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)) AS total_hours, \n    (SUM(value) / 1000) / NULLIF(COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)), 0) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE\nslave_id = {{ msg.payload }}\n        AND    timestamp BETWEEN TO_TIMESTAMP(1741230000)\n            AND TO_TIMESTAMP(1741489200)\nGROUP BY\n    consumption_date                       \nORDER BY\n    consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":500,"y":3160,"wires":[["bb0273df.31a65"]]},{"id":"bb0273df.31a65","type":"debug","z":"9f40e478.db9bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":3160,"wires":[]},{"id":"c243d987.237fd8","type":"postgresql","z":"9f40e478.db9bd8","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    MIN(min_hourly_value)/1000 AS min_daily_demand,\n    MAX(max_hourly_value)/1000 AS max_daily_demand\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.payload }}\n        AND \n   timestamp BETWEEN TO_TIMESTAMP(1741230000)\n            AND TO_TIMESTAMP(1741489200)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":510,"y":3120,"wires":[["bded1824.0c66f8"]]},{"id":"bded1824.0c66f8","type":"debug","z":"9f40e478.db9bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":3120,"wires":[]},{"id":"ad6b280c.da28e8","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":3200,"wires":[["acffb915.188008"]]},{"id":"acffb915.188008","type":"function","z":"9f40e478.db9bd8","name":"","func":"const name = \"3F SCP0LXXX Outback\"\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3200,"wires":[["c11077a7.33c528"]]},{"id":"c11077a7.33c528","type":"debug","z":"9f40e478.db9bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":3200,"wires":[]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1180,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"786014a5.2c487c","type":"inject","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1180,"wires":[["2920c7dd.625ff8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1180,"wires":[["bf0570b5.73ee8","909d4384.2ad36"]]},{"id":"909d4384.2ad36","type":"debug","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":555,"y":1220,"wires":[],"l":false},{"id":"7416219b.e3dc5","type":"function","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\n// Extrai o multiplicador do nome do device (ex: \"Hidr. Name x100 2810m3\" -> 100)\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\n// Remove o multiplicador do nome do device (ex: \"Hidr. Name x100 2810m3\" -> \"Hidr. Name 2810m3\")\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n  return null;\n}\n\n// Agrupa por nome limpo, aplicando o multiplicador nos pulsos\nmsg.payload = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  const cleanName = getNameWithoutMultipliers(device.name);\n  const multiplier = getMultiplier(device.name);\n  const multipliedPulses = reading.value * multiplier;\n  const ts = new Date(reading.timestamp).getTime();\n\n  if (!(cleanName in acc)) {\n    acc[cleanName] = [];\n  }\n\n  acc[cleanName].push({\n    ts: ts,\n    values: { pulses: multipliedPulses },\n  });\n\n  return acc;\n}, {});\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1180,"wires":[["9b58ea20.906e18","a3621c83.8b462"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":695,"y":1220,"wires":[],"l":false},{"id":"f2e09fc0.c5039","type":"function","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1220,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1220,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","links":["dc43faa3.6655e8","70ab5ed0.0dc2b","9f905f0e.09722"],"x":915,"y":1180,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":915,"y":1220,"wires":[],"l":false},{"id":"bdca7b0c.2358b8","type":"debug","z":"9f40e478.db9bd8","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":1220,"wires":[],"l":false},{"id":"9889223f.decf9","type":"function","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","func":"const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2760,"wires":[["78046b3b.3519d4"]]},{"id":"7ddbb494.49cacc","type":"http response","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","statusCode":"200","headers":{},"x":880,"y":2760,"wires":[]},{"id":"78046b3b.3519d4","type":"postgresql","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS consumption_date,                           \n    SUM(value) / 1000 AS total_consumption_kwh, \n    COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)) AS total_hours, \n    (SUM(value) / 1000) / NULLIF(COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)), 0) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE\nslave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    consumption_date                       \nORDER BY\n    consumption_date;","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":2760,"wires":[["7ddbb494.49cacc","8cdcc4c5.669a68"]]},{"id":"38549a7b.de39a6","type":"http in","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Average Consumption v3","url":"/dash_api/avg_consumption_v3/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2760,"wires":[["9889223f.decf9","6a92565c.c1664"]]},{"id":"ad0753db.01fe2","type":"http in","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Min and Max demand V2","url":"/dash_api/demand_v2/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2800,"wires":[["3e11d099.d0a6e","6a92565c.c1664"]]},{"id":"91212409.542d28","type":"postgresql","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    MIN(min_hourly_value)/1000 AS min_daily_demand,\n    MAX(max_hourly_value)/1000 AS max_daily_demand\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"2b839205.afdc7e","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":2800,"wires":[["e3b791bf.40392","8cdcc4c5.669a68"]]},{"id":"e3b791bf.40392","type":"http response","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","statusCode":"200","headers":{},"x":880,"y":2800,"wires":[]},{"id":"3e11d099.d0a6e","type":"function","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","func":"const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2800,"wires":[["91212409.542d28"]]},{"id":"7d0acf41.dcb6a","type":"comment","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Consumption report V3","info":"","x":160,"y":2720,"wires":[]},{"id":"fe021367.13df3","type":"http response","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","statusCode":"200","headers":{},"x":880,"y":2840,"wires":[]},{"id":"7cbe53c8.bf1d7c","type":"http in","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Total daily consumption sum","url":"dash_api/v2/total_daily_consumption/:names/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2840,"wires":[["2e86ad59.46d2b2","6a92565c.c1664"]]},{"id":"2e86ad59.46d2b2","type":"function","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","func":"let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    // const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\n    const cleanName = name.replace(/ \\([^)]*\\)$/, '');\n\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2840,"wires":[["1bbb2293.ec2efd"]]},{"id":"1bbb2293.ec2efd","type":"postgresql","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\ndaily_sums AS (\n    SELECT\n        DATE_TRUNC('day', hour) AS day,\n        slave_id,\n        SUM(hourly_avg) / 1000 AS daily_sum_kwh\n    FROM\n        hourly_data\n    GROUP BY\n        DATE_TRUNC('day', hour),\n        slave_id\n)\nSELECT\n    day,\n    SUM(daily_sum_kwh) AS total_daily_consumption_kwh,\n    AVG(daily_sum_kwh) AS avg_daily_sum_kwh,\n    MIN(daily_sum_kwh) AS min_daily_sum_kwh,\n    MAX(daily_sum_kwh) AS max_daily_sum_kwh\nFROM \n    daily_sums\nGROUP BY\n    day\nORDER BY\n    day;","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":690,"y":2840,"wires":[["fe021367.13df3","8cdcc4c5.669a68"]]},{"id":"e057c77.63ccc38","type":"http in","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Consumption per device in a range.","url":"/dash_api/v2/consumption_per_device/:names/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":200,"y":2880,"wires":[["ed4aa9f1.fcb0e8","6a92565c.c1664"]]},{"id":"ed4aa9f1.fcb0e8","type":"function","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","func":"let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    // const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\n    const cleanName = name.replace(/ \\([^)]*\\)$/, '');\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2880,"wires":[["6445630e.b148bc","8cdcc4c5.669a68"]]},{"id":"6445630e.b148bc","type":"postgresql","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":710,"y":2880,"wires":[["c2a48097.93796","8cdcc4c5.669a68"]]},{"id":"c2a48097.93796","type":"http response","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","statusCode":"200","headers":{},"x":880,"y":2880,"wires":[]},{"id":"14eedf65.09f091","type":"http in","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"Consumption per specific device in range","url":"/dash_api/v2/consumption_per_specific_device/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":2920,"wires":[["8134faaf.7c67f8"]]},{"id":"8134faaf.7c67f8","type":"function","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","func":"const name = msg.req.params.name;\nconst devices = flow.get('devices') || {};\n\n\nconst cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\n// const cleanName = name.replace(/ \\([^)]*\\)$/, '');\n    \nif (devices[cleanName]) {\n    if (!devices[cleanName].slaveId) {\n        node.warn('Device has no slave id:' + cleanName);\n        return null;\n    }\n    \n    msg.slaveId = devices[cleanName].slaveId;\n    return msg;\n}\n\nnode.warn(`Dispositivo não encontrado: ${cleanName}`);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":2920,"wires":[["af9ad074.d1e41"]]},{"id":"af9ad074.d1e41","type":"postgresql","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","query":"WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.slaveId }}\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    DATE_TRUNC('day', hour) AS day,\n    AVG(hourly_avg) / 1000 AS avg_consumption,\n    MIN(hourly_avg) / 1000 AS min_consumption,\n    MAX(hourly_avg) / 1000 AS max_consumption,\n    SUM(hourly_avg) / 1000 AS total_consumption\nFROM \n    hourly_data\nGROUP BY\n    DATE_TRUNC('day', hour)\nORDER BY\n    day;","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":710,"y":2920,"wires":[["ad72ff08.0c124","8cdcc4c5.669a68"]]},{"id":"ad72ff08.0c124","type":"http response","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","statusCode":"200","headers":{},"x":880,"y":2920,"wires":[]},{"id":"fa85e0d2.5192a","type":"function","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","func":"let nameParam = msg.req.params.name;\nlet nameArray = nameParam.split(\",\");\nlet ids = [];\n\nconst devices = flow.get('devices') || {};\n\nnameArray.forEach(data => {\n    let rawName = data.split(\" (Campinas Shopping)\")[0].trim();\n    node.warn(`rawName: ${rawName}`);\n    let name;\n\n    if (rawName === \"Di_gaspi\" || rawName === \"Poupa_Tempo\" || rawName === \"Poupa_tempo\") {\n        name = \"Hidr. \" + rawName + \" x10 0m3\";\n    } else if (rawName === \"Smart_Fit\") {\n        name = \"Hidr. \" + rawName + \" x100 0m3\";\n    } else if (rawName.includes(\"Renner\")||rawName.includes(\"Padoca\")||rawName.includes(\"Poupa_tempo\")) {\n        name = rawName;\n    } else if(rawName.includes(\"Hidrometro Smart Fit\")){\n        name = \"Hidr. Smart_Fit x100 0m3\"\n    }else {\n        name = \"Hidr. \" + rawName + \" x1 0m3\";\n    }\n\n    const device = devices[name];\n\n    if (device && device.slaveId !== undefined) {\n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + name);\n    }\n});\n\nmsg.payload = ids.join(\",\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":2800,"wires":[["43fe34df.35640c","35d1079c.ec9d28"]]},{"id":"43fe34df.35640c","type":"postgresql","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    totals_per_slave d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1610,"y":2800,"wires":[["36335b1f.5b7414","606318c5.5a91d8"]]},{"id":"36335b1f.5b7414","type":"http response","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","statusCode":"200","headers":{},"x":1800,"y":2800,"wires":[]},{"id":"384506d4.58015a","type":"function","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","func":"let name = msg.req.params.name\nname = name.split(\" (Campinas Shopping)\")[0]\nif(name ===\"Renner\"||name===\"Di_gaspi\"||name===\"Poupa_Tempo\"){\n    name = \"Hidr. \" + name +\" x10 0m3\"\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;\n}\nif(name === \"Smart_Fit\"){\n    name = \"Hidr. \" + name +\" x100 0m3\"\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;\n}\nname = \"Hidr. \" + name + \" x1 0m3\"\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":2880,"wires":[["37677ed2.009c22"]]},{"id":"37677ed2.009c22","type":"postgresql","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1610,"y":2880,"wires":[["95615534.f0f3f8"]]},{"id":"95615534.f0f3f8","type":"http response","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","statusCode":"200","headers":{},"x":1800,"y":2880,"wires":[]},{"id":"545b8bed.6786c4","type":"comment","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"Pulses report","info":"Pulses report","x":1170,"y":2740,"wires":[]},{"id":"3f5c9de1.f00652","type":"postgresql","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1525.0000305175781,"y":2942,"wires":[["9e26dc76.377fb"]]},{"id":"9e26dc76.377fb","type":"http response","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","statusCode":"200","headers":{},"x":1795.0000305175781,"y":2942,"wires":[]},{"id":"606318c5.5a91d8","type":"debug","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1790,"y":2740,"wires":[]},{"id":"35d1079c.ec9d28","type":"debug","z":"9f40e478.db9bd8","g":"45e4d602.bf0e68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1550,"y":2720,"wires":[]},{"id":"8cdcc4c5.669a68","type":"debug","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":2720,"wires":[]},{"id":"6a92565c.c1664","type":"debug","z":"9f40e478.db9bd8","g":"acb15fd3.912c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":2720,"wires":[]},{"id":"180396ed.9c2dc1","type":"http in","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"Average Consumption pulses V2","url":"/dash_api/devices_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":1230,"y":3100,"wires":[["4747b982.ca588"]]},{"id":"4747b982.ca588","type":"function","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":3100,"wires":[["5ed3c803.d0bdf"]]},{"id":"5ed3c803.d0bdf","type":"postgresql","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    d.slave_id,\n    s.name AS device_name,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    totals_per_slave d\nLEFT JOIN\n    max_min_hours m ON d.slave_id = m.slave_id\nJOIN\n    slaves s ON s.id = d.slave_id\nORDER BY\n    d.slave_id;\n","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1690,"y":3100,"wires":[["ec87595d.fe417"]]},{"id":"c0e20bb3.2c0bd","type":"http response","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","statusCode":"200","headers":{},"x":2060,"y":3100,"wires":[]},{"id":"56365590.b97bbc","type":"http in","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"Daily Devices Pulses V2","url":"/dash_api/demand_pulses/:name/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":1210,"y":3140,"wires":[["3e5f2751.d804f"]]},{"id":"3e5f2751.d804f","type":"function","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","func":"const nameParam = msg.req.params.name;\nconst nameArray = nameParam.split(\",\");\nconst ids = [];\n\nconst devicesObj = flow.get('devices') || {};\nconst devicesArray = Object.values(devicesObj); \nnode.warn(\"deviceArray\", devicesArray);\n\nnameArray.forEach(data => {\n    const device = devicesArray.find(device => \n        device.name && device.name.indexOf(data) > -1 \n    );\n    node.warn(device);\n    \n    if (device && device.slaveId !== undefined) { \n        ids.push(device.slaveId);\n    } else {\n        node.warn(\"Dispositivo não encontrado para: \" + data);\n    }\n});\nmsg.payload = ids.join(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":3140,"wires":[["a762f79e.6fffd","622841a2.ebb198"]]},{"id":"a762f79e.6fffd","type":"postgresql","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 day', cpl.timestamp, INTERVAL '3 hours') AS consumption_date,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L,\n        COALESCE(CAST((regexp_match(c.name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels c\n    LEFT JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    WHERE\n        c.slave_id = {{ msg.payload }}\n        AND c.channel = 1\n    GROUP BY\n        c.slave_id, c.name, consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L * multiplier) / 1000 AS total_consumption_m3,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L * multiplier) / 1000 AS max_hourly_consumption_m3,\n        MIN(hourly_consumption_L * multiplier) / 1000 AS min_hourly_consumption_m3,\n        multiplier\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date, multiplier\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.max_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN (h.hourly_consumption_L * h.multiplier) / 1000 = d.min_hourly_consumption_m3 \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    to_char(d.consumption_date, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS consumption_date,\n    ROUND(d.total_consumption_m3::numeric, 2) AS total_consumption_m3,\n    d.active_hours,\n    ROUND((d.total_consumption_m3 / NULLIF(d.active_hours, 0))::numeric, 2) AS avg_m3_per_hour,\n    ROUND(d.max_hourly_consumption_m3::numeric, 2) AS max_hourly_consumption_m3,\n    ROUND(d.min_hourly_consumption_m3::numeric, 2) AS min_hourly_consumption_m3,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nWHERE\n    d.consumption_date >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n    AND d.consumption_date < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1690,"y":3140,"wires":[["6a03dfe7.128358","205a5dbc.afc31a"]]},{"id":"6a03dfe7.128358","type":"http response","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","statusCode":"200","headers":{},"x":2060,"y":3140,"wires":[]},{"id":"6e877348.5df3b4","type":"comment","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"Pulses report V2","info":"Pulses report","x":1180,"y":3040,"wires":[]},{"id":"41e5408b.81f7a","type":"http in","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"Average Consumption lojas Agua","url":"/dash_api/lojas_consumption_pulses/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":1230,"y":3180,"wires":[["6ee68483.9a5b54"]]},{"id":"6ee68483.9a5b54","type":"postgresql","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","query":"WITH hourly_metrics AS (\n    SELECT\n        time_bucket('1 day', timestamp) AS consumption_date,\n        time_bucket('1 hour', timestamp) AS consumption_hour,\n        SUM(value) AS hourly_consumption_L\n    FROM\n        channel_pulse_log\n    WHERE\n        timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND value >= 0\n    GROUP BY\n        consumption_date, consumption_hour\n),\ndaily_metrics AS (\n    SELECT\n        consumption_date,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        consumption_date\n),\nmax_min_hours AS (\n    SELECT\n        h.consumption_date,\n        MAX(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM (h.consumption_hour AT TIME ZONE 'UTC' AT TIME ZONE 'America/Sao_Paulo')) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        daily_metrics d\n    ON\n        h.consumption_date = d.consumption_date\n    GROUP BY\n        h.consumption_date\n)\nSELECT\n    d.consumption_date,\n    d.total_consumption_L,\n    d.active_hours,\n    ROUND(d.total_consumption_L / NULLIF(d.active_hours, 0)::numeric, 2) AS avg_L_per_hour,\n    d.max_hourly_consumption_L,\n    d.min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    daily_metrics d\nLEFT JOIN\n    max_min_hours m\nON\n    d.consumption_date = m.consumption_date\nORDER BY\n    d.consumption_date;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1690,"y":3180,"wires":[["9354a979.1ba128"]]},{"id":"9354a979.1ba128","type":"http response","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","statusCode":"200","headers":{},"x":2060,"y":3180,"wires":[]},{"id":"205a5dbc.afc31a","type":"debug","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1835,"y":3060,"wires":[],"l":false},{"id":"622841a2.ebb198","type":"debug","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1635,"y":3060,"wires":[],"l":false},{"id":"ec87595d.fe417","type":"function","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","func":"const devices = msg.payload;\n\nconst processedDevices = devices.map(device => {\n  const multiplierMatch = device.device_name.match(/x(\\d+)/);\n  const multiplier = multiplierMatch ? parseInt(multiplierMatch[1], 10) : 1;\n\n  const cleanedName = device.device_name\n    .replace(/^Hidr\\.\\s*/, '') \n    .replace(/\\s*x\\d+.*$/, ''); \n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device, \n    device_name: cleanedName, \n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString()\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":3100,"wires":[["c0e20bb3.2c0bd"]]},{"id":"f20cd8f9.5501f8","type":"debug","z":"9f40e478.db9bd8","g":"9e4cbc52.cdeea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2015,"y":3060,"wires":[],"l":false},{"id":"9d296fb6.8302b","type":"inject","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["ea3c563b.84ebe8"]]},{"id":"ea3c563b.84ebe8","type":"get-data","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","selectedOption":"slaves","x":300,"y":160,"wires":[["bb638599.31abb8","958abd31.7566"]]},{"id":"bb638599.31abb8","type":"split","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":160,"wires":[["dbf10ba.b4181f8"]]},{"id":"dbf10ba.b4181f8","type":"switch","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":630,"y":160,"wires":[["b0d36d.d7896c9"],["2129af69.05ed6"],["ad1d0e33.cf6f5"]]},{"id":"b0d36d.d7896c9","type":"function","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Transform slave outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":120,"wires":[["ef9886d5.21dae8","7a39ceb3.28125"]]},{"id":"958abd31.7566","type":"change","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[[]]},{"id":"2129af69.05ed6","type":"function","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Transform slave three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":160,"wires":[["ef9886d5.21dae8"]]},{"id":"ad1d0e33.cf6f5","type":"function","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Transform slave infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":200,"wires":[["ef9886d5.21dae8"]]},{"id":"ef9886d5.21dae8","type":"function","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","func":"// const keys = Object.keys(msg.payload);\n\n// const newPayload = keys.reduce((acc, key) => {\n//     acc[`${key} (Benfica)`] = msg.payload[key];\n//     return acc;\n// }, {});\n\n// msg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":160,"wires":[["5d952e9b.da68e"]]},{"id":"ff965f7e.d53cb","type":"debug","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1790,"y":100,"wires":[]},{"id":"5d952e9b.da68e","type":"join","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1390,"y":160,"wires":[["12c16f62.71ddb1"]]},{"id":"12c16f62.71ddb1","type":"function","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":160,"wires":[["ff965f7e.d53cb","5820ee2f.90f"]]},{"id":"5820ee2f.90f","type":"change","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":160,"wires":[[]]},{"id":"7a39ceb3.28125","type":"debug","z":"9f40e478.db9bd8","g":"6aa2d64c.7c2d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1280,"y":100,"wires":[]},{"id":"8eb847e0.0fa82","type":"comment","z":"9f40e478.db9bd8","g":"a5110fd6.075088","name":"Consumption report V5","info":"","x":180,"y":3320,"wires":[]},{"id":"4a172eae.bd4758","type":"http in","z":"9f40e478.db9bd8","g":"a5110fd6.075088","name":"Consumption per device in a range.","url":"/dash_api/v3/consumption_per_device/:slaveIds/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":220,"y":3400,"wires":[["be40bd95.7cb268"]]},{"id":"be40bd95.7cb268","type":"function","z":"9f40e478.db9bd8","g":"a5110fd6.075088","name":"","func":"let slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(',');\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":3400,"wires":[["18182764.537c71"]]},{"id":"18182764.537c71","type":"postgresql","z":"9f40e478.db9bd8","g":"a5110fd6.075088","name":"","query":"WITH hourly_data AS (\n    SELECT\n        cr.slave_id,\n        time_bucket('1 hour', cr.timestamp) AS hour,\n        AVG(cr.value) AS hourly_avg\n    FROM\n        consumption_realtime cr\n    JOIN \n        slaves s ON cr.slave_id = s.id\n    WHERE\n        cr.slave_id IN ({{ msg.payload }})\n        AND cr.timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND (cr.value / 3.0) <= (\n            CASE COALESCE(s.clamp_type, '0')\n                WHEN '0' THEN 50\n                WHEN '1' THEN 100\n                WHEN '2' THEN 400\n                WHEN '3' THEN 1000\n                WHEN '4' THEN 2000\n                WHEN '5' THEN 1600\n                WHEN '6' THEN 1000\n                ELSE 0\n            END * 220\n        )\n    GROUP BY\n        cr.slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;\n","postgreSQLConfig":"6eac0185.312bb","split":false,"rowsPerMsg":1,"outputs":1,"x":710,"y":3400,"wires":[["54e389e6.219ce8"]]},{"id":"54e389e6.219ce8","type":"http response","z":"9f40e478.db9bd8","g":"a5110fd6.075088","name":"","statusCode":"200","headers":{},"x":900,"y":3400,"wires":[]},{"id":"2598f2e2.4fddbe","type":"mqtt out","z":"9f40e478.db9bd8","name":"Attribute","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"bd54f231ef2e11512c4a","x":2240,"y":1320,"wires":[]},{"id":"25eecffa.a05f98","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1570,"y":3520,"wires":[["3cd865e4.36d6aa"]]},{"id":"3cd865e4.36d6aa","type":"debug","z":"9f40e478.db9bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1740,"y":3520,"wires":[]},{"id":"51884ade.2285fc","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1520,"y":1280,"wires":[["870b4b02.f0648"]]},{"id":"870b4b02.f0648","type":"function","z":"9f40e478.db9bd8","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (const key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    const match = key.match(/^(.*?)\\s*x(\\d+)/);\n    if (!match) {\n        continue;\n    }\n\n    const actualName = match[1].trim();\n    const multiplier = parseInt(match[2], 10);\n\n    payload[`${actualName} (Campinas Shopping)`] = {\n        centralId: centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\n\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":1280,"wires":[["bc5c8a8e.43d848"]]},{"id":"cdd71ff9.6eca4","type":"comment","z":"9f40e478.db9bd8","name":"Slave Id + Central Id","info":"","x":1550,"y":1240,"wires":[]},{"id":"bc5c8a8e.43d848","type":"debug","z":"9f40e478.db9bd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1940,"y":1280,"wires":[]},{"id":"96923ebd.034c7","type":"function","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":420,"wires":[["79d80ed.23776f","ee2b61c1.a7dc8"]]},{"id":"e71a0cd4.d0e97","type":"inject","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1520,"y":480,"wires":[["96923ebd.034c7"]]},{"id":"79d80ed.23776f","type":"debug","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1920,"y":480,"wires":[]},{"id":"16bf6db.8729292","type":"function","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1535,"y":420,"wires":[["96923ebd.034c7"]],"l":false},{"id":"c679bdd1.0c0f","type":"link in","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"","links":["6a8d76a0.316138","fc544c8d.06834","4c51ea40.64a4e4","bca8fcee.f61da","27b46fbd.c51ed","737a7284.a50ecc","e56cde5c.56f23","ce30e30e.34805","df4fb9f6.4d2108","53a6ab82.0071c4"],"x":1455,"y":420,"wires":[["16bf6db.8729292"]]},{"id":"ee2b61c1.a7dc8","type":"mqtt out","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1940,"y":420,"wires":[]},{"id":"9f905f0e.09722","type":"link in","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"Bypass ","links":["9b58ea20.906e18","d72b2f31.1d04c","1922c7b3.d9d89"],"x":1495,"y":540,"wires":[["60e64a15.adb994"]]},{"id":"60e64a15.adb994","type":"function","z":"9f40e478.db9bd8","g":"1bd4752d.ae856b","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1575,"y":540,"wires":[["ee2b61c1.a7dc8"]],"l":false},{"id":"5b293390.7576ec","type":"inject","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/709ce272-8f39-4a61-9ff9-cf2aab31ef66","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":100,"wires":[["64dafb43.3da354"]]},{"id":"9a0cae02.6e1378","type":"http request","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["8a7b6697.32bbf"]]},{"id":"8a7b6697.32bbf","type":"switch","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":100,"wires":[["5b970498.65f12c"],["156cda2.7437b26","c4dd6b3c.744168"]]},{"id":"5b970498.65f12c","type":"debug","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"Healthcheck sent.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"156cda2.7437b26","type":"debug","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"Healthcheck failed.","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"c4dd6b3c.744168","type":"function","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[[]]},{"id":"64dafb43.3da354","type":"function","z":"d415fa7.58cd708","g":"c021c00a.aa25b8","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":100,"wires":[["9a0cae02.6e1378"]],"l":false},{"id":"47c34aee.a07014","type":"http in","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"Average Consumption pulses V2","url":"/dash_api/v2/devices_pulses/:slaveIds/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":1230,"y":3380,"wires":[["1a2629b7.702b76"]]},{"id":"1a2629b7.702b76","type":"function","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"","func":"const slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(\",\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":3380,"wires":[["480ad22c.973434"]]},{"id":"480ad22c.973434","type":"postgresql","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"","query":"WITH channel_info AS (\n    SELECT\n        slave_id,\n        name,\n        COALESCE(CAST((regexp_match(name, 'x([0-9.]+)'))[1] AS FLOAT), 1) AS multiplier\n    FROM\n        channels\n    WHERE\n        slave_id = ANY (ARRAY[{{ msg.payload }}])\n        AND channel = 1\n),\nhourly_metrics AS (\n    SELECT\n        c.slave_id,\n        time_bucket('1 hour', cpl.timestamp) AS consumption_hour,\n        SUM(cpl.value) AS hourly_consumption_L\n    FROM\n        channel_info c\n    INNER JOIN\n        channel_pulse_log cpl\n        ON c.slave_id = cpl.slave_id\n        AND cpl.timestamp >= TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND cpl.timestamp < TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n        AND cpl.value >= 0\n        AND cpl.channel = 1\n    GROUP BY\n        c.slave_id, consumption_hour\n),\ntotals_per_slave AS (\n    SELECT\n        slave_id,\n        SUM(hourly_consumption_L) AS total_consumption_L,\n        COUNT(DISTINCT EXTRACT(HOUR FROM consumption_hour)) AS active_hours,\n        MAX(hourly_consumption_L) AS max_hourly_consumption_L,\n        MIN(hourly_consumption_L) AS min_hourly_consumption_L\n    FROM\n        hourly_metrics\n    GROUP BY\n        slave_id\n),\nmax_min_hours AS (\n    SELECT\n        h.slave_id,\n        MIN(CASE WHEN h.hourly_consumption_L = d.max_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_max_consumption,\n        MIN(CASE WHEN h.hourly_consumption_L = d.min_hourly_consumption_L \n                 THEN EXTRACT(HOUR FROM h.consumption_hour) END) AS hour_of_min_consumption\n    FROM\n        hourly_metrics h\n    JOIN\n        totals_per_slave d ON h.slave_id = d.slave_id\n    GROUP BY\n        h.slave_id\n)\nSELECT\n    c.slave_id,\n    c.name AS device_name,\n    COALESCE(d.total_consumption_L, 0) AS total_consumption_L,\n    c.multiplier,\n    (COALESCE(d.total_consumption_L, 0) * c.multiplier) / 1000 AS total_consumption_m3,\n    COALESCE(d.active_hours, 0) AS active_hours,\n    COALESCE(d.max_hourly_consumption_L, 0) AS max_hourly_consumption_L,\n    COALESCE(d.min_hourly_consumption_L, 0) AS min_hourly_consumption_L,\n    m.hour_of_max_consumption,\n    m.hour_of_min_consumption\nFROM\n    channel_info c\nLEFT JOIN\n    totals_per_slave d ON c.slave_id = d.slave_id\nLEFT JOIN\n    max_min_hours m ON c.slave_id = m.slave_id\nORDER BY\n    total_consumption_m3 DESC;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1690,"y":3380,"wires":[["34bc67a7.c97928"]]},{"id":"b07659c5.04a06","type":"http response","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"","statusCode":"200","headers":{},"x":2060,"y":3380,"wires":[]},{"id":"57b55760.3b8be8","type":"comment","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"Pulses report V4","info":"Pulses report","x":1180,"y":3320,"wires":[]},{"id":"34bc67a7.c97928","type":"function","z":"9f40e478.db9bd8","g":"86a02b29.4ee2b","name":"","func":"const devices = msg.payload;\n\nconst processedDevices = devices.map(device => {\n  const multiplierMatch = device.device_name.match(/x(\\d+)/);\n  const multiplier = multiplierMatch ? parseInt(multiplierMatch[1], 10) : 1;\n\n  const cleanedName = device.device_name\n    .replace(/^Hidr\\.\\s*/, '') \n    .replace(/\\s*x\\d+.*$/, ''); \n\n  const totalConsumptionL = parseFloat(device.total_consumption_l) * multiplier;\n  const maxHourlyConsumptionL = parseFloat(device.max_hourly_consumption_l) * multiplier;\n  const minHourlyConsumptionL = parseFloat(device.min_hourly_consumption_l) * multiplier;\n  const avgLPerHour = parseFloat(device.avg_l_per_hour) * multiplier;\n\n  return {\n    ...device, \n    device_name: cleanedName, \n    total_consumption_l: totalConsumptionL.toString(),\n    max_hourly_consumption_l: maxHourlyConsumptionL.toString(),\n    min_hourly_consumption_l: minHourlyConsumptionL.toString(),\n    avg_l_per_hour: avgLPerHour.toString()\n  };\n});\n\nmsg.payload = processedDevices;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1880,"y":3380,"wires":[["b07659c5.04a06"]]},{"id":"2df119a.ada5666","type":"mqtt in","z":"1e79300a.a31af","name":"","topic":"gateway/1b5d79c4-5fc6-46c4-bd05-89e8b1499920/fetch","qos":"2","datatype":"auto-detect","broker":"b84e4a36.91cd38","x":290,"y":220,"wires":[["8cc31f1d.f5609","354686a2.81bcea"]]},{"id":"d62d12d9.a1fb68","type":"postgresql","z":"1e79300a.a31af","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value)          AS value,\n  AVG(cr.value_reactive) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":830,"y":180,"wires":[["76ef34e5.2f5bac"]]},{"id":"f0d2de48.509ba8","type":"function","z":"1e79300a.a31af","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-11-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":675,"y":200,"wires":[["d62d12d9.a1fb68"],["ca09d3da.220e4"]],"l":false},{"id":"ca09d3da.220e4","type":"mqtt out","z":"1e79300a.a31af","name":"","topic":"","qos":"","retain":"","broker":"b84e4a36.91cd38","x":1050,"y":220,"wires":[]},{"id":"1366e254.687e56","type":"postgresql","z":"1e79300a.a31af","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":830,"y":240,"wires":[["ca09d3da.220e4"]]},{"id":"17daf19e.537e56","type":"function","z":"1e79300a.a31af","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":675,"y":240,"wires":[["1366e254.687e56"]],"l":false},{"id":"76ef34e5.2f5bac","type":"function","z":"1e79300a.a31af","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":955,"y":180,"wires":[["ca09d3da.220e4"]],"l":false},{"id":"eb5c2514.e845a8","type":"inject","z":"1e79300a.a31af","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":170,"y":120,"wires":[["e95e2ae9.f18dc8"]]},{"id":"e95e2ae9.f18dc8","type":"debug","z":"1e79300a.a31af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":305,"y":120,"wires":[],"l":false},{"id":"8cc31f1d.f5609","type":"json","z":"1e79300a.a31af","name":"","property":"payload","action":"","pretty":false,"x":570,"y":200,"wires":[["f0d2de48.509ba8"]]},{"id":"354686a2.81bcea","type":"json","z":"1e79300a.a31af","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["17daf19e.537e56"]]},{"id":"2b591926.8e5f8e","type":"function","z":"1e79300a.a31af","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":320,"wires":[["98cac605.97f1d8","351dd810.280f18"]]},{"id":"19ea4e10.d1d2ca","type":"inject","z":"1e79300a.a31af","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["2b35ee10.59a702"]]},{"id":"351dd810.280f18","type":"mqtt out","z":"1e79300a.a31af","name":"","topic":"","qos":"","retain":"","broker":"b84e4a36.91cd38","x":770,"y":320,"wires":[]},{"id":"2b35ee10.59a702","type":"postgresql","z":"1e79300a.a31af","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":320,"wires":[["b1673b5e.ec9d48"]]},{"id":"b1673b5e.ec9d48","type":"function","z":"1e79300a.a31af","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":475,"y":320,"wires":[["2b591926.8e5f8e"]],"l":false},{"id":"98cac605.97f1d8","type":"debug","z":"1e79300a.a31af","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"f985c7a0.56d648","type":"comment","z":"1e79300a.a31af","name":"1. Get the central UUID here","info":"It will appear on the logs","x":200,"y":80,"wires":[]},{"id":"3b24f6b5.9c6a1a","type":"comment","z":"1e79300a.a31af","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":250,"y":180,"wires":[]},{"id":"11fd35a7.a6cea2","type":"comment","z":"1e79300a.a31af","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":240,"y":280,"wires":[]},{"id":"20a10c15.d113cc","type":"comment","z":"1e79300a.a31af","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":180,"y":400,"wires":[]},{"id":"c458485c.65d7c8","type":"inject","z":"9f40e478.db9bd8","g":"e2863feb.d7fdd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1530,"y":660,"wires":[["5c3ce61f.fa496"]]},{"id":"5c3ce61f.fa496","type":"http request","z":"9f40e478.db9bd8","g":"e2863feb.d7fdd","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1570,"y":720,"wires":[["9c673c08.6b5598"]]},{"id":"9c673c08.6b5598","type":"function","z":"9f40e478.db9bd8","g":"e2863feb.d7fdd","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1580,"y":800,"wires":[["1922c7b3.d9d89"]]},{"id":"1922c7b3.d9d89","type":"link out","z":"9f40e478.db9bd8","g":"e2863feb.d7fdd","name":"link out 3","links":["36b5efb3ab8764e1","5579a5e6.a0c3ec","9f905f0e.09722"],"x":1735,"y":700,"wires":[]},{"id":"af86076c.d4679","type":"inject","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["c27f55e9.c95688"]]},{"id":"c27f55e9.c95688","type":"postgresql","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":380,"y":280,"wires":[["2dc00081.45099","65a03d4.c3e8d44","16484900.ddf497"]]},{"id":"2dc00081.45099","type":"debug","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"65a03d4.c3e8d44","type":"function","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["6e5e348c.19e5f4","7ec56e0.c8bee14"]]},{"id":"6e5e348c.19e5f4","type":"debug","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":320,"wires":[]},{"id":"7ec56e0.c8bee14","type":"change","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[[]]},{"id":"16484900.ddf497","type":"function","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":555,"y":400,"wires":[["e48669ea.6077d"]],"l":false},{"id":"e48669ea.6077d","type":"mqtt out","z":"d415fa7.58cd708","g":"993ca302.947908","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":750,"y":400,"wires":[]},{"id":"264a3098.04c858","type":"postgresql","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":350,"y":500,"wires":[["535a37a9.14bf4","a2aa1b4d.3683a"]]},{"id":"a124481c.ce6fb","type":"inject","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["264a3098.04c858"]]},{"id":"535a37a9.14bf4","type":"function","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["9d7862de.6f502","b97d46ef.056c1"]]},{"id":"9d7862de.6f502","type":"debug","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":500,"wires":[]},{"id":"b97d46ef.056c1","type":"change","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":540,"wires":[[]]},{"id":"bdbbc933.c0429","type":"mqtt out","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":770,"y":580,"wires":[]},{"id":"a2aa1b4d.3683a","type":"function","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":615,"y":580,"wires":[["bdbbc933.c0429","412780bd.2b934"]],"l":false},{"id":"412780bd.2b934","type":"debug","z":"d415fa7.58cd708","g":"8959e6f7.a6239","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":620,"wires":[]},{"id":"7e29acad.81c4ec","type":"myio-emitter","z":"9f40e478.db9bd8","x":110,"y":3560,"wires":[["1a872d28.22b3f3"],["1a872d28.22b3f3"],["1a872d28.22b3f3"],[],["1a872d28.22b3f3"],["1a872d28.22b3f3"],[],[],[],["1a872d28.22b3f3"],["1a872d28.22b3f3"],[]]},{"id":"1a872d28.22b3f3","type":"function","z":"9f40e478.db9bd8","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":3540,"wires":[["72d68a2d.7d9d5c"]]},{"id":"72d68a2d.7d9d5c","type":"debug","z":"9f40e478.db9bd8","name":"cabelo curto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":3540,"wires":[]},{"id":"9041a9f0.9033f","type":"function","z":"9f40e478.db9bd8","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":415,"y":3780,"wires":[[]],"l":false},{"id":"4b9078d1.8f8dd8","type":"mqtt out","z":"9f40e478.db9bd8","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":590,"y":3740,"wires":[]},{"id":"54abc9ef.28fd7","type":"inject","z":"9f40e478.db9bd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":3700,"wires":[["2d9007f1.508308"]]},{"id":"cb3ab1a8.36e388","type":"function","z":"9f40e478.db9bd8","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":3700,"wires":[["4b9078d1.8f8dd8","1e95d502.eb2fa3","9041a9f0.9033f"]],"l":false},{"id":"1e95d502.eb2fa3","type":"debug","z":"9f40e478.db9bd8","name":"Pudim de geleia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":3680,"wires":[]},{"id":"2d9007f1.508308","type":"http request","z":"9f40e478.db9bd8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":275,"y":3700,"wires":[["cb3ab1a8.36e388"]],"l":false},{"id":"6f23ca4.e16e734","type":"data-fetcher","z":"1e79300a.a31af","name":"","mqtt":"1afbccb0.7121f3","uuidOverride":"","x":200,"y":600,"wires":[]},{"id":"a8251402.d7b228","type":"inject","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"paylod","v":"CENTRAL_UUID","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1550,"y":980,"wires":[["e544bb62.2e4178"]]},{"id":"e544bb62.2e4178","type":"function","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"","func":"const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '').toUpperCase().normalize('NFD').replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if ( \n         (  upper.includes('MOTR') && !upper.includes('CHILLER') ) \n      || upper.includes('MOTOR') \n      || upper.includes('RECALQUE')\n     ) return 'MOTOR';\n     \n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (upper.includes('ENTRADA') || upper.includes('SUBESTACAO') || upper.includes('SUBESTACAO') || upper.includes('SUBEST')) return 'ENTRADA';\n  \n  if (upper.includes('3F')) { \n        if (upper.includes('CHILLER')) {\n            return 'CHILLER';\n        } else if (upper.includes('FANCOIL')) {\n            return 'FANCOIL';\n        } else if (upper.includes('TRAFO')) {\n            return 'ENTRADA';\n        } else if (upper.includes('ENTRADA')) {\n            return 'ENTRADA';\n        } else if (upper.includes('CAG')) {\n            return 'BOMBA_CAG';\n        } else {\n            return '3F_MEDIDOR';\n        }\n     }\n         \n\n  // WATER\n  if (upper.includes('HIDR') || upper.includes('BANHEIRO')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (upper.includes('CAIXA DAGUA') || upper.includes('CX DAGUA') || upper.includes('CXDAGUA') || upper.includes('SCD'))\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key];\n    \n    if (devices[key].slaveId && devices[key].name) {\n        const cleanName = getNameWithoutMultipliers(device.name);    \n    \n        newDeviceList[cleanName] = {\n            deviceType: handleDeviceType(key),\n            centralId: centralId.\n            slaveId: devices[key].slaveId\n        };\n    }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1080,"wires":[["b9adb032.8163c"]]},{"id":"6defcc41.ae9b84","type":"mqtt out","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1900,"y":960,"wires":[]},{"id":"1eec572d.6fdc29","type":"debug","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":1080,"wires":[]},{"id":"fff07319.e7b37","type":"comment","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"Envia o atributo Central ID dispositivo + deviceType","info":"","x":1630,"y":920,"wires":[]},{"id":"b9adb032.8163c","type":"function","z":"9f40e478.db9bd8","g":"fc684676.31bfb8","name":"add Namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Campinas Shopping)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1040,"wires":[["6defcc41.ae9b84","1eec572d.6fdc29"]]}]