src/NODE-RED/PRAIA-DA-COSTA/L1/bkp-node-red-central-ab589fee-b47b-4577-a7aa-016bf7e6f5b1-2026-04-17-12-34.json
[
  { "id": "12d784c9.16023b", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" },
  { "id": "ae5002ce.763cb", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "e663c840.7159a", "type": "tab", "label": "Flow 3", "disabled": false, "info": "" },
  {
    "id": "6079ae30.11a",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "CENTRAL_UUID",
    "style": { "label": true },
    "nodes": ["fd385c3c.97816", "89654428.c08bf8"],
    "x": 1734,
    "y": 139,
    "w": 472,
    "h": 82
  },
  {
    "id": "a788e406.5ee6e8",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "Calculate kWh V1",
    "style": { "label": true },
    "nodes": [
      "56fdcfb.71f373",
      "244d399d.530e26",
      "84ad714b.9a5bf",
      "bfa8fe3e.d2247",
      "a7dc993a.0a3b28",
      "31519053.1aa4f",
      "f16788cf.e42e48",
      "9af496b5.eae778",
      "15b078fd.30f657",
      "9baf602a.3be42",
      "3a9e9a3d.a9ddb6",
      "6ead45d7.71e98c",
      "f01f9394.5d93",
      "e4ce4bea.5186f8",
      "bf43d662.f9cf58",
      "af9b7447.9df888",
      "2ff3fca7.c76b14",
      "5ac2d7ce.0f1ff8"
    ],
    "x": 34,
    "y": 859,
    "w": 1162,
    "h": 242
  },
  {
    "id": "ac251c99.37e7e",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "Thingsboard",
    "style": { "label": true },
    "nodes": [
      "59483b3d.3faa84",
      "a4a924a3.e44a18",
      "a63e54b8.182d88",
      "3242f5ff.9d3a8a",
      "556178bf.6e1bd8",
      "8fea6ed.bbc8c9",
      "2780176b.6a2c38",
      "ddbad1dd.cf0a2",
      "8eec545f.9ede28"
    ],
    "x": 1474,
    "y": 279,
    "w": 622,
    "h": 202
  },
  {
    "id": "c93928f7.528eb8",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "7f3390f4.2b527",
      "8ecbb671.f3df18",
      "3b6e6995.f10126",
      "f5df6480.ffe408",
      "85b7cc96.8795f",
      "6c636e38.ab99",
      "a627f4a0.401d88",
      "a8e9f6c5.b128d8",
      "cd249588.07fc88",
      "e75aff05.48022",
      "9b4d3f62.cb348",
      "72772d64.b7dde4",
      "8c4a3115.638d",
      "196e6875.c7c5a8",
      "cc2c410f.a0863",
      "a3ff0226.b4d3d"
    ],
    "x": 34,
    "y": 30,
    "w": 1582,
    "h": 231
  },
  {
    "id": "acb15fd3.912c3",
    "type": "group",
    "z": "12d784c9.16023b",
    "style": {
      "stroke": "#2e333a",
      "stroke-opacity": "1",
      "fill": "#2e333a",
      "fill-opacity": "0.75",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "9889223f.decf9",
      "7ddbb494.49cacc",
      "78046b3b.3519d4",
      "38549a7b.de39a6",
      "ad0753db.01fe2",
      "91212409.542d28",
      "e3b791bf.40392",
      "3e11d099.d0a6e",
      "7d0acf41.dcb6a",
      "fe021367.13df3",
      "7cbe53c8.bf1d7c",
      "2e86ad59.46d2b2",
      "1bbb2293.ec2efd",
      "e057c77.63ccc38",
      "ed4aa9f1.fcb0e8",
      "6445630e.b148bc",
      "c2a48097.93796",
      "14eedf65.09f091",
      "8134faaf.7c67f8",
      "af9ad074.d1e41",
      "ad72ff08.0c124",
      "8cdcc4c5.669a68",
      "6a92565c.c1664"
    ],
    "x": 34,
    "y": 1139,
    "w": 972,
    "h": 282
  },
  {
    "id": "ade3f327.47e2f8",
    "type": "group",
    "z": "12d784c9.16023b",
    "style": {
      "stroke": "#2e333a",
      "stroke-opacity": "1",
      "fill": "#2e333a",
      "fill-opacity": "0.75",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "95ee511b.10e268",
      "4c1df8e8.d46ff",
      "82ac12b7.3d0348",
      "4701796.7ec5488",
      "d7245aa4.19158",
      "36f7c3cc.10d6fc",
      "424ec947.f7f2c8"
    ],
    "x": 34,
    "y": 1439,
    "w": 972,
    "h": 162
  },
  {
    "id": "fee84e61.1690f",
    "type": "group",
    "z": "e663c840.7159a",
    "name": "Central Monitor",
    "style": { "label": true },
    "nodes": [
      "b4e6602d.698f38",
      "a456acce.df81",
      "439ca4a7.1523c4",
      "34e283a7.1d0dec",
      "540cb847.913d3",
      "1456e0ea.5d7fef",
      "3533caeb.9e310e"
    ],
    "x": 34,
    "y": 259
  },
  {
    "id": "57915ad0.4bf35c",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "Backfill",
    "style": { "label": true },
    "nodes": [
      "1c8f6e4e.27185a",
      "250caea4.d6ba92",
      "9debdee8.350af8",
      "65210fa.75decf",
      "4c631c3c.745e94",
      "fd117e45.29ba5"
    ],
    "x": 1374,
    "y": 1059,
    "w": 822,
    "h": 122
  },
  {
    "id": "aa61127e.dfa2",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "6a14f3b2.cd8b2c",
      "5de6353b.c9836c",
      "5678a6c3.be7e98",
      "93ee4531.4db7d8",
      "ca7c6620.0b5198",
      "4f64022e.9cb7ec",
      "3222e76f.436098",
      "6f667024.d1f12",
      "d533a111.18fe2",
      "4fcbc1eb.eccfc",
      "5921e588.5a6e3c",
      "daa9d598.ad4b48",
      "da6682b4.03803",
      "3f51507f.fcbcb",
      "ff932835.497da8",
      "6e1ff75e.4dbe98",
      "b502336.ae18dd",
      "70ed4a2b.d46c74",
      "9ed92e5.979edd",
      "ce30e30e.34805",
      "2ae9d86e.868248",
      "22b7b982.5a8756",
      "b2fd8c1e.51fb8"
    ],
    "x": 34,
    "y": 299,
    "w": 1402,
    "h": 522
  },
  {
    "id": "7443397.c9123c8",
    "type": "group",
    "z": "e663c840.7159a",
    "name": "Missing Hidrometers",
    "style": { "label": true },
    "nodes": [
      "6f0033b5.0068ec",
      "e67e6b1c.8e3fa",
      "3590717a.a74a36",
      "dd1c281e.079ad8",
      "2478db9a.c5743c",
      "b286b698.11ec98",
      "f0a628cc.bf76f8",
      "9fe9098.b2612f8"
    ],
    "x": 34,
    "y": 439
  },
  {
    "id": "9050cad2.7fcb8",
    "type": "group",
    "z": "e663c840.7159a",
    "name": "Missing Energy",
    "style": { "label": true },
    "nodes": [
      "5a6c0388.29be5c",
      "f3d0f53.f3c2a08",
      "e0937627.1bae6",
      "18299dd.57abee2",
      "517ce761.897338",
      "19d3d093.4138b7",
      "d411ff39.a9c73",
      "cbdce6e7.fd9fe8"
    ],
    "x": 34,
    "y": 659
  },
  {
    "id": "a7af0275.65e1d8",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": [
      "9d4979db.37a1a8",
      "5397cad3.8fc084",
      "f15aa87f.179d7",
      "28c40b14.e9adb4",
      "1b161b1.5daad65",
      "90620372.9e98d8"
    ],
    "x": 1474,
    "y": 799,
    "w": 612,
    "h": 242
  },
  {
    "id": "e7da3aec.2a4788",
    "type": "group",
    "z": "12d784c9.16023b",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["5a5ef65c.738948", "e86430ab.d8e16", "cc01bafc.aa4898", "f31e69ec.3cc8c", "290ca001.d21f2"],
    "x": 1474,
    "y": 519,
    "w": 512,
    "h": 242
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard PE",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "hafl8y48ipwgcqkzodsb",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "c818a212.4211e",
    "type": "postgreSQLConfig",
    "z": "12d784c9.16023b",
    "name": "Myio",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "hubot",
    "passwordFieldType": "str"
  },
  {
    "id": "6eac0185.312bb",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "127.0.0.1",
    "hostFieldType": "str",
    "port": "5432",
    "portFieldType": "num",
    "database": "hubot",
    "databaseFieldType": "str",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "hubot",
    "userFieldType": "str",
    "password": "hubot",
    "passwordFieldType": "str"
  },
  {
    "id": "2b839205.afdc7e",
    "type": "postgreSQLConfig",
    "z": "9f40e478.db9bd8",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "b7242f71.79e57",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "bf13fbc6.ba4de8",
    "type": "mqtt-broker",
    "name": "Ingestion Myio",
    "broker": "ingestion.myio-bas.com",
    "port": 1883,
    "clientid": "",
    "usetls": false,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "ddd079fd.2a9b7",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "57664f3f.f35eb8",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.data.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "fd385c3c.97816",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "6079ae30.11a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1850,
    "y": 180,
    "wires": [["89654428.c08bf8"]]
  },
  {
    "id": "89654428.c08bf8",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "6079ae30.11a",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2090,
    "y": 180,
    "wires": []
  },
  {
    "id": "56fdcfb.71f373",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "Get last 15 minutes",
    "query": "SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;",
    "postgreSQLConfig": "c818a212.4211e",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 510,
    "y": 900,
    "wires": [["84ad714b.9a5bf", "31519053.1aa4f"]]
  },
  {
    "id": "244d399d.530e26",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "900",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 900,
    "wires": [["bfa8fe3e.d2247"]]
  },
  {
    "id": "84ad714b.9a5bf",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 695,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "bfa8fe3e.d2247",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "func": "function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date(now.getTime() - 15 * 60000);\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .filter(device => device.slaveId !== undefined && device.slaveId !== null)\n    .map(device => device.slaveId)\n\nif (energySensors.length === 0) {\n    node.warn('No energy sensors.');\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 900,
    "wires": [["a7dc993a.0a3b28", "56fdcfb.71f373"]]
  },
  {
    "id": "a7dc993a.0a3b28",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 435,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "31519053.1aa4f",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    // Initialize the array for this device name if it doesn't exist\n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    // Check for a multiplier in the device name using regex\n    let multiplier = 1; // Default multiplier\n    const regex = /x(\\d+)([A-Z]?)/; // Matches patterns like \"x400A\" or \"x400\"\n    const match = device.name.match(regex);\n    \n    if (match) {\n        const value = parseInt(match[1], 10); // The number part, e.g., 400\n        const suffix = match[2]; // The letter part, e.g., \"A\" (or empty if no letter)\n        \n        // If the suffix is \"A\", apply the multiplier\n        if (suffix === \"A\") {\n            multiplier = value;\n        }\n    }\n    \n    // Apply the multiplier to value_wh\n    const adjustedValueWh = reading.value_wh * multiplier;\n    \n    acc[device.name].push({\n        ts: new Date(reading.quinze_min).getTime(),\n        values: {\n            Wh3: adjustedValueWh,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 740,
    "y": 900,
    "wires": [["f16788cf.e42e48", "9af496b5.eae778"]]
  },
  {
    "id": "f16788cf.e42e48",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 915,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "9af496b5.eae778",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "Queue",
    "func": "const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 950,
    "y": 900,
    "wires": [["15b078fd.30f657", "9baf602a.3be42"]]
  },
  {
    "id": "15b078fd.30f657",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1135,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "9baf602a.3be42",
    "type": "link out",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "links": ["ddbad1dd.cf0a2"],
    "x": 1135,
    "y": 900,
    "wires": []
  },
  {
    "id": "3a9e9a3d.a9ddb6",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 1000,
    "wires": [["6ead45d7.71e98c"]]
  },
  {
    "id": "6ead45d7.71e98c",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "func": "function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = false// flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date('2025-03-01T00:00:00.000Z');\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .filter(device => device.slaveId !== undefined && device.slaveId !== null)\n    .map(device => device.slaveId)\n    \nif (energySensors.length === 0) {\n    node.warn('no energy sensors')\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 1000,
    "wires": [["bf43d662.f9cf58"]]
  },
  {
    "id": "f01f9394.5d93",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 1060,
    "wires": []
  },
  {
    "id": "e4ce4bea.5186f8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    // Initialize the array for this device name if it doesn't exist\n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    // Check for a multiplier in the device name using regex\n    let multiplier = 1; // Default multiplier\n    const regex = /x(\\d+)([A-Z]?)/; // Matches patterns like \"x400A\" or \"x400\"\n    const match = device.name.match(regex);\n    \n    if (match) {\n        const value = parseInt(match[1], 10); // The number part, e.g., 400\n        const suffix = match[2]; // The letter part, e.g., \"A\" (or empty if no letter)\n        \n        // If the suffix is \"A\", apply the multiplier\n        if (suffix === \"A\") {\n            multiplier = value;\n        }\n    }\n    \n    // Apply the multiplier to value_wh\n    const adjustedValueWh = reading.value_wh * multiplier;\n    \n    acc[device.name].push({\n        ts: new Date(reading.quinze_min).getTime(),\n        values: {\n            Wh3: adjustedValueWh,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 700,
    "y": 1000,
    "wires": [["f01f9394.5d93", "5ac2d7ce.0f1ff8"]]
  },
  {
    "id": "bf43d662.f9cf58",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "Get last 15 minutes",
    "query": "SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id IN {{{ msg.payload.devices }}}\n  AND timestamp >= '{{{ msg.payload.dateStart }}}'\n  AND timestamp < '2025-04-01T22:00:00.000Z'\n  AND slave_id = 168\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;",
    "postgreSQLConfig": "c818a212.4211e",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 510,
    "y": 1000,
    "wires": [["e4ce4bea.5186f8"]]
  },
  {
    "id": "af9b7447.9df888",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 1060,
    "wires": [[]]
  },
  {
    "id": "2ff3fca7.c76b14",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "",
    "func": "function formatForPostgresInQuery(devices) {\n    return `(${devices.join(', ')})`;\n}\n\n\n// Get the current time\nconst now = new Date();\n\n// Round down to the nearest 15-minute interval\nnow.setMinutes(now.getMinutes() - now.getMinutes() % 15, 0, 0);\n\n// Get the timestamp of the last successful run\nlet lastSuccessfulRun = false// flow.get('lastSuccessfulRun');\n\nif (!lastSuccessfulRun) {\n    // If it's the first run, set it to 15 minutes ago\n    lastSuccessfulRun = new Date('2025-03-01T00:00:00.000Z');\n} else {\n    lastSuccessfulRun = new Date(lastSuccessfulRun);\n}\n\n// Check if at least 15 minutes have passed since the last successful run\nconst timeDifference = now.getTime() - lastSuccessfulRun.getTime();\nconst fifteenMinutesInMs = 15 * 60 * 1000;\n\nif (timeDifference < fifteenMinutesInMs) {\n    node.warn('Less than 15 minutes since last run. Skipping query.');\n    return null;\n}\n\n// Fetch all energy sensor devices\nconst devices = flow.get('devices') || {};\nconst energySensors = Object.values(devices)\n    .filter(device => device.slaveId !== undefined && device.slaveId !== null)\n    .map(device => device.slaveId)\n    \nif (energySensors.length === 0) {\n    node.warn('no energy sensors')\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(energySensors),\n    dateStart: lastSuccessfulRun.toISOString(),\n    dateEnd: now.toISOString()\n};\n\n// Store the current time as the last successful run\nflow.set('lastSuccessfulRun', now.toISOString());\n\nnode.warn('Query parameters:');\nnode.warn(JSON.stringify(msg.payload, null, 2));\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 320,
    "y": 1060,
    "wires": [[]]
  },
  {
    "id": "5ac2d7ce.0f1ff8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a788e406.5ee6e8",
    "name": "Queue",
    "func": "const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 1000,
    "wires": [["9baf602a.3be42"]]
  },
  {
    "id": "59483b3d.3faa84",
    "type": "mqtt out",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1960,
    "y": 320,
    "wires": []
  },
  {
    "id": "a4a924a3.e44a18",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Praia da Costa)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1583,
    "y": 320,
    "wires": [["3242f5ff.9d3a8a"]],
    "l": false
  },
  {
    "id": "a63e54b8.182d88",
    "type": "link in",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "",
    "links": [
      "6a8d76a0.316138",
      "fc544c8d.06834",
      "4c51ea40.64a4e4",
      "bca8fcee.f61da",
      "27b46fbd.c51ed",
      "737a7284.a50ecc",
      "e56cde5c.56f23",
      "ce30e30e.34805",
      "53a6ab82.0071c4",
      "df4fb9f6.4d2108",
      "d72b2f31.1d04c",
      "185f3164.7e802f"
    ],
    "x": 1515,
    "y": 320,
    "wires": [["a4a924a3.e44a18"]]
  },
  {
    "id": "3242f5ff.9d3a8a",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "Delayed Queue",
    "func": "const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1740,
    "y": 320,
    "wires": [["8fea6ed.bbc8c9", "59483b3d.3faa84"]]
  },
  {
    "id": "556178bf.6e1bd8",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "FLUSH",
    "payloadType": "str",
    "x": 1580,
    "y": 380,
    "wires": [["3242f5ff.9d3a8a"]]
  },
  {
    "id": "8fea6ed.bbc8c9",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1930,
    "y": 380,
    "wires": []
  },
  {
    "id": "2780176b.6a2c38",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Praia da Costa)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1735,
    "y": 440,
    "wires": [["59483b3d.3faa84", "8eec545f.9ede28"]],
    "l": false
  },
  {
    "id": "ddbad1dd.cf0a2",
    "type": "link in",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "DIRECTLY ",
    "links": ["f82a8a9b.d42fb8", "9baf602a.3be42", "65210fa.75decf", "f31e69ec.3cc8c"],
    "x": 1615,
    "y": 440,
    "wires": [["2780176b.6a2c38"]]
  },
  {
    "id": "8eec545f.9ede28",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "ac251c99.37e7e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1980,
    "y": 440,
    "wires": []
  },
  {
    "id": "7f3390f4.2b527",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 160,
    "wires": [["8ecbb671.f3df18"]]
  },
  {
    "id": "8ecbb671.f3df18",
    "type": "get-data",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "selectedOption": "slaves",
    "x": 340,
    "y": 160,
    "wires": [["3b6e6995.f10126", "72772d64.b7dde4", "196e6875.c7c5a8"]]
  },
  {
    "id": "3b6e6995.f10126",
    "type": "split",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 495,
    "y": 160,
    "wires": [["f5df6480.ffe408"]],
    "l": false
  },
  {
    "id": "f5df6480.ffe408",
    "type": "switch",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 575,
    "y": 160,
    "wires": [["85b7cc96.8795f"], ["6c636e38.ab99"], ["a627f4a0.401d88"]],
    "l": false
  },
  {
    "id": "85b7cc96.8795f",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Transform outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n        centralId\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 120,
    "wires": [["9b4d3f62.cb348"]]
  },
  {
    "id": "6c636e38.ab99",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Transform three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {};\nconst centralId = env.get('CENTRAL_UUID');\nconst slaveName = slave.name.trimStart().trim();\n\ndevices[slaveName] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name.trimStart().trim(),\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 820,
    "y": 160,
    "wires": [["9b4d3f62.cb348"]]
  },
  {
    "id": "a627f4a0.401d88",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Transform infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n        centralId\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n        centralId\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 780,
    "y": 200,
    "wires": [["9b4d3f62.cb348"]]
  },
  {
    "id": "a8e9f6c5.b128d8",
    "type": "join",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "mode": "auto",
    "build": "string",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": "false",
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "x": 1210,
    "y": 160,
    "wires": [["cd249588.07fc88"]]
  },
  {
    "id": "cd249588.07fc88",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Merge into a single obj",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1400,
    "y": 160,
    "wires": [["e75aff05.48022", "8c4a3115.638d"]]
  },
  {
    "id": "e75aff05.48022",
    "type": "change",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1555,
    "y": 160,
    "wires": [[]],
    "l": false
  },
  {
    "id": "9b4d3f62.cb348",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1095,
    "y": 160,
    "wires": [["a8e9f6c5.b128d8", "cc2c410f.a0863"]],
    "l": false
  },
  {
    "id": "72772d64.b7dde4",
    "type": "change",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 495,
    "y": 120,
    "wires": [[]],
    "l": false
  },
  {
    "id": "8c4a3115.638d",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1555,
    "y": 111,
    "wires": [],
    "l": false
  },
  {
    "id": "196e6875.c7c5a8",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 475,
    "y": 71,
    "wires": [],
    "l": false
  },
  {
    "id": "cc2c410f.a0863",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Praia da Costa)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1175,
    "y": 220,
    "wires": [[]],
    "l": false
  },
  {
    "id": "a3ff0226.b4d3d",
    "type": "mqtt out",
    "z": "12d784c9.16023b",
    "g": "c93928f7.528eb8",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1320,
    "y": 220,
    "wires": []
  },
  {
    "id": "9889223f.decf9",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "func": "const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 1220,
    "wires": [["78046b3b.3519d4"]]
  },
  {
    "id": "7ddbb494.49cacc",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1220,
    "wires": []
  },
  {
    "id": "78046b3b.3519d4",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "query": "SELECT\n    time_bucket('1 day', timestamp) AS consumption_date,                           \n    SUM(value) / 1000 AS total_consumption_kwh, \n    COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)) AS total_hours, \n    (SUM(value) / 1000) / NULLIF(COUNT(DISTINCT EXTRACT(HOUR FROM timestamp)), 0) AS hours_per_kwh\nFROM\n    consumption_realtime\nWHERE\nslave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\nGROUP BY\n    consumption_date                       \nORDER BY\n    consumption_date;",
    "postgreSQLConfig": "6eac0185.312bb",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 1220,
    "wires": [["7ddbb494.49cacc"]]
  },
  {
    "id": "38549a7b.de39a6",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Average Consumption v3",
    "url": "/dash_api/avg_consumption_v3/:name/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1220,
    "wires": [["9889223f.decf9"]]
  },
  {
    "id": "ad0753db.01fe2",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Min and Max demand V2",
    "url": "/dash_api/demand_v2/:name/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1260,
    "wires": [["3e11d099.d0a6e"]]
  },
  {
    "id": "91212409.542d28",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "query": "SELECT\n    time_bucket('1 day', timestamp) AS day,\n    MIN(min_hourly_value)/1000 AS min_daily_demand,\n    MAX(max_hourly_value)/1000 AS max_daily_demand\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        MIN(value) AS min_hourly_value,\n        MAX(value) AS max_hourly_value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.payload }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    day;",
    "postgreSQLConfig": "2b839205.afdc7e",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 1260,
    "wires": [["e3b791bf.40392"]]
  },
  {
    "id": "e3b791bf.40392",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1260,
    "wires": []
  },
  {
    "id": "3e11d099.d0a6e",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "func": "const name = msg.req.params.name\nconsole.log(\"name\",name)\nconst devices = flow.get('devices') || {};\n\nconst device = devices[name];\n\nmsg.payload = device.slaveId;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 1260,
    "wires": [["91212409.542d28"]]
  },
  {
    "id": "7d0acf41.dcb6a",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Consumption report V3",
    "info": "",
    "x": 160,
    "y": 1180,
    "wires": []
  },
  {
    "id": "fe021367.13df3",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1300,
    "wires": []
  },
  {
    "id": "7cbe53c8.bf1d7c",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Total daily consumption sum",
    "url": "dash_api/v2/total_daily_consumption/:names/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 1300,
    "wires": [["2e86ad59.46d2b2"]]
  },
  {
    "id": "2e86ad59.46d2b2",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "func": "let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    // const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\n    const cleanName = name.replace(/ \\([^)]*\\)$/, '');\n\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 1300,
    "wires": [["1bbb2293.ec2efd"]]
  },
  {
    "id": "1bbb2293.ec2efd",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "query": "WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\ndaily_sums AS (\n    SELECT\n        DATE_TRUNC('day', hour) AS day,\n        slave_id,\n        SUM(hourly_avg) / 1000 AS daily_sum_kwh\n    FROM\n        hourly_data\n    GROUP BY\n        DATE_TRUNC('day', hour),\n        slave_id\n)\nSELECT\n    day,\n    SUM(daily_sum_kwh) AS total_daily_consumption_kwh,\n    AVG(daily_sum_kwh) AS avg_daily_sum_kwh,\n    MIN(daily_sum_kwh) AS min_daily_sum_kwh,\n    MAX(daily_sum_kwh) AS max_daily_sum_kwh\nFROM \n    daily_sums\nGROUP BY\n    day\nORDER BY\n    day;",
    "postgreSQLConfig": "6eac0185.312bb",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 1300,
    "wires": [["fe021367.13df3"]]
  },
  {
    "id": "e057c77.63ccc38",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Consumption per device in a range.",
    "url": "/dash_api/v2/consumption_per_device/:names/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 1340,
    "wires": [["ed4aa9f1.fcb0e8", "6a92565c.c1664"]]
  },
  {
    "id": "ed4aa9f1.fcb0e8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "func": "let names = msg.req.params.names;\nnames = names.split(\",\");\nconst devices = flow.get('devices') || {};\n\nconst id_devices = [];\n\nfor (let name of names) {\n    // const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\n    const cleanName = name.replace(/ \\([^)]*\\)$/, '');\n    \n    if (devices[cleanName]) {\n        if (!devices[cleanName].slaveId) {\n            node.warn('Device has no slave id:' + cleanName);\n            continue;\n        }\n        id_devices.push(devices[cleanName].slaveId);\n    } else {\n        node.warn(`Dispositivo não encontrado: ${cleanName}`);\n    }\n}\n\nmsg.payload = id_devices.join(',');\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 1340,
    "wires": [["6445630e.b148bc", "8cdcc4c5.669a68"]]
  },
  {
    "id": "6445630e.b148bc",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "query": "WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;",
    "postgreSQLConfig": "6eac0185.312bb",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 710,
    "y": 1340,
    "wires": [["c2a48097.93796"]]
  },
  {
    "id": "c2a48097.93796",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1340,
    "wires": []
  },
  {
    "id": "14eedf65.09f091",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "Consumption per specific device in range",
    "url": "/dash_api/v2/consumption_per_specific_device/:name/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 1380,
    "wires": [["8134faaf.7c67f8", "4c1df8e8.d46ff"]]
  },
  {
    "id": "8134faaf.7c67f8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "func": "const name = msg.req.params.name;\nconst devices = flow.get('devices') || {};\n\n\n// const cleanName = name.replace(/\\s*\\([^)]*\\)$/, '');\nconst cleanName = name.replace(/ \\([^)]*\\)$/, '');\n    \nif (devices[cleanName]) {\n    if (!devices[cleanName].slaveId) {\n        node.warn('Device has no slave id:' + cleanName);\n        return null;\n    }\n    \n    msg.slaveId = devices[cleanName].slaveId;\n    return msg;\n}\n\nnode.warn(`Dispositivo não encontrado: ${cleanName}`);\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 1380,
    "wires": [["af9ad074.d1e41"]]
  },
  {
    "id": "af9ad074.d1e41",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "query": "WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.slaveId }}\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n),\nmultiplier_cte AS (\n    SELECT\n        s.id AS slave_id,\n        COALESCE(\n            (SELECT (regexp_matches(s.name, 'x([0-9]+)A'))[1]::numeric),\n            1\n        ) AS multiplier\n    FROM slaves s\n    WHERE s.id = {{ msg.slaveId }}\n)\nSELECT\n    DATE_TRUNC('day', hd.hour) AS day,\n    AVG(hd.hourly_avg * m.multiplier) / 1000 AS avg_consumption,\n    MIN(hd.hourly_avg * m.multiplier) / 1000 AS min_consumption,\n    MAX(hd.hourly_avg * m.multiplier) / 1000 AS max_consumption,\n    SUM(hd.hourly_avg * m.multiplier) / 1000 AS total_consumption\nFROM \n    hourly_data hd\nJOIN\n    multiplier_cte m ON m.slave_id = hd.slave_id\nGROUP BY\n    DATE_TRUNC('day', hd.hour)\nORDER BY\n    day;",
    "postgreSQLConfig": "6eac0185.312bb",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 710,
    "y": 1380,
    "wires": [["ad72ff08.0c124"]]
  },
  {
    "id": "ad72ff08.0c124",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1380,
    "wires": []
  },
  {
    "id": "8cdcc4c5.669a68",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 1180,
    "wires": []
  },
  {
    "id": "6a92565c.c1664",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "acb15fd3.912c3",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 1180,
    "wires": []
  },
  {
    "id": "95ee511b.10e268",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "Consumption report V4",
    "info": "",
    "x": 160,
    "y": 1480,
    "wires": []
  },
  {
    "id": "4c1df8e8.d46ff",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 1480,
    "wires": []
  },
  {
    "id": "82ac12b7.3d0348",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 1480,
    "wires": []
  },
  {
    "id": "4701796.7ec5488",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "",
    "func": "let slaveIds = msg.req.params.slaveIds;\n\nmsg.payload = slaveIds.split(',');\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 500,
    "y": 1560,
    "wires": [["d7245aa4.19158"]]
  },
  {
    "id": "d7245aa4.19158",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "",
    "query": "WITH hourly_data AS (\n    SELECT\n        slave_id,\n        time_bucket('1 hour', timestamp) AS hour,\n        AVG(value) AS hourly_avg\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id IN ({{ msg.payload }})\n        AND timestamp BETWEEN \n            TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n            AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        slave_id, hour\n)\nSELECT\n    hd.slave_id,\n    s.name AS device_name,\n    SUM(hd.hourly_avg) / 1000 AS total_consumption_kwh\nFROM \n    hourly_data hd\nJOIN \n    slaves s ON s.id = hd.slave_id\nGROUP BY\n    hd.slave_id,\n    s.name\nORDER BY\n    hd.slave_id;",
    "postgreSQLConfig": "6eac0185.312bb",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 1560,
    "wires": [["36f7c3cc.10d6fc"]]
  },
  {
    "id": "36f7c3cc.10d6fc",
    "type": "http response",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 880,
    "y": 1560,
    "wires": []
  },
  {
    "id": "424ec947.f7f2c8",
    "type": "http in",
    "z": "12d784c9.16023b",
    "g": "ade3f327.47e2f8",
    "name": "Consumption per device in a range.",
    "url": "/dash_api/v3/consumption_per_device/:slaveIds/:start_ts/:end_ts",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 1560,
    "wires": [["4701796.7ec5488"]]
  },
  {
    "id": "b4e6602d.698f38",
    "type": "inject",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "",
    "props": [
      {
        "p": "url",
        "v": "http://healthchecks.myio-bas.com/ping/3968ed70-bf14-4d57-ab1c-465f57ca3449",
        "vt": "str"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "20",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 320,
    "wires": [["3533caeb.9e310e"]]
  },
  {
    "id": "a456acce.df81",
    "type": "http request",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 320,
    "wires": [["439ca4a7.1523c4"]]
  },
  {
    "id": "439ca4a7.1523c4",
    "type": "switch",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "OK", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 500,
    "y": 320,
    "wires": [["34e283a7.1d0dec"], ["540cb847.913d3", "1456e0ea.5d7fef"]]
  },
  {
    "id": "34e283a7.1d0dec",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "Healthcheck sent.",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 300,
    "wires": []
  },
  {
    "id": "540cb847.913d3",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "Healthcheck failed.",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 340,
    "wires": []
  },
  {
    "id": "1456e0ea.5d7fef",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "",
    "func": "let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 650,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "3533caeb.9e310e",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "fee84e61.1690f",
    "name": "",
    "func": "const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n/*\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n*/\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 235,
    "y": 320,
    "wires": [["a456acce.df81"]],
    "l": false
  },
  {
    "id": "1c8f6e4e.27185a",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1480,
    "y": 1100,
    "wires": [["250caea4.d6ba92"]]
  },
  {
    "id": "250caea4.d6ba92",
    "type": "postgresql",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "",
    "query": "SELECT \n  time_bucket('15 minutes', timestamp) AS quinze_min,\n  (AVG(value) * 0.25) AS value_wh,\n  slave_id\nFROM consumption_realtime\nWHERE slave_id != 4\n  AND timestamp >= '2025-03-01T03:00:00.000Z'\n  AND timestamp < '2025-04-07T20:30:00.000Z'\nGROUP BY quinze_min, slave_id\nORDER BY quinze_min DESC;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1640,
    "y": 1100,
    "wires": [["9debdee8.350af8"]]
  },
  {
    "id": "9debdee8.350af8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction findDevice(slaveId) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        \n        if (device.slaveId === slaveId) {\n            return device;\n        }\n    }\n}\n\nconst mappedDevices = {};\n\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id);\n    \n    if (!device) {\n        return acc;\n    }\n    \n    if (!(device.name in acc)) {\n        acc[device.name] = [];\n    }\n    \n    acc[device.name].push({\n        ts: new Date(reading.quinze_min).getTime(),\n        values: {\n            Wh3: reading.value_wh,\n        }\n    });\n    \n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1800,
    "y": 1100,
    "wires": [["4c631c3c.745e94"]]
  },
  {
    "id": "65210fa.75decf",
    "type": "link out",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "",
    "links": ["ddbad1dd.cf0a2"],
    "x": 2055,
    "y": 1100,
    "wires": []
  },
  {
    "id": "4c631c3c.745e94",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "Queue",
    "func": "const MAX_READINGS = 300;\nconst SEND_INTERVAL = 1500; // 5 seconds\nconst MAX_BYTES_PER_SECOND = 30 * 1024 / 8; // 200 kbps in bytes per second\nconst MAX_BYTES_PER_INTERVAL = MAX_BYTES_PER_SECOND * (SEND_INTERVAL / 1000);\n\n// Initialize queue in the node context if it doesn't exist\nif (!context.get('queue')) {\n    context.set('queue', []);\n}\n\n// Function to process and send the next batch\nfunction processNextBatch() {\n    const queue = context.get('queue');\n    let batchSize = 0;\n    let batchData = {};\n\n    while (queue.length > 0 && Object.keys(batchData).length < MAX_READINGS && batchSize < MAX_BYTES_PER_INTERVAL) {\n        const currentItem = queue[0];\n        const deviceName = currentItem.device;\n\n        if (!batchData[deviceName]) {\n            batchData[deviceName] = [];\n        }\n\n        const reading = currentItem.readings.shift();\n        batchData[deviceName].push(reading);\n        batchSize += JSON.stringify(reading).length;\n\n        if (currentItem.readings.length === 0) {\n            queue.shift(); // Remove the current device if all readings are sent\n        }\n    }\n\n    context.set('queue', queue);\n\n    if (Object.keys(batchData).length > 0) {\n        const msg = {\n            topic: 'energy/batch',\n            payload: batchData\n        };\n        node.send(msg);\n        node.status({fill:\"green\", shape:\"dot\", text:`Sent ${batchSize} bytes`});\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"Queue empty\"});\n    }\n\n    // Always schedule the next batch, even if the queue is currently empty\n    setTimeout(() => {\n        context.set('isProcessing', false);\n        checkAndStartProcessing();\n    }, SEND_INTERVAL);\n}\n\n// Function to check queue and start processing if necessary\nfunction checkAndStartProcessing() {\n    const queue = context.get('queue');\n    if (queue.length > 0 && !context.get('isProcessing')) {\n        context.set('isProcessing', true);\n        processNextBatch();\n    }\n}\n\n// Main function logic\nif (msg.payload) {\n    const queue = context.get('queue');\n    const devices = Object.keys(msg.payload);\n\n    // Add new data to the queue\n    devices.forEach(device => {\n        const existingItem = queue.find(item => item.device === device);\n        if (existingItem) {\n            existingItem.readings = existingItem.readings.concat(msg.payload[device]);\n        } else {\n            queue.push({\n                device: device,\n                readings: msg.payload[device]\n            });\n        }\n    });\n\n    context.set('queue', queue);\n\n    // Check and start processing if it's not already running\n    checkAndStartProcessing();\n}\n\n// Return null to prevent the original message from being passed through\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1950,
    "y": 1100,
    "wires": [["65210fa.75decf", "fd117e45.29ba5"]]
  },
  {
    "id": "fd117e45.29ba5",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "57915ad0.4bf35c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2080,
    "y": 1140,
    "wires": []
  },
  {
    "id": "466b9b1a.f8a3ec",
    "type": "mqtt in",
    "z": "ae5002ce.763cb",
    "name": "",
    "topic": "gateway/ab589fee-b47b-4577-a7aa-016bf7e6f5b1/fetch",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "bf13fbc6.ba4de8",
    "x": 250,
    "y": 200,
    "wires": [["41f48036.b79b98", "fc3e9e63.b5e2a8"]]
  },
  {
    "id": "facb6b8a.719fb8",
    "type": "postgresql",
    "z": "ae5002ce.763cb",
    "name": "",
    "query": "SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 790,
    "y": 160,
    "wires": [["408770a1.75397"]]
  },
  {
    "id": "3380395a.1ae4a6",
    "type": "function",
    "z": "ae5002ce.763cb",
    "name": "function 11",
    "func": "const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2025-02-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 635,
    "y": 180,
    "wires": [["facb6b8a.719fb8"], ["8735dc89.8a2908"]],
    "l": false
  },
  {
    "id": "8735dc89.8a2908",
    "type": "mqtt out",
    "z": "ae5002ce.763cb",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "bf13fbc6.ba4de8",
    "x": 1010,
    "y": 200,
    "wires": []
  },
  {
    "id": "bb72680e.ac3a88",
    "type": "postgresql",
    "z": "ae5002ce.763cb",
    "name": "",
    "query": "WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 790,
    "y": 220,
    "wires": [["8735dc89.8a2908"]]
  },
  {
    "id": "30b03c1a.be7ce4",
    "type": "function",
    "z": "ae5002ce.763cb",
    "name": "function 10",
    "func": "const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 635,
    "y": 220,
    "wires": [["bb72680e.ac3a88"]],
    "l": false
  },
  {
    "id": "408770a1.75397",
    "type": "function",
    "z": "ae5002ce.763cb",
    "name": "Send gap: true if empty response",
    "func": "// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 915,
    "y": 160,
    "wires": [["8735dc89.8a2908"]],
    "l": false
  },
  {
    "id": "d71b0d8e.6d89c",
    "type": "inject",
    "z": "ae5002ce.763cb",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 130,
    "y": 100,
    "wires": [["8c136814.48e028"]]
  },
  {
    "id": "8c136814.48e028",
    "type": "debug",
    "z": "ae5002ce.763cb",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 265,
    "y": 100,
    "wires": [],
    "l": false
  },
  {
    "id": "41f48036.b79b98",
    "type": "json",
    "z": "ae5002ce.763cb",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 180,
    "wires": [["3380395a.1ae4a6"]]
  },
  {
    "id": "fc3e9e63.b5e2a8",
    "type": "json",
    "z": "ae5002ce.763cb",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 530,
    "y": 220,
    "wires": [["30b03c1a.be7ce4"]]
  },
  {
    "id": "829dd6fe.f0c1e",
    "type": "function",
    "z": "ae5002ce.763cb",
    "name": "Send status",
    "func": "// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 550,
    "y": 300,
    "wires": [["57b8a80c.a6296", "3b4af2fe.44992e"]]
  },
  {
    "id": "c768f4dc.2f08c8",
    "type": "inject",
    "z": "ae5002ce.763cb",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 300,
    "wires": [["9b13a2ce.c8a248"]]
  },
  {
    "id": "3b4af2fe.44992e",
    "type": "mqtt out",
    "z": "ae5002ce.763cb",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "bf13fbc6.ba4de8",
    "x": 730,
    "y": 300,
    "wires": []
  },
  {
    "id": "9b13a2ce.c8a248",
    "type": "postgresql",
    "z": "ae5002ce.763cb",
    "name": "",
    "query": "SELECT id FROM slaves;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 310,
    "y": 300,
    "wires": [["c955d2d2.505"]]
  },
  {
    "id": "c955d2d2.505",
    "type": "function",
    "z": "ae5002ce.763cb",
    "name": "Set slaves",
    "func": "msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 435,
    "y": 300,
    "wires": [["829dd6fe.f0c1e"]],
    "l": false
  },
  {
    "id": "57b8a80c.a6296",
    "type": "debug",
    "z": "ae5002ce.763cb",
    "name": "debug 64",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 340,
    "wires": []
  },
  {
    "id": "15e6a44c.048c94",
    "type": "comment",
    "z": "ae5002ce.763cb",
    "name": "1. Get the central UUID here",
    "info": "It will appear on the logs",
    "x": 160,
    "y": 60,
    "wires": []
  },
  {
    "id": "f7db6b0c.2fe828",
    "type": "comment",
    "z": "ae5002ce.763cb",
    "name": "2. Change the topic to use the central UUID",
    "info": "It will appear on the logs",
    "x": 210,
    "y": 160,
    "wires": []
  },
  {
    "id": "2cc005f7.430d52",
    "type": "comment",
    "z": "ae5002ce.763cb",
    "name": "3. Nothing to do here, just leave it as it is.",
    "info": "## This will register the gateway in\n\nhttps://ingestion.myio-bas.com",
    "x": 200,
    "y": 260,
    "wires": []
  },
  {
    "id": "acb6b578.ee033",
    "type": "comment",
    "z": "ae5002ce.763cb",
    "name": "4. Accept the gateway",
    "info": "Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway",
    "x": 140,
    "y": 380,
    "wires": []
  },
  {
    "id": "6a14f3b2.cd8b2c",
    "type": "myio-emitter",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "x": 110,
    "y": 600,
    "wires": [
      ["5de6353b.c9836c"],
      [],
      ["93ee4531.4db7d8"],
      [],
      [],
      [],
      ["ca7c6620.0b5198"],
      ["4f64022e.9cb7ec"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "5de6353b.c9836c",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 380,
    "wires": [["3f51507f.fcbcb"]]
  },
  {
    "id": "5678a6c3.be7e98",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 460,
    "wires": [["ff932835.497da8"]]
  },
  {
    "id": "93ee4531.4db7d8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 540,
    "wires": [["b2fd8c1e.51fb8"]]
  },
  {
    "id": "ca7c6620.0b5198",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 620,
    "wires": [["b502336.ae18dd"]]
  },
  {
    "id": "4f64022e.9cb7ec",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 700,
    "wires": [["70ed4a2b.d46c74"]]
  },
  {
    "id": "3222e76f.436098",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 780,
    "wires": [["9ed92e5.979edd"]]
  },
  {
    "id": "6f667024.d1f12",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 410,
    "y": 340,
    "wires": []
  },
  {
    "id": "d533a111.18fe2",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Temperatura",
    "info": "",
    "x": 370,
    "y": 420,
    "wires": []
  },
  {
    "id": "4fcbc1eb.eccfc",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Potencia",
    "info": "",
    "x": 360,
    "y": 500,
    "wires": []
  },
  {
    "id": "5921e588.5a6e3c",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Corrente",
    "info": "",
    "x": 362.89581298828125,
    "y": 581.2222290039062,
    "wires": []
  },
  {
    "id": "daa9d598.ad4b48",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Voltagem",
    "info": "",
    "x": 360,
    "y": 660,
    "wires": []
  },
  {
    "id": "da6682b4.03803",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Humidade",
    "info": "",
    "x": 360,
    "y": 740,
    "wires": []
  },
  {
    "id": "3f51507f.fcbcb",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 730,
    "y": 380,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "ff932835.497da8",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Strip trailing offset (e.g. \" -2\", \" +1.5\") from the FULL name — keep \"TEMP.\" prefix\n// so the telemetry key matches the device registered by attributes-sync (e.g. \"TEMP. SCSDITEMST1_8\")\nconst finalName = name.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 780,
    "y": 460,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "6e1ff75e.4dbe98",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 950,
    "y": 560,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "b502336.ae18dd",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 620,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "70ed4a2b.d46c74",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 700,
    "wires": [["2ae9d86e.868248", "ce30e30e.34805"]]
  },
  {
    "id": "9ed92e5.979edd",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Format humidity",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 780,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "ce30e30e.34805",
    "type": "link out",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "",
    "links": ["2104a251.44990e", "5c469c9c.a2b1a4", "a63e54b8.182d88", "1f10f022.461", "dd87d608.186da8"],
    "x": 1395,
    "y": 540,
    "wires": []
  },
  {
    "id": "2ae9d86e.868248",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 680,
    "wires": []
  },
  {
    "id": "22b7b982.5a8756",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to nivel de agua",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nlet [_ignore, deviceName, offset, height, multiplier] = slave.name.split(' ');\n\n\noffset = parseInt(offset, 10);\nmultiplier = parseFloat(multiplier.replace(/x/i, ''));\nheight = parseInt(height);\n\n\nconst waterLevel = (msg.payload.value - offset) * multiplier;\nconst percentage = parseFloat((waterLevel / height).toFixed(2));\n\nmsg.payload = {\n    [deviceName]: [{\n        water_level: waterLevel,\n        water_percentage: percentage,\n    }]\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 940,
    "y": 520,
    "wires": [["ce30e30e.34805"]]
  },
  {
    "id": "b2fd8c1e.51fb8",
    "type": "switch",
    "z": "12d784c9.16023b",
    "g": "aa61127e.dfa2",
    "name": "Slave is SCD?",
    "property": "slave.name",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "SCD", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 620,
    "y": 540,
    "wires": [["22b7b982.5a8756"], ["6e1ff75e.4dbe98"]]
  },
  {
    "id": "3b4b5190.363f56",
    "type": "comment",
    "z": "12d784c9.16023b",
    "name": "Slave Id + Central Id",
    "info": "",
    "x": 170,
    "y": 1680,
    "wires": []
  },
  {
    "id": "1286d2dd.059545",
    "type": "inject",
    "z": "12d784c9.16023b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1780,
    "wires": [["45d60a21.dcac94"]]
  },
  {
    "id": "45d60a21.dcac94",
    "type": "function",
    "z": "12d784c9.16023b",
    "name": "",
    "func": "\nconst devices = flow.get('devices') || {}; \nconst centralId = env.get('CENTRAL_UUID');\n\nconst payload = {};\n\nfor (const key of Object.keys(devices)) {\n    const device = devices[key]; \n\n    // Ajustar regex para capturar o nome e o multiplicador opcional\n    const match = key.match(/^(.*?)(?:\\s*x(\\d+))?$/);\n    if (!match) {\n        continue;\n    }\n\n    const actualName = match[1].trim(); // sempre pega o nome antes do \" xN\" ou o nome todo\n    const multiplier = match[2] ? parseInt(match[2], 10) : 1; // se não tiver multiplicador, usa 1\n\n    payload[`${actualName} (Praia da Costa)`] = {\n        centralId,\n        slaveId: device.slaveId,\n        multiplier,\n    };\n}\nmsg.payload = payload;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 310,
    "y": 1900,
    "wires": [["7f6aec50.f4d33c"]]
  },
  {
    "id": "7f6aec50.f4d33c",
    "type": "debug",
    "z": "12d784c9.16023b",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 1900,
    "wires": []
  },
  {
    "id": "e605a659.24bf1",
    "type": "mqtt out",
    "z": "12d784c9.16023b",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 540,
    "y": 1820,
    "wires": []
  },
  {
    "id": "6f0033b5.0068ec",
    "type": "inject",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "43200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 480,
    "wires": [["e67e6b1c.8e3fa"]]
  },
  {
    "id": "e67e6b1c.8e3fa",
    "type": "postgresql",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "query": "SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 380,
    "y": 480,
    "wires": [["3590717a.a74a36", "dd1c281e.079ad8", "f0a628cc.bf76f8"]]
  },
  {
    "id": "3590717a.a74a36",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 480,
    "wires": []
  },
  {
    "id": "dd1c281e.079ad8",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "func": "// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 600,
    "y": 520,
    "wires": [["2478db9a.c5743c", "b286b698.11ec98"]]
  },
  {
    "id": "2478db9a.c5743c",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 520,
    "wires": []
  },
  {
    "id": "b286b698.11ec98",
    "type": "change",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "rules": [
      { "t": "set", "p": "monitoringIssues", "pt": "flow", "to": "hasIssues", "tot": "msg" },
      { "t": "set", "p": "issueText", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 560,
    "wires": [[]]
  },
  {
    "id": "f0a628cc.bf76f8",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "func": "msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 555,
    "y": 600,
    "wires": [["9fe9098.b2612f8"]],
    "l": false
  },
  {
    "id": "9fe9098.b2612f8",
    "type": "mqtt out",
    "z": "e663c840.7159a",
    "g": "7443397.c9123c8",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 750,
    "y": 600,
    "wires": []
  },
  {
    "id": "c49a30a3.d1b9",
    "type": "myio-emitter",
    "z": "12d784c9.16023b",
    "x": 110,
    "y": 2080,
    "wires": [
      ["468dfc99.e8124c"],
      ["468dfc99.e8124c"],
      ["468dfc99.e8124c"],
      [],
      ["468dfc99.e8124c"],
      ["468dfc99.e8124c"],
      [],
      [],
      [],
      ["468dfc99.e8124c"],
      ["468dfc99.e8124c"],
      []
    ]
  },
  {
    "id": "468dfc99.e8124c",
    "type": "function",
    "z": "12d784c9.16023b",
    "name": "",
    "func": "let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 300,
    "y": 2080,
    "wires": [["1f7d433b.b61eed"]]
  },
  {
    "id": "1f7d433b.b61eed",
    "type": "debug",
    "z": "12d784c9.16023b",
    "name": "cabelo curto",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 2080,
    "wires": []
  },
  {
    "id": "56483220.1afa4c",
    "type": "function",
    "z": "12d784c9.16023b",
    "name": "function 30",
    "func": "let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 415,
    "y": 2320,
    "wires": [[]],
    "l": false
  },
  {
    "id": "42869618.2500e",
    "type": "mqtt out",
    "z": "12d784c9.16023b",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 590,
    "y": 2280,
    "wires": []
  },
  {
    "id": "c93081bc.332f08",
    "type": "inject",
    "z": "12d784c9.16023b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "5400",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 2240,
    "wires": [["763621d7.992fd"]]
  },
  {
    "id": "31de7f75.9e7be",
    "type": "function",
    "z": "12d784c9.16023b",
    "name": "function 30",
    "func": "\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 355,
    "y": 2240,
    "wires": [["42869618.2500e", "ac6fa2a9.55d098", "56483220.1afa4c"]],
    "l": false
  },
  {
    "id": "ac6fa2a9.55d098",
    "type": "debug",
    "z": "12d784c9.16023b",
    "name": "Pudim de geleia",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 2220,
    "wires": []
  },
  {
    "id": "763621d7.992fd",
    "type": "http request",
    "z": "12d784c9.16023b",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 275,
    "y": 2240,
    "wires": [["31de7f75.9e7be"]],
    "l": false
  },
  {
    "id": "5a6c0388.29be5c",
    "type": "postgresql",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "query": "SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 350,
    "y": 700,
    "wires": [["f3d0f53.f3c2a08", "19d3d093.4138b7"]]
  },
  {
    "id": "f3d0f53.f3c2a08",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "func": "// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 520,
    "y": 700,
    "wires": [["e0937627.1bae6", "18299dd.57abee2"]]
  },
  {
    "id": "e0937627.1bae6",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 700,
    "wires": []
  },
  {
    "id": "18299dd.57abee2",
    "type": "change",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "rules": [
      { "t": "set", "p": "monitoringIssues", "pt": "flow", "to": "hasIssues", "tot": "msg" },
      { "t": "set", "p": "energyIssuesText", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 740,
    "wires": [[]]
  },
  {
    "id": "517ce761.897338",
    "type": "mqtt out",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "topic": "v1/devices/me/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 770,
    "y": 780,
    "wires": []
  },
  {
    "id": "19d3d093.4138b7",
    "type": "function",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "func": "msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 615,
    "y": 780,
    "wires": [["517ce761.897338", "d411ff39.a9c73"]],
    "l": false
  },
  {
    "id": "d411ff39.a9c73",
    "type": "debug",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 820,
    "wires": []
  },
  {
    "id": "cbdce6e7.fd9fe8",
    "type": "inject",
    "z": "e663c840.7159a",
    "g": "9050cad2.7fcb8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "43200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 700,
    "wires": [["5a6c0388.29be5c"]]
  },
  {
    "id": "9d4979db.37a1a8",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1610,
    "y": 900,
    "wires": [["5397cad3.8fc084"]]
  },
  {
    "id": "5397cad3.8fc084",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "handleDeviceType & Central ID",
    "func": "const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1650,
    "y": 1000,
    "wires": [["f15aa87f.179d7", "1b161b1.5daad65"]]
  },
  {
    "id": "f15aa87f.179d7",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Praia da Costa)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1775,
    "y": 940,
    "wires": [["28c40b14.e9adb4"]],
    "l": false
  },
  {
    "id": "28c40b14.e9adb4",
    "type": "mqtt out",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1960,
    "y": 880,
    "wires": []
  },
  {
    "id": "1b161b1.5daad65",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1960,
    "y": 1000,
    "wires": []
  },
  {
    "id": "90620372.9e98d8",
    "type": "comment",
    "z": "12d784c9.16023b",
    "g": "a7af0275.65e1d8",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1690,
    "y": 840,
    "wires": []
  },
  {
    "id": "5a5ef65c.738948",
    "type": "inject",
    "z": "12d784c9.16023b",
    "g": "e7da3aec.2a4788",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1590,
    "y": 560,
    "wires": [["e86430ab.d8e16"]]
  },
  {
    "id": "e86430ab.d8e16",
    "type": "http request",
    "z": "12d784c9.16023b",
    "g": "e7da3aec.2a4788",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1630,
    "y": 620,
    "wires": [["cc01bafc.aa4898"]]
  },
  {
    "id": "cc01bafc.aa4898",
    "type": "function",
    "z": "12d784c9.16023b",
    "g": "e7da3aec.2a4788",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1620,
    "y": 680,
    "wires": [["f31e69ec.3cc8c", "290ca001.d21f2"]]
  },
  {
    "id": "f31e69ec.3cc8c",
    "type": "link out",
    "z": "12d784c9.16023b",
    "g": "e7da3aec.2a4788",
    "name": "link out 3",
    "links": ["36b5efb3ab8764e1", "5579a5e6.a0c3ec", "9f905f0e.09722", "ddbad1dd.cf0a2"],
    "x": 1795,
    "y": 600,
    "wires": []
  },
  {
    "id": "290ca001.d21f2",
    "type": "debug",
    "z": "12d784c9.16023b",
    "g": "e7da3aec.2a4788",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1870,
    "y": 720,
    "wires": []
  },
  {
    "id": "c6f855a8.f07ae",
    "type": "data-fetcher",
    "z": "ae5002ce.763cb",
    "name": "Myio BAS",
    "mqtt": "57664f3f.f35eb8",
    "uuidOverride": "",
    "x": 220,
    "y": 460,
    "wires": []
  }
]
