src/NODE-RED/ILHA-PLAZA/AL3/bkp-node-red-central-5391b719b7-f2d2-4d3f-9fb9-ab3d4edbac0d-2026-04-17-11-33.json
[{"id":"dbb9c2bc.42667","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6d52c0ff.197a1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"af3c849c.1ca2c8","type":"tab","label":"Ingestion","disabled":false,"info":""},{"id":"ac251c99.37e7e","type":"group","z":"dbb9c2bc.42667","name":"Thingsboard","style":{"label":true},"nodes":["59483b3d.3faa84","a4a924a3.e44a18","a63e54b8.182d88","3242f5ff.9d3a8a","556178bf.6e1bd8","8fea6ed.bbc8c9","44d1ee8.2a5cc9","61166549.5beffc","9ec6b1c3.7020f"],"x":1454,"y":339,"w":612,"h":242},{"id":"2aa6d15a.9c1b9e","type":"group","z":"dbb9c2bc.42667","name":"Check","style":{"label":true},"nodes":["839ab9d8.1527d8","9ca9ef0f.4a2ca","56bc2ba1.040794","32c45d3b.b0f9c2","7f780c40.ad45e4","69a79861.6bcc18","576dbbef.c8b814","c7e20ce1.fc6c6","b3c3a42e.37de88"],"x":34,"y":899,"w":912,"h":202},{"id":"6079ae30.11a","type":"group","z":"dbb9c2bc.42667","name":"CENTRAL_UUID","style":{"label":true},"nodes":["fd385c3c.97816","89654428.c08bf8"],"x":1694,"y":179,"w":472,"h":82},{"id":"9a750c31.232ff","type":"group","z":"dbb9c2bc.42667","name":"MQTT","style":{"label":true},"nodes":["72dad50a.00626c","47e5275f.4d2f28","5440eec3.a9cb4","bab10752.6edd08","a74e8e93.d6d21","39a74449.77df6c","a35a567b.c44d58","b886dc45.3e7f6","a39a3370.e9cee","efc477e9.c16678","31a9eefc.bd6ef2","baf8d8c9.6f64e8","e0ca70b.ad9cc9","7691a585.546ecc","a758a9bf.e3d618","5ba9db15.65d5e4","cbf46e6e.3ed0e","b83ff451.0bd268","a0c5cba6.7c0ad8","bfefc34e.6bf21","8429f336.83bed","d722b9d9.f20608","942c838e.bb952","682c4256.dc86fc","94048876.c6f0c8"],"x":34,"y":319,"w":1362,"h":522},{"id":"9537256a.e8bc68","type":"group","z":"dbb9c2bc.42667","name":"Get pulses every 1 min","style":{"label":true},"nodes":["bf0570b5.73ee8","786014a5.2c487c","2920c7dd.625ff8","909d4384.2ad36","7416219b.e3dc5","66ad4504.e5fd3c","f2e09fc0.c5039","79add3dc.46d82c","9b58ea20.906e18","a3621c83.8b462","bdca7b0c.2358b8","70524c9d.f91a8c","f4db07b7.897c28","f4f7069.e5919f8"],"x":34,"y":1119,"w":1292,"h":182},{"id":"a50b57a4.71fc08","type":"group","z":"dbb9c2bc.42667","name":"Store devices to flow.devices","style":{"label":true},"nodes":["691efa85.41d644","779f2177.9e3568","fa450bc9.8f79c","30a4237b.cbfa04","f7a1abd.ad4d158","7fdc7fb.442c98","3d13166b.ec8bc2","2f298e2c.5f5bf2","49ab78b7.da2848","6f687214.660744","221cbe0a.9d32ea","ef1fc744.e73c1","bb5590ec.f1c8a","82b7c5ae.78b85","f80306c3.1dcba","61ba5e78.173","649a11fa.e171","12590382.bc52d4"],"x":34,"y":30,"w":1582,"h":271},{"id":"c2d14329.43b008","type":"group","z":"dbb9c2bc.42667","name":"USE THIS TO BACKFILL DATA","style":{"label":true},"nodes":["62aa8ede.784398","532c5045.d2b41","4fbad59d.9e1d14","665265ed.9afe5c","45489a21.0feb54","e857d443.d8d8e"],"x":34,"y":1339,"w":972,"h":122},{"id":"d1831dc1.9fcaf","type":"group","z":"6d52c0ff.197a1","name":"Central Monitor","style":{"label":true},"nodes":["e1ffd5d5.b1915","f4dac189.57487","9e8da317.b2ee28","ef50ab0a.20a888","193b96d2.b41099","aa6654b8.6fbe48","9a899e54.0d81d8"],"x":34,"y":259},{"id":"e3c1c8f2.aa76f","type":"group","z":"6d52c0ff.197a1","name":"Missing Hidrometers","style":{"label":true},"nodes":["787b5e05.7f35a","2ff0b969.64d3fe","b1e5c9cd.2a251","fddc124.821f7f","a1ab683f.84d43","695a118e.f084f","6a18bb46.69346c","8fd42919.9d30a8"],"x":54,"y":619},{"id":"6802271c.358cd8","type":"group","z":"6d52c0ff.197a1","name":"Missing Energy","style":{"label":true},"nodes":["ebbec018.e5bd1","3b13fd72.23a32a","9d85809a.b425d","1d273178.4518af","7d0b30f.dcb4b5","7f9f04cb.51788c","f65ddd1c.2e4fe","c34790c.e19387"],"x":54,"y":839},{"id":"78fd123.e6b4dec","type":"group","z":"dbb9c2bc.42667","name":"SYNC DEVICE STATUS TO THINGSBOARD","style":{"label":true},"nodes":["5b15930d.c762cc","4dd4ce0c.5b95f","6d415cf5.9ef494","fb195635.b034a8","1b89263b.ebcbd2"],"x":1454,"y":619,"w":442,"h":222},{"id":"ad2171be.e05f4","type":"group","z":"dbb9c2bc.42667","name":"ATTRIBUTES_SYNC","style":{"label":true},"nodes":["985613af.43ef48","37c71b0.8b7e766","d077ef33.93717","c82422c7.e53748","bc9bab79.a1bc58","a2c66865.2f64"],"x":1454,"y":879,"w":612,"h":242},{"id":"ba7623fd.d47d2","type":"mqtt-broker","z":"","name":"Thingsboard","broker":"mqtt.myio-bas.com","port":"1883","clientid":"qsd05kdu6j0vka2elfxi","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc2be450.1f54a8","type":"postgreSQLConfig","z":"dbb9c2bc.42667","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"c3259202.9eb35","type":"postgreSQLConfig","z":"53f99bff.c6d4b4","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c45df63.f68c4","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"fe0bbd9.5bb3e4","type":"postgreSQLConfig","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"teta","passwordFieldType":"str"},{"id":"7c7b5c17.469af4","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"9697eacf.22aa08","type":"postgreSQLConfig","z":"dbb9c2bc.42667","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"2c9b8cee.257e44","type":"postgreSQLConfig","z":"","name":"Myio","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"d69f0df2.376a6","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"hubot","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"hubot","userFieldType":"str","password":"hubot","passwordFieldType":"str"},{"id":"7c5ec6f2.22d64","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"b84e4a36.91cd38","type":"mqtt-broker","name":"Ingestion Myio","broker":"ingestion.myio-bas.com","port":1883,"clientid":"","usetls":false,"keepalive":60,"cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b7242f71.79e57","type":"postgreSQLConfig","z":"","name":"DB","host":"DB_HOST","hostFieldType":"env","port":"DB_PORT","portFieldType":"env","database":"DB_DATABASE","databaseFieldType":"env","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"DB_USERNAME","userFieldType":"env","password":"DB_PASSWORD","passwordFieldType":"env"},{"id":"7b41ac3e.c8d50c","type":"mqtt-broker","z":"","name":"Production Ingestion","broker":"data.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f157cd6d.1c9798","type":"mqtt-broker","z":"","name":"Staging Ingestion","broker":"staging.ingestion.myio-bas.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddd079fd.2a9b7","type":"mqtt-config","z":"","name":"Myio BAS","broker":"mqtt.apps.myio-bas.com","port":"1883","username":"","password":""},{"id":"59483b3d.3faa84","type":"mqtt out","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"","topic":"v1/gateway/telemetry","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1940,"y":380,"wires":[]},{"id":"a4a924a3.e44a18","type":"function","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1583,"y":380,"wires":[["3242f5ff.9d3a8a"]],"l":false},{"id":"a63e54b8.182d88","type":"link in","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"","links":["6a8d76a0.316138","fc544c8d.06834","4c51ea40.64a4e4","bca8fcee.f61da","27b46fbd.c51ed","737a7284.a50ecc","e56cde5c.56f23","d722b9d9.f20608","942c838e.bb952","53a6ab82.0071c4","4ea2340e.192bec","fb195635.b034a8"],"x":1515,"y":380,"wires":[["a4a924a3.e44a18"]]},{"id":"839ab9d8.1527d8","type":"http in","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","url":"/Check","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1000,"wires":[["7f780c40.ad45e4"]]},{"id":"9ca9ef0f.4a2ca","type":"debug","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":675,"y":960,"wires":[],"l":false},{"id":"56bc2ba1.040794","type":"function","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"Format name","func":"const pattern = /\\s\\([^()]+\\)$/;\nconst deviceName = msg.payload.device;\nconst newDeviceName = deviceName.replace(pattern, '');\n\nmsg.payload = {\n    device: newDeviceName,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":355,"y":1000,"wires":[["32c45d3b.b0f9c2","c7e20ce1.fc6c6"]],"l":false},{"id":"32c45d3b.b0f9c2","type":"function","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"get slaveId","func":"const payload = msg.payload;\nconst devices = flow.get('devices') || {};\nconst device = devices[payload.device];\nconst slaveId = device.slaveId;\n\n return {\n        payload: {\n            id: slaveId,\n        }\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1000,"wires":[["9ca9ef0f.4a2ca","576dbbef.c8b814"]]},{"id":"7f780c40.ad45e4","type":"change","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"type","pt":"msg","to":"http","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295,"y":1000,"wires":[["56bc2ba1.040794"]],"l":false},{"id":"69a79861.6bcc18","type":"http response","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","statusCode":"200","headers":{},"x":860,"y":1060,"wires":[]},{"id":"576dbbef.c8b814","type":"change","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"\"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1060,"wires":[["69a79861.6bcc18"]]},{"id":"c7e20ce1.fc6c6","type":"debug","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":435,"y":940,"wires":[],"l":false},{"id":"b3c3a42e.37de88","type":"send-check","z":"dbb9c2bc.42667","g":"2aa6d15a.9c1b9e","x":710,"y":1000,"wires":[]},{"id":"fd385c3c.97816","type":"inject","z":"dbb9c2bc.42667","g":"6079ae30.11a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":1810,"y":220,"wires":[["89654428.c08bf8"]]},{"id":"89654428.c08bf8","type":"debug","z":"dbb9c2bc.42667","g":"6079ae30.11a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2050,"y":220,"wires":[]},{"id":"72dad50a.00626c","type":"myio-emitter","z":"dbb9c2bc.42667","g":"9a750c31.232ff","x":110,"y":620,"wires":[["47e5275f.4d2f28"],[],["bab10752.6edd08"],[],[],[],["a74e8e93.d6d21"],["39a74449.77df6c"],[],[],[],[]]},{"id":"47e5275f.4d2f28","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["7691a585.546ecc"]]},{"id":"5440eec3.a9cb4","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":480,"wires":[["a758a9bf.e3d618"]]},{"id":"bab10752.6edd08","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":560,"wires":[["5ba9db15.65d5e4"]]},{"id":"a74e8e93.d6d21","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":640,"wires":[["cbf46e6e.3ed0e"]]},{"id":"39a74449.77df6c","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":720,"wires":[["b83ff451.0bd268"]]},{"id":"a35a567b.c44d58","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Associate slave to msg","func":"const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["a0c5cba6.7c0ad8"]]},{"id":"b886dc45.3e7f6","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Atualização de dispositivo","info":"","x":410,"y":360,"wires":[]},{"id":"a39a3370.e9cee","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Temperatura","info":"","x":370,"y":440,"wires":[]},{"id":"efc477e9.c16678","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Potencia","info":"","x":360,"y":520,"wires":[]},{"id":"31a9eefc.bd6ef2","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Corrente","info":"","x":362.89581298828125,"y":601.2222290039062,"wires":[]},{"id":"baf8d8c9.6f64e8","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Voltagem","info":"","x":360,"y":680,"wires":[]},{"id":"e0ca70b.ad9cc9","type":"comment","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Humidade","info":"","x":360,"y":760,"wires":[]},{"id":"7691a585.546ecc","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Transform channel list to device","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["d722b9d9.f20608"]]},{"id":"a758a9bf.e3d618","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Transform temperature reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":480,"wires":[["d722b9d9.f20608"]]},{"id":"5ba9db15.65d5e4","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Transform consumption reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      consumption: lastReading.value * getMultiplier(name),\n      a: lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n      b: lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n      c: lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":560,"wires":[["bfefc34e.6bf21"]]},{"id":"cbf46e6e.3ed0e","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Transform current reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n  0: 'a',\n  1: 'b',\n  2: 'c',\n};\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      total_current: lastReading.total_current * getMultiplier(name),\n      current_a: lastReading.a * getMultiplier(name),\n      current_b: lastReading.b * getMultiplier(name),\n      current_c: lastReading.c * getMultiplier(name),\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":640,"wires":[["8429f336.83bed"]]},{"id":"b83ff451.0bd268","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Transform voltage reading to device update","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n  a = voltage.a;\n  b = voltage.b;\n  c = voltage.c;\n}\nif (fp) {\n  fpA = fp.a;\n  fpB = fp.b;\n  fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n  const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n  return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n  [cleanName]: [\n    {\n      fp_a: fpA,\n      fp_b: fpB,\n      fp_c: fpC,\n      voltage_a: a ? a * multiplier : null,\n      voltage_b: b ? b * multiplier : null,\n      voltage_c: c ? c * multiplier : null,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":720,"wires":[["942c838e.bb952","94048876.c6f0c8"]]},{"id":"a0c5cba6.7c0ad8","type":"function","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"Format humidity","func":"const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":800,"wires":[["942c838e.bb952"]]},{"id":"bfefc34e.6bf21","type":"split","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1155,"y":580,"wires":[["682c4256.dc86fc","d722b9d9.f20608"]],"l":false},{"id":"8429f336.83bed","type":"split","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1275,"y":640,"wires":[["d722b9d9.f20608"]],"l":false},{"id":"d722b9d9.f20608","type":"link out","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88"],"x":1355,"y":460,"wires":[]},{"id":"942c838e.bb952","type":"link out","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","links":["2104a251.44990e","5c469c9c.a2b1a4","a63e54b8.182d88"],"x":1195,"y":740,"wires":[]},{"id":"682c4256.dc86fc","type":"debug","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1235,"y":580,"wires":[],"l":false},{"id":"94048876.c6f0c8","type":"debug","z":"dbb9c2bc.42667","g":"9a750c31.232ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":700,"wires":[]},{"id":"59b2b505.b1857c","type":"inject","z":"dbb9c2bc.42667","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2640,"wires":[["d52a26d6.a8a548"]]},{"id":"d52a26d6.a8a548","type":"change","z":"dbb9c2bc.42667","name":"","rules":[{"t":"set","p":"lastSuccessfulRun","pt":"flow","to":"2024-09-09T09:00:00.000Z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2640,"wires":[[]]},{"id":"556178bf.6e1bd8","type":"inject","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"FLUSH","payloadType":"str","x":1560,"y":440,"wires":[["3242f5ff.9d3a8a"]]},{"id":"3242f5ff.9d3a8a","type":"function","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"Delayed Queue","func":"const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":380,"wires":[["8fea6ed.bbc8c9","59483b3d.3faa84"]]},{"id":"8fea6ed.bbc8c9","type":"debug","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1910,"y":440,"wires":[]},{"id":"bf0570b5.73ee8","type":"postgresql","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","query":"SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":570,"y":1200,"wires":[["7416219b.e3dc5","66ad4504.e5fd3c"]]},{"id":"786014a5.2c487c","type":"inject","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1220,"wires":[["2920c7dd.625ff8","f4f7069.e5919f8"]]},{"id":"2920c7dd.625ff8","type":"function","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1220,"wires":[["bf0570b5.73ee8","909d4384.2ad36","f4db07b7.897c28"]]},{"id":"909d4384.2ad36","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":575,"y":1260,"wires":[],"l":false},{"id":"7416219b.e3dc5","type":"function","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"Map devices","func":"// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Parse device name to extract multiplier from format: \"Hidr. <Name> x<multiplier> <initial>\"\n// e.g. \"Hidr. Teta_tetinha x100 2810m3\" → { actualName: \"Hidr. Teta_tetinha\", multiplier: 100 }\nfunction parseMultiplier(deviceName) {\n  const match = deviceName.match(/^(.*?)\\s*x(\\d+\\.?\\d*)[AV]?\\s*/i);\n  if (match) {\n    return { multiplier: parseFloat(match[2]) };\n  }\n  return { multiplier: 1 };\n}\n\nconst readings = Array.isArray(msg.payload) ? msg.payload : [];\n\n// 1) AGRUPA DO JEITO ORIGINAL (chave = device.name), aplicando o multiplier\nconst originalMap = readings.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  const { multiplier } = parseMultiplier(device.name);\n  const valueToAdd = reading.value * multiplier;\n\n  if (!(device.name in acc)) {\n    acc[device.name] = [];\n  }\n\n  acc[device.name].push({\n    ts: new Date(reading.timestamp).getTime(),\n    values: { pulses: valueToAdd },\n  });\n\n  return acc;\n}, {});\n\n// 2) CRIA UMA CÓPIA COM NOMES \"LIMPOS\" (pode fundir chaves que virem iguais)\nconst normalizedMap = Object.entries(originalMap).reduce((out, [rawName, arr]) => {\n  const cleanName = getNameWithoutMultipliers(rawName);\n  if (!out[cleanName]) out[cleanName] = [];\n  out[cleanName].push(...arr);\n  return out;\n}, {});\n\nmsg.payload = normalizedMap;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":1220,"wires":[["a3621c83.8b462","70524c9d.f91a8c","9b58ea20.906e18"]]},{"id":"66ad4504.e5fd3c","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":715,"y":1260,"wires":[],"l":false},{"id":"f2e09fc0.c5039","type":"function","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1260,"wires":[["bdca7b0c.2358b8"]]},{"id":"79add3dc.46d82c","type":"inject","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1260,"wires":[["f2e09fc0.c5039"]]},{"id":"9b58ea20.906e18","type":"link out","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","links":["61166549.5beffc"],"x":935,"y":1180,"wires":[]},{"id":"a3621c83.8b462","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":935,"y":1260,"wires":[],"l":false},{"id":"bdca7b0c.2358b8","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":495,"y":1260,"wires":[],"l":false},{"id":"70524c9d.f91a8c","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":1220,"wires":[]},{"id":"f4db07b7.897c28","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1160,"wires":[]},{"id":"f4f7069.e5919f8","type":"debug","z":"dbb9c2bc.42667","g":"9537256a.e8bc68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":1160,"wires":[]},{"id":"44d1ee8.2a5cc9","type":"function","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1655,"y":480,"wires":[["59483b3d.3faa84"]],"l":false},{"id":"61166549.5beffc","type":"link in","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"Directly","links":["9b58ea20.906e18","f02b830.335658","e857d443.d8d8e"],"x":1515,"y":480,"wires":[["44d1ee8.2a5cc9","9ec6b1c3.7020f"]]},{"id":"62aa8ede.784398","type":"inject","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1420,"wires":[["532c5045.d2b41"]]},{"id":"532c5045.d2b41","type":"function","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"Assembly devices","func":"function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date(\"2025-07-05T00:00:00-03:00\");\nconst end = new Date('2025-07-11T11:00:00-03:00');\n\n//now.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n    dateEnd: end.toISOString(),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1420,"wires":[["4fbad59d.9e1d14"]]},{"id":"4fbad59d.9e1d14","type":"postgresql","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"","query":"SELECT \n    time_bucket('15 minutes', timestamp) AS bucket,\n    slave_id,\n    channel,\n    SUM(value) AS value\nFROM channel_pulse_log\nWHERE timestamp > '{{{ msg.payload.dateStart }}}'\n  AND timestamp < '{{{ msg.payload.dateEnd }}}'\n  AND (slave_id, channel) IN {{{ msg.payload.devices }}}\n  AND value < 20000\nGROUP BY bucket, slave_id, channel\nORDER BY bucket, slave_id, channel;","postgreSQLConfig":"2c9b8cee.257e44","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":1420,"wires":[["665265ed.9afe5c"]]},{"id":"665265ed.9afe5c","type":"function","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"Map devices","func":"// Fetch all flow sensor devices\nconst devices = flow.get('devices') || {};\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n    for (const devKey in devices) {\n        const device = devices[devKey];\n        if (device.slaveId === slaveId && device.channelId === channel) {\n            return device;\n        }\n    }\n}\n\n// Process the incoming payload to create a history for each device\nmsg.payload = msg.payload.reduce((acc, reading) => {\n    const device = findDevice(reading.slave_id, reading.channel);\n    if (!device) {\n        return acc;\n    }\n    \n    // Parse the device.name which is in the format:\n    // \"Hidr. <DeviceName> x<multiplier> <initial reading>\"\n    // e.g., \"Hidr. Teta_tetinha x100 2810m3\"\n    const match = device.name.match(/^Hidr\\.\\s*(.*?)\\s*x(\\d+)/);\n    let actualName, multiplier;\n    if (match) {\n        actualName = match[1];\n        multiplier = parseFloat(match[2]);\n    } else {\n        actualName = device.name;\n        multiplier = 1;\n    }\n    \n    // Multiply the reading value by the multiplier\n    const valueToAdd = reading.value * multiplier;\n    // Get the timestamp from the bucket (in milliseconds)\n    const ts = new Date(reading.bucket).getTime();\n    \n    // Initialize the device array in the accumulator if it doesn't exist\n    if (!(actualName in acc)) {\n        acc[actualName] = [];\n    }\n    \n    // Append the reading to the device's history\n    acc[actualName].push({\n        ts: ts,\n        values: {\n            pulses2: valueToAdd\n        }\n    });\n    \n    return acc;\n}, {});\n\n// Sort each device's history by timestamp to ensure chronological order\nfor (const deviceName in msg.payload) {\n    msg.payload[deviceName].sort((a, b) => a.ts - b.ts);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1420,"wires":[["45489a21.0feb54","e857d443.d8d8e"]]},{"id":"45489a21.0feb54","type":"debug","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1420,"wires":[]},{"id":"77509211.bcb06c","type":"inject","z":"dbb9c2bc.42667","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":80,"wires":[["eb7ac369.f0e278"]]},{"id":"eb7ac369.f0e278","type":"function","z":"dbb9c2bc.42667","name":"Preencher","func":" \n aula\n [{\"ts\":1744552827000,\"values\":{\"pulses\":160}}]","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":80,"wires":[[]]},{"id":"9ec6b1c3.7020f","type":"debug","z":"dbb9c2bc.42667","g":"ac251c99.37e7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1755,"y":540,"wires":[],"l":false},{"id":"691efa85.41d644","type":"inject","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["779f2177.9e3568"]]},{"id":"779f2177.9e3568","type":"get-data","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","selectedOption":"slaves","x":340,"y":160,"wires":[["fa450bc9.8f79c","49ab78b7.da2848","bb5590ec.f1c8a"]]},{"id":"fa450bc9.8f79c","type":"split","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":495,"y":160,"wires":[["30a4237b.cbfa04"]],"l":false},{"id":"30a4237b.cbfa04","type":"switch","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Device Type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"outlet","vt":"str"},{"t":"eq","v":"three_phase_sensor","vt":"str"},{"t":"eq","v":"infrared","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":575,"y":160,"wires":[["f80306c3.1dcba"],["61ba5e78.173"],["649a11fa.e171"]],"l":false},{"id":"f7a1abd.ad4d158","type":"join","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1210,"y":160,"wires":[["7fdc7fb.442c98"]]},{"id":"7fdc7fb.442c98","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Merge into a single obj","func":"msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":160,"wires":[["3d13166b.ec8bc2","ef1fc744.e73c1"]]},{"id":"3d13166b.ec8bc2","type":"change","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Store to flow.devices","rules":[{"t":"set","p":"devices","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":160,"wires":[[]],"l":false},{"id":"2f298e2c.5f5bf2","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1095,"y":160,"wires":[["f7a1abd.ad4d158","82b7c5ae.78b85"]],"l":false},{"id":"49ab78b7.da2848","type":"change","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Set slave_data to flow","rules":[{"t":"set","p":"slave_data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":120,"wires":[[]],"l":false},{"id":"6f687214.660744","type":"mqtt out","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1360,"y":260,"wires":[]},{"id":"221cbe0a.9d32ea","type":"comment","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Save uniqueId to device attributes","info":"","x":1320,"y":220,"wires":[]},{"id":"ef1fc744.e73c1","type":"debug","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1555,"y":111,"wires":[],"l":false},{"id":"bb5590ec.f1c8a","type":"debug","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":71,"wires":[],"l":false},{"id":"82b7c5ae.78b85","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1155,"y":260,"wires":[["6f687214.660744"]],"l":false},{"id":"f80306c3.1dcba","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Transform slave outlet devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":120,"wires":[["2f298e2c.5f5bf2","12590382.bc52d4"]]},{"id":"61ba5e78.173","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Transform slave three_phase_sensor devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":160,"wires":[["2f298e2c.5f5bf2"]]},{"id":"649a11fa.e171","type":"function","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"Transform slave infrared devices","func":"const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":200,"wires":[["2f298e2c.5f5bf2"]]},{"id":"e857d443.d8d8e","type":"link out","z":"dbb9c2bc.42667","g":"c2d14329.43b008","name":"","links":["61166549.5beffc"],"x":835,"y":1380,"wires":[]},{"id":"e1ffd5d5.b1915","type":"inject","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"","props":[{"p":"url","v":"http://healthchecks.myio-bas.com/ping/81198c81-39e3-4941-ad66-b1ecbcc47ed7","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":320,"wires":[["9a899e54.0d81d8"]]},{"id":"f4dac189.57487","type":"http request","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":320,"wires":[["9e8da317.b2ee28"]]},{"id":"9e8da317.b2ee28","type":"switch","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":320,"wires":[["ef50ab0a.20a888"],["193b96d2.b41099","aa6654b8.6fbe48"]]},{"id":"ef50ab0a.20a888","type":"debug","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"Healthcheck sent.","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":300,"wires":[]},{"id":"193b96d2.b41099","type":"debug","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"Healthcheck failed.","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"aa6654b8.6fbe48","type":"function","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"","func":"let healthcheckFailureCount = flow.get('healthcheck_failure_count');\n\nif (healthcheckFailureCount == null) {\n    healthcheckFailureCount = 0;\n}\n\nhealthcheckFailureCount += 1;\n\nflow.set('healthcheck_failure_count', healthcheckFailureCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[[]]},{"id":"9a899e54.0d81d8","type":"function","z":"6d52c0ff.197a1","g":"d1831dc1.9fcaf","name":"","func":"const monitoringIssues = flow.get('monitoringIssues') || false;\nconst issueText = flow.get('issueText') || '';\nconst energyIssuesText = flow.get('energyIssuesText') || '';\n/*\nif (monitoringIssues) {\n    msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n}\n*/\n msg.payload = `${issueText}\\r\\n\\r\\n\\r\\n${energyIssuesText}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":235,"y":320,"wires":[["f4dac189.57487"]],"l":false},{"id":"2df119a.ada5666","type":"mqtt in","z":"af3c849c.1ca2c8","name":"","topic":"gateway/91b719b7-f2d2-4d3f-9fb9-ab3d4edbac0d/fetch","qos":"2","datatype":"auto-detect","broker":"b84e4a36.91cd38","x":270,"y":220,"wires":[["8cc31f1d.f5609","354686a2.81bcea"]]},{"id":"d62d12d9.a1fb68","type":"postgresql","z":"af3c849c.1ca2c8","name":"","query":"SELECT\n  time_bucket('5 minutes', cr.timestamp)    AS timestamp,\n  cr.slave_id,\n  AVG(cr.value * \n    COALESCE(\n      -- Extract multiplier from slave name using regex\n      -- Match patterns like \"x400A\", \"x400.28A\", \"x400\" but NOT \"x400V\"\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  )          AS value,\n  AVG(cr.value_reactive * \n    COALESCE(\n      -- Apply same multiplier to reactive power\n      CASE \n        WHEN s.name ~ 'x([0-9]+\\.?[0-9]*)[^V]' OR s.name ~ 'x([0-9]+\\.?[0-9]*)$'\n        THEN (regexp_match(s.name, 'x([0-9]+\\.?[0-9]*)'))[1]::float\n        ELSE 1\n      END,\n      1\n    )\n  ) AS value_reactive\nFROM consumption_realtime cr\nJOIN slaves s\n  ON cr.slave_id = s.id\nWHERE\n      -- start *after* the bucket containing last_ts\n      cr.timestamp >  ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '5 minutes')\n  AND cr.timestamp <= ('{{{ msg.payload.last_energy_ts }}}'::timestamptz\n                       + INTERVAL '1 hour')\n  AND (cr.value / 3.0) <= (\n    CASE COALESCE(s.clamp_type::text, '0')\n      WHEN '0' THEN 50\n      WHEN '1' THEN 100\n      WHEN '2' THEN 400\n      WHEN '3' THEN 1000\n      WHEN '4' THEN 2000\n      WHEN '5' THEN 1600\n      WHEN '6' THEN 1000\n      ELSE 0\n    END * 220\n  )\n  AND s.type = 'three_phase_sensor'\nGROUP BY timestamp, cr.slave_id\nORDER BY timestamp, cr.slave_id;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":180,"wires":[["76ef34e5.2f5bac"]]},{"id":"f0d2de48.509ba8","type":"function","z":"af3c849c.1ca2c8","name":"function 11","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/data`;\n\n// normalize lastEnergyTs, defaulting in your flow if not set\nconst lastEnergyTs = msg.payload.last_energy_ts || '2024-08-01T00:00:00.000Z';\n\nmsg.originalLastEnergyTs = lastEnergyTs;\nmsg.payload.last_energy_ts = lastEnergyTs;\n\n// parse and compare to “now”\nconst lastDate = new Date(lastEnergyTs);\nconst now = new Date();\n\nif (lastDate > now) {\n    msg.payload = [];\n    // last_ts is in the future → emit an empty-array on output 2\n    return [null, msg];\n}\n\n// otherwise continue with the normal payload on output 1\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":655,"y":200,"wires":[["d62d12d9.a1fb68"],["ca09d3da.220e4"]],"l":false},{"id":"ca09d3da.220e4","type":"mqtt out","z":"af3c849c.1ca2c8","name":"","topic":"","qos":"","retain":"","broker":"b84e4a36.91cd38","x":1030,"y":220,"wires":[]},{"id":"1366e254.687e56","type":"postgresql","z":"af3c849c.1ca2c8","name":"","query":"WITH raw_ts AS (\n  -- 1) use exactly what the cloud sent, or fall back to the first 2023+ reading\n  SELECT\n    COALESCE(\n      NULLIF('{{{ msg.payload.last_water_ts }}}','')::timestamptz,\n      (\n        SELECT MIN(timestamp)\n          FROM channel_pulse_log\n         WHERE timestamp > '2025-01-01T00:00:00Z'\n           AND channel   = 1\n      )\n    ) AS start_ts\n),\nchannel_info AS (\n  -- 2) lookup your per-slave multiplier\n  SELECT\n    slave_id,\n    MAX(\n      COALESCE(\n        (regexp_match(name, 'x([0-9]+\\\\.?[0-9]*)'))[1]::float,\n        1\n      )\n    ) AS multiplier\n  FROM channels\n  WHERE channel = 1\n    AND type    = 'flow_sensor'\n    AND slave_id IS NOT NULL\n  GROUP BY slave_id\n),\nbounds AS (\n  -- 3) from that start_ts, either take a full hour (if there's data),\n  --    or jump to the end of the very next non‐empty 5m bucket\n  SELECT\n    r.start_ts,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n          FROM channel_pulse_log c\n          JOIN channel_info ci ON c.slave_id = ci.slave_id\n         WHERE c.timestamp >  r.start_ts\n           AND c.timestamp <= r.start_ts + INTERVAL '1 hour'\n           AND c.channel   = 1\n           AND c.value     > 0\n           AND c.value     < 10000\n      )\n      THEN r.start_ts + INTERVAL '1 hour'\n      ELSE (\n        SELECT MIN(time_bucket('5 minutes', c2.timestamp) + INTERVAL '5 minutes')\n          FROM channel_pulse_log c2\n          JOIN channel_info ci2 ON c2.slave_id = ci2.slave_id\n         WHERE c2.timestamp > r.start_ts\n           AND c2.channel   = 1\n           AND c2.value     > 0\n           AND c2.value     < 10000\n      )\n    END AS end_ts\n  FROM raw_ts r\n),\nmain_data AS (\n  -- 4) aggregate _all_ pulses in that (start_ts, end_ts] window\n  SELECT\n    time_bucket('5 minutes', c.timestamp)  AS bucket_start,\n    c.slave_id,\n    SUM(c.value)                            AS sum_value,\n    (SUM(c.value) * ci.multiplier) / 1000   AS value\n  FROM channel_pulse_log c\n  JOIN channel_info    ci ON c.slave_id = ci.slave_id\n  JOIN bounds          b  ON TRUE\n  WHERE\n        c.timestamp >  b.start_ts\n    AND c.timestamp <= b.end_ts\n    AND c.channel   = 1\n    AND c.value     > 0\n    AND c.value     < 10000\n  GROUP BY bucket_start, c.slave_id, ci.multiplier\n)\n-- 5) return exactly one row _and_ use end_ts as the returned timestamp\nSELECT\n  (SELECT end_ts FROM bounds) AS timestamp,\n  slave_id,\n  sum_value,\n  value,\n  1                            AS channel\nFROM main_data\nORDER BY timestamp DESC, slave_id\nLIMIT 1;\n","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":810,"y":240,"wires":[["ca09d3da.220e4"]]},{"id":"17daf19e.537e56","type":"function","z":"af3c849c.1ca2c8","name":"function 10","func":"const UUID = env.get('CENTRAL_UUID');\nmsg.topic = `gateway/${UUID}/water`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":655,"y":240,"wires":[["1366e254.687e56"]],"l":false},{"id":"76ef34e5.2f5bac","type":"function","z":"af3c849c.1ca2c8","name":"Send gap: true if empty response","func":"// Node-RED Function node\n\n// grab the lastEnergyTs that your cloud sent\nconst lastTs = msg.originalLastEnergyTs;\n\nif (!lastTs) {\n    node.error('originalLastEnergyTs not set on msg');\n    return null;\n}\n\n// if we got an empty array of readings → signal a gap\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    // compute next_date = lastTs + 1 hour\n    const next = new Date(lastTs);\n    next.setHours(next.getHours() + 1);\n\n    // SAFEGUARD: Don't send a next_date in the future\n    const now = new Date();\n    if (next > now) {\n        node.warn(`Not sending gap: next_date (${next.toISOString()}) is in the future (now: ${now.toISOString()})`);\n        return null;\n    }\n\n    msg.payload = {\n        gap: true,\n        next_date: next.toISOString()\n    };\n}\n\n// otherwise msg.payload remains the array of readings\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":935,"y":180,"wires":[["ca09d3da.220e4"]],"l":false},{"id":"eb5c2514.e845a8","type":"inject","z":"af3c849c.1ca2c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CENTRAL_UUID","payloadType":"env","x":150,"y":120,"wires":[["e95e2ae9.f18dc8"]]},{"id":"e95e2ae9.f18dc8","type":"debug","z":"af3c849c.1ca2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":285,"y":120,"wires":[],"l":false},{"id":"8cc31f1d.f5609","type":"json","z":"af3c849c.1ca2c8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":200,"wires":[["f0d2de48.509ba8","415426eb.964508"]]},{"id":"354686a2.81bcea","type":"json","z":"af3c849c.1ca2c8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":240,"wires":[["17daf19e.537e56"]]},{"id":"2b591926.8e5f8e","type":"function","z":"af3c849c.1ca2c8","name":"Send status","func":"// Gateway Status Update Function Node\n// Generates a properly formatted status message to be published via MQTT\nconst UUID = env.get('CENTRAL_UUID');\n// Configuration (adjust these values as needed)\nconst gatewayId = UUID;\nconst status = msg.status || \"ok\"; // 'ok' or 'error'\nconst slaves = msg.slaves || []; // Default slave IDs\nconst waterChannels = [1];\n\n// Generate the status message\nconst statusMessage = {\n    status: status,\n    timestamp: new Date().toISOString(),\n    metadata: {\n        slaves: slaves,\n        waterChannels: waterChannels,\n        source: \"node-red\"\n    }\n};\n\n// Set the topic for MQTT\nmsg.topic = `gateway/${gatewayId}/status`;\n\n// Set the payload to the status message\nmsg.payload = statusMessage;\n\n// Send the message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["98cac605.97f1d8","351dd810.280f18"]]},{"id":"19ea4e10.d1d2ca","type":"inject","z":"af3c849c.1ca2c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["2b35ee10.59a702"]]},{"id":"351dd810.280f18","type":"mqtt out","z":"af3c849c.1ca2c8","name":"","topic":"","qos":"","retain":"","broker":"b84e4a36.91cd38","x":750,"y":320,"wires":[]},{"id":"2b35ee10.59a702","type":"postgresql","z":"af3c849c.1ca2c8","name":"","query":"SELECT id FROM slaves;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":330,"y":320,"wires":[["b1673b5e.ec9d48"]]},{"id":"b1673b5e.ec9d48","type":"function","z":"af3c849c.1ca2c8","name":"Set slaves","func":"msg.slaves = msg.payload.map((slave) => slave.id);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":455,"y":320,"wires":[["2b591926.8e5f8e"]],"l":false},{"id":"98cac605.97f1d8","type":"debug","z":"af3c849c.1ca2c8","name":"debug 64","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"f985c7a0.56d648","type":"comment","z":"af3c849c.1ca2c8","name":"1. Get the central UUID here","info":"It will appear on the logs","x":180,"y":80,"wires":[]},{"id":"3b24f6b5.9c6a1a","type":"comment","z":"af3c849c.1ca2c8","name":"2. Change the topic to use the central UUID","info":"It will appear on the logs","x":230,"y":180,"wires":[]},{"id":"11fd35a7.a6cea2","type":"comment","z":"af3c849c.1ca2c8","name":"3. Nothing to do here, just leave it as it is.","info":"## This will register the gateway in\n\nhttps://ingestion.myio-bas.com","x":220,"y":280,"wires":[]},{"id":"20a10c15.d113cc","type":"comment","z":"af3c849c.1ca2c8","name":"4. Accept the gateway","info":"Go on https://ingestion.myio-bas.com/\n\nAnd register the current gateway","x":160,"y":400,"wires":[]},{"id":"7914d1c1.3c41","type":"postgresql","z":"dbb9c2bc.42667","name":"","query":"WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '15 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":1330,"y":1420,"wires":[["f9d56587.cb5318"]]},{"id":"e17b6c67.029598","type":"inject","z":"dbb9c2bc.42667","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1160,"y":1420,"wires":[["7914d1c1.3c41"]]},{"id":"f9d56587.cb5318","type":"debug","z":"dbb9c2bc.42667","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":1440,"wires":[]},{"id":"415426eb.964508","type":"debug","z":"af3c849c.1ca2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"8018b52.47a7dc8","type":"myio-emitter","z":"dbb9c2bc.42667","x":70,"y":3480,"wires":[["5db7431e.b0c704"],["5db7431e.b0c704"],["5db7431e.b0c704"],[],["5db7431e.b0c704"],["5db7431e.b0c704"],[],[],[],["5db7431e.b0c704"],["5db7431e.b0c704"],[]]},{"id":"5db7431e.b0c704","type":"function","z":"dbb9c2bc.42667","name":"","func":"let objetoCircular = global.get('statusCircular') || {};\nlet keyToCheck = msg.payload.id;\nif (Object.keys(objetoCircular).length >0  ) {\n\n       if (objetoCircular.hasOwnProperty(keyToCheck)) {\n        // Altera o valor para 'online'\n        objetoCircular[keyToCheck] = 'online';\n        global.set('statusCircular', objetoCircular);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":3480,"wires":[["86a481a6.9e21c8"]]},{"id":"86a481a6.9e21c8","type":"debug","z":"dbb9c2bc.42667","name":"cabelo curto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":3480,"wires":[]},{"id":"4295a733.c97a98","type":"function","z":"dbb9c2bc.42667","name":"function 30","func":"let objetosDentro = global.get('statusCircular') || {};\nlet vetor = flow.get('slave_data') || [];\n\nif (Object.keys(objetosDentro).length === 0) {\n\n    for (let item of vetor) {\n        \n        objetosDentro[item.id] = 'offline';\n    }\n    global.set('statusCircular',objetosDentro);\n    return null;\n}\n\nfor (let key in objetosDentro) {\n  objetosDentro[key] = 'offline';\n}\n\nglobal.set('statusCircular',objetosDentro);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":375,"y":3720,"wires":[[]],"l":false},{"id":"df78bc36.b4789","type":"mqtt out","z":"dbb9c2bc.42667","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":610,"y":3680,"wires":[]},{"id":"65e643f0.b04624","type":"inject","z":"dbb9c2bc.42667","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5400","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":3640,"wires":[["874b3392.32959"]]},{"id":"97c9605b.17bc3","type":"function","z":"dbb9c2bc.42667","name":"function 30","func":"\nconst httpDevices = msg.payload;\nconst objetosDentro = global.get('statusCircular') || {};\n\nmsg.payload = {\n  offlineDevices: httpDevices.filter((slave) => {\n    return objetosDentro[slave.id] === 'offline';\n  })};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":315,"y":3640,"wires":[["df78bc36.b4789","d85e8455.0b5f1","4295a733.c97a98"]],"l":false},{"id":"d85e8455.0b5f1","type":"debug","z":"dbb9c2bc.42667","name":"Pudim de geleia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":3620,"wires":[]},{"id":"874b3392.32959","type":"http request","z":"dbb9c2bc.42667","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":235,"y":3640,"wires":[["97c9605b.17bc3"]],"l":false},{"id":"787b5e05.7f35a","type":"inject","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":660,"wires":[["2ff0b969.64d3fe"]]},{"id":"2ff0b969.64d3fe","type":"postgresql","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","query":"SELECT \n    c.slave_id,\n    c.channel,\n    c.name AS channel_name,\n    s.name AS slave_name,\n    MAX(cpl.timestamp) AS last_reading\nFROM \n    channels c\nLEFT JOIN \n    channel_pulse_log cpl ON c.slave_id = cpl.slave_id AND c.channel = cpl.channel\nLEFT JOIN \n    slaves s ON c.slave_id = s.id\nWHERE \n    c.name LIKE 'Hidr.%'\n  AND c.slave_id IS NOT NULL\nGROUP BY \n    c.slave_id, c.channel, c.name, s.name\nHAVING \n    MAX(cpl.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cpl.timestamp) IS NULL;","postgreSQLConfig":"b7242f71.79e57","split":false,"rowsPerMsg":1,"outputs":1,"x":400,"y":660,"wires":[["b1e5c9cd.2a251","fddc124.821f7f","6a18bb46.69346c"]]},{"id":"b1e5c9cd.2a251","type":"debug","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":660,"wires":[]},{"id":"fddc124.821f7f","type":"function","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Ch\", \"Channel Name\", \"Last Reading\"];\nconst colWidths = [4, 4, 20, 12]; // Adjusted widths: slave_id, channel, channel_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const channel = String(row.channel || row.ch).padEnd(widths[1]);\n    const name = (row.channel_name || \"\").substring(0, widths[2]).padEnd(widths[2]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[3]) \n        : formatDate(row.last_reading).padEnd(widths[3]);\n    return `${id}${channel}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], ch: headers[1], channel_name: headers[2], last_reading: headers[3] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["a1ab683f.84d43","695a118e.f084f"]]},{"id":"a1ab683f.84d43","type":"debug","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":700,"wires":[]},{"id":"695a118e.f084f","type":"change","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"issueText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":740,"wires":[[]]},{"id":"6a18bb46.69346c","type":"function","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","func":"msg.payload = {\n    missingWaterReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":575,"y":780,"wires":[["8fd42919.9d30a8"]],"l":false},{"id":"8fd42919.9d30a8","type":"mqtt out","z":"6d52c0ff.197a1","g":"e3c1c8f2.aa76f","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":770,"y":780,"wires":[]},{"id":"ebbec018.e5bd1","type":"postgresql","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","query":"SELECT \n    s.id AS slave_id,\n    s.name AS slave_name,\n    MAX(cr.timestamp) AS last_reading\nFROM \n    slaves s\nLEFT JOIN \n    consumption_realtime cr ON s.id = cr.slave_id\nWHERE \n    s.type = 'three_phase_sensor'\nGROUP BY \n    s.id, s.name\nHAVING \n    MAX(cr.timestamp) < NOW() - INTERVAL '72 hours'\n    OR MAX(cr.timestamp) IS NULL;","postgreSQLConfig":"2c45df63.f68c4","split":false,"rowsPerMsg":1,"outputs":1,"x":370,"y":880,"wires":[["9d85809a.b425d","f65ddd1c.2e4fe"]]},{"id":"3b13fd72.23a32a","type":"inject","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"43200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":880,"wires":[["ebbec018.e5bd1"]]},{"id":"9d85809a.b425d","type":"function","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","func":"// Parse input JSON (array of objects)\nconst data = msg.payload;\n\n// Table headers\nconst headers = [\"ID\", \"Device Name\", \"Last Reading\"];\nconst colWidths = [4, 20, 12]; // Widths: slave_id, slave_name, last_reading\n\n// Custom text to prepend\nconst customText = \"Energy devices with no readings in 72+ hours:\\n\";\n\n// Function to validate and format date\nfunction formatDate(dateStr) {\n    if (!dateStr) return \"No Reading\";\n    try {\n        const date = new Date(dateStr);\n        if (isNaN(date.getTime())) return \"Invalid Date\";\n        return date.toISOString().split('T')[0];\n    } catch (e) {\n        return \"Invalid Date\";\n    }\n}\n\n// Check if a device has an issue (last_reading is null or > 72 hours old)\nfunction hasIssue(row) {\n    if (!row.last_reading) return true;\n    try {\n        const lastReading = new Date(row.last_reading);\n        const now = new Date();\n        const hoursDiff = (now - lastReading) / (1000 * 60 * 60); // Convert ms to hours\n        return hoursDiff > 72;\n    } catch (e) {\n        return true; // Treat invalid dates as issues\n    }\n}\n\n// Format a single row\nfunction formatRow(row, widths, isHeader = false) {\n    const id = String(row.slave_id || row.id).padEnd(widths[0]);\n    const name = (row.slave_name || \"\").substring(0, widths[1]).padEnd(widths[1]);\n    const reading = isHeader \n        ? String(row.last_reading).padEnd(widths[2]) \n        : formatDate(row.last_reading).padEnd(widths[2]);\n    return `${id}${name}${reading}`;\n}\n\n// Determine if there are any devices with issues\nconst hasIssues = data.some(row => hasIssue(row));\n\n// Create table: custom text + headers + separator + rows\nlet output = customText;\noutput += formatRow({ id: headers[0], slave_name: headers[1], last_reading: headers[2] }, colWidths, true);\noutput += \"\\n\" + \"-\".repeat(colWidths.reduce((a, b) => a + b, 0)) + \"\\n\";\ndata.forEach(row => {\n    output += formatRow(row, colWidths, false) + \"\\n\";\n});\n\n// Set output to msg.payload and add hasIssues flag\nmsg.payload = output;\nmsg.hasIssues = hasIssues;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":880,"wires":[["1d273178.4518af","7d0b30f.dcb4b5"]]},{"id":"1d273178.4518af","type":"debug","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":880,"wires":[]},{"id":"7d0b30f.dcb4b5","type":"change","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","rules":[{"t":"set","p":"monitoringIssues","pt":"flow","to":"hasIssues","tot":"msg"},{"t":"set","p":"energyIssuesText","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[[]]},{"id":"7f9f04cb.51788c","type":"mqtt out","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","topic":"v1/devices/me/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":790,"y":960,"wires":[]},{"id":"f65ddd1c.2e4fe","type":"function","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","func":"msg.payload = {\n    missingEnergyReadings: msg.payload,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":635,"y":960,"wires":[["7f9f04cb.51788c","c34790c.e19387"]],"l":false},{"id":"c34790c.e19387","type":"debug","z":"6d52c0ff.197a1","g":"6802271c.358cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":1000,"wires":[]},{"id":"a3aea533.d47358","type":"data-fetcher","z":"af3c849c.1ca2c8","name":"","mqtt":"ddd079fd.2a9b7","uuidOverride":"","x":130,"y":560,"wires":[]},{"id":"f0f7989e.392e28","type":"http in","z":"dbb9c2bc.42667","name":"Day with the lowest consumption","url":"/dash_api/day_with_lowest_consumption/:slave_id/:start_ts/:end_ts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2220,"wires":[["72ac0cb5.5cad04"]]},{"id":"64c7c771.871608","type":"http response","z":"dbb9c2bc.42667","name":"","statusCode":"200","headers":{},"x":620,"y":2220,"wires":[]},{"id":"ee6eeaf4.cf8f48","type":"http in","z":"dbb9c2bc.42667","name":"Get Device Info","url":"/dash_api/device_details/:slave_id","method":"get","upload":false,"swaggerDoc":"","x":120,"y":2260,"wires":[["85855e63.93274"]]},{"id":"c6a55e98.51c78","type":"http response","z":"dbb9c2bc.42667","name":"","statusCode":"200","headers":{},"x":620,"y":2260,"wires":[]},{"id":"72ac0cb5.5cad04","type":"postgresql","z":"dbb9c2bc.42667","name":"","query":"SELECT\n    time_bucket('1 day', timestamp) AS day,\n    SUM(value) / 1000 AS total_consumption_kwh\nFROM (\n    SELECT\n        time_bucket('1 hour', timestamp) AS timestamp,\n        AVG(value) AS value\n    FROM\n        consumption_realtime\n    WHERE\n        slave_id = {{ msg.req.params.slave_id }}\n        AND timestamp\n    BETWEEN TO_TIMESTAMP({{ msg.req.params.start_ts }}::bigint / 1000)\n        AND TO_TIMESTAMP({{ msg.req.params.end_ts }}::bigint / 1000)\n    GROUP BY\n        time_bucket('1 hour', timestamp)\n) AS hourly_data\nGROUP BY\n    day\nORDER BY\n    total_consumption_kwh ASC\nLIMIT 1;","postgreSQLConfig":"c3259202.9eb35","split":false,"rowsPerMsg":1,"outputs":1,"x":450,"y":2220,"wires":[["64c7c771.871608"]]},{"id":"85855e63.93274","type":"postgresql","z":"dbb9c2bc.42667","name":"","query":"SELECT *\n  FROM slaves\n WHERE id = {{ msg.req.params.slave_id }}","postgreSQLConfig":"c3259202.9eb35","split":false,"rowsPerMsg":1,"outputs":1,"x":450,"y":2260,"wires":[["c6a55e98.51c78"]]},{"id":"5b15930d.c762cc","type":"inject","z":"dbb9c2bc.42667","g":"78fd123.e6b4dec","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1570,"y":660,"wires":[["4dd4ce0c.5b95f"]]},{"id":"4dd4ce0c.5b95f","type":"http request","z":"dbb9c2bc.42667","g":"78fd123.e6b4dec","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/v2/slaves","tls":"","persist":false,"proxy":"","authType":"","x":1610,"y":720,"wires":[["6d415cf5.9ef494"]]},{"id":"6d415cf5.9ef494","type":"function","z":"dbb9c2bc.42667","g":"78fd123.e6b4dec","name":"Map status to device","func":"const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":800,"wires":[["fb195635.b034a8","1b89263b.ebcbd2"]]},{"id":"fb195635.b034a8","type":"link out","z":"dbb9c2bc.42667","g":"78fd123.e6b4dec","name":"link out 3","links":["d4827748.23c","65168341.77ec9c","89d19f2a.22028","a63e54b8.182d88"],"x":1775,"y":700,"wires":[]},{"id":"985613af.43ef48","type":"inject","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"paylod","v":"CENTRAL_UUID","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1590,"y":980,"wires":[["37c71b0.8b7e766"]]},{"id":"37c71b0.8b7e766","type":"function","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"","func":"const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1080,"wires":[["a2c66865.2f64"]]},{"id":"d077ef33.93717","type":"mqtt out","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"","topic":"v1/gateway/attributes","qos":"","retain":"","broker":"ba7623fd.d47d2","x":1940,"y":960,"wires":[]},{"id":"c82422c7.e53748","type":"debug","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1940,"y":1080,"wires":[]},{"id":"bc9bab79.a1bc58","type":"comment","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"Envia o atributo Central ID dispositivo + deviceType","info":"","x":1670,"y":920,"wires":[]},{"id":"a2c66865.2f64","type":"function","z":"dbb9c2bc.42667","g":"ad2171be.e05f4","name":"Add namespace","func":"const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1755,"y":1020,"wires":[["d077ef33.93717","c82422c7.e53748"]],"l":false},{"id":"12590382.bc52d4","type":"debug","z":"dbb9c2bc.42667","g":"a50b57a4.71fc08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":100,"wires":[]},{"id":"1b89263b.ebcbd2","type":"debug","z":"dbb9c2bc.42667","g":"78fd123.e6b4dec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1835,"y":780,"wires":[],"l":false}]