src/NODE-RED/ILHA-PLAZA/AL2/node-red-central-53052549-cc8c-4ca2-a597-58e0577548a2-2026-04-17-11-29.json
[
  { "id": "b5c717d3.0bf2c8", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" },
  {
    "id": "10b57841.9aceb",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["dffd2fb1.ed8788", "10e5db7d.a3517d", "1a2afa3.7245986", "becf486c.de69c", "4c3c3258.a7e9bc"],
    "x": 1474,
    "y": 619,
    "w": 442,
    "h": 222
  },
  {
    "id": "263ed35a.cc6abc",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "3286780f.47f5d8",
      "89c0c53b.6707b",
      "9618f65.457e108",
      "a9cb315.70d57d",
      "11da5e25.3cecf2",
      "cdbd430.2d8d9c",
      "83940b3d.a78b6",
      "57d7c7b1.d8e68",
      "bc3e60d1.3f4e7",
      "58296968.294e5",
      "24124180.e6620e",
      "869163f5.ce58a8",
      "29559518.84766a",
      "a6078213.e03eb",
      "f1a404fd.fb04e8",
      "53301a09.d43df4",
      "2adac511.723aaa"
    ],
    "x": 34,
    "y": 30,
    "w": 1582,
    "h": 271
  },
  {
    "id": "2aa6d15a.9c1b9e",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "check",
    "style": { "label": true },
    "nodes": [
      "839ab9d8.1527d8",
      "9ca9ef0f.4a2ca",
      "56bc2ba1.040794",
      "32c45d3b.b0f9c2",
      "7f780c40.ad45e4",
      "69a79861.6bcc18",
      "576dbbef.c8b814",
      "c7e20ce1.fc6c6",
      "b3c3a42e.37de88"
    ],
    "x": 34,
    "y": 879,
    "w": 912,
    "h": 202
  },
  {
    "id": "4e065e02.60c95",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "Check",
    "style": { "label": true },
    "nodes": ["b2c78799.f1ff48", "3537a055.6876d"],
    "x": 1674,
    "y": 279,
    "w": 472,
    "h": 82
  },
  {
    "id": "5acfe056.4629d",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "24901aee.526d36",
      "c32b17cc.cb41c8",
      "9a488617.7613b8",
      "522671ca.bafb4",
      "7225997d.7146f8",
      "83bbf1b.0a8181",
      "b7a73a3f.105838",
      "4576de96.1412c",
      "223f0fd.62870f",
      "1298221a.0393fe",
      "6f9a88c2.f53258",
      "da24254e.733de8",
      "9d2a4824.718408",
      "8d19f4e5.fa53d8",
      "5b38fdad.136234",
      "4b1f699a.832a98",
      "662e9632.967838",
      "da527f92.2eaac",
      "66674b7.64da7b4",
      "fdc10fae.92cb2",
      "88848632.2021e8",
      "e56cde5c.56f23",
      "737a7284.a50ecc",
      "5741f007.2475d"
    ],
    "x": 34,
    "y": 339,
    "w": 1362,
    "h": 522
  },
  {
    "id": "6079ae30.11a",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "CENTRAL_UUID",
    "style": { "label": true },
    "nodes": ["fd385c3c.97816", "89654428.c08bf8"],
    "x": 1674,
    "y": 179,
    "w": 472,
    "h": 82
  },
  {
    "id": "9537256a.e8bc68",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "Get pulses every 1 min",
    "style": { "label": true },
    "nodes": [
      "bf0570b5.73ee8",
      "786014a5.2c487c",
      "2920c7dd.625ff8",
      "909d4384.2ad36",
      "7416219b.e3dc5",
      "66ad4504.e5fd3c",
      "f2e09fc0.c5039",
      "79add3dc.46d82c",
      "9b58ea20.906e18",
      "a3621c83.8b462",
      "bdca7b0c.2358b8",
      "70524c9d.f91a8c",
      "f4db07b7.897c28",
      "f4f7069.e5919f8"
    ],
    "x": 34,
    "y": 1119,
    "w": 1292,
    "h": 182
  },
  {
    "id": "ac251c99.37e7e",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "Thingsboard",
    "style": { "label": true },
    "nodes": [
      "59483b3d.3faa84",
      "a4a924a3.e44a18",
      "a63e54b8.182d88",
      "3242f5ff.9d3a8a",
      "556178bf.6e1bd8",
      "8fea6ed.bbc8c9",
      "597516d4.b825d8",
      "2f1d74fd.9c97fc"
    ],
    "x": 1474,
    "y": 399,
    "w": 592,
    "h": 182
  },
  {
    "id": "d1bd18eb.4b8f3",
    "type": "group",
    "z": "b5c717d3.0bf2c8",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": [
      "ef20a8c8.7b4b98",
      "bf335e7.54bb8a",
      "d592166e.a98d",
      "a38009d6.21387",
      "ba6f8c3b.426bc8",
      "fa3facff.aca09"
    ],
    "x": 1474,
    "y": 859,
    "w": 612,
    "h": 242
  },
  {
    "id": "59b2b505.b1857c",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 2860,
    "wires": [["d52a26d6.a8a548"]]
  },
  {
    "id": "d52a26d6.a8a548",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "name": "",
    "rules": [
      { "t": "set", "p": "lastSuccessfulRun", "pt": "flow", "to": "2024-09-01T09:00:00.000Z", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 2860,
    "wires": [[]]
  },
  {
    "id": "839ab9d8.1527d8",
    "type": "http in",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "url": "/Check",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 980,
    "wires": [["7f780c40.ad45e4"]]
  },
  {
    "id": "9ca9ef0f.4a2ca",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 675,
    "y": 940,
    "wires": [],
    "l": false
  },
  {
    "id": "56bc2ba1.040794",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "Format name",
    "func": "const pattern = /\\s\\([^()]+\\)$/;\nconst deviceName = msg.payload.device;\nconst newDeviceName = deviceName.replace(pattern, '');\n\nmsg.payload = {\n    device: newDeviceName,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 355,
    "y": 980,
    "wires": [["32c45d3b.b0f9c2", "c7e20ce1.fc6c6"]],
    "l": false
  },
  {
    "id": "32c45d3b.b0f9c2",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "get slaveId",
    "func": "const payload = msg.payload;\nconst devices = flow.get('devices') || {};\nconst device = devices[payload.device];\nconst slaveId = device.slaveId;\n\n return {\n        payload: {\n            id: slaveId,\n        }\n    }\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 470,
    "y": 980,
    "wires": [["9ca9ef0f.4a2ca", "576dbbef.c8b814"]]
  },
  {
    "id": "7f780c40.ad45e4",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "rules": [{ "t": "set", "p": "type", "pt": "msg", "to": "http", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 295,
    "y": 980,
    "wires": [["56bc2ba1.040794"]],
    "l": false
  },
  {
    "id": "69a79861.6bcc18",
    "type": "http response",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 860,
    "y": 1040,
    "wires": []
  },
  {
    "id": "576dbbef.c8b814",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "\"\"", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 1040,
    "wires": [["69a79861.6bcc18"]]
  },
  {
    "id": "c7e20ce1.fc6c6",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 435,
    "y": 920,
    "wires": [],
    "l": false
  },
  {
    "id": "b3c3a42e.37de88",
    "type": "send-check",
    "z": "b5c717d3.0bf2c8",
    "g": "2aa6d15a.9c1b9e",
    "x": 710,
    "y": 980,
    "wires": []
  },
  {
    "id": "b2c78799.f1ff48",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "4e065e02.60c95",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"slave\": { \"id\": 90} }",
    "payloadType": "json",
    "x": 1810,
    "y": 320,
    "wires": [["3537a055.6876d"]]
  },
  {
    "id": "3537a055.6876d",
    "type": "send-check",
    "z": "b5c717d3.0bf2c8",
    "g": "4e065e02.60c95",
    "x": 2050,
    "y": 320,
    "wires": []
  },
  {
    "id": "24901aee.526d36",
    "type": "myio-emitter",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "x": 110,
    "y": 640,
    "wires": [
      ["c32b17cc.cb41c8"],
      [],
      ["522671ca.bafb4"],
      [],
      [],
      [],
      ["7225997d.7146f8"],
      ["83bbf1b.0a8181"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "c32b17cc.cb41c8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 420,
    "wires": [["8d19f4e5.fa53d8"]]
  },
  {
    "id": "9a488617.7613b8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 500,
    "wires": [["5b38fdad.136234"]]
  },
  {
    "id": "522671ca.bafb4",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 580,
    "wires": [["4b1f699a.832a98"]]
  },
  {
    "id": "7225997d.7146f8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 660,
    "wires": [["662e9632.967838"]]
  },
  {
    "id": "83bbf1b.0a8181",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 740,
    "wires": [["da527f92.2eaac"]]
  },
  {
    "id": "b7a73a3f.105838",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 820,
    "wires": [["66674b7.64da7b4"]]
  },
  {
    "id": "4576de96.1412c",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 410,
    "y": 380,
    "wires": []
  },
  {
    "id": "223f0fd.62870f",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Temperatura",
    "info": "",
    "x": 370,
    "y": 460,
    "wires": []
  },
  {
    "id": "1298221a.0393fe",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Potencia",
    "info": "",
    "x": 360,
    "y": 540,
    "wires": []
  },
  {
    "id": "6f9a88c2.f53258",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Corrente",
    "info": "",
    "x": 362.89581298828125,
    "y": 621.2222290039062,
    "wires": []
  },
  {
    "id": "da24254e.733de8",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Voltagem",
    "info": "",
    "x": 360,
    "y": 700,
    "wires": []
  },
  {
    "id": "9d2a4824.718408",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Humidade",
    "info": "",
    "x": 360,
    "y": 780,
    "wires": []
  },
  {
    "id": "8d19f4e5.fa53d8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 730,
    "y": 420,
    "wires": [["e56cde5c.56f23"]]
  },
  {
    "id": "5b38fdad.136234",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 780,
    "y": 500,
    "wires": [["e56cde5c.56f23"]]
  },
  {
    "id": "4b1f699a.832a98",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 790,
    "y": 580,
    "wires": [["fdc10fae.92cb2"]]
  },
  {
    "id": "662e9632.967838",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 660,
    "wires": [["88848632.2021e8"]]
  },
  {
    "id": "da527f92.2eaac",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 740,
    "wires": [["737a7284.a50ecc"]]
  },
  {
    "id": "66674b7.64da7b4",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "Format humidity",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.payload = {\n    [slave.name]: [{\n        \"humidity\": lastReading.humidity\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 820,
    "wires": [["737a7284.a50ecc"]]
  },
  {
    "id": "fdc10fae.92cb2",
    "type": "split",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1155,
    "y": 600,
    "wires": [["5741f007.2475d", "e56cde5c.56f23"]],
    "l": false
  },
  {
    "id": "88848632.2021e8",
    "type": "split",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 1275,
    "y": 660,
    "wires": [["e56cde5c.56f23"]],
    "l": false
  },
  {
    "id": "e56cde5c.56f23",
    "type": "link out",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "",
    "links": ["2104a251.44990e", "a63e54b8.182d88"],
    "x": 1355,
    "y": 480,
    "wires": []
  },
  {
    "id": "737a7284.a50ecc",
    "type": "link out",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "",
    "links": ["2104a251.44990e", "a63e54b8.182d88"],
    "x": 1195,
    "y": 760,
    "wires": []
  },
  {
    "id": "5741f007.2475d",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "5acfe056.4629d",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1235,
    "y": 600,
    "wires": [],
    "l": false
  },
  {
    "id": "fd385c3c.97816",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "6079ae30.11a",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1790,
    "y": 220,
    "wires": [["89654428.c08bf8"]]
  },
  {
    "id": "89654428.c08bf8",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "6079ae30.11a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2030,
    "y": 220,
    "wires": []
  },
  {
    "id": "59483b3d.3faa84",
    "type": "mqtt out",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1940,
    "y": 440,
    "wires": []
  },
  {
    "id": "a4a924a3.e44a18",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1583,
    "y": 440,
    "wires": [["3242f5ff.9d3a8a"]],
    "l": false
  },
  {
    "id": "a63e54b8.182d88",
    "type": "link in",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "",
    "links": [
      "6a8d76a0.316138",
      "fc544c8d.06834",
      "4c51ea40.64a4e4",
      "bca8fcee.f61da",
      "27b46fbd.c51ed",
      "737a7284.a50ecc",
      "e56cde5c.56f23",
      "53a6ab82.0071c4",
      "becf486c.de69c",
      "9b58ea20.906e18"
    ],
    "x": 1515,
    "y": 440,
    "wires": [["a4a924a3.e44a18"]]
  },
  {
    "id": "3242f5ff.9d3a8a",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "Delayed Queue",
    "func": "const bufferKey = 'latestMessages';\nconst lastSentKey = 'lastSentTimes';\n\nconst latestMessages = context.get(bufferKey) || {};\nconst lastSentTimes = context.get(lastSentKey) || {};\n\n// Get the TTL from flow context or default to 5000ms\nconst deviceTTL = flow.get('deviceTTL') || 5000;\nconst now = Date.now();\n\n// Handle \"FLUSH\" payload\nif (typeof msg.payload === 'string' && msg.payload === 'FLUSH') {\n    const newPayload = {};\n    \n    // Flush messages for devices whose TTL has expired\n    for (const [deviceName, telemetry] of Object.entries(latestMessages)) {\n        const lastSentTime = lastSentTimes[deviceName] || 0;\n        if (now - lastSentTime >= deviceTTL) {\n            newPayload[deviceName] = [telemetry];\n            lastSentTimes[deviceName] = now;\n            // Clear the flushed message\n            delete latestMessages[deviceName];\n        }\n    }\n\n    // Save the cleaned states to context\n    context.set(bufferKey, latestMessages);\n    context.set(lastSentKey, lastSentTimes);\n\n    return Object.keys(newPayload).length > 0 ? { payload: newPayload } : null;\n}\n\n// Process normal payloads\nif (typeof msg.payload === 'object') {\n    // Update the latest message for each device\n    for (const [deviceName, telemetryArray] of Object.entries(msg.payload)) {\n        if (telemetryArray.length > 0) {\n            latestMessages[deviceName] = {\n                ...latestMessages[deviceName],\n                ...telemetryArray[telemetryArray.length - 1],\n            }\n        }\n    }\n    \n    context.set(bufferKey, latestMessages);\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1720,
    "y": 440,
    "wires": [["59483b3d.3faa84", "8fea6ed.bbc8c9"]]
  },
  {
    "id": "556178bf.6e1bd8",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "FLUSH",
    "payloadType": "str",
    "x": 1580,
    "y": 500,
    "wires": [["3242f5ff.9d3a8a"]]
  },
  {
    "id": "8fea6ed.bbc8c9",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1910,
    "y": 500,
    "wires": []
  },
  {
    "id": "597516d4.b825d8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1615,
    "y": 540,
    "wires": [["59483b3d.3faa84"]],
    "l": false
  },
  {
    "id": "2f1d74fd.9c97fc",
    "type": "link in",
    "z": "b5c717d3.0bf2c8",
    "g": "ac251c99.37e7e",
    "name": "",
    "links": ["d01c570e.1b2cf8"],
    "x": 1535,
    "y": 540,
    "wires": [["597516d4.b825d8"]]
  },
  {
    "id": "3286780f.47f5d8",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 160,
    "wires": [["89c0c53b.6707b"]]
  },
  {
    "id": "89c0c53b.6707b",
    "type": "get-data",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "selectedOption": "slaves",
    "x": 340,
    "y": 160,
    "wires": [["9618f65.457e108", "bc3e60d1.3f4e7", "29559518.84766a"]]
  },
  {
    "id": "9618f65.457e108",
    "type": "split",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 495,
    "y": 160,
    "wires": [["a9cb315.70d57d"]],
    "l": false
  },
  {
    "id": "a9cb315.70d57d",
    "type": "switch",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 575,
    "y": 160,
    "wires": [["f1a404fd.fb04e8"], ["53301a09.d43df4"], ["2adac511.723aaa"]],
    "l": false
  },
  {
    "id": "11da5e25.3cecf2",
    "type": "join",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "0.3",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1210,
    "y": 160,
    "wires": [["cdbd430.2d8d9c"]]
  },
  {
    "id": "cdbd430.2d8d9c",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Merge into a single obj",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1400,
    "y": 160,
    "wires": [["83940b3d.a78b6", "869163f5.ce58a8"]]
  },
  {
    "id": "83940b3d.a78b6",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1555,
    "y": 160,
    "wires": [[]],
    "l": false
  },
  {
    "id": "57d7c7b1.d8e68",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1095,
    "y": 160,
    "wires": [["11da5e25.3cecf2", "a6078213.e03eb"]],
    "l": false
  },
  {
    "id": "bc3e60d1.3f4e7",
    "type": "change",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 495,
    "y": 120,
    "wires": [[]],
    "l": false
  },
  {
    "id": "58296968.294e5",
    "type": "mqtt out",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1360,
    "y": 260,
    "wires": []
  },
  {
    "id": "24124180.e6620e",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Save uniqueId to device attributes",
    "info": "",
    "x": 1320,
    "y": 220,
    "wires": []
  },
  {
    "id": "869163f5.ce58a8",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1555,
    "y": 111,
    "wires": [],
    "l": false
  },
  {
    "id": "29559518.84766a",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 475,
    "y": 71,
    "wires": [],
    "l": false
  },
  {
    "id": "a6078213.e03eb",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1155,
    "y": 260,
    "wires": [["58296968.294e5"]],
    "l": false
  },
  {
    "id": "f1a404fd.fb04e8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 120,
    "wires": [["57d7c7b1.d8e68"]]
  },
  {
    "id": "53301a09.d43df4",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 830,
    "y": 160,
    "wires": [["57d7c7b1.d8e68"]]
  },
  {
    "id": "2adac511.723aaa",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "263ed35a.cc6abc",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 870,
    "y": 200,
    "wires": [["57d7c7b1.d8e68"]]
  },
  {
    "id": "dffd2fb1.ed8788",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "10b57841.9aceb",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1590,
    "y": 660,
    "wires": [["10e5db7d.a3517d"]]
  },
  {
    "id": "10e5db7d.a3517d",
    "type": "http request",
    "z": "b5c717d3.0bf2c8",
    "g": "10b57841.9aceb",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1630,
    "y": 720,
    "wires": [["1a2afa3.7245986"]]
  },
  {
    "id": "1a2afa3.7245986",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "10b57841.9aceb",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1640,
    "y": 800,
    "wires": [["becf486c.de69c", "4c3c3258.a7e9bc"]]
  },
  {
    "id": "becf486c.de69c",
    "type": "link out",
    "z": "b5c717d3.0bf2c8",
    "g": "10b57841.9aceb",
    "name": "link out 3",
    "links": ["d4827748.23c", "65168341.77ec9c", "89d19f2a.22028", "a63e54b8.182d88"],
    "x": 1795,
    "y": 700,
    "wires": []
  },
  {
    "id": "ef20a8c8.7b4b98",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" },
      { "p": "paylod", "v": "CENTRAL_UUID", "vt": "env" }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1610,
    "y": 960,
    "wires": [["bf335e7.54bb8a"]]
  },
  {
    "id": "bf335e7.54bb8a",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "",
    "func": "const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1580,
    "y": 1060,
    "wires": [["a38009d6.21387", "fa3facff.aca09"]]
  },
  {
    "id": "d592166e.a98d",
    "type": "mqtt out",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1960,
    "y": 940,
    "wires": []
  },
  {
    "id": "a38009d6.21387",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1960,
    "y": 1060,
    "wires": []
  },
  {
    "id": "ba6f8c3b.426bc8",
    "type": "comment",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1690,
    "y": 900,
    "wires": []
  },
  {
    "id": "fa3facff.aca09",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "d1bd18eb.4b8f3",
    "name": "Add namespace",
    "func": "const keys = Object.keys(msg.payload);\n\nconst newPayload = keys.reduce((acc, key) => {\n    acc[`${key} (Ilha Plaza)`] = msg.payload[key];\n    return acc;\n}, {});\n\nmsg.payload = newPayload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1775,
    "y": 1000,
    "wires": [["d592166e.a98d"]],
    "l": false
  },
  {
    "id": "bf0570b5.73ee8",
    "type": "postgresql",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "query": "SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};",
    "postgreSQLConfig": "2c9b8cee.257e44",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 570,
    "y": 1200,
    "wires": [["7416219b.e3dc5", "66ad4504.e5fd3c"]]
  },
  {
    "id": "786014a5.2c487c",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 1220,
    "wires": [["2920c7dd.625ff8", "f4f7069.e5919f8"]]
  },
  {
    "id": "2920c7dd.625ff8",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 1220,
    "wires": [["bf0570b5.73ee8", "909d4384.2ad36", "f4db07b7.897c28"]]
  },
  {
    "id": "909d4384.2ad36",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 575,
    "y": 1260,
    "wires": [],
    "l": false
  },
  {
    "id": "7416219b.e3dc5",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "Map devices",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\n// Helper function to find the corresponding device by slaveId and channel\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n}\n\n// Parse device name to extract multiplier from format: \"Hidr. <Name> x<multiplier> <initial>\"\n// e.g. \"Hidr. Teta_tetinha x100 2810m3\" → { actualName: \"Hidr. Teta_tetinha\", multiplier: 100 }\nfunction parseMultiplier(deviceName) {\n  const match = deviceName.match(/^(.*?)\\s*x(\\d+\\.?\\d*)[AV]?\\s*/i);\n  if (match) {\n    return { multiplier: parseFloat(match[2]) };\n  }\n  return { multiplier: 1 };\n}\n\nconst readings = Array.isArray(msg.payload) ? msg.payload : [];\n\n// 1) AGRUPA DO JEITO ORIGINAL (chave = device.name), aplicando o multiplier\nconst originalMap = readings.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  const { multiplier } = parseMultiplier(device.name);\n  const valueToAdd = reading.value * multiplier;\n\n  if (!(device.name in acc)) {\n    acc[device.name] = [];\n  }\n\n  acc[device.name].push({\n    ts: new Date(reading.timestamp).getTime(),\n    values: { pulses: valueToAdd },\n  });\n\n  return acc;\n}, {});\n\n// 2) CRIA UMA CÓPIA COM NOMES \"LIMPOS\" (pode fundir chaves que virem iguais)\nconst normalizedMap = Object.entries(originalMap).reduce((out, [rawName, arr]) => {\n  const cleanName = getNameWithoutMultipliers(rawName);\n  if (!out[cleanName]) out[cleanName] = [];\n  out[cleanName].push(...arr);\n  return out;\n}, {});\n\nmsg.payload = normalizedMap;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 770,
    "y": 1220,
    "wires": [["a3621c83.8b462", "70524c9d.f91a8c", "9b58ea20.906e18"]]
  },
  {
    "id": "66ad4504.e5fd3c",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 715,
    "y": 1260,
    "wires": [],
    "l": false
  },
  {
    "id": "f2e09fc0.c5039",
    "type": "function",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 800);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 1260,
    "wires": [["bdca7b0c.2358b8"]]
  },
  {
    "id": "79add3dc.46d82c",
    "type": "inject",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 1260,
    "wires": [["f2e09fc0.c5039"]]
  },
  {
    "id": "9b58ea20.906e18",
    "type": "link out",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "links": ["61166549.5beffc", "a63e54b8.182d88"],
    "x": 935,
    "y": 1180,
    "wires": []
  },
  {
    "id": "a3621c83.8b462",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 935,
    "y": 1260,
    "wires": [],
    "l": false
  },
  {
    "id": "bdca7b0c.2358b8",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 1260,
    "wires": [],
    "l": false
  },
  {
    "id": "70524c9d.f91a8c",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1210,
    "y": 1220,
    "wires": []
  },
  {
    "id": "f4db07b7.897c28",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 1160,
    "wires": []
  },
  {
    "id": "f4f7069.e5919f8",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "9537256a.e8bc68",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 1160,
    "wires": []
  },
  {
    "id": "4c3c3258.a7e9bc",
    "type": "debug",
    "z": "b5c717d3.0bf2c8",
    "g": "10b57841.9aceb",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1855,
    "y": 780,
    "wires": [],
    "l": false
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "s3g64x9e3yx22590t0lf",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "2c9b8cee.257e44",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "Myio",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  }
]
