src/NODE-RED/IMBITUBA/1-2-3-5/bkp-node-red-central-f76753a2-84fe-41a6-8acb-98b2933d034e-2026-04-17-15-59.json
[
  { "id": "53b6ab51.4f2e24", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "41af0d47.790c84", "type": "tab", "label": "Thingsboard", "disabled": false, "info": "" },
  {
    "id": "6aa2d64c.7c2d58",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "9d296fb6.8302b",
      "ea3c563b.84ebe8",
      "bb638599.31abb8",
      "dbf10ba.b4181f8",
      "b0d36d.d7896c9",
      "958abd31.7566",
      "2129af69.05ed6",
      "ad1d0e33.cf6f5",
      "5d952e9b.da68e",
      "12c16f62.71ddb1",
      "5820ee2f.90f"
    ],
    "x": 44,
    "y": 19,
    "w": 1652,
    "h": 182
  },
  {
    "id": "9282189d.385df",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": ["fa1cd709.6888d", "8517ac2.96b0cd", "50b41346.a2db3c", "87ba39bf.373e8", "a8982aff.843f18"],
    "x": 1304,
    "y": 459,
    "w": 612,
    "h": 242
  },
  {
    "id": "9c618116.b0b04",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["1057a894.b205f7", "84431a11.66a7f8", "c574aaa2.fb2f68", "30c8a4e4.cda14c", "ec2fa233.3b7da"],
    "x": 1344,
    "y": 759,
    "w": 512,
    "h": 222
  },
  {
    "id": "aa61127e.dfa2",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "6a14f3b2.cd8b2c",
      "5de6353b.c9836c",
      "5678a6c3.be7e98",
      "93ee4531.4db7d8",
      "ca7c6620.0b5198",
      "4f64022e.9cb7ec",
      "6f667024.d1f12",
      "d533a111.18fe2",
      "4fcbc1eb.eccfc",
      "5921e588.5a6e3c",
      "daa9d598.ad4b48",
      "3f51507f.fcbcb",
      "ff932835.497da8",
      "6e1ff75e.4dbe98",
      "b502336.ae18dd",
      "70ed4a2b.d46c74",
      "22b7b982.5a8756",
      "b2fd8c1e.51fb8",
      "7bc88b5a.9c6d04",
      "1bda15cf.db78ea"
    ],
    "x": 44,
    "y": 219,
    "w": 1172,
    "h": 442
  },
  {
    "id": "c4ae64eb.f82c88",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "send check",
    "style": { "label": true },
    "nodes": ["563c0479.f8ecbc", "fafbec1c.7beb5"],
    "x": 1324,
    "y": 339,
    "w": 322,
    "h": 82
  },
  {
    "id": "d2b99440.ec2208",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "Get pulses every 10 min",
    "style": { "label": true },
    "nodes": [
      "726d4de7.d31814",
      "3b6fb47.c12e2cc",
      "64aa322b.7ece94",
      "2ed30c94.7119c4",
      "8b839384.698c88",
      "3f2ce735.b9287",
      "e43891c2.3de768",
      "d2068248.85afa"
    ],
    "x": 64,
    "y": 890,
    "w": 1079,
    "h": 131
  },
  {
    "id": "be0e1e19.dccf9",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.data.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "44atq4s1w8s35eck7bbx",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "450c37d5.ec80e8",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "92e245bb.e5ee7",
    "type": "data-fetcher",
    "z": "53b6ab51.4f2e24",
    "name": "",
    "mqtt": "be0e1e19.dccf9",
    "uuidOverride": "",
    "reactiveDevices": [],
    "x": 170,
    "y": 100,
    "wires": []
  },
  {
    "id": "19ba1aeb.9b303d",
    "type": "http in",
    "z": "41af0d47.790c84",
    "name": "",
    "url": "/check_device/:deviceName",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 720,
    "wires": [["a91e478b.3710c"]]
  },
  {
    "id": "a91e478b.3710c",
    "type": "function",
    "z": "41af0d47.790c84",
    "name": "Find device from name",
    "func": "const flowDevices = flow.get('devices') || {};\nconst deviceName = msg.req.params.deviceName;\n\nconst foundDevice = flowDevices[deviceName];\n\nif (!flowDevices[deviceName]) {\n    node.warn('DEVICE NOT FOUND' + deviceName);\n    return null;\n}\n\nmsg.payload = {\n    slave: {\n        id: foundDevice.slaveId\n    }\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 510,
    "y": 720,
    "wires": [["fb300d20.409778", "668f1475.5d2724", "8ff50adb.47f21", "6fd6f1ba.b94d8", "fd2a749b.d6bed8"]]
  },
  { "id": "668f1475.5d2724", "type": "send-check", "z": "41af0d47.790c84", "x": 920, "y": 800, "wires": [] },
  {
    "id": "2df85a9c.5f2806",
    "type": "http response",
    "z": "41af0d47.790c84",
    "name": "",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 890,
    "y": 840,
    "wires": []
  },
  {
    "id": "fb300d20.409778",
    "type": "change",
    "z": "41af0d47.790c84",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{ \"status\": \"ok\" }", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 760,
    "wires": [["2df85a9c.5f2806"]]
  },
  {
    "id": "8ff50adb.47f21",
    "type": "debug",
    "z": "41af0d47.790c84",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 840,
    "wires": []
  },
  {
    "id": "6fd6f1ba.b94d8",
    "type": "delay",
    "z": "41af0d47.790c84",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 920,
    "y": 760,
    "wires": [["3a2f6030.e62948"]]
  },
  {
    "id": "fd2a749b.d6bed8",
    "type": "delay",
    "z": "41af0d47.790c84",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 950,
    "y": 720,
    "wires": [["a08a5b5e.2b9928"]]
  },
  { "id": "3a2f6030.e62948", "type": "send-check", "z": "41af0d47.790c84", "x": 1080, "y": 760, "wires": [] },
  { "id": "a08a5b5e.2b9928", "type": "send-check", "z": "41af0d47.790c84", "x": 1100, "y": 720, "wires": [] },
  {
    "id": "9d296fb6.8302b",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 120,
    "wires": [["ea3c563b.84ebe8"]]
  },
  {
    "id": "ea3c563b.84ebe8",
    "type": "get-data",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "selectedOption": "slaves",
    "x": 330,
    "y": 120,
    "wires": [["bb638599.31abb8", "958abd31.7566"]]
  },
  {
    "id": "bb638599.31abb8",
    "type": "split",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 500,
    "y": 120,
    "wires": [["dbf10ba.b4181f8"]]
  },
  {
    "id": "dbf10ba.b4181f8",
    "type": "switch",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 660,
    "y": 120,
    "wires": [["b0d36d.d7896c9"], ["2129af69.05ed6"], ["ad1d0e33.cf6f5"]]
  },
  {
    "id": "b0d36d.d7896c9",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 80,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "958abd31.7566",
    "type": "change",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "2129af69.05ed6",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 960,
    "y": 120,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "ad1d0e33.cf6f5",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 160,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "5d952e9b.da68e",
    "type": "join",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "mode": "auto",
    "build": "string",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1240,
    "y": 120,
    "wires": [["12c16f62.71ddb1"]]
  },
  {
    "id": "12c16f62.71ddb1",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Merge",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1380,
    "y": 120,
    "wires": [["5820ee2f.90f"]]
  },
  {
    "id": "5820ee2f.90f",
    "type": "change",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "fa1cd709.6888d",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1440,
    "y": 560,
    "wires": [["8517ac2.96b0cd"]]
  },
  {
    "id": "8517ac2.96b0cd",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "func": "const devices = flow.get('devices'); \nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '').toUpperCase().normalize('NFD').replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (upper.includes('ENTRADA') || upper.includes('SUBESTACAO') || upper.includes('SUBESTACAO') || upper.includes('SUBEST')) return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (upper.includes('CAIXA DAGUA') || upper.includes('CX DAGUA') || upper.includes('CXDAGUA') || upper.includes('SCD'))\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\n\nObject.keys(devices).forEach((key) => {\n    const device = devices[key];\n    \n    if (devices[key].slaveId && devices[key].name) {\n        const cleanName = getNameWithoutMultipliers(device.name);    \n    \n        newDeviceList[cleanName] = {\n            deviceType: handleDeviceType(key),\n            centralId: centralId,\n            slaveId: devices[key].slaveId\n        };\n    }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1410,
    "y": 660,
    "wires": [["87ba39bf.373e8", "50b41346.a2db3c"]]
  },
  {
    "id": "50b41346.a2db3c",
    "type": "mqtt out",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1790,
    "y": 540,
    "wires": []
  },
  {
    "id": "87ba39bf.373e8",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1790,
    "y": 660,
    "wires": []
  },
  {
    "id": "a8982aff.843f18",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1520,
    "y": 500,
    "wires": []
  },
  {
    "id": "1057a894.b205f7",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1460,
    "y": 800,
    "wires": [["84431a11.66a7f8"]]
  },
  {
    "id": "84431a11.66a7f8",
    "type": "http request",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1500,
    "y": 860,
    "wires": [["c574aaa2.fb2f68"]]
  },
  {
    "id": "c574aaa2.fb2f68",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfor (const slave of msg.payload) {\n    slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n    if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n        const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n        \n        deviceStatusMap[nameWithoutMulitplier] = [{\n            ts: new Date().getTime(),\n            values: {\n                connectionStatus: slaveStatusMap[\n                    devices[device].slaveId\n                ]\n            }\n        }];\n    }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1510,
    "y": 940,
    "wires": [["30c8a4e4.cda14c", "ec2fa233.3b7da"]]
  },
  {
    "id": "30c8a4e4.cda14c",
    "type": "link out",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "link out 3",
    "links": ["d4827748.23c", "65168341.77ec9c", "173e26a4.0a9181", "1bda15cf.db78ea"],
    "x": 1665,
    "y": 840,
    "wires": []
  },
  {
    "id": "ec2fa233.3b7da",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1740,
    "y": 940,
    "wires": []
  },
  {
    "id": "6a14f3b2.cd8b2c",
    "type": "myio-emitter",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "x": 120,
    "y": 520,
    "wires": [
      ["5de6353b.c9836c"],
      ["5678a6c3.be7e98"],
      ["93ee4531.4db7d8"],
      [],
      [],
      ["5678a6c3.be7e98"],
      ["ca7c6620.0b5198"],
      ["4f64022e.9cb7ec"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "5de6353b.c9836c",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 300,
    "wires": [["3f51507f.fcbcb"]],
    "l": false
  },
  {
    "id": "5678a6c3.be7e98",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 380,
    "wires": [["ff932835.497da8"]],
    "l": false
  },
  {
    "id": "93ee4531.4db7d8",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 460,
    "wires": [["b2fd8c1e.51fb8"]],
    "l": false
  },
  {
    "id": "ca7c6620.0b5198",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 540,
    "wires": [["b502336.ae18dd"]],
    "l": false
  },
  {
    "id": "4f64022e.9cb7ec",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 620,
    "wires": [["70ed4a2b.d46c74"]],
    "l": false
  },
  {
    "id": "6f667024.d1f12",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 380,
    "y": 260,
    "wires": []
  },
  {
    "id": "d533a111.18fe2",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Temperatura",
    "info": "",
    "x": 340,
    "y": 340,
    "wires": []
  },
  {
    "id": "4fcbc1eb.eccfc",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Potencia",
    "info": "",
    "x": 330,
    "y": 420,
    "wires": []
  },
  {
    "id": "5921e588.5a6e3c",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Corrente",
    "info": "",
    "x": 330,
    "y": 500,
    "wires": []
  },
  {
    "id": "daa9d598.ad4b48",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Voltagem",
    "info": "",
    "x": 330,
    "y": 580,
    "wires": []
  },
  {
    "id": "3f51507f.fcbcb",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 300,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "ff932835.497da8",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n    key = 'value';\n}\n\nmsg.payload = {\n    [name]: [{\n        \"temperature\": lastReading[key],\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 670,
    "y": 380,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "6e1ff75e.4dbe98",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 480,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "b502336.ae18dd",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 660,
    "y": 540,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "70ed4a2b.d46c74",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 660,
    "y": 620,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "22b7b982.5a8756",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to nivel de agua",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nlet [_ignore, deviceName, offset, height, multiplier] = slave.name.split(' ');\n\n\noffset = parseInt(offset, 10);\nmultiplier = parseFloat(multiplier.replace(/x/i, ''));\nheight = parseInt(height);\n\n\nconst waterLevel = (msg.payload.value - offset) * multiplier;\nconst percentage = parseFloat((waterLevel / height).toFixed(2));\n\nmsg.payload = {\n    [deviceName]: [{\n        water_level: waterLevel,\n        water_percentage: percentage,\n    }]\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 670,
    "y": 440,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "b2fd8c1e.51fb8",
    "type": "switch",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "SCD?",
    "property": "slave.name",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "SCD", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 380,
    "y": 460,
    "wires": [["22b7b982.5a8756"], ["6e1ff75e.4dbe98"]]
  },
  {
    "id": "7bc88b5a.9c6d04",
    "type": "mqtt out",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1090,
    "y": 440,
    "wires": []
  },
  {
    "id": "1bda15cf.db78ea",
    "type": "link in",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "",
    "links": ["30c8a4e4.cda14c"],
    "x": 1075,
    "y": 580,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "563c0479.f8ecbc",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1440,
    "y": 380,
    "wires": [["fafbec1c.7beb5"]]
  },
  {
    "id": "fafbec1c.7beb5",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1585,
    "y": 380,
    "wires": [],
    "l": false
  },
  {
    "id": "726d4de7.d31814",
    "type": "postgresql",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};",
    "postgreSQLConfig": "450c37d5.ec80e8",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 600,
    "y": 980,
    "wires": [["8b839384.698c88", "3f2ce735.b9287"]]
  },
  {
    "id": "3b6fb47.c12e2cc",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 980,
    "wires": [["d2068248.85afa"]]
  },
  {
    "id": "64aa322b.7ece94",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 980,
    "wires": [["726d4de7.d31814", "2ed30c94.7119c4"]]
  },
  {
    "id": "2ed30c94.7119c4",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 940,
    "wires": []
  },
  {
    "id": "8b839384.698c88",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "Map devices",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n  return null;\n}\n\n// 1) AGRUPA DO JEITO ORIGINAL (chave = device.name)\nconst originalMap = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  if (!(device.name in acc)) {\n    acc[device.name] = [];\n  }\n\n  acc[device.name].push({\n    ts: new Date(reading.timestamp).getTime(),\n    values: { pulses: reading.value }\n  });\n\n  return acc;\n}, {});\n\n// 2) CRIA UMA CÓPIA COM NOMES \"LIMPOS\" (pode fundir chaves que virem iguais)\nconst normalizedMap = Object.entries(originalMap).reduce((out, [rawName, arr]) => {\n  const cleanName = getNameWithoutMultipliers(rawName);\n  if (!out[cleanName]) out[cleanName] = [];\n  // mantém as mesmas estruturas de itens\n  out[cleanName].push(...arr);\n  return out;\n}, {});\n\n//msg.payload = originalMap;\nmsg.payload = normalizedMap; \n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 820,
    "y": 980,
    "wires": [["e43891c2.3de768", "7bc88b5a.9c6d04"]]
  },
  {
    "id": "3f2ce735.b9287",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 940,
    "wires": []
  },
  {
    "id": "e43891c2.3de768",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1027,
    "y": 931,
    "wires": []
  },
  {
    "id": "d2068248.85afa",
    "type": "postgresql",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '5 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 300,
    "y": 940,
    "wires": [["64aa322b.7ece94"]]
  }
]
