src/NODE-RED/IMBITUBA/1-2-3-5/node-red-central-f76753a2-84fe-41a6-8acb-98b2933d034e-2026-04-17-16-15.json
[
  { "id": "53b6ab51.4f2e24", "type": "tab", "label": "Ingestion", "disabled": false, "info": "" },
  { "id": "41af0d47.790c84", "type": "tab", "label": "Thingsboard", "disabled": false, "info": "" },
  { "id": "7b24d3ae.37152c", "type": "tab", "label": "Notifics", "disabled": false, "info": "" },
  { "id": "da95752.a218508", "type": "tab", "label": "Check Offline", "disabled": false, "info": "" },
  { "id": "a5b5b37f.9fe268", "type": "tab", "label": "Check last day data", "disabled": false, "info": "" },
  {
    "id": "6aa2d64c.7c2d58",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "Store devices to flow.devices",
    "style": { "label": true },
    "nodes": [
      "9d296fb6.8302b",
      "ea3c563b.84ebe8",
      "bb638599.31abb8",
      "dbf10ba.b4181f8",
      "b0d36d.d7896c9",
      "958abd31.7566",
      "2129af69.05ed6",
      "ad1d0e33.cf6f5",
      "5d952e9b.da68e",
      "12c16f62.71ddb1",
      "5820ee2f.90f"
    ],
    "x": 44,
    "y": 19,
    "w": 1652,
    "h": 182
  },
  {
    "id": "9282189d.385df",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "ATTRIBUTES_SYNC",
    "style": { "label": true },
    "nodes": ["fa1cd709.6888d", "8517ac2.96b0cd", "50b41346.a2db3c", "87ba39bf.373e8", "a8982aff.843f18"],
    "x": 1304,
    "y": 459,
    "w": 612,
    "h": 242
  },
  {
    "id": "9c618116.b0b04",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "SYNC DEVICE STATUS TO THINGSBOARD",
    "style": { "label": true },
    "nodes": ["1057a894.b205f7", "84431a11.66a7f8", "c574aaa2.fb2f68", "30c8a4e4.cda14c", "ec2fa233.3b7da"],
    "x": 1344,
    "y": 759,
    "w": 512,
    "h": 222
  },
  {
    "id": "aa61127e.dfa2",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "MQTT",
    "style": { "label": true },
    "nodes": [
      "6a14f3b2.cd8b2c",
      "5de6353b.c9836c",
      "5678a6c3.be7e98",
      "93ee4531.4db7d8",
      "ca7c6620.0b5198",
      "4f64022e.9cb7ec",
      "6f667024.d1f12",
      "d533a111.18fe2",
      "4fcbc1eb.eccfc",
      "5921e588.5a6e3c",
      "daa9d598.ad4b48",
      "3f51507f.fcbcb",
      "ff932835.497da8",
      "6e1ff75e.4dbe98",
      "b502336.ae18dd",
      "70ed4a2b.d46c74",
      "22b7b982.5a8756",
      "b2fd8c1e.51fb8",
      "7bc88b5a.9c6d04",
      "1bda15cf.db78ea"
    ],
    "x": 44,
    "y": 219,
    "w": 1172,
    "h": 442
  },
  {
    "id": "c4ae64eb.f82c88",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "send check",
    "style": { "label": true },
    "nodes": ["563c0479.f8ecbc", "fafbec1c.7beb5"],
    "x": 1324,
    "y": 339,
    "w": 322,
    "h": 82
  },
  {
    "id": "d2b99440.ec2208",
    "type": "group",
    "z": "41af0d47.790c84",
    "name": "Get pulses every 10 min",
    "style": { "label": true },
    "nodes": [
      "726d4de7.d31814",
      "3b6fb47.c12e2cc",
      "64aa322b.7ece94",
      "2ed30c94.7119c4",
      "8b839384.698c88",
      "3f2ce735.b9287",
      "e43891c2.3de768",
      "d2068248.85afa"
    ],
    "x": 64,
    "y": 890,
    "w": 1079,
    "h": 131
  },
  {
    "id": "be0e1e19.dccf9",
    "type": "mqtt-config",
    "z": "",
    "name": "Myio BAS",
    "broker": "mqtt.data.apps.myio-bas.com",
    "port": "1883",
    "username": "",
    "password": ""
  },
  {
    "id": "ba7623fd.d47d2",
    "type": "mqtt-broker",
    "z": "",
    "name": "Thingsboard",
    "broker": "mqtt.myio-bas.com",
    "port": "1883",
    "clientid": "44atq4s1w8s35eck7bbx",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "450c37d5.ec80e8",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "2c45df63.f68c4",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "1000",
    "idleFieldType": "num",
    "connectionTimeout": "10000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "b7242f71.79e57",
    "type": "postgreSQLConfig",
    "z": "",
    "name": "DB",
    "host": "DB_HOST",
    "hostFieldType": "env",
    "port": "DB_PORT",
    "portFieldType": "env",
    "database": "DB_DATABASE",
    "databaseFieldType": "env",
    "ssl": "false",
    "sslFieldType": "bool",
    "applicationName": "",
    "applicationNameType": "str",
    "max": "10",
    "maxFieldType": "num",
    "idle": "30000",
    "idleFieldType": "num",
    "connectionTimeout": "30000",
    "connectionTimeoutFieldType": "num",
    "user": "DB_USERNAME",
    "userFieldType": "env",
    "password": "DB_PASSWORD",
    "passwordFieldType": "env"
  },
  {
    "id": "92e245bb.e5ee7",
    "type": "data-fetcher",
    "z": "53b6ab51.4f2e24",
    "name": "",
    "mqtt": "be0e1e19.dccf9",
    "uuidOverride": "",
    "reactiveDevices": [],
    "x": 170,
    "y": 100,
    "wires": []
  },
  {
    "id": "19ba1aeb.9b303d",
    "type": "http in",
    "z": "41af0d47.790c84",
    "name": "",
    "url": "/check_device/:deviceName",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 220,
    "y": 720,
    "wires": [["a91e478b.3710c"]]
  },
  {
    "id": "a91e478b.3710c",
    "type": "function",
    "z": "41af0d47.790c84",
    "name": "Find device from name",
    "func": "const flowDevices = flow.get('devices') || {};\nconst deviceName = (msg.req.params.deviceName || '').trim();\n\n// 1. Exact match\nlet foundDevice = flowDevices[deviceName];\nlet matchedKey = deviceName;\n\n// 2. Stored key starts with query (\"3F Trafo CAG 1\" → \"3F Trafo CAG 1 x400 x400A\")\nif (!foundDevice) {\n  matchedKey = Object.keys(flowDevices).find(key =>\n    key.startsWith(deviceName + ' ') || key.startsWith(deviceName + '\\t')\n  );\n  foundDevice = matchedKey ? flowDevices[matchedKey] : undefined;\n}\n\n// 3. Query starts with stored key (\"3F Trafo CAG 1 -8\" → \"3F Trafo CAG 1\")\nif (!foundDevice) {\n  matchedKey = Object.keys(flowDevices).find(key =>\n    deviceName.startsWith(key + ' ') || deviceName.startsWith(key + '\\t')\n  );\n  foundDevice = matchedKey ? flowDevices[matchedKey] : undefined;\n}\n\nif (!foundDevice) {\n  node.warn('DEVICE NOT FOUND: ' + deviceName);\n  return null;\n}\n\nnode.debug('Device lookup: \"' + deviceName + '\" → \"' + matchedKey + '\"');\n\nmsg.payload = {\n  slave: {\n    id: foundDevice.slaveId,\n  },\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 510,
    "y": 720,
    "wires": [["fb300d20.409778", "668f1475.5d2724", "8ff50adb.47f21", "6fd6f1ba.b94d8", "fd2a749b.d6bed8"]]
  },
  { "id": "668f1475.5d2724", "type": "send-check", "z": "41af0d47.790c84", "x": 920, "y": 800, "wires": [] },
  {
    "id": "2df85a9c.5f2806",
    "type": "http response",
    "z": "41af0d47.790c84",
    "name": "",
    "statusCode": "200",
    "headers": { "content-type": "application/json" },
    "x": 890,
    "y": 840,
    "wires": []
  },
  {
    "id": "fb300d20.409778",
    "type": "change",
    "z": "41af0d47.790c84",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{ \"status\": \"ok\" }", "tot": "str" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 760,
    "wires": [["2df85a9c.5f2806"]]
  },
  {
    "id": "8ff50adb.47f21",
    "type": "debug",
    "z": "41af0d47.790c84",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 840,
    "wires": []
  },
  {
    "id": "6fd6f1ba.b94d8",
    "type": "delay",
    "z": "41af0d47.790c84",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 920,
    "y": 760,
    "wires": [["3a2f6030.e62948"]]
  },
  {
    "id": "fd2a749b.d6bed8",
    "type": "delay",
    "z": "41af0d47.790c84",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 950,
    "y": 720,
    "wires": [["a08a5b5e.2b9928"]]
  },
  { "id": "3a2f6030.e62948", "type": "send-check", "z": "41af0d47.790c84", "x": 1080, "y": 760, "wires": [] },
  { "id": "a08a5b5e.2b9928", "type": "send-check", "z": "41af0d47.790c84", "x": 1100, "y": 720, "wires": [] },
  {
    "id": "9d296fb6.8302b",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 120,
    "wires": [["ea3c563b.84ebe8"]]
  },
  {
    "id": "ea3c563b.84ebe8",
    "type": "get-data",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "selectedOption": "slaves",
    "x": 330,
    "y": 120,
    "wires": [["bb638599.31abb8", "958abd31.7566"]]
  },
  {
    "id": "bb638599.31abb8",
    "type": "split",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 500,
    "y": 120,
    "wires": [["dbf10ba.b4181f8"]]
  },
  {
    "id": "dbf10ba.b4181f8",
    "type": "switch",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Device Type",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "outlet", "vt": "str" },
      { "t": "eq", "v": "three_phase_sensor", "vt": "str" },
      { "t": "eq", "v": "infrared", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 660,
    "y": 120,
    "wires": [["b0d36d.d7896c9"], ["2129af69.05ed6"], ["ad1d0e33.cf6f5"]]
  },
  {
    "id": "b0d36d.d7896c9",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave outlet devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n        name: slave.name\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    const name = channel.name.trimStart().trim();\n    devices[name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        deviceKind: channel.type,\n        deviceName: channel.name,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 80,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "958abd31.7566",
    "type": "change",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Set slave_data to flow",
    "rules": [{ "t": "set", "p": "slave_data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "2129af69.05ed6",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave three_phase_sensor devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst devices = {\n    [slave.name]: {\n        slaveId: slave.id,\n    }\n};\n\nconst centralId = env.get('CENTRAL_UUID');\n\n\ndevices[slave.name] = {\n    version: slave.version,\n    temperature_correction: slave.temperature_correction,\n    deviceKind: 'energy',\n    slaveId: slave.id,\n    name: slave.name,\n    centralId,\n};\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 960,
    "y": 120,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "ad1d0e33.cf6f5",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Transform slave infrared devices",
    "func": "const slave = msg.payload;\nconst channels = slave.channels_list\nconst config = slave.config; // This might be null\n\nconst slaveName = slave.name.trimStart().trim();\nconst centralId = env.get('CENTRAL_UUID');\n\nconst devices = {\n    [slaveName]: {\n        version: slave.version,\n        temperature_correction: slave.temperature_correction,\n        deviceKind: 'temperature_sensor',\n        deviceName: slaveName,\n    }\n};\n\nfor (let i = 0; i < channels.length; i++) {\n    const channel = channels[i];\n    let channelConfig;\n    \n    if (config && config.channelConfig) {\n        const channelConfigKey = `channel${channel.channel}`;\n\n        if (config.channelConfig.hasOwnProperty(channelConfigKey)) {\n            channelConfig = config.channelConfig[channelConfigKey];\n        }\n    }\n    \n    devices[channel.name] = {\n        type: channel.type,\n        name: channel.name,\n        channelType: channelConfig ? channelConfig.channel_type : null,\n        outputType: channelConfig ? channelConfig.output : null,\n        slaveId: channel.slaveId,\n        channelId: channel.channel,\n        uniqueId: `${centralId}_${channel.slaveId}_${channel.id}`,\n    };\n\n    \n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1000,
    "y": 160,
    "wires": [["5d952e9b.da68e"]]
  },
  {
    "id": "5d952e9b.da68e",
    "type": "join",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "",
    "mode": "auto",
    "build": "string",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1240,
    "y": 120,
    "wires": [["12c16f62.71ddb1"]]
  },
  {
    "id": "12c16f62.71ddb1",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Merge",
    "func": "msg.payload = msg.payload.reduce((acc, obj) => {\n    const keys = Object.keys(obj);\n    for (const key of keys) {\n        acc[key] = obj[key];\n    }\n\n    return acc;\n}, {});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1380,
    "y": 120,
    "wires": [["5820ee2f.90f"]]
  },
  {
    "id": "5820ee2f.90f",
    "type": "change",
    "z": "41af0d47.790c84",
    "g": "6aa2d64c.7c2d58",
    "name": "Store to flow.devices",
    "rules": [{ "t": "set", "p": "devices", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1570,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "fa1cd709.6888d",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1440,
    "y": 560,
    "wires": [["8517ac2.96b0cd"]]
  },
  {
    "id": "8517ac2.96b0cd",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "func": "const devices = flow.get('devices');\nconst centralId = env.get('CENTRAL_UUID');\nconst newDeviceList = {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfunction handleDeviceType(name) {\n  const upper = (name || '')\n    .toUpperCase()\n    .normalize('NFD')\n    .replace(/\\p{Diacritic}/gu, '');\n\n  // ENERGY\n  if (upper.includes('COMPRESSOR')) return 'COMPRESSOR';\n  if (upper.includes('VENT')) return 'VENTILADOR';\n  if (upper.includes('ESRL')) return 'ESCADA_ROLANTE';\n  if (upper.includes('ELEV')) return 'ELEVADOR';\n  if (upper.includes('MOTR') || upper.includes('MOTOR') || upper.includes('RECALQUE')) return 'MOTOR';\n  if (upper.includes('RELOGIO') || upper.includes('RELOG') || upper.includes('REL ')) return 'RELOGIO';\n  if (\n    upper.includes('ENTRADA') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBESTACAO') ||\n    upper.includes('SUBEST')\n  )\n    return 'ENTRADA';\n  if (upper.includes('3F')) return '3F_MEDIDOR';\n\n  // WATER\n  if (upper.includes('HIDR')) return 'HIDROMETRO';\n\n  // Corrige para casar com o typeMap: CAIXA_DAGUA\n  if (\n    upper.includes('CAIXA DAGUA') ||\n    upper.includes('CX DAGUA') ||\n    upper.includes('CXDAGUA') ||\n    upper.includes('SCD')\n  )\n    return 'CAIXA_DAGUA';\n\n  // Novo (presentes no typeMap como water)\n  if (upper.includes('TANK') || upper.includes('TANQUE') || upper.includes('RESERVATORIO')) return 'TANK';\n\n  // Extras (não mapeados no typeMap, mas mantidos)\n  if (upper.includes('AUTOMATICO')) return 'SELETOR_AUTO_MANUAL';\n  if (upper.includes('TERMOSTATO') || upper.includes('TERMO') || upper.includes('TEMP')) return 'TERMOSTATO';\n  if (upper.includes('ABRE')) return 'SOLENOIDE';\n  if (upper.includes('AUTOMACAO') || upper.includes('GW_AUTO')) return 'GLOBAL_AUTOMACAO';\n  if (upper.includes(' AC ') || upper.endsWith(' AC')) return 'CONTROLE REMOTO';\n\n  return '3F_MEDIDOR';\n}\n\nObject.keys(devices).forEach((key) => {\n  const device = devices[key];\n\n  if (devices[key].slaveId && devices[key].name) {\n    const cleanName = getNameWithoutMultipliers(device.name);\n\n    newDeviceList[cleanName] = {\n      deviceType: handleDeviceType(key),\n      centralId: centralId,\n      slaveId: devices[key].slaveId,\n    };\n  }\n});\n\nmsg.payload = newDeviceList;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1410,
    "y": 660,
    "wires": [["87ba39bf.373e8", "50b41346.a2db3c"]]
  },
  {
    "id": "50b41346.a2db3c",
    "type": "mqtt out",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "topic": "v1/gateway/attributes",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1790,
    "y": 540,
    "wires": []
  },
  {
    "id": "87ba39bf.373e8",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1790,
    "y": 660,
    "wires": []
  },
  {
    "id": "a8982aff.843f18",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "9282189d.385df",
    "name": "Envia o atributo Central ID dispositivo + deviceType",
    "info": "",
    "x": 1520,
    "y": 500,
    "wires": []
  },
  {
    "id": "1057a894.b205f7",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "8",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1460,
    "y": 800,
    "wires": [["84431a11.66a7f8"]]
  },
  {
    "id": "84431a11.66a7f8",
    "type": "http request",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1500,
    "y": 860,
    "wires": [["c574aaa2.fb2f68"]]
  },
  {
    "id": "c574aaa2.fb2f68",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "Map status to device",
    "func": "const slaveStatusMap = {};\nconst devices = flow.get('devices');\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').replace(/ -\\d+$/g, '').trim();\n}\n\nfor (const slave of msg.payload) {\n  slaveStatusMap[slave.id] = slave.status;\n}\n\nconst deviceStatusMap = {};\n\nfor (const device in devices) {\n  if (devices[device].slaveId && devices[device].name !== '' && device !== '') {\n    const nameWithoutMulitplier = getNameWithoutMultipliers(device);\n\n    deviceStatusMap[nameWithoutMulitplier] = [\n      {\n        ts: new Date().getTime(),\n        values: {\n          connectionStatus: slaveStatusMap[devices[device].slaveId],\n        },\n      },\n    ];\n  }\n}\n\nmsg.payload = deviceStatusMap;\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1510,
    "y": 940,
    "wires": [["30c8a4e4.cda14c", "ec2fa233.3b7da"]]
  },
  {
    "id": "30c8a4e4.cda14c",
    "type": "link out",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "link out 3",
    "links": ["d4827748.23c", "65168341.77ec9c", "173e26a4.0a9181", "1bda15cf.db78ea"],
    "x": 1665,
    "y": 840,
    "wires": []
  },
  {
    "id": "ec2fa233.3b7da",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "9c618116.b0b04",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1740,
    "y": 940,
    "wires": []
  },
  {
    "id": "6a14f3b2.cd8b2c",
    "type": "myio-emitter",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "x": 120,
    "y": 520,
    "wires": [
      ["5de6353b.c9836c"],
      ["5678a6c3.be7e98"],
      ["93ee4531.4db7d8"],
      [],
      [],
      ["5678a6c3.be7e98"],
      ["ca7c6620.0b5198"],
      ["4f64022e.9cb7ec"],
      [],
      [],
      [],
      []
    ]
  },
  {
    "id": "5de6353b.c9836c",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 300,
    "wires": [["3f51507f.fcbcb"]],
    "l": false
  },
  {
    "id": "5678a6c3.be7e98",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 380,
    "wires": [["ff932835.497da8"]],
    "l": false
  },
  {
    "id": "93ee4531.4db7d8",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 460,
    "wires": [["b2fd8c1e.51fb8"]],
    "l": false
  },
  {
    "id": "ca7c6620.0b5198",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 540,
    "wires": [["b502336.ae18dd"]],
    "l": false
  },
  {
    "id": "4f64022e.9cb7ec",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Associate slave to msg",
    "func": "const slaveId = msg.payload.id;\nconst channels = msg.payload.channels;\n\nconst slaveData = flow.get('slave_data');\n\nif (!slaveData) {\n    node.log(\"Received input from emitter but slave data is not set yet.\");\n    return null;\n}\n\nconst slave = slaveData.find((_slave) => _slave.id === slaveId);\n\nif (!slave) {\n    node.log(\"Could not find slave!\");\n    return null;\n}\n\nmsg.type = slave.type;\nmsg.slave = slave;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 285,
    "y": 620,
    "wires": [["70ed4a2b.d46c74"]],
    "l": false
  },
  {
    "id": "6f667024.d1f12",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Atualização de dispositivo",
    "info": "",
    "x": 380,
    "y": 260,
    "wires": []
  },
  {
    "id": "d533a111.18fe2",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Temperatura",
    "info": "",
    "x": 340,
    "y": 340,
    "wires": []
  },
  {
    "id": "4fcbc1eb.eccfc",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Potencia",
    "info": "",
    "x": 330,
    "y": 420,
    "wires": []
  },
  {
    "id": "5921e588.5a6e3c",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Corrente",
    "info": "",
    "x": 330,
    "y": 500,
    "wires": []
  },
  {
    "id": "daa9d598.ad4b48",
    "type": "comment",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Voltagem",
    "info": "",
    "x": 330,
    "y": 580,
    "wires": []
  },
  {
    "id": "3f51507f.fcbcb",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform channel list to device",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nmsg.lastReading = lastReading;\n\nlet channelsList = slave.channels_list;\n\nconst devices = {};\n\nfunction getDeviceReading(type, payload) {\n    if (!payload) return null;\n    if (type === 'lamp' || type === 'plug') {\n        return payload.output === 100 ? \"on\": \"off\";\n    } else if (type === 'presence_sensor') {\n        return payload.input === 100 ? \"detected\" : \"not_detected\";\n    } else if (type === 'door_sensor') {\n        return payload.input === 100 ? \"open\" : \"closed\";\n    }\n\n    return payload.output === 100 ? 'on' : 'off';\n}\n\nif (slave.type === 'infrared') {\n    const name = slave.name.trimStart().trim();\n    devices[name] = [{\n        status: getDeviceReading('presence_sensor', lastReading.channels[0]),\n    }]\n} else {\n    for (let i = 0; i < channelsList.length; i++) {\n        const channel = channelsList[i];\n        const name = channel.name.trimStart().trim();\n        \n        const reading = getDeviceReading(channel.type, lastReading.channels[channel.channel]);\n        \n        msg.debug = {\n            reading,\n            name,\n            channel,\n            lastReading\n        }\n\n        if (!reading) continue;\n        \n        devices[name] = [{\n            \"ts\": new Date().getTime(),\n            \"values\": {\n                \"status\": reading\n            }\n        }];\n    }\n}\n\nif (Object.keys(devices).length === 0) {\n    return null;\n}\n\nmsg.payload = devices;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 300,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "ff932835.497da8",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform temperature reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nconst name = slave.name.trimStart().trim();\nlet key = 'temperature';\n\nif (!lastReading.hasOwnProperty('temperature')) {\n  key = 'value';\n}\n\nconst match = slave.name.match(/^(Temp\\.\\s*)([\\wÀ-ÿ\\s\\d-]+?)(?:\\s([+\\-x]\\d+(\\.\\d+)?))?$/i);\n// node.warn(match);\n// Always strip trailing offset (e.g. \" -2\", \" +1.5\") from the name — even when regex doesn't match\nconst rawName = match ? match[2].trim() : name;\nconst finalName = rawName.replace(/\\s[+\\-x]\\d+(\\.\\d+)?$/, '').trim();\nconst adjustment = match && match[3]\n  ? match[3].trim()\n  : (name.match(/\\s([+\\-x]\\d+(\\.\\d+)?)$/) || [])[1] || '';\n\n// Check for operator before applying adjustment\nlet adjustedTemperature = lastReading[key];\nif (/^[+\\-x]\\d+(\\.\\d+)?$/.test(adjustment)) {\n  const operator = adjustment.charAt(0);\n  const value = parseFloat(adjustment.substring(1));\n\n  if (operator === '+') {\n    adjustedTemperature += value;\n  } else if (operator === '-') {\n    adjustedTemperature -= value;\n  } else if (operator === 'x') {\n    adjustedTemperature *= value;\n  }\n}\n\nmsg.payload = {\n  [finalName]: [\n    {\n      temperature: adjustedTemperature,\n    },\n  ],\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 670,
    "y": 380,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "6e1ff75e.4dbe98",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/x(\\d+)/i);\n    return match ? parseInt(match[1], 10) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"consumption\": lastReading.value * getMultiplier(name),\n        \"a\": lastReading.phases ? lastReading.phases.a * getMultiplier(name) : null,\n        \"b\": lastReading.phases ? lastReading.phases.b * getMultiplier(name) : null,\n        \"c\": lastReading.phases ? lastReading.phases.c * getMultiplier(name) : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 680,
    "y": 480,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "b502336.ae18dd",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform current reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst deviceMap = {\n    '0': 'a',\n    '1': 'b',\n    '2': 'c'\n};\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)A/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"total_current\": lastReading.total_current * getMultiplier(name),\n        \"current_a\": lastReading.a * getMultiplier(name),\n        \"current_b\": lastReading.b * getMultiplier(name),\n        \"current_c\": lastReading.c * getMultiplier(name)\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 660,
    "y": 540,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "70ed4a2b.d46c74",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform voltage reading to device update",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\nconst voltage = lastReading.voltage;\nconst fp = lastReading.fp;\nlet a, b, c;\nlet fpA, fpB, fpC;\nif (voltage) {\n    a = voltage.a;\n    b = voltage.b;\n    c = voltage.c;\n}\nif (fp) {\n    fpA = fp.a;\n    fpB = fp.b;\n    fpC = fp.c;\n}\n\nfunction getMultiplier(deviceName) {\n    const match = deviceName.match(/ x(\\d+\\.?\\d*)V/i);\n    return match ? parseFloat(match[1]) : 1;\n}\n\nfunction getNameWithoutMultipliers(deviceName) {\n    return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nconst name = slave.name;\nconst cleanName = getNameWithoutMultipliers(name);\nconst multiplier = getMultiplier(name);\n\nmsg.payload = {\n    [cleanName]: [{\n        \"fp_a\": fpA,\n        \"fp_b\": fpB,\n        \"fp_c\": fpC,\n        \"voltage_a\": a ? a * multiplier : null,\n        \"voltage_b\": b ? b * multiplier : null,\n        \"voltage_c\": c ? c * multiplier : null\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 660,
    "y": 620,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "22b7b982.5a8756",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "Transform consumption reading to nivel de agua",
    "func": "const slave = msg.slave;\nconst lastReading = msg.payload;\n\nlet [_ignore, deviceName, offset, height, multiplier] = slave.name.split(' ');\n\n\noffset = parseInt(offset, 10);\nmultiplier = parseFloat(multiplier.replace(/x/i, ''));\nheight = parseInt(height);\n\n\nconst waterLevel = (msg.payload.value - offset) * multiplier;\nconst percentage = parseFloat((waterLevel / height).toFixed(2));\n\nmsg.payload = {\n    [deviceName]: [{\n        water_level: waterLevel,\n        water_percentage: percentage,\n    }]\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 670,
    "y": 440,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "b2fd8c1e.51fb8",
    "type": "switch",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "SCD?",
    "property": "slave.name",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "SCD", "vt": "str" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 380,
    "y": 460,
    "wires": [["22b7b982.5a8756"], ["6e1ff75e.4dbe98"]]
  },
  {
    "id": "7bc88b5a.9c6d04",
    "type": "mqtt out",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "",
    "topic": "v1/gateway/telemetry",
    "qos": "",
    "retain": "",
    "broker": "ba7623fd.d47d2",
    "x": 1090,
    "y": 440,
    "wires": []
  },
  {
    "id": "1bda15cf.db78ea",
    "type": "link in",
    "z": "41af0d47.790c84",
    "g": "aa61127e.dfa2",
    "name": "",
    "links": ["30c8a4e4.cda14c"],
    "x": 1075,
    "y": 580,
    "wires": [["7bc88b5a.9c6d04"]]
  },
  {
    "id": "563c0479.f8ecbc",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "CENTRAL_UUID",
    "payloadType": "env",
    "x": 1440,
    "y": 380,
    "wires": [["fafbec1c.7beb5"]]
  },
  {
    "id": "fafbec1c.7beb5",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "c4ae64eb.f82c88",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1585,
    "y": 380,
    "wires": [],
    "l": false
  },
  {
    "id": "726d4de7.d31814",
    "type": "postgresql",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "SELECT *\n  FROM channel_pulse_log\n WHERE timestamp > '{{{ msg.payload.dateStart }}}'\n   AND (slave_id, channel) IN {{{ msg.payload.devices }}};",
    "postgreSQLConfig": "450c37d5.ec80e8",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 600,
    "y": 980,
    "wires": [["8b839384.698c88", "3f2ce735.b9287"]]
  },
  {
    "id": "3b6fb47.c12e2cc",
    "type": "inject",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 980,
    "wires": [["d2068248.85afa"]]
  },
  {
    "id": "64aa322b.7ece94",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "Assembly devices",
    "func": "function formatForPostgresInQuery(arrayOfArrays) {\n    // Map each sub-array to a string in the format \"(x, y)\"\n    const formattedItems = arrayOfArrays.map(subArray => \n        `(${subArray.join(', ')})`\n    );\n\n    // Join all the formatted items into one string with proper enclosing\n    return `(${formattedItems.join(', ')})`;\n}\n\n\n// Fetch all flow sensor devices:\n\nconst devices = flow.get('devices') || {};\nconst now = new Date();\n\nnow.setMinutes(now.getMinutes() - 1);\n\n\nconst flowDevices = [];\n\nfor (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.type === 'flow_sensor') {\n        flowDevices.push([device.slaveId, device.channelId]);\n    }\n}\n\nif (flowDevices.length === 0) {\n    return null;\n}\n\nmsg.payload = {\n    devices: formatForPostgresInQuery(flowDevices),\n    dateStart: now.toISOString(),\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 980,
    "wires": [["726d4de7.d31814", "2ed30c94.7119c4"]]
  },
  {
    "id": "2ed30c94.7119c4",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 940,
    "wires": []
  },
  {
    "id": "8b839384.698c88",
    "type": "function",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "Map devices",
    "func": "// Fetch all flow sensor devices:\nconst devices = flow.get('devices') || {};\n\nfunction getNameWithoutMultipliers(deviceName) {\n  return deviceName.replace(/ x\\d+\\.?\\d*[AV]?/gi, '').trim();\n}\n\nfunction findDevice(slaveId, channel) {\n  for (const devKey in devices) {\n    const device = devices[devKey];\n    if (device.slaveId === slaveId && device.channelId === channel) {\n      return device;\n    }\n  }\n  return null;\n}\n\n// 1) AGRUPA DO JEITO ORIGINAL (chave = device.name)\nconst originalMap = msg.payload.reduce((acc, reading) => {\n  const device = findDevice(reading.slave_id, reading.channel);\n  if (!device) return acc;\n\n  if (!(device.name in acc)) {\n    acc[device.name] = [];\n  }\n\n  acc[device.name].push({\n    ts: new Date(reading.timestamp).getTime(),\n    values: { pulses: reading.value }\n  });\n\n  return acc;\n}, {});\n\n// 2) CRIA UMA CÓPIA COM NOMES \"LIMPOS\" (pode fundir chaves que virem iguais)\nconst normalizedMap = Object.entries(originalMap).reduce((out, [rawName, arr]) => {\n  const cleanName = getNameWithoutMultipliers(rawName);\n  if (!out[cleanName]) out[cleanName] = [];\n  // mantém as mesmas estruturas de itens\n  out[cleanName].push(...arr);\n  return out;\n}, {});\n\n//msg.payload = originalMap;\nmsg.payload = normalizedMap; \n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 820,
    "y": 980,
    "wires": [["e43891c2.3de768", "7bc88b5a.9c6d04"]]
  },
  {
    "id": "3f2ce735.b9287",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 820,
    "y": 940,
    "wires": []
  },
  {
    "id": "e43891c2.3de768",
    "type": "debug",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1027,
    "y": 931,
    "wires": []
  },
  {
    "id": "d2068248.85afa",
    "type": "postgresql",
    "z": "41af0d47.790c84",
    "g": "d2b99440.ec2208",
    "name": "",
    "query": "WITH LastTimestamp AS (\n  SELECT MAX(timestamp) AS max_timestamp\n  FROM channel_pulse_log\n),\nTimeDiff AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp) AS prev_timestamp,\n    EXTRACT(EPOCH FROM (timestamp - LAG(timestamp) OVER (PARTITION BY slave_id, channel ORDER BY timestamp))) AS time_diff_seconds\n  FROM channel_pulse_log\n  WHERE\n    channel = 1\n    AND timestamp >= (SELECT max_timestamp - INTERVAL '5 minutes' FROM LastTimestamp)\n    AND timestamp <= (SELECT max_timestamp FROM LastTimestamp)\n),\nOutliers AS (\n  SELECT\n    timestamp,\n    channel,\n    value,\n    slave_id,\n    reading,\n    time_diff_seconds,\n    (time_diff_seconds * 3) AS max_allowable_value\n  FROM TimeDiff\n  WHERE\n    value > (time_diff_seconds * 3)\n    AND value > 10\n),\nUpdatedRows AS (\n  UPDATE channel_pulse_log cpl\n  SET value = 0\n  FROM Outliers\n  WHERE\n    cpl.timestamp = Outliers.timestamp\n    AND cpl.slave_id = Outliers.slave_id\n    AND cpl.channel = Outliers.channel\n    AND cpl.value = Outliers.value\n    AND cpl.reading = Outliers.reading\n  RETURNING cpl.slave_id\n)\nSELECT\n  COUNT(*) AS affected_rows,\n  ARRAY_AGG(slave_id) AS affected_slave_ids\nFROM UpdatedRows;",
    "postgreSQLConfig": "2c45df63.f68c4",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 300,
    "y": 940,
    "wires": [["64aa322b.7ece94"]]
  },
  {
    "id": "7308e929.4f14e8",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 715,
    "y": 80,
    "wires": [["f06fe977.be2558", "9b5ceae1.801ff8"]],
    "l": false
  },
  {
    "id": "b5d20641.cc8de",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "Get Bundle",
    "props": [
      { "p": "base_url", "v": "https://gcdr-api.a.myio-bas.com/api/v1", "vt": "str" },
      { "p": "vers", "v": "vers", "vt": "flow" },
      { "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" },
      { "p": "custumer_id", "v": "32ad58d0-0752-11f1-a625-4d3576ae337e", "vt": "str" },
      {
        "p": "headers",
        "v": "{\t   \"X-API-Key\": \"gcdr_3deda520b69c69746b9cc3f6d73055ef3c69d3972566f0f3f37c8be3633a9de9\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id,\t   \"X-Version-Id\":$type(vers) = \"string\"?\t      vers\t   :\t      \"Undefined\"\t}",
        "vt": "jsonata"
      },
      {
        "p": "url",
        "v": "base_url&\"/customers/\"&custumer_id&\"/alarm-rules/bundle/simple\" ",
        "vt": "jsonata"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [["54772f1d.cbd53", "2066c0a7.e4eda"]]
  },
  {
    "id": "494effcd.c2ac4",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "Get Status",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 160,
    "wires": [["cb15106d.4408d8"]]
  },
  {
    "id": "cb15106d.4408d8",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 245,
    "y": 160,
    "wires": [["635a3949.a4514"]],
    "l": false
  },
  {
    "id": "635a3949.a4514",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 184",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 315,
    "y": 140,
    "wires": [],
    "l": false
  },
  {
    "id": "f06fe977.be2558",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 63",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 775,
    "y": 40,
    "wires": [],
    "l": false
  },
  {
    "id": "a5ac8cc.d38527",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "Start notific",
    "props": [{ "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" }],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 120,
    "y": 580,
    "wires": [["64f04cb6.2d3e44"]]
  },
  {
    "id": "64f04cb6.2d3e44",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 235,
    "y": 580,
    "wires": [["c7315fa7.d47208", "3fae8fea.d4e2c", "d498c3af.ba32a8"]],
    "l": false
  },
  {
    "id": "c7315fa7.d47208",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 199",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 305,
    "y": 540,
    "wires": [],
    "l": false
  },
  {
    "id": "54772f1d.cbd53",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 201",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 275,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "2066c0a7.e4eda",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "flow rules lost ?",
    "property": "rules",
    "propertyType": "flow",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 400,
    "y": 80,
    "wires": [["7308e929.4f14e8"], ["8a9757e7.94a31"]]
  },
  {
    "id": "9b5ceae1.801ff8",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "equal vers?",
    "property": "payload.versionId = vers",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 830,
    "y": 80,
    "wires": [["fa5decb6.1fab4"], ["ae48bca5.2b557", "897ae833.2d17a"]]
  },
  {
    "id": "cf60d1e8.fb58b",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      },
      { "t": "set", "p": "last", "pt": "flow", "to": "", "tot": "date" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1320,
    "y": 1100,
    "wires": [["9bc746ad.e24f9", "fcd74241.3ca3e"]]
  },
  {
    "id": "9bc746ad.e24f9",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 203",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1435,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "b5e737db.4cca68",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1495,
    "y": 1100,
    "wires": [["c40efad4.d9dca", "ad3081d0.466628"]],
    "l": false
  },
  {
    "id": "c40efad4.d9dca",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 204",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1555,
    "y": 1080,
    "wires": [],
    "l": false
  },
  {
    "id": "b0393d07.f8548",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "configure var to request",
    "rules": [
      { "t": "delete", "p": "slaves", "pt": "msg" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t    $today:= $string($number($now('[F1]','-0300'))%7);\t    $pre:=$now('[Y0000]-[M00]-[D00]T','-0300');\t[$each(rules, function($v,$k){\t    $contains($v.metric, 'nerg') and $lookup($v.daysOfWeek, $today)?\t        (\t        $start:=( $toMillis($pre&$v.startAt&\":00.000Z\")  );\t        $end:= ( $toMillis($pre&$v.endAt&\":00.000Z\")  );\t        {\t\t            \"rule\": $k,\t            \"id\":$reduce([$keys($v.slaves)], function ($acc,$va,$i){\t                $i = 0?\t                    $va\t                :\t                    $acc & \", \"&$va\t            },''),\t            \"start\": $start <= $end?\t                    $substringBefore($replace( $fromMillis($start + 10800000), 'T', ' '), '.')\t                :\t                    $substringBefore($replace( $fromMillis($start - 75600000), 'T', ' '), '.')\t                ,\t            \"end\": \t                    $substringBefore($replace( $fromMillis($end + 10800000), 'T', ' '), '.')\t                \t            \t        }\t        )\t})]\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 890,
    "y": 640,
    "wires": [["d531ee9a.5ba17", "7bed7033.062118"]]
  },
  {
    "id": "d531ee9a.5ba17",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 205",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1055,
    "y": 640,
    "wires": [],
    "l": false
  },
  {
    "id": "7bed7033.062118",
    "type": "split",
    "z": "7b24d3ae.37152c",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 410,
    "y": 700,
    "wires": [["7faccaab.d553ec"]]
  },
  {
    "id": "8776c83e.fdd32",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 206",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 615,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "327accca.bd0994",
    "type": "postgresql",
    "z": "7b24d3ae.37152c",
    "name": "Get consumption",
    "query": "SELECT\n    slave_id,\n    avg_value,\n    TO_CHAR(period, 'YYYY-MM-DD\"T\"HH24:MI:SS.MS\"Z\"') AS period\nFROM (\n    SELECT\n        slave_id,\n        AVG(value) AS avg_value,\n        time_bucket('15 minutes', timestamp) AS period\n    FROM consumption_realtime\n    WHERE\n        slave_id IN ({{msg.payload.id}})\n        AND timestamp BETWEEN '{{msg.payload.start}}' AND '{{msg.payload.end}}'\n    GROUP BY\n        slave_id,\n        period\n) bucketed\nORDER BY period DESC",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 750,
    "y": 700,
    "wires": [["26f380e3.c0e9b8", "4434295d.fd25a8"]]
  },
  {
    "id": "8f1a2c7b.1fd3c",
    "type": "trigger",
    "z": "7b24d3ae.37152c",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "300",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 715,
    "y": 640,
    "wires": [["b0393d07.f8548"]],
    "l": false
  },
  {
    "id": "90a9d5d7.c200e8",
    "type": "delay",
    "z": "7b24d3ae.37152c",
    "name": "",
    "pauseType": "delay",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 655,
    "y": 640,
    "wires": [["8f1a2c7b.1fd3c"]],
    "l": false
  },
  {
    "id": "fcd74241.3ca3e",
    "type": "delay",
    "z": "7b24d3ae.37152c",
    "name": "",
    "pauseType": "rate",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "25",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1435,
    "y": 1100,
    "wires": [["b5e737db.4cca68"]],
    "l": false
  },
  {
    "id": "8ffd5473.ab9fc",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "check trigger",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t  (\t      $rule := $lookup(rules, current.rule);\t      {\t          current.rule: (\t              $ids := $split(current.id, ',');\t              $grouped := $reduce(payload, function($acc, $va) {\t                  (\t                      $key := $string($va.slave_id);\t                      $prev := $lookup($acc, $key);\t                      $merge([$acc, {$key: $append($prev, $va.avg_value * $rule.keyMulti)}])\t                  )\t              }, {});\t              $map($ids, function($v) {\t                  (\t                      $old:=$lookup($lookup(data, current.rule),$lookup($rule.slaves, $trim($v)).cloud_id);\t                      $id_num := $number($trim($v));\t                      $raw := $lookup($grouped, $string($id_num));\t                      $values := $type($raw) = \"array\" ? $raw : $type($raw) = \"number\" ? [$raw] : [];\t                      (\t                      $value:=$count($values) > 0 ? (\t                                  $rule.aggregation = \"AVG\" ? $average($values) :\t                                  $rule.aggregation = \"MIN\" ? $min($values) :\t                                  $rule.aggregation = \"MAX\" ? $max($values) :\t                                  $rule.aggregation = \"SUM\" ? $sum($values) :\t                                  $rule.aggregation = \"COUNT\" ? $count($values) :\t                                  $values[0]\t                              ) : \"No data\";\t                      \t                        $mytrig:=$type($value)=\"number\"?\t                                    (\t                                      ($rule.operator = \"GT\" and $value > $rule.value) or\t                                      ($rule.operator = \"GTE\" and $value >= $rule.value) or\t                                      ($rule.operator = \"LT\" and $value < $rule.value) or\t                                      ($rule.operator = \"LTE\" and $value <= $rule.value) or\t                                      ($rule.operator = \"EQ\" and $value = $rule.value) or\t                                      ($rule.operator = \"NEQ\" and $value != $rule.value) or\t                                      (\t                                      $valeH:= $type($rule.valueHigh) = \"number\"?\t                                          $rule.valueHigh\t                                          :\t                                          0;\t                                      ($rule.operator = \"BETWEEN\" and ($value >= $rule.value and $value <= $valeH)) or\t                                      ($rule.operator = \"OUTSIDE\" and ($value < $rule.value or $value > $valeH))\t                                      )\t                                    )\t                                    :\t                                    (\t                                        $type($old.triggered) = \"boolean\" ?\t                                        $old.triggered :\t                                        false\t                                    ) ;\t                          {\t                              $lookup($rule.slaves, $trim($v)).cloud_id: {\t                                  \"triggered\": $mytrig,\t                                  \"local_id\": $trim($v),\t                                  \"time\": $old.triggered = $mytrig?\t                                    $old.time :\t                                    $now(),\t                                  \"status\": $lookup(slaves, $trim($v)),\t                                  \"value\": $type($value) = \"number\"?\t                                  $round($value,2) :\t                                  $value\t                              }\t                          }\t                      \t                      )\t                  )\t              }) ~> $merge()\t          )\t      }\t  )\t",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "slaves", "pt": "msg" },
      { "t": "delete", "p": "data", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1130,
    "y": 700,
    "wires": [["16176029.60efa8", "476ca998.2695b"]]
  },
  {
    "id": "476ca998.2695b",
    "type": "join",
    "z": "7b24d3ae.37152c",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1315,
    "y": 700,
    "wires": [["8898fd52.94b98", "34baa861.e91b1"]],
    "l": false
  },
  {
    "id": "26f380e3.c0e9b8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 885,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "8898fd52.94b98",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1395,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "ae48bca5.2b557",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1060,
    "y": 140,
    "wires": [["38d8359.5ffbeca"]]
  },
  {
    "id": "c30a82bc.8cc368",
    "type": "trigger",
    "z": "7b24d3ae.37152c",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "50",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 155,
    "y": 1100,
    "wires": [["97684c7d.949098"]],
    "l": false
  },
  {
    "id": "976804fa.b6312",
    "type": "link out",
    "z": "7b24d3ae.37152c",
    "name": "post in",
    "links": ["d82ff616.629c18"],
    "x": 1355,
    "y": 580,
    "wires": []
  },
  {
    "id": "d82ff616.629c18",
    "type": "link in",
    "z": "7b24d3ae.37152c",
    "name": "link in 7",
    "links": ["976804fa.b6312"],
    "x": 95,
    "y": 1100,
    "wires": [["c30a82bc.8cc368"]]
  },
  {
    "id": "6891c7a1.059e18",
    "type": "persist-in",
    "z": "7b24d3ae.37152c",
    "x": 1435,
    "y": 1140,
    "wires": [],
    "l": false
  },
  {
    "id": "79e3f31d.5c1ebc",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "save data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"local_data\",\t    \"value\":$lookup(payload,$keys(payload)).rules\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1320,
    "y": 1140,
    "wires": [["6891c7a1.059e18"]]
  },
  {
    "id": "8de8ed17.23591",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "check data",
    "props": [{ "p": "payload" }],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "data",
    "payloadType": "flow",
    "x": 130,
    "y": 920,
    "wires": [["58462eb7.c19eb"]]
  },
  {
    "id": "58462eb7.c19eb",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "have data?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 290,
    "y": 920,
    "wires": [[], ["e463954c.377d3"]]
  },
  {
    "id": "e463954c.377d3",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "restore data",
    "rules": [
      { "t": "set", "p": "payload", "pt": "msg", "to": "{\t    \"key\":\"local_data\"\t}", "tot": "jsonata" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 470,
    "y": 920,
    "wires": [["957e675a.552b1"]]
  },
  {
    "id": "d1e3502.f5122b",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 635,
    "y": 900,
    "wires": [],
    "l": false
  },
  {
    "id": "957e675a.552b1",
    "type": "persist-out",
    "z": "7b24d3ae.37152c",
    "x": 575,
    "y": 920,
    "wires": [["d1e3502.f5122b", "58a844a2.170ab4"]],
    "l": false
  },
  {
    "id": "58a844a2.170ab4",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "save restored",
    "rules": [{ "t": "set", "p": "data", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "34baa861.e91b1",
    "type": "join",
    "z": "7b24d3ae.37152c",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "1",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1305,
    "y": 580,
    "wires": [["976804fa.b6312"]],
    "l": false
  },
  {
    "id": "97684c7d.949098",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "have data?",
    "property": "data",
    "propertyType": "flow",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 270,
    "y": 1100,
    "wires": [["c92c13fc.3208d", "6ad7df31.207968"], ["dcee9fb5.a4a648"]]
  },
  {
    "id": "dcee9fb5.a4a648",
    "type": "delay",
    "z": "7b24d3ae.37152c",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 385,
    "y": 1120,
    "wires": [["6ad7df31.207968"]],
    "l": false
  },
  {
    "id": "c7c321dd.ce3428",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "diff ?",
    "property": "diff",
    "propertyType": "msg",
    "rules": [{ "t": "empty" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 990,
    "y": 1100,
    "wires": [["d3461e29.eb0c4"], ["cf60d1e8.fb58b", "a9abe668.bbe7a8", "79e3f31d.5c1ebc"]]
  },
  {
    "id": "d3461e29.eb0c4",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "each 10 mins",
    "property": "(\t    $last:= $flowContext('last');\t$type($last) = \"string\"?\t    $millis() - $toMillis($last) > 600000\t:\t    true\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1150,
    "y": 1080,
    "wires": [["cf60d1e8.fb58b", "a752a5d1.4d766"]]
  },
  {
    "id": "a21c67ce.0a7d68",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "a752a5d1.4d766",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1275,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "ad3081d0.466628",
    "type": "link out",
    "z": "7b24d3ae.37152c",
    "name": "sent in",
    "links": ["6312af38.f67d8"],
    "x": 1555,
    "y": 1120,
    "wires": []
  },
  {
    "id": "6312af38.f67d8",
    "type": "link in",
    "z": "7b24d3ae.37152c",
    "name": "sent out",
    "links": ["ad3081d0.466628"],
    "x": 95,
    "y": 1200,
    "wires": [["29f7d0e7.e217"]]
  },
  {
    "id": "29f7d0e7.e217",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 200,
    "y": 1200,
    "wires": [[], ["a833edc5.5b2ae8", "73e3fe9c.6e13b8"]]
  },
  {
    "id": "a833edc5.5b2ae8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 208",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 315,
    "y": 1240,
    "wires": [],
    "l": false
  },
  {
    "id": "19fac748.58e411",
    "type": "persist-in",
    "z": "7b24d3ae.37152c",
    "x": 975,
    "y": 1200,
    "wires": [],
    "l": false
  },
  {
    "id": "a7c8ac6c.4c4b68",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "save all data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"all_data\",\t    \"value\": \t    \t    $merge([\t        (\t            $count($keys(payload)) > 500?\t                $reduce([$spread(payload)], function ($acc,$v,$i){\t                    $millis() - $toMillis($keys($v)) < 604800000 and $i < 500?\t                        [$acc,$v]\t                    :\t                        $acc\t                },[])~>$merge()\t            :\t                payload\t        ),\t        {\t            $now():\t                {\t                    \"rules\": diff,\t                    \"vers\": vers\t                }\t        }\t    ])\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 1200,
    "wires": [["19fac748.58e411"]]
  },
  {
    "id": "656e6e31.5c15e8",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "restore data",
    "rules": [
      { "t": "set", "p": "payload", "pt": "msg", "to": "{\t    \"key\":\"all_data\"\t}", "tot": "jsonata" },
      { "t": "set", "p": "fail", "pt": "flow", "to": "true", "tot": "bool" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 1200,
    "wires": [["2ceb7cdf.8eccd4", "6484a2ba.cacb44"]]
  },
  {
    "id": "2ceb7cdf.8eccd4",
    "type": "persist-out",
    "z": "7b24d3ae.37152c",
    "x": 635,
    "y": 1180,
    "wires": [["26598e1f.5a6eca"]],
    "l": false
  },
  {
    "id": "6484a2ba.cacb44",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 635,
    "y": 1220,
    "wires": [["26598e1f.5a6eca"]],
    "l": false
  },
  {
    "id": "26598e1f.5a6eca",
    "type": "join",
    "z": "7b24d3ae.37152c",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "3",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 695,
    "y": 1200,
    "wires": [["51bd1de8.391b74", "a7c8ac6c.4c4b68"]],
    "l": false
  },
  {
    "id": "73e3fe9c.6e13b8",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "diff ?",
    "property": "diff",
    "propertyType": "msg",
    "rules": [{ "t": "empty" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 1200,
    "wires": [[], ["656e6e31.5c15e8"]]
  },
  {
    "id": "51bd1de8.391b74",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 755,
    "y": 1180,
    "wires": [],
    "l": false
  },
  {
    "id": "a9abe668.bbe7a8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1095,
    "y": 1140,
    "wires": [],
    "l": false
  },
  {
    "id": "fca8eb39.ded998",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "send historic values",
    "props": [{ "p": "payload" }, { "p": "central_id", "v": "CENTRAL_UUID", "vt": "env" }],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"key\":\"all_data\"}",
    "payloadType": "json",
    "x": 180,
    "y": 1320,
    "wires": [["5e0eac0a.df127c"]]
  },
  {
    "id": "5e0eac0a.df127c",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "fail ?",
    "property": "fail",
    "propertyType": "flow",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 1320,
    "wires": [["f04fed1a.44a6f8"]]
  },
  {
    "id": "f04fed1a.44a6f8",
    "type": "persist-out",
    "z": "7b24d3ae.37152c",
    "x": 465,
    "y": 1320,
    "wires": [["e2e2f8a1.d9bea"]],
    "l": false
  },
  {
    "id": "e2e2f8a1.d9bea",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-candidate",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 560,
    "y": 1320,
    "wires": [["3053f07d.5176d", "b758b320.452908"]]
  },
  {
    "id": "3053f07d.5176d",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 735,
    "y": 1320,
    "wires": [["e0f2eb57.1b172", "8f8009be.a34b9"]],
    "l": false
  },
  {
    "id": "e0f2eb57.1b172",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 209",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 1300,
    "wires": [],
    "l": false
  },
  {
    "id": "8f8009be.a34b9",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "success ?",
    "property": "payload.success",
    "propertyType": "msg",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 900,
    "y": 1320,
    "wires": [["f6d72771.75853"], []]
  },
  {
    "id": "f6d72771.75853",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "historic received",
    "rules": [{ "t": "set", "p": "fail", "pt": "flow", "to": "false", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1080,
    "y": 1300,
    "wires": [[]]
  },
  {
    "id": "b758b320.452908",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 210",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 665,
    "y": 1300,
    "wires": [],
    "l": false
  },
  {
    "id": "fa5decb6.1fab4",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 211",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "897ae833.2d17a",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 212",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 100,
    "wires": [],
    "l": false
  },
  {
    "id": "8a9757e7.94a31",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "delete vers",
    "rules": [{ "t": "delete", "p": "vers", "pt": "flow" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 590,
    "y": 100,
    "wires": [["7308e929.4f14e8"]]
  },
  {
    "id": "f7b6f02e.c070d",
    "type": "persist-in",
    "z": "7b24d3ae.37152c",
    "x": 475,
    "y": 1460,
    "wires": [],
    "l": false
  },
  {
    "id": "6672b403.bfdab4",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "reset all data",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t   \"key\":\"all_data\",\t   \"value\": \t    \t    \t       {}\t}",
    "payloadType": "jsonata",
    "x": 270,
    "y": 1440,
    "wires": [["f7b6f02e.c070d"]]
  },
  {
    "id": "a3a08417.cf24e8",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "reset local data",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t   \"key\":\"local_data\",\t   \"value\": \t    \t    \t       {}\t}",
    "payloadType": "jsonata",
    "x": 280,
    "y": 1480,
    "wires": [["f7b6f02e.c070d"]]
  },
  {
    "id": "7faccaab.d553ec",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "save payload",
    "rules": [
      { "t": "set", "p": "current", "pt": "msg", "to": "payload", "tot": "msg" },
      { "t": "delete", "p": "_msgid", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 495,
    "y": 700,
    "wires": [["451ed85a.7a38e"]],
    "l": false
  },
  {
    "id": "15d60a34.5ac356",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "Update data",
    "props": [
      { "p": "rules", "v": "rules", "vt": "flow" },
      { "p": "data", "v": "data", "vt": "flow" }
    ],
    "repeat": "20",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 1000,
    "wires": [["bd8a0687.bad8c8"]]
  },
  {
    "id": "bd8a0687.bad8c8",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "update Data",
    "rules": [
      {
        "t": "set",
        "p": "equal",
        "pt": "msg",
        "to": "$count($keys(data)) <= $count($keys(rules))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 310,
    "y": 1000,
    "wires": [["48aead46.dd0be4"]]
  },
  {
    "id": "48aead46.dd0be4",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "not equal",
    "property": "equal",
    "propertyType": "msg",
    "rules": [{ "t": "false" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 460,
    "y": 1000,
    "wires": [["ad3ea150.556e", "3f0628e8.7da0d"]]
  },
  {
    "id": "5b8392ab.072b04",
    "type": "link out",
    "z": "7b24d3ae.37152c",
    "name": "reset data in",
    "links": ["8e64ea63.b8486"],
    "x": 855,
    "y": 980,
    "wires": []
  },
  {
    "id": "ad3ea150.556e",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "update flow Data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$each(data, function($v,$k){\t    $type($lookup(rules, $k)) = \"object\" ?\t        {$k:$v}\t})]~>$merge()",
        "tot": "jsonata"
      },
      { "t": "set", "p": "data", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 710,
    "y": 1000,
    "wires": [["5b8392ab.072b04", "c67f077e.2dafd"]]
  },
  {
    "id": "c40109e.dbcff78",
    "type": "persist-in",
    "z": "7b24d3ae.37152c",
    "x": 1055,
    "y": 1000,
    "wires": [],
    "l": false
  },
  {
    "id": "c67f077e.2dafd",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "save data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"key\":\"local_data\",\t    \"value\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 940,
    "y": 1000,
    "wires": [["c40109e.dbcff78"]]
  },
  {
    "id": "3f0628e8.7da0d",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 575,
    "y": 980,
    "wires": [],
    "l": false
  },
  {
    "id": "4434295d.fd25a8",
    "type": "delay",
    "z": "7b24d3ae.37152c",
    "name": "",
    "pauseType": "rate",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 935,
    "y": 700,
    "wires": [["f53be350.d8575"]],
    "l": false
  },
  {
    "id": "16176029.60efa8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1255,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "8dce7d8e.de8bb8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1075,
    "y": 740,
    "wires": [],
    "l": false
  },
  {
    "id": "dfc99055.077d1",
    "type": "inject",
    "z": "7b24d3ae.37152c",
    "name": "",
    "props": [{ "p": "reset", "v": "true", "vt": "bool" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 410,
    "y": 640,
    "wires": [["8f1a2c7b.1fd3c"]]
  },
  {
    "id": "f53be350.d8575",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter duration",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$rule := $lookup(rules, current.rule);\t$agora:=$millis();\t$values := \t$reduce(payload, function($acc, $va) {\t    (\t        $val_time := $toMillis($va.period);\t        ($rule.duration = 0 or ($agora - $val_time < $rule.duration)) ?\t            [$acc, $va] : \t            $acc\t    )\t}, []);\t$values\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 995,
    "y": 700,
    "wires": [["8ffd5473.ab9fc", "8dce7d8e.de8bb8"]],
    "l": false
  },
  {
    "id": "c92c13fc.3208d",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 455,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "df201d2.124706",
    "type": "http in",
    "z": "7b24d3ae.37152c",
    "name": "",
    "url": "/alarm_data",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 1740,
    "wires": [["89b4c920.a24e18"]]
  },
  {
    "id": "89b4c920.a24e18",
    "type": "function",
    "z": "7b24d3ae.37152c",
    "name": "",
    "func": "msg.payload = {\n  rules: flow.get('rules') || {},\n  data: flow.get('data') || {},\n  slaves: flow.get('slaves') || {},\n  temp: flow.get('temp') || {},\n  pot: flow.get('pot') || {},\n  water: flow.get('water') || {},\n  humid: flow.get('humid') || {},\n  ch: flow.get('ch') || {},\n  timestamp: Date.now()\n};\n\n  msg.headers = {\n      \"Access-Control-Allow-Origin\": \"*\",\n      \"Access-Control-Allow-Methods\": \"GET, OPTIONS\",\n      \"Access-Control-Allow-Headers\": \"Content-Type\",\n      \"Content-Type\": \"application/json\"\n  };\n\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 350,
    "y": 1740,
    "wires": [["e59f55a6.582dd8"]]
  },
  {
    "id": "e59f55a6.582dd8",
    "type": "http response",
    "z": "7b24d3ae.37152c",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 510,
    "y": 1740,
    "wires": []
  },
  {
    "id": "451ed85a.7a38e",
    "type": "function",
    "z": "7b24d3ae.37152c",
    "name": "RATE LIMIT (3s)",
    "func": "var rate = 3000;\n\nvar queue = context.get('queue') || [];\nvar timerActive = context.get('timerActive') || false;\n\nqueue.push(msg);\ncontext.set('queue', queue);\n\nnode.status({fill:\"blue\", shape:\"ring\", text: queue.length + \" na fila\"});\n\nif (!timerActive) {\n  sendNext();\n}\n\nfunction sendNext() {\n  var q = context.get('queue') || [];\n  if (q.length === 0) {\n      context.set('timerActive', false);\n      node.status({});\n      return;\n  }\n  context.set('timerActive', true);\n  var m = q.shift();\n  context.set('queue', q);\n  node.status({\n      fill:\"green\",\n      shape:\"dot\",\n      text: q.length + \" na fila\"\n  });\n  node.send(m);\n  setTimeout(sendNext, rate);\n}\n\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 555,
    "y": 700,
    "wires": [["8776c83e.fdd32", "327accca.bd0994"]],
    "l": false
  },
  {
    "id": "898f3c9c.109d68",
    "type": "comment",
    "z": "7b24d3ae.37152c",
    "name": "ALTERAÇÕES",
    "info": "ALTERAR API KEY E CUSTUMMER ID NO 'GET BUNDLE'\nALTERAR API KEY NOS 2 BLOCOS DO 'SET URL'",
    "x": 140,
    "y": 40,
    "wires": []
  },
  {
    "id": "65ef1141.86fc1",
    "type": "http in",
    "z": "7b24d3ae.37152c",
    "name": "",
    "url": "/alarm_history",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 1780,
    "wires": [["bc383ca9.5a1db"]]
  },
  {
    "id": "74704e15.af994",
    "type": "http response",
    "z": "7b24d3ae.37152c",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 1020,
    "y": 1840,
    "wires": []
  },
  {
    "id": "8ced608f.2331e8",
    "type": "persist-out",
    "z": "7b24d3ae.37152c",
    "x": 670,
    "y": 1840,
    "wires": [["74704e15.af994"]]
  },
  {
    "id": "bc383ca9.5a1db",
    "type": "function",
    "z": "7b24d3ae.37152c",
    "name": "",
    "func": "msg.payload = {\n    key: 'all_data'\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 290,
    "y": 1840,
    "wires": [["8ced608f.2331e8"]]
  },
  {
    "id": "98da8cbd.a03d9",
    "type": "myio-emitter",
    "z": "7b24d3ae.37152c",
    "x": 130,
    "y": 340,
    "wires": [
      ["7668d662.51eaf8"],
      ["995f3584.bbf598"],
      ["3847fce.c870584"],
      [],
      [],
      ["995f3584.bbf598"],
      [],
      [],
      [],
      ["456a4f80.da82e"],
      ["f2874133.1d1ea"],
      ["8df775df.6be318"]
    ]
  },
  {
    "id": "715b8238.02311c",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 192",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 360,
    "wires": [],
    "l": false
  },
  {
    "id": "f54d239f.db84b",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 193",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 400,
    "wires": [],
    "l": false
  },
  {
    "id": "e9487e5a.f755c",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 995,
    "y": 320,
    "wires": [],
    "l": false
  },
  {
    "id": "3847fce.c870584",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter pot",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.pot or\t        $aux.water_lvl ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 340,
    "wires": [["111a739d.1e2554", "6b02fa3.c654804"]]
  },
  {
    "id": "111a739d.1e2554",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "need pot ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 340,
    "wires": [["c1f9bef1.86399"]]
  },
  {
    "id": "6b02fa3.c654804",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 320,
    "wires": [],
    "l": false
  },
  {
    "id": "c1f9bef1.86399",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              $current := filter.deviceName;\t              filter.water ?\t                  (\t                      $parts := $split($current, ' ');\t                      $start := $number($parts[2]);\t                      $heigh := $number($parts[3]);\t                      $multi := $number($substringAfter($parts[4], 'x'));\t                      $type($start) = 'number' and $type($heigh) = 'number' and $type($multi) = 'number' ?\t                          $round((payload.value - $start + filter.offset.water_level) * $multi / $heigh, 2 )\t                      :\t                          0\t                     \t                  )\t              :\t                  payload.value + filter.offset.pot\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 340,
    "wires": [["9eeb9ce.f10d0e"]]
  },
  {
    "id": "7afabef.b951bc",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 280,
    "wires": [],
    "l": false
  },
  {
    "id": "995f3584.bbf598",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter temp",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.temp ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 300,
    "wires": [["5d5b21c8.7fb29", "7afabef.b951bc"]]
  },
  {
    "id": "5d5b21c8.7fb29",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "need temp ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 300,
    "wires": [["c01fc580.3a25c"]]
  },
  {
    "id": "c01fc580.3a25c",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t            $type(payload.value) = \"number\" ?\t                  payload.value\t              :\t                  payload.temperature\t          ) \t          + filter.offset.pot;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'temp'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 300,
    "wires": [["9eeb9ce.f10d0e"]]
  },
  {
    "id": "7668d662.51eaf8",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter ch",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.ch ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 260,
    "wires": [["effe656f.cfedc", "a3737106.5584b"]]
  },
  {
    "id": "456a4f80.da82e",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter water",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.water ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 380,
    "wires": [["715b8238.02311c", "f4cf13cd.c2cd6"]]
  },
  {
    "id": "f2874133.1d1ea",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter humid",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "(\t$slaves:=$flowContext('slaves');\t    $type($slaves) = \"object\" ?\t    (\t        $aux:=$lookup($slaves, \"sl_\"&$string(payload.id));\t        $aux.humid ?\t            $aux\t        :\t            false\t    )\t    :\t        false\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 420,
    "wires": [["f54d239f.db84b", "efa3af10.6da89"]]
  },
  {
    "id": "effe656f.cfedc",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 186",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 495,
    "y": 240,
    "wires": [],
    "l": false
  },
  {
    "id": "a3737106.5584b",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "need ch ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 600,
    "y": 260,
    "wires": [["260ec1f6.f8d4e6"]]
  },
  {
    "id": "f4cf13cd.c2cd6",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "need water ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 610,
    "y": 380,
    "wires": [["58eb1a88.8ffa5c"]]
  },
  {
    "id": "efa3af10.6da89",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "need humid ?",
    "property": "filter",
    "propertyType": "msg",
    "rules": [{ "t": "istype", "v": "object", "vt": "object" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 620,
    "y": 420,
    "wires": [["3a74f967.f21d5e"]]
  },
  {
    "id": "260ec1f6.f8d4e6",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          payload.channels;\t\t          {\t              \"ch_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'ch'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 260,
    "wires": [["9eeb9ce.f10d0e"]]
  },
  {
    "id": "58eb1a88.8ffa5c",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $count($calcValue) > 0 ? $sum($calcValue.value) : 0,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 380,
    "wires": [["9eeb9ce.f10d0e"]]
  },
  {
    "id": "3a74f967.f21d5e",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "extract data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t(\t      $now_ms := $millis();\t      $sid := $string(payload.id);\t\t      $calcValue :=\t          (\t              [$filter(payload.channels[1].last_pulses, function($v, $i, $a){\t                ($millis() - $toMillis($replace($v.timestamp, \" \", \"T\")&\".000Z\")) < filter.duration\t              })]\t          )\t      ;\t\t          {\t              \"pot_\"&$sid: \t                  {\t                        \"value\": $calcValue,\t                        \"time\":$now(),\t                        \"local_id\":$sid,\t                        \"type\": 'pot'\t                  }\t              \t          }\t  )\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 420,
    "wires": [["9eeb9ce.f10d0e"]]
  },
  {
    "id": "9eeb9ce.f10d0e",
    "type": "join",
    "z": "7b24d3ae.37152c",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "10",
    "count": "",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 945,
    "y": 340,
    "wires": [["e9487e5a.f755c", "d60fa418.a3245", "73c76fdb.12ffe"]],
    "l": false
  },
  {
    "id": "d60fa418.a3245",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "update flow slaves / last",
    "rules": [
      { "t": "set", "p": "slaves", "pt": "msg", "to": "slaves", "tot": "flow" },
      {
        "t": "set",
        "p": "slaves",
        "pt": "flow",
        "to": "$type(slaves) = \"object\" ?\t    $merge([\t        slaves,\t        $each(payload, function($v,$k){\t            {\t                \"sl_\"&$v.local_id:\t                    $merge([$lookup(slaves, 'sl_'&$v.local_id),\t                    {\t                        $v.type&\"_value\": {\t                            \"value\": $v.value,\t                            \"time\":$v.time\t                        }\t                    }\t                    ])\t            }\t        })\t    ])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1150,
    "y": 340,
    "wires": [["ad987240.226bd"]]
  },
  {
    "id": "73c76fdb.12ffe",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "update flow cumulative data",
    "rules": [
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      { "t": "set", "p": "var", "pt": "msg", "to": "var", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t\t$inTimeRange := function($startAt, $endAt, $time){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t\t\t[$each(rules, function($v,$k){\t(\t$metric := \t$contains($v.metric, 'emperat') ? \"temp\" :\t(($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t$contains($v.metric, 'umid') ? \"humid\" : false;\t\t    $v.aggregation != \"LAST\" and\t    $metric != false ?\t    (\t        \t        $aux:=$lookup(var, $k);\t        $cond:= $type(var) = \"object\"?\t                    $type($aux) = \"object\"\t                :\t                    false;\t                \t        {$k:\t            [$each($v.slaves, function($va,$ka){\t                (\t                $old:= $cond ?\t                    $lookup($aux, $ka);\t                $filtered_old:=[$each($old, function($vb,$kb){\t                    $now_ms - $toMillis($kb) < $v.duration or $v.duration=0 ?\t                    {$kb:$vb}\t                })]~>$merge();\t                $new:=$lookup(payload, $metric&\"_\"&$ka);\t                \t                {\t                    $ka: \t                    $merge([\t                    (\t                        $type($old) = \"object\"?\t                            $filtered_old\t                        :\t                            {}\t                    ),\t                    ($type($new) = \"object\" ?\t                    (\t                    $utctime:= $fromMillis($toMillis($new.time)- 10800000);\t                    $H:= $number($substring($substringAfter($utctime,'T'),0,2));\t                    $M:= $number($substring($substringAfter($utctime,':'),0,2));\t                    $T:= $H*60+$M;\t                        $inTimeRange($v.startAt, $v.endAt, $T) and\t                        $lookup($v.daysOfWeek, $today)?\t                            {$new.time:$new.value}\t                        :\t                            {}\t                    ) : {}\t                    )\t                    ])\t                }\t                \t                )\t            })]~>$merge()\t        }\t    )\t)\t})]~>$merge()\t\t)",
        "tot": "jsonata"
      },
      { "t": "set", "p": "var", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1160,
    "y": 380,
    "wires": [["543b78a6.6f6e5"]]
  },
  {
    "id": "543b78a6.6f6e5",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1315,
    "y": 380,
    "wires": [],
    "l": false
  },
  {
    "id": "ad987240.226bd",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 198",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1315,
    "y": 340,
    "wires": [],
    "l": false
  },
  {
    "id": "8df775df.6be318",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t$merge([payload, {\"value\":payload.active_power}])",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 235,
    "y": 440,
    "wires": [["3847fce.c870584"]],
    "l": false
  },
  {
    "id": "38d8359.5ffbeca",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter my slaves, set flow",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "flow",
        "to": "$each(payload.data.rules, function($v,$k){\t    {$k:$merge([$v,\t        {\t            \"slaves\": \t            [$each(payload.data.deviceIndex, function($va,$ka){\t                $reduce([$va.ruleIds], function($acc,$vb){\t                    $type($lookup($acc, $string($va.slaveId))) = 'object'?\t                        $acc\t                    :\t                        (\t                            $type($vb) = \"object\"?\t                                $vb.id = $k ?\t                                    { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"channel\":$vb.channel, \"cloud_id\": $ka}}\t                                :\t                                    $acc\t                            :\t                                $vb = $k ?\t                                    $type($va.slaveId) = 'number'?\t                                        { $string($va.slaveId):{\"name\":$va.deviceName, \"offset\":$va.offset, \"cloud_id\": $ka}}\t                                    :\t                                        $acc\t                                :\t                                    $acc\t                        )\t                    \t                }, {})\t            })]~>$merge()\t        }\t    ])\t    }\t})~>$merge()",
        "tot": "jsonata"
      },
      { "t": "set", "p": "vers", "pt": "flow", "to": "payload.data.versionId", "tot": "msg" },
      {
        "t": "set",
        "p": "myslaves",
        "pt": "msg",
        "to": "$merge([$each(payload.data.deviceIndex, function($v,$k){ \t        $type($v.slaveId) = \"number\"?\t        {\t            \"sl_\"&$v.slaveId:$merge([$v,\t                \t                    $reduce($v.ruleIds, function($acc,$va){\t                        (\t                        $aux:=$lookup(payload.data.rules, $va);\t                        $cond:=$type($va) = \"string\" and $type($aux.metric) = 'string';\t                        {\t                            \"cloud_ID\":$k,\t                            \"ruleIds\": \t                            $merge([$acc.ruleIds,\t                                (\t                                $type($va) = \"string\"?\t                                    {$va:true}\t                                :\t                                    {$va.id:true}\t                                )\t                            ]),\t                            \"pot\": $acc.pot or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'nstant') and $contains($aux.metric, 'ower'))\t                            ),\t                            \"temp\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'emperat'))\t                            ),\t                            \"water_lvl\": $acc.water_lvl or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'ont'))\t                            ),\t                            \"water\": $acc.water or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'ater') and $contains($aux.metric, 'low'))\t                            ),\t                            \"humid\": $acc.temp or \t                            (\t                            $cond ?\t                                    ($contains($aux.metric, 'umid'))\t                            ),\t                            \"ch\": $acc.ch or $type($va) = 'object',\t                            \"duration\": $type($aux.duration) = \"number\" ?\t                                $max([$aux.duration, $acc.duration])\t                            :\t                                $acc.duration\t                            \t                            \t                            }\t                        )\t                    },{\"ruleIds\":{}, \"pot\":false, \"temp\":false, \"water_lvl\":false, \"water\":false,\"humid\":false, \"ch\":false, \"duration\":0})\t                    \t                \t                    \t                \t            ])\t        }\t    })])\t    \t    \t    \t    ",
        "tot": "jsonata"
      },
      { "t": "set", "p": "slaves", "pt": "flow", "to": "myslaves", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1270,
    "y": 140,
    "wires": [["fa4980ce.255f68"]]
  },
  {
    "id": "fa4980ce.255f68",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 185",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1415,
    "y": 140,
    "wires": [],
    "l": false
  },
  {
    "id": "3fae8fea.d4e2c",
    "type": "switch",
    "z": "7b24d3ae.37152c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "nempty" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 295,
    "y": 580,
    "wires": [["a01fdf4f.cd069"]],
    "l": false
  },
  {
    "id": "a01fdf4f.cd069",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set var",
    "rules": [
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      { "t": "set", "p": "slaves", "pt": "msg", "to": "slaves", "tot": "flow" },
      { "t": "set", "p": "vers", "pt": "msg", "to": "vers", "tot": "flow" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 580,
    "wires": [["46920d21.328524"]]
  },
  {
    "id": "46920d21.328524",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set status",
    "rules": [
      {
        "t": "set",
        "p": "slaves",
        "pt": "msg",
        "to": "(\t      $statusMap := $merge($map(payload, function($v){\t          {$string($v.id): $v.status}\t      }));\t      $each(slaves, function($v,$k){\t          {$k: $merge([$v, {\t              \"status\": $lookup($statusMap, $string($v.slaveId))\t          }])}\t      })~>$merge()\t  )",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "payload", "pt": "msg" },
      { "t": "delete", "p": "headers", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 580,
    "wires": [["a78d53ad.41f9d", "d29d7d70.5eac88", "90a9d5d7.c200e8"]]
  },
  {
    "id": "a78d53ad.41f9d",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter last",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    (\t      \t    ($v.aggregation = 'LAST' or \t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low'))\t    )\t    and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 520,
    "wires": [["cca7bdb0.bd74c8", "60383570.1fa4f4"]]
  },
  {
    "id": "d29d7d70.5eac88",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "filter last",
    "rules": [
      {
        "t": "set",
        "p": "rules",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t$now_str := $now();\t$today := $string($number($now('[F1]','-0300'))%7);\t$time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t$inTimeRange := function($startAt, $endAt){\t  (\t      $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t      $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t      $le > $ls ?\t          $time >= $ls and ($le = 1439 or $time < $le)\t      :\t          $time >= $ls or $time < $le\t  )\t};\t\t[$each(rules, function($v,$k){\t    $v.aggregation != 'LAST' and\t    ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) = false and\t    $contains($v.metric,'nerg') = false and\t    $lookup($v.daysOfWeek, $today) and\t    $inTimeRange($v.startAt, $v.endAt)?\t        {$k:$v}\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 580,
    "wires": [["6e1bfd04.88d0b4"]]
  },
  {
    "id": "cca7bdb0.bd74c8",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 196",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 815,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "60383570.1fa4f4",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "check trigger",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$now_ms := $millis();\t\t$checkOp := function($op, $val, $threshold, $high){\t  ($op = \"GT\" and $val > $threshold) or\t  ($op = \"GTE\" and $val >= $threshold) or\t  ($op = \"LT\" and $val < $threshold) or\t  ($op = \"LTE\" and $val <= $threshold) or\t  ($op = \"EQ\" and $val = $threshold) or\t  ($op = \"NEQ\" and $val != $threshold) or\t  ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t  ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t};\t\t[$each(rules, function($v,$k){\t    (\t    $metric := \t          $contains($v.metric, 'emperat') ? \"temp\" :\t          (($contains($v.metric, 'nstant') and $contains($v.metric, 'ower')) or\t           ($contains($v.metric, 'ater') and $contains($v.metric, 'ont'))) ? \"pot\" :\t          ($contains($v.metric, 'ater') and $contains($v.metric, 'low')) ? \"water\" :\t          $contains($v.metric, 'umid') ? \"humid\" : \"ch\";\t          \t    {\t        $k: $each( $v.slaves, function($va,$ka){\t            (\t            $slave:=$lookup(slaves, 'sl_'&$ka);\t            $var:=$lookup($slave, $metric&'_value');\t            $have:=$type($var) = \"object\";\t            $time:= $now_ms - $toMillis($var.time) < $v.duration;\t            $value:= $have ?\t                        $time?\t                            $var.value\t                        :\t                            \"Out of rule range\"\t                    :\t                        \"Undefined\";\t            $valeH:=$type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t            \t            {\t                $va.cloud_id: {\t                    \"local_id\": $ka,\t                    \"status\": $slave.status,\t                    \"alldata\": $have ?\t                        {\t                            $string($toMillis($var.time)):$var.value\t                        },\t                    \"value\": $value,\t                    \"triggered\": $type($value) = \"string\"?\t                        false\t                    :\t                        $type($value) = \"number\"?\t                            $checkOp($v.operator, $value, $v.value, $valeH)\t                        :\t                            $type($va.channel) = 'number'?\t                                (\t                                $aux:=$lookup($value[$va.channel], (\t                                    $contains($lookup($v.metric), 'ensor')?\t                                        'input'\t                                    :\t                                        'output'\t                                ) );\t                                $contains($lookup($v.metric), 'oor')?\t                                    $aux=0\t                                    :\t                                    $aux>0\t                                )\t                            :\t                                false\t                            \t                }\t            }\t            )\t        })\t    }\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 930,
    "y": 520,
    "wires": [["dee1f1e9.aed118", "34baa861.e91b1"]]
  },
  {
    "id": "dee1f1e9.aed118",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 196",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1055,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "6e1bfd04.88d0b4",
    "type": "delay",
    "z": "7b24d3ae.37152c",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 815,
    "y": 580,
    "wires": [["76442d4a.f83fdc"]],
    "l": false
  },
  {
    "id": "76442d4a.f83fdc",
    "type": "trigger",
    "z": "7b24d3ae.37152c",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "nul",
    "duration": "90",
    "extend": false,
    "overrideDelay": false,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 875,
    "y": 580,
    "wires": [["decf8224.d38e78"]],
    "l": false
  },
  {
    "id": "decf8224.d38e78",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "check trigger",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      { "t": "set", "p": "var", "pt": "msg", "to": "var", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "  (\t      $checkOp := function($op, $val, $threshold, $high){\t          ($op = \"GT\" and $val > $threshold) or\t          ($op = \"GTE\" and $val >= $threshold) or\t          ($op = \"LT\" and $val < $threshold) or\t          ($op = \"LTE\" and $val <= $threshold) or\t          ($op = \"EQ\" and $val = $threshold) or\t          ($op = \"NEQ\" and $val != $threshold) or\t          ($op = \"BETWEEN\" and ($val >= $threshold and $val <= $high)) or\t          ($op = \"OUTSIDE\" and ($val < $threshold or $val > $high))\t      };\t\t      $aggregate := function($agg, $vals){\t          $agg = \"AVG\" ? $average($vals) :\t          $agg = \"MIN\" ? $min($vals) :\t          $agg = \"MAX\" ? $max($vals) :\t          $agg = \"SUM\" ? $sum($vals) :\t          $agg = \"COUNT\" ? $count($vals) :\t          $vals[0]\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $oldruledata := $lookup(data, $k);\t              $valeH := $type($v.valueHigh) = \"number\" ? $v.valueHigh : 0;\t              $newruledata := $lookup(var, $k);\t              (\t                  {\t                      $k: [$each($v.slaves, function($va, $ka){\t                          (\t                              $slave := $lookup(slaves, 'sl_'&$ka);\t                              $old := $lookup($oldruledata, $va.cloud_id);\t                              $oldtrigger:= $type($old.triggered) = \"boolean\" ?\t                                $old.triggered : \"Undefined\";\t                              $slaveStatus := $type($lookup($slave, \"status\")) = \"string\" ?\t                                  $lookup($slave, \"status\") : \"Undefined\";\t                              $new := $lookup($newruledata, $ka);\t                              $value := $aggregate($v.aggregation, $new.*);\t                              $newtrigger:= $type($value) = \"number\" ?\t                                $checkOp($v.operator, $value, $v.value, $valeH)\t                                :\t                                \"Undefined\";\t\t                              {\t                                $va.cloud_id:\t                                {\t                                    \"value\":$type($value) = \"number\"?\t                                        $round($value,2) : \"Undefined\",\t                                    \"local_id\":$ka,\t                                    \"status\": $slaveStatus,\t                                    \"triggered\": $type($newtrigger) = \"boolean\"?\t                                        $newtrigger :\t                                        $type($oldtrigger) = \"boolean\" ?\t                                        $oldtrigger : false,\t                                    \"time\": $type($oldtrigger) = \"boolean\"?\t                                        ($oldtrigger = $newtrigger and $type($old.time) = \"string\"?\t                                            $old.time :\t                                            $now()\t                                        ) :\t                                        $now(),\t                                    \"alldata\": $new \t                                }\t                              }\t                          )\t                      })]~>$merge()\t                  }\t              )\t          )\t      })]~>$merge()\t  )\t",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "data", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 580,
    "wires": [["34baa861.e91b1"]]
  },
  {
    "id": "6ad7df31.207968",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "check diff, update data",
    "rules": [
      { "t": "set", "p": "data", "pt": "msg", "to": "data", "tot": "flow" },
      { "t": "set", "p": "rules", "pt": "msg", "to": "rules", "tot": "flow" },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "\t  (\t      $now_str := $now();\t      $today := $string($number($now('[F1]','-0300'))%7);\t      $time := $number($now('[H]','-0300'))*60+$number($now('[m]','-0300'));\t\t      $inTimeRange := function($startAt, $endAt){\t          (\t              $ls := $number($substringBefore($startAt,':'))*60+$number($substringAfter($startAt,':'));\t              $le := $number($substringBefore($endAt,':'))*60+$number($substringAfter($endAt,':'));\t              $le > $ls ?\t                  $time >= $ls and ($le = 1439 or $time < $le)\t              :\t                  $time >= $ls or $time < $le\t          )\t      };\t\t      $preserveTime := function($ruleKey, $cloudId){\t          (\t              $p := $lookup($lookup(payload, $ruleKey), $cloudId);\t              $type($p) = \"object\" and $p.triggered = false and $type($p.time) = \"string\" ?\t                  $p.time\t              :\t              (\t                  $d := $lookup($lookup(data, $ruleKey), $cloudId);\t                  $type($d) = \"object\" and $d.triggered = false and $type($d.time) = \"string\" ?\t                      $d.time\t                  :\t                      $now_str\t              )\t          )\t      };\t\t      [$each(rules, function($v, $k){\t          (\t              $active := $lookup($v.daysOfWeek, $today) and $inTimeRange($v.startAt, $v.endAt);\t              $exist := $lookup(payload, $k);\t\t              {\t                  $k: $active and $type($exist) = \"object\" ?\t                      $exist\t                  :\t                      [$each($v.slaves, function($va, $ka){\t                          (\t                              $status := $lookup(slaves, 'sl_'&$ka).status;\t                              {\t                                  $va.cloud_id: {\t                                      \"triggered\": false,\t                                      \"value\": \"Out of Rule Range\",\t                                      \"values\": [],\t                                      \"alldata\": [],\t                                      \"time\": $preserveTime($k, $va.cloud_id),\t                                      \"local_id\": $ka,\t                                      \"status\": $type($status) = \"string\" ? $status : \"offline\"\t                                  }\t                              }\t                          )\t                      })]~>$merge()\t              }\t          )\t      })]~>$merge()\t  )\t",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "diff",
        "pt": "msg",
        "to": "[$each(payload, function($v,$k){\t    (\t        $aux:=[$each($v, function($va,$ka){\t            $lookup($lookup(data, $k),$ka).triggered != $va.triggered ?\t                {$ka:$va}\t        })]~>$merge();\t\t        $count($keys($aux)) > 0?\t            {$k:$aux}\t    )\t    \t})]~>$merge()",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 1100,
    "wires": [["395028c1.85d8d8", "2f893311.03a7ec"]]
  },
  {
    "id": "395028c1.85d8d8",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set data",
    "rules": [
      {
        "t": "set",
        "p": "data",
        "pt": "flow",
        "to": "(\t    $aux:=data;\t    $type($aux) = 'object'?\t        $merge([$aux,payload])\t    :\t        payload\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 720,
    "y": 1100,
    "wires": [["2c883679.2aaf8a", "22e0c49f.55fb54"]]
  },
  {
    "id": "22e0c49f.55fb54",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{    $now():\t        {       \t                \"rules\":$flowContext('data'),\t                \"vers\": vers\t        }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 870,
    "y": 1100,
    "wires": [["c7c321dd.ce3428"]]
  },
  {
    "id": "2f893311.03a7ec",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 675,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "2c883679.2aaf8a",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "Slaves",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 1060,
    "wires": [],
    "l": false
  },
  {
    "id": "d498c3af.ba32a8",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "get online",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "$reduce(payload, function($acc,$v){\t    [$acc,\t    (\t        {$string($v.id):$v.status}\t    )\t    ]\t}, [])~>$merge()",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"time\":$now(),\t    \"central_id\": central_id,\t    \"slaves\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 780,
    "wires": [["979ff716.f36b9", "a848271f.ec5188"]]
  },
  {
    "id": "979ff716.f36b9",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 200",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 535,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "a848271f.ec5188",
    "type": "change",
    "z": "7b24d3ae.37152c",
    "name": "set URL",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "https://alarms-api.a.myio-bas.com/api/v1/ingest-device-status",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "headers",
        "pt": "msg",
        "to": "{\t   \"X-API-Key\": \"gcdr_cust_mestre_alvaro_tb_2026\",\t   \"X-Tenant-Id\": \"11111111-1111-1111-1111-111111111111\",\t   \"X-Central-Id\": central_id\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 780,
    "wires": [["421fa1ab.2c4278"]]
  },
  {
    "id": "421fa1ab.2c4278",
    "type": "http request",
    "z": "7b24d3ae.37152c",
    "name": "",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 735,
    "y": 780,
    "wires": [["b6c0c362.ac80b"]],
    "l": false
  },
  {
    "id": "b6c0c362.ac80b",
    "type": "debug",
    "z": "7b24d3ae.37152c",
    "name": "debug 200",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "4a794f5.7e3653",
    "type": "myio-emitter",
    "z": "da95752.a218508",
    "x": 260,
    "y": 280,
    "wires": [
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"],
      ["8bc11dd.7a845e"]
    ]
  },
  {
    "id": "8bc11dd.7a845e",
    "type": "change",
    "z": "da95752.a218508",
    "name": "Get data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    $string(payload.id):$now()\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 480,
    "y": 280,
    "wires": [["4ee93764.068038"]]
  },
  {
    "id": "4ee93764.068038",
    "type": "join",
    "z": "da95752.a218508",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "1",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 575,
    "y": 280,
    "wires": [["b0d9982b.27b208"]],
    "l": false
  },
  {
    "id": "b0d9982b.27b208",
    "type": "trigger",
    "z": "da95752.a218508",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "payl",
    "duration": "1",
    "extend": false,
    "overrideDelay": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 635,
    "y": 280,
    "wires": [["cf71faa3.156288", "594cda74.0d619c"]],
    "l": false
  },
  {
    "id": "cf71faa3.156288",
    "type": "debug",
    "z": "da95752.a218508",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 695,
    "y": 260,
    "wires": [],
    "l": false
  },
  {
    "id": "594cda74.0d619c",
    "type": "change",
    "z": "da95752.a218508",
    "name": "set flow online",
    "rules": [{ "t": "set", "p": "online", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "e94aa5a6.76bf08",
    "type": "inject",
    "z": "da95752.a218508",
    "name": "check online",
    "props": [
      { "p": "online", "v": "online", "vt": "flow" },
      { "p": "slaves", "v": "slaves", "vt": "flow" }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 250,
    "y": 480,
    "wires": [["c10a708d.0caa78"]]
  },
  {
    "id": "9161ac02.c9d05",
    "type": "debug",
    "z": "da95752.a218508",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 575,
    "y": 460,
    "wires": [],
    "l": false
  },
  {
    "id": "6b9ce27d.8f72d4",
    "type": "change",
    "z": "da95752.a218508",
    "name": "slaves missing",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[$filter(slaves, function($v){\t    ($type($lookup(online, $string($v.id))) = 'string') = false or\t    (\t        $type($lookup(online, $string($v.id))) = 'string' ?\t            $millis() - $toMillis($lookup(online, $string($v.id))) > 10800000\t    )\t})]",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "missing",
        "pt": "flow",
        "to": "[$map([payload], function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 860,
    "y": 480,
    "wires": [["46a3ce89.49bf4", "13251808.f750a8"]]
  },
  {
    "id": "e44e75f4.0649b",
    "type": "inject",
    "z": "da95752.a218508",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "900",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 270,
    "y": 120,
    "wires": [["40859753.d7f728"]]
  },
  {
    "id": "40859753.d7f728",
    "type": "postgresql",
    "z": "da95752.a218508",
    "name": "Get slaves",
    "query": "SELECT id\nFROM slaves",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 410,
    "y": 120,
    "wires": [["b828ea48.66d5a"]]
  },
  {
    "id": "b828ea48.66d5a",
    "type": "change",
    "z": "da95752.a218508",
    "name": "set flow slaves",
    "rules": [{ "t": "set", "p": "slaves", "pt": "flow", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "c10a708d.0caa78",
    "type": "switch",
    "z": "da95752.a218508",
    "name": "check integrity",
    "property": "$type(online) = \"object\" and\t$type(slaves) = \"array\" ",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 440,
    "y": 480,
    "wires": [["9161ac02.c9d05", "d9350880.1be8b"]]
  },
  {
    "id": "46a3ce89.49bf4",
    "type": "split",
    "z": "da95752.a218508",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 175,
    "y": 540,
    "wires": [["9902a5c7.34c8"]],
    "l": false
  },
  {
    "id": "9902a5c7.34c8",
    "type": "delay",
    "z": "da95752.a218508",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 235,
    "y": 540,
    "wires": [["b022f960.d98e1", "52cb5861.3f0568"]],
    "l": false
  },
  {
    "id": "b022f960.d98e1",
    "type": "debug",
    "z": "da95752.a218508",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 295,
    "y": 560,
    "wires": [],
    "l": false
  },
  {
    "id": "13251808.f750a8",
    "type": "debug",
    "z": "da95752.a218508",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1015,
    "y": 480,
    "wires": [],
    "l": false
  },
  {
    "id": "52cb5861.3f0568",
    "type": "change",
    "z": "da95752.a218508",
    "name": "set var",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"slave\":{\t    \"id\": payload.id\t    }\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 540,
    "wires": [["ec2902b7.299c48"]]
  },
  { "id": "ec2902b7.299c48", "type": "send-check", "z": "da95752.a218508", "x": 530, "y": 540, "wires": [] },
  {
    "id": "d9350880.1be8b",
    "type": "switch",
    "z": "da95752.a218508",
    "name": "> 11p.m.",
    "property": "$number($now('[H]','-0300')) > 23",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 680,
    "y": 480,
    "wires": [["6b9ce27d.8f72d4"]]
  },
  {
    "id": "3baaec85.fa306c",
    "type": "inject",
    "z": "da95752.a218508",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "900",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "str",
    "x": 490,
    "y": 680,
    "wires": [["8c5b93c4.40a2d"]]
  },
  {
    "id": "8c5b93c4.40a2d",
    "type": "postgresql",
    "z": "da95752.a218508",
    "name": "Get slaves",
    "query": "SELECT *\nFROM slaves\nWhere id = 129",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 630,
    "y": 680,
    "wires": [["84e5cda6.e12f18"]]
  },
  {
    "id": "84e5cda6.e12f18",
    "type": "debug",
    "z": "da95752.a218508",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 755,
    "y": 660,
    "wires": [],
    "l": false
  },
  {
    "id": "e4175e7e.bfdba",
    "type": "inject",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "1200",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 100,
    "wires": [["c800c4ec.793158", "719fb9c5.199ef8", "1e97469d.2c4c31"]]
  },
  {
    "id": "c800c4ec.793158",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 325,
    "y": 60,
    "wires": [],
    "l": false
  },
  {
    "id": "719fb9c5.199ef8",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "between 3 n 9 a.m.",
    "property": "(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 3 and $aux < 9\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 400,
    "y": 100,
    "wires": [["e19f297b.cbf338"]]
  },
  {
    "id": "792984a1.6ced34",
    "type": "inject",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "props": [{ "p": "online", "v": "online", "vt": "msg" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 170,
    "y": 240,
    "wires": [["f0eacc4e.c10a8"]]
  },
  {
    "id": "f0eacc4e.c10a8",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get slaves",
    "query": "SELECT id, name, \"type\"\nFROM slaves",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 350,
    "y": 240,
    "wires": [["51fa7dac.d4391c", "cc08161c.247168"]]
  },
  {
    "id": "6400e9e4.18482",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get channels",
    "query": "SELECT slave_id as id\nFROM channels\nWHERE name LIKE '%gnora%';",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 730,
    "y": 240,
    "wires": [["83ea7dde.e2c128", "1ebc0dc8.44b502"]]
  },
  {
    "id": "83ea7dde.e2c128",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 855,
    "y": 220,
    "wires": [],
    "l": false
  },
  {
    "id": "51fa7dac.d4391c",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 475,
    "y": 220,
    "wires": [],
    "l": false
  },
  {
    "id": "cc08161c.247168",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "save data",
    "rules": [{ "t": "set", "p": "slaves", "pt": "msg", "to": "payload", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 240,
    "wires": [["6400e9e4.18482"]]
  },
  {
    "id": "1ebc0dc8.44b502",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "filter slaves",
    "rules": [
      {
        "t": "set",
        "p": "filter",
        "pt": "msg",
        "to": "[$map(payload, function($v){\t    {\t        $string($v.id):true\t    }\t})]~>$merge()",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "newslaves",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v){\t    $merge([$acc,\t    {\t        $v.type:([$lookup($acc, $v.type),\t        $v.id\t        ])\t    }\t    ])\t},{})",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 970,
    "y": 240,
    "wires": [["4bb42bf6.b37134", "443ede27.3cf4b8"]]
  },
  {
    "id": "4bb42bf6.b37134",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1115,
    "y": 240,
    "wires": [],
    "l": false
  },
  {
    "id": "443ede27.3cf4b8",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "start water",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "$reduce(newslaves.outlet, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")\t\t",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 320,
    "wires": [["2014f2b3.b382e6"]]
  },
  {
    "id": "2014f2b3.b382e6",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get channels",
    "query": "SELECT slave_id\nFROM channels\nWHERE name ILIKE '%idr%'\nAND slave_id IN ({{msg.water}})",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 430,
    "y": 320,
    "wires": [["be82ba0.cee1e48", "76909ceb.0c12fc"]]
  },
  {
    "id": "be82ba0.cee1e48",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 555,
    "y": 300,
    "wires": [],
    "l": false
  },
  {
    "id": "76909ceb.0c12fc",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "start water",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "$reduce(payload, function($acc,$v,$i){\t    $i= 0 ?\t    $string($v.slave_id)\t    :\t    $acc & \",\" & $v.slave_id\t},\"\")",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "time",
        "pt": "msg",
        "to": "(\t   $aux:=$fromMillis(\t       $millis() - 86400000,\t       '[Y0000]-[M99]-[D99]T'\t   );\t   {\t       \"start\": $aux&\"00:00:00.000Z\",\t       \"end\": $aux&\"23:59:59.999Z\"\t\t   }\t\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 670,
    "y": 320,
    "wires": [["6f7ae0b.6e7dea", "a4a90dd1.da8248"]]
  },
  {
    "id": "e5749ef6.c17ec",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get water",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM Channel_pulse_log\n\nWHERE \nslave_id IN ({{msg.water}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 1060,
    "y": 340,
    "wires": [["ef380b00.b80118", "7a36cbd9.eabaa4"]]
  },
  {
    "id": "ef380b00.b80118",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1195,
    "y": 340,
    "wires": [],
    "l": false
  },
  {
    "id": "6f7ae0b.6e7dea",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 300,
    "wires": [],
    "l": false
  },
  {
    "id": "e477dead.8ae878",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "start 3f energy",
    "rules": [
      {
        "t": "set",
        "p": "water",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(water,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<1 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "pot3f",
        "pt": "msg",
        "to": "$reduce(newslaves.three_phase_sensor, function($acc,$v,$i){\t    $lookup(filter, $string($v)) = true?\t        $acc\t        :\t        ($acc=\"\" ?\t        $string($v)\t        :\t        $acc & \",\" & $v)\t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 420,
    "wires": [["4625afeb.d0f7e", "9909d2b6.c5a558"]]
  },
  {
    "id": "7b186145.b4a798",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get energy",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.pot3f}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 440,
    "wires": [["c748639f.08ccd", "252d87d3.0bcdb8"]]
  },
  {
    "id": "c748639f.08ccd",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 440,
    "wires": [],
    "l": false
  },
  {
    "id": "4625afeb.d0f7e",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 400,
    "wires": [],
    "l": false
  },
  {
    "id": "97eb42b6.3cb2f8",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "start SCD energy",
    "rules": [
      {
        "t": "set",
        "p": "pot3f",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(pot3f,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<10 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "potscd",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v,$i){\t    $contains($v.name, \"SCD\") ?\t    ($i= 0 ?\t    $string($v.id)\t    :\t    $acc & \",\" & $v.id\t    )\t    :\t    $acc\t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 520,
    "wires": [["1a288159.abb617", "169cdd4c.c7dec3"]]
  },
  {
    "id": "d61ee0f8.dae9b",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get energy",
    "query": "SELECT \n    slave_id, \n    MAX(value) AS max_value\nFROM consumption_realtime\n\nWHERE \nslave_id IN ({{msg.potsw}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 690,
    "y": 540,
    "wires": [["23ea4bbe.06820c", "e8f45d3b.8b802"]]
  },
  {
    "id": "23ea4bbe.06820c",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 540,
    "wires": [],
    "l": false
  },
  {
    "id": "1a288159.abb617",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 500,
    "wires": [],
    "l": false
  },
  {
    "id": "a4a90dd1.da8248",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "have?",
    "property": "water",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 890,
    "y": 320,
    "wires": [["470e90eb.bae148"], ["e5749ef6.c17ec"]]
  },
  {
    "id": "7a36cbd9.eabaa4",
    "type": "link out",
    "z": "a5b5b37f.9fe268",
    "name": "end water in",
    "links": ["bd477e1b.645a98"],
    "x": 1195,
    "y": 300,
    "wires": []
  },
  {
    "id": "470e90eb.bae148",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1050,
    "y": 300,
    "wires": [["7a36cbd9.eabaa4"]]
  },
  {
    "id": "bd477e1b.645a98",
    "type": "link in",
    "z": "a5b5b37f.9fe268",
    "name": "3f energy start out",
    "links": ["7a36cbd9.eabaa4"],
    "x": 155,
    "y": 420,
    "wires": [["e477dead.8ae878"]]
  },
  {
    "id": "9909d2b6.c5a558",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "have?",
    "property": "pot3f",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 420,
    "wires": [["cd66aa21.77e09"], ["7b186145.b4a798"]]
  },
  {
    "id": "cd66aa21.77e09",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 400,
    "wires": [["252d87d3.0bcdb8"]]
  },
  {
    "id": "252d87d3.0bcdb8",
    "type": "link out",
    "z": "a5b5b37f.9fe268",
    "name": "3f energy end in",
    "links": ["d5b9eefc.3bf46"],
    "x": 835,
    "y": 400,
    "wires": []
  },
  {
    "id": "d5b9eefc.3bf46",
    "type": "link in",
    "z": "a5b5b37f.9fe268",
    "name": "sw energy start out",
    "links": ["252d87d3.0bcdb8"],
    "x": 155,
    "y": 520,
    "wires": [["97eb42b6.3cb2f8"]]
  },
  {
    "id": "169cdd4c.c7dec3",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "have?",
    "property": "potscd",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 520,
    "wires": [["b232bf53.2e26d"], ["d61ee0f8.dae9b"]]
  },
  {
    "id": "b232bf53.2e26d",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 500,
    "wires": [["e8f45d3b.8b802"]]
  },
  {
    "id": "3ce13325.68dbcc",
    "type": "postgresql",
    "z": "a5b5b37f.9fe268",
    "name": "Get temp",
    "query": "SELECT \n    slave_id, \n    AVG(value) AS media_value\nFROM temperature_history\n\nWHERE \nslave_id IN ({{msg.temp}})\nAND timestamp BETWEEN '{{msg.time.start}}' AND '{{msg.time.end}}'\n\nGROUP BY slave_id;",
    "postgreSQLConfig": "b7242f71.79e57",
    "split": false,
    "rowsPerMsg": 1,
    "outputs": 1,
    "x": 700,
    "y": 640,
    "wires": [["d9153d92.57438", "553a37ac.049498"]]
  },
  {
    "id": "e8f45d3b.8b802",
    "type": "link out",
    "z": "a5b5b37f.9fe268",
    "name": "sw energy end in",
    "links": ["6be3153.439b26c"],
    "x": 835,
    "y": 500,
    "wires": []
  },
  {
    "id": "6be3153.439b26c",
    "type": "link in",
    "z": "a5b5b37f.9fe268",
    "name": "temp start out",
    "links": ["e8f45d3b.8b802"],
    "x": 155,
    "y": 620,
    "wires": [["ff6f03d3.a60508"]]
  },
  {
    "id": "ff6f03d3.a60508",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "start temp",
    "rules": [
      {
        "t": "set",
        "p": "potscd",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$v.max_value}\t})]~>$merge();\t\t[$map([$split(potscd,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t        $value<135 ?    \t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "temp",
        "pt": "msg",
        "to": "$reduce(slaves, function($acc,$v,$i){\t    $lookup(filter, $string($v.id)) = true?\t        $acc\t        :\t        $contains($lowercase($v.name), 'temp')?\t        ($acc=\"\" ?\t        $string($v.id)\t        :\t        $acc & \",\" & $v.id)\t        :\t        $acc\t    \t},\"\")",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 620,
    "wires": [["cefaa44b.a4e3d8", "1fcfb51f.f82f43"]]
  },
  {
    "id": "cefaa44b.a4e3d8",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 600,
    "wires": [],
    "l": false
  },
  {
    "id": "1fcfb51f.f82f43",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "have?",
    "property": "temp",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "\"\"", "vt": "jsonata" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 510,
    "y": 620,
    "wires": [["3dfdc1a6.f03266"], ["3ce13325.68dbcc"]]
  },
  {
    "id": "3dfdc1a6.f03266",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "fill payload",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "[]", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 690,
    "y": 600,
    "wires": [["553a37ac.049498"]]
  },
  {
    "id": "d9153d92.57438",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 835,
    "y": 640,
    "wires": [],
    "l": false
  },
  {
    "id": "553a37ac.049498",
    "type": "link out",
    "z": "a5b5b37f.9fe268",
    "name": "temp end in",
    "links": ["bd4dea80.f5371"],
    "x": 835,
    "y": 600,
    "wires": []
  },
  {
    "id": "bd4dea80.f5371",
    "type": "link in",
    "z": "a5b5b37f.9fe268",
    "name": "finish out",
    "links": ["553a37ac.049498"],
    "x": 155,
    "y": 720,
    "wires": [["f06d048f.c49f1"]]
  },
  {
    "id": "f06d048f.c49f1",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "set temp",
    "rules": [
      {
        "t": "set",
        "p": "temp",
        "pt": "msg",
        "to": "(\t$aux:=[$map(payload, function($v){\t    {$string($v.slave_id):$round($number($v.media_value),1)}\t})]~>$merge();\t\t[$map([$split(temp,',')], function($v){\t    (\t    $value:=$lookup($aux, $v);\t    $type($value) = \"number\"?\t        (\t            $value < 15 or $value > 50?\t            {$v:$value}\t        )\t    :\t        $v != \"\" ?\t            {$v:0}\t    )\t})]~>$merge()\t)",
        "tot": "jsonata"
      },
      { "t": "delete", "p": "slaves", "pt": "msg" },
      { "t": "delete", "p": "newslaves", "pt": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 720,
    "wires": [["2d79efce.0826d", "c33370ed.e7f628"]]
  },
  {
    "id": "2d79efce.0826d",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 375,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "c33370ed.e7f628",
    "type": "http request",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:8080/v2/slaves",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 455,
    "y": 720,
    "wires": [["4dea2771.13aad8", "e448c715.0fff18"]],
    "l": false
  },
  {
    "id": "4dea2771.13aad8",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 515,
    "y": 700,
    "wires": [],
    "l": false
  },
  {
    "id": "e448c715.0fff18",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t$aux:=\t[$map(payload, function($v){\t    {$string($v.id):{\"status\":$v.status, \"name\":$v.name}}\t})]~>$merge();\t\t{\t    \"pot3f\": [$each(pot3f, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"POT \"&$v\t        )\t    })],\t    \"water\": [$each(water, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Hidr \"&$v\t        )\t    })],\t    \"potscd\": [$each(potscd, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"SCD \"&$v\t        )\t    })],\t    \"temp\": [$each(temp, function($v,$k){\t        (\t            $slave:=$lookup($aux, $k);\t            $slave.name & \"  |  ID \" & $k & \"  |  \" & $slave.status & \"  |  \" & \"Temp \"&$v\t        )\t    })]\t}\t\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 720,
    "wires": [["3969312a.d3479e", "383ee237.2e276e"]]
  },
  {
    "id": "3969312a.d3479e",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 795,
    "y": 720,
    "wires": [],
    "l": false
  },
  {
    "id": "383ee237.2e276e",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "set template",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "($count($spread(payload.pot3f)) )&\" Erro de Potencia 3F<br>\"&\t($count($spread(payload.water)) )&\" Erro de Hidrometro<br>\"&\t($count($spread(payload.potscd)) )&\" Erro de SCD<br>\"&\t($count($spread(payload.temp)) )&\" Erro de Temperatura<br>\"&\t\t\"<br><br><br>POTENCIA 3F <br><br><br>\"&\t($reduce(payload.pot3f, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Hidrometro <br><br><br>\"&\t($reduce(payload.water, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>SCD <br><br><br>\"&\t($reduce(payload.potscd, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))&\t\"<br><br><br>Temperatura <br><br><br>\"&\t($reduce(payload.temp, function($acc,$v){\t    $acc = \"\" ?\t        $v\t    :\t        $acc & \" <br>\" & $v\t},\"\"))",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 820,
    "wires": [["17bf9fb.ca3106", "2570bb48.339da4"]]
  },
  {
    "id": "17bf9fb.ca3106",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "set email",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\t    \"to\":\"bruno@myio.com.br, gadioli@myio.com.br\",\t    \"title\":\"Central Tecon Porto de Imbituba 1-2-3-5\",\t    \"template\":payload\t}",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 820,
    "wires": [["8e521add.745498", "b216bfaf.9b8de8"]]
  },
  {
    "id": "2570bb48.339da4",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 415,
    "y": 800,
    "wires": [],
    "l": false
  },
  {
    "id": "8e521add.745498",
    "type": "debug",
    "z": "a5b5b37f.9fe268",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 635,
    "y": 800,
    "wires": [],
    "l": false
  },
  { "id": "b216bfaf.9b8de8", "type": "send-email", "z": "a5b5b37f.9fe268", "x": 760, "y": 820, "wires": [] },
  {
    "id": "e19f297b.cbf338",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": "1 each day",
    "property": "day",
    "propertyType": "flow",
    "rules": [{ "t": "true" }, { "t": "else" }],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 100,
    "wires": [[], ["ae23c701.9b5a98"]]
  },
  {
    "id": "ae23c701.9b5a98",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "set flow",
    "rules": [{ "t": "set", "p": "day", "pt": "flow", "to": "true", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 120,
    "wires": [["f0eacc4e.c10a8"]]
  },
  {
    "id": "1e97469d.2c4c31",
    "type": "switch",
    "z": "a5b5b37f.9fe268",
    "name": ">10 am",
    "property": "(\t$aux:= $number($fromMillis(payload, '[H]', '-0300'));\t$aux > 10\t)",
    "propertyType": "jsonata",
    "rules": [{ "t": "true" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 140,
    "wires": [["e985ff0a.33a9c8"]]
  },
  {
    "id": "e985ff0a.33a9c8",
    "type": "change",
    "z": "a5b5b37f.9fe268",
    "name": "set flow",
    "rules": [{ "t": "set", "p": "day", "pt": "flow", "to": "false", "tot": "bool" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 510,
    "y": 140,
    "wires": [[]]
  }
]
